<style type="text/css">
  .outerControl table{border-spacing:0;border-top:1px solid #ccc;border-right:1px solid #ccc;}
  .outerControl td,.outerControl th{height:24px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;font-size:12px;}
</style>
<div id="leaseAdd" class="outerControl" style="width:1100px;padding-left:20px;display:none;">
        <form id="MyForm" width="1091px">
            <!--startprint2-->
            
            <!-- 基本信息 -->
            <div style="margin-top: 40px;">
                <div style="margin-top:54px;float: left; width: 46%; margin-left: 2%;height:611px;">
                    <!-- 约定事项 -->
                    <div class="textContent">
                        <table id="jbydtable" style="height:611px;box-sizing:border-box;border:1px solid #ccc;">
                            <tbody>
                            <tr>
                                <td style="border:0px;"><p style="margin: 10px 0 10px 0; text-align: center;"><span style="font-size: 24px; width: 100px; border-bottom: 3px double #333333;">约定事项</span></p></td>
                            </tr>
                            <tr>
                                <td style="border:0px;">1、承租人代表履行直管公房的看管义务、负责缴纳租金等事项。</td>
                            </tr>
                            <tr>
                                <td style="border:0px;" rowspan="3">2、监护人代未成年人、无民事行为能力或限制民事行为能力人的承租人履行直管公房的看管义务、负责缴纳租金等事项，待被监护人成年或具备完全民事行为能力时，办理承租人过户手续。</td>
                            </tr>
                            <tr></tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;" rowspan="2">3、出租人（下称甲方）和承租人（下称乙方）应遵守《武汉市房产管理条例》和租约约定的相关规定。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;letter-spacing:2px;" rowspan="2">4、对房屋的自然损坏或合同约定由甲方修缮的，甲方负责修复。不及时修复，致使房屋发生破坏性事故，造成乙方财产损失或者人身伤害的，甲方应当承担赔偿责任。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;" rowspan="2">5、乙方应当合理使用房屋及附属设施，不得擅自拆改，扩建或增添。确需变动的，必须征得甲方同意并签订书面合同。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;letter-spacing:2px;" rowspan="2">6、乙方不得在室内堆放易燃易爆物品，家庭用电负荷必须与房屋配备电表容量相匹配，如乙方使用不当造成房屋损坏或人身财产损失的，由乙方负责修复或赔偿。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;letter-spacing:2px;" rowspan="2">7、乙方应于本月底前交付当月租金，不得拖欠；逾期未交，房管所下达催缴通知单仍未缴纳的，乙方除应支付拖欠租金外，还应按月支付欠租总额3%的违约金。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;">8、乙方有下列行为之一的，甲方有权终止合同，收回房屋：</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（1）将承租的房屋擅自转租的；</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（2）将承租的房屋转让、转借他人或擅自调换使用的；</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（3）将承租的房屋擅自拆改结构或改变用途的；</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（4）拖欠租金累计六个月以上的；</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（5）利用承租房屋进行违法活动。</td>
                            </tr>
                            <tr>
                                <td style="border:0px;" rowspan="2"></td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;text-align:right;">武汉市住房保障和房屋管理局印制</td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>

                <div style="float: left; width: 46%; margin-left: 4%;height:611px;">
                    <input type="hidden" id="ZGGF_LDBH" name="ZGGF_LDBH" value="0101100003" truetype="hidden">
                    <input type="hidden" id="ZGGF_JGBM" name="ZGGF_JGBM" value="25010401010" truetype="hidden">
                    <input type="hidden" id="HU_ID" name="HU_ID" value="1000058916" truetype="hidden">

                    <p class="topHeader" style="text-align: right;">
                        租直NO:&nbsp;&nbsp;&nbsp;租直昌市01-201802512
                        <input type="hidden" name="ZY_NO" id="ZY_NO" value="租直昌市01-201802512" style="text-decoration: underline;height:24px;line-height:24px;" truetype="hidden">
                    </p>
                    <table id="table1" cellspacing="" cellpadding="" style="height:611px;box-sizing:border-box">
                        <tbody><tr>
                            <td rowspan="2" style="width: 80px;">房屋坐落</td>
                            <td rowspan="2" colspan="2" style="width: 130px;">
                                紫阳路180号</td>
                            <td rowspan="2" style="width: 20px;">结构</td>
                            <td rowspan="2" style="width: 30px;">
                                钢混
                                
                                <input type="hidden" name="ZGGF_JGLB" id="ZGGF_JGLB" value="钢混" truetype="hidden">
                            </td>
                            <td style="width: 30px;">房屋层</td>
                            <td style="width: 10px;">
                                8</td>
                        </tr>
                        <tr>
                            <td>居住层</td>
                            <td>
                                3</td>
                        </tr>
                        <tr>
                            <td style="height:48px;" rowspan="2">承租人姓名</td>
                            <td style="width: 150px;height:48px;" rowspan="2">
                                吴昊</td>
                            <td style="width: 30px;height:48px;">身份证号</td>
                            <td colspan="4" style="height:48px;">
                                420106198110220425</td>
                        </tr>
                        <tr>
                            
                            <td style="width: 30px;height:48px;">承租人电话</td>
                            <td colspan="4" style="height:48px;">
                                13971481139</td>
                        </tr>
                        <tr>
                            <td rowspan="2">承租人代表/监护人 姓名</td>
                            <td rowspan="2">
                                </td>
                              <td>身份证号</td>
                        <td colspan="4">
                        
                        </td>
                            
                        </tr>
                        <tr><td colspan="5">注：承租人代表/监护人无处置、转让、房改、征收等权利</td></tr>
                        <tr>
                            <td id="zztdheight" colspan="7" style="height: 383px; font-size: 18px;">
                                <div style="float: left; margin-left: 20px; margin-top: 0px;">
                                    <span>出租人：（甲方）</span><br>

                                </div>
                                <div style="float: left; margin-left: 40px; margin-top: 0px;">
                                    <span>承租人：（乙方）</span><br>
                                    
                                    <input type="hidden" id="czr1" value="" truetype="hidden">
                                    <div id="signature" style="clear: both; margin-top: 10px;">
                                        <!-- divstart -->
                                                <div style="width:160px;height:60px;border:0px;"></div>

                                        <!-- divend -->
                                    </div>
                                </div>
                                <!-- divstart2 -->
                                <div id="div1" style="clear: both; float: left; margin: -30px 130px 30px 75px; width: 150px; height: 150px;">
                                             <img id="imghid" src="/Images/zhang08.png" style="width: 130px; height: 130px; margin-top: -20px; margin-left: -50px; float: left">

                                </div>
                                 
                                <img src="/" style="margin-left:25px;width:106px;height:106px;clear:both;float:left;">
                                <!-- divend2 -->
                                <div style="float: right; margin: -105px 35px 50px 50px;width:220px;">
                                    <span>承租人代表/监护人签章：</span>
                                    <div id="jhrdiv">
                                        <!-- divstart3 -->
                                                <div style="width:160px;height:60px;border:0px;"></div>

                                        <!-- divend3 -->
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                                <div style="float: right; margin: -50px 40px 10px 50px;">
                                    租约签订日期&nbsp;&nbsp;2018 年07 月02 日
                                </div>
                            </td>
                        </tr>
                    </tbody></table>
                </div>

            </div>
            
            <!--startprint1-->
            <div style="clear: both; padding-top: 75px;">
                <div style="float: left; width: 46%; margin-left: 2%;margin-top:10px;">
                    <!-- 评 租 情 况 记 载 -->
                    <p class="titleStyle" style="text-align: center;font-size: 24px;margin-top: 0px;">评 租 情 况 记 载</p>
                    <table class="pzqk" cellspacing="" cellpadding="" style="margin-top: 5px;height:538px;">
                        <tbody><tr>
                            <th colspan="2" style="width: 85px;">部位</th>
                            <th style="width: 40px;">间号</th>
                            <th style="width: 55px;">实有面积(m²)</th>
                            <th style="width: 55px;">计租面积(m²)</th>
                            <th style="width: 40px;">租金(元)</th>
                            <th colspan="2">项目</th>
                            <th style="width: 60px;">单价(元)</th>
                            <th style="width: 70px;">数量(m²)(件、个)</th>
                            <th style="width: 40px;">租金(元)</th>
                        </tr>
                        <tr>
                            <td rowspan="4" colspan="2">卧室</td>
                            <td>
                                47
                                <input class="jianhao" type="hidden" name="WS_JHO1" id="WS_JHO1" value="47" truetype="hidden"></td>
                            <td>
                                11.48
                                <input type="hidden" name="WS_SM1" id="WS_SM1" value="11.48" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="1"></td>
                            <td>
                                11.48
                                <input type="hidden" name="WS_JM1" id="WS_JM1" value="11.48" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="2"></td>
                            <td>
                                18.08
                                <input type="hidden" name="WS_YZJ1" id="WS_YZJ1" value="18.08" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="3"></td>
                            <td rowspan="4" style="width: 75px;">三户以上共用</td>
                            <td style="width: 78px;">厅(堂)</td>
                            <td>0.50/个</td>
                            <td>
                                
                                <input type="hidden" name="WSTT_SL" id="WSTT_SL" value="" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" yzid="4"></td>
                            <td>
                                
                                <input type="hidden" name="WSTT_ZJ" id="WSTT_ZJ" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" yzid="5"></td>
                        </tr>
                        <tr>
                            <td>
                                48
                                <input class="jianhao" type="hidden" name="WS_JHO2" id="WS_JHO2" value="48" truetype="hidden"></td>
                            <td>
                                11.48
                                <input type="hidden" name="WS_SM2" id="WS_SM2" value="11.48" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="6"></td>
                            <td>
                                11.48<input type="hidden" name="WS_JM2" id="WS_JM2" value="11.48" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="7"></td>
                            <td>
                                18.08
                                <input type="hidden" name="WS_YZJ2" id="WS_YZJ2" value="18.08" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="8"></td>
                            <td>厨房</td>
                            <td>0.50/个</td>
                            <td>
                                <input type="hidden" name="CF_SL" id="CF_SL" value="" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="9"></td>
                            <td>
                                <input type="hidden" name="CF_ZJ" id="CF_ZJ" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="10"></td>
                        </tr>
                        <tr>
                            <td>
                                <input class="jianhao" type="hidden" name="WS_JHO3" id="WS_JHO3" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="WS_SM3" id="WS_SM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="11"></td>
                            <td>
                                <input type="hidden" name="WS_JM3" id="WS_JM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="12"></td>
                            <td>
                                <input type="hidden" name="WS_YZJ3" id="WS_YZJ3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="13"></td>
                            <td>卫生间</td>
                            <td>0.50/个</td>
                            <td>
                                <input type="hidden" name="WSJ_SL" id="WSJ_SL" value="" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="14"></td>
                            <td>
                                <input type="hidden" name="WSJ_ZJ" id="WSJ_ZJ" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="15"></td>
                        </tr>
                        <tr>
                            <td>
                                <input class="jianhao" type="hidden" name="WS_JHO4" id="WS_JHO4" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="WS_SM4" id="WS_SM4" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="16"></td>
                            <td>
                                <input type="hidden" name="WS_JM4" id="WS_JM4" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="17"></td>
                            <td>
                                <input type="hidden" name="WS_YZJ4" id="WS_YZJ4" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="18"></td>
                            <td>室内走道</td>
                            <td>0.50/个</td>
                            <td>
                                <input type="hidden" name="DOW_SL" id="DOW_SL" value="" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="19"></td>
                            <td>
                                <input type="hidden" name="DOW_ZJ" id="DOW_ZJ" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="20"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="width: 75px;">厅堂</td>
                            <td>独</td>
                            <td>
                                46<input class="jianhao" type="hidden" name="TIN_JHO1" id="TIN_JHO1" value="46" truetype="hidden"></td>
                            <td>
                                23.69<input type="hidden" name="TIN_SM1" id="TIN_SM1" value="23.69" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="21"></td>
                            <td>
                                23.69<input type="hidden" name="TIN_JM1" id="TIN_JM1" value="23.69" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="22"></td>
                            <td>
                                35.57<input type="hidden" name="TIN_YZJ1" id="TIN_YZJ1" value="35.57" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="23"></td>
                            <td rowspan="2">高1至1.7米搁楼</td>
                            <td>5m²以下</td>
                            <td>0.50/个</td>
                            <td>
                                <input type="hidden" name="TTGL_SL1" id="TTGL_SL1" value="" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="24"></td>
                            <td>
                                <input type="hidden" name="TTGL_ZJ1" id="TTGL_ZJ1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="25"></td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td>
                                <input class="jianhao" type="hidden" name="TIN_JHO2" id="TIN_JHO2" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="TIN_SM2" id="TIN_SM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="26"></td>
                            <td>
                                <input type="hidden" name="TIN_JM2" id="TIN_JM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="27"></td>
                            <td>
                                <input type="hidden" name="TIN_YZJ2" id="TIN_YZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="28"></td>
                            <td>5m²以上</td>
                            <td>1.00/个</td>
                            <td>
                                <input type="hidden" name="TTGL_SL2" id="TTGL_SL2" value="" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="29"></td>
                            <td>
                                <input type="hidden" name="TTGL_ZJ2" id="TTGL_ZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="30"></td>
                        </tr>
                        <tr>
                            <td rowspan="2">厨房</td>
                            <td>独</td>
                            <td>
                                45<input class="jianhao" type="hidden" name="CF_JHO1" id="CF_JHO1" value="45" truetype="hidden"></td>
                            <td>
                                2.64<input type="hidden" name="CF_SM1" id="CF_SM1" value="2.64" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="31"></td>
                            <td>
                                2.64<input type="hidden" name="CF_JM1" id="CF_JM1" value="2.64" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="32"></td>
                            <td>
                                4.16<input type="hidden" name="CF_YZJ1" id="CF_YZJ1" value="4.16" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="33"></td>
                            <td colspan="2">二次供水<input type="hidden" name="ECGS_NAME" id="ECGS_NAME" value="二次供水" truetype="hidden"></td>
                            <td>0.08/m2<input type="hidden" name="ECGS_DW" id="ECGS_DW" value="0.08/m2" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="ECGS_SL" id="ECGS_SL" value="" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" onblur="gethj2()" truetype="hidden" yzid="34"></td>
                            <td>
                                <input type="hidden" name="ECGS_ZJ" id="ECGS_ZJ" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj2()" truetype="hidden" yzid="35"></td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td>
                                <input class="jianhao" type="hidden" name="CF_JHO2" id="CF_JHO2" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="CF_SM2" id="CF_SM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="36"></td>
                            <td>
                                <input type="hidden" name="CF_JM2" id="CF_JM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="37"></td>
                            <td>
                                <input type="hidden" name="CF_YZJ2" id="CF_YZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="38"></td>
                            <td colspan="2"><input type="hidden" name="MP_NAME" id="MP_NAME" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="MP_DW" id="MP_DW" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="MP_SL" id="MP_SL" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj2()" truetype="hidden" yzid="39"></td>
                            <td>
                                <input type="hidden" name="MP_ZJ" id="MP_ZJ" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj2()" truetype="hidden" yzid="40"></td>
                        </tr>
                        <tr>
                            <td rowspan="2">卫生间</td>
                            <td>独</td>
                            <td>
                                44<input class="jianhao" type="hidden" name="WSJ_JHO1" id="WSJ_JHO1" value="44" truetype="hidden"></td>
                            <td>
                                2.23<input type="hidden" name="WSJ_SM1" id="WSJ_SM1" value="2.23" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="41"></td>
                            <td>
                                2.23<input type="hidden" name="WSJ_JM1" id="WSJ_JM1" value="2.23" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="42"></td>
                            <td>
                                3.35<input type="hidden" name="WSJ_YZJ1" id="WSJ_YZJ1" value="3.35" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="43"></td>
                            <td colspan="2"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td>
                                <input class="jianhao" type="hidden" name="WSJ_JHO2" id="WSJ_JHO2" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="WSJ_SM2" id="WSJ_SM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="44"></td>
                            <td>
                                <input type="hidden" name="WSJ_JM2" id="WSJ_JM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="45"></td>
                            <td>
                                <input type="hidden" name="WSJ_YZJ2" id="WSJ_YZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="46"></td>
                            <td></td>
                            <td style="font-weight:bold;">间号</td>
                            <td style="font-weight:bold;">实有面积(m²)</td>
                            <td style="font-weight:bold;">计租面积(m²)</td>
                            <td style="font-weight:bold;">租金(元)</td>
                        </tr>
                        <tr>
                            <td rowspan="2">室内走道</td>
                            <td>独</td>
                            <td>
                                <input class="jianhao" type="hidden" name="DOW_JHO1" id="DOW_JHO1" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="DOW_SM1" id="DOW_SM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="47"></td>
                            <td>
                                <input type="hidden" name="DOW_JM1" id="DOW_JM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="48"></td>
                            <td>
                                <input type="hidden" name="DOW_YZJ1" id="DOW_YZJ1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="49"></td>
                            <td rowspan="3">无封闭阳台</td>
                           <td>
                        47-1<input class="jianhao" type="hidden" name="WFBYT_JHO1" id="WFBYT_JHO1" value="47-1" truetype="hidden"></td>
                    <td>
                        4.34<input type="hidden" name="WFBYT_SM1" id="WFBYT_SM1" value="4.34" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="50"></td>
                    <td>
                        2.17<input type="hidden" name="WFBYT_JM1" id="WFBYT_JM1" value="2.17" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="51"></td>
                    <td>
                        3.42<input type="hidden" name="WFBYT_YZJ1" id="WFBYT_YZJ1" value="3.42" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="52"></td>
                             
                        </tr>
                        <tr>
                            <td>共</td>
                            <td>
                                <input class="jianhao" type="hidden" name="DOW_JHO2" id="DOW_JHO2" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="DOW_SM2" id="DOW_SM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="53"></td>
                            <td>
                                <input type="hidden" name="DOW_JM2" id="DOW_JM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="54"></td>
                            <td>
                                <input type="hidden" name="DOW_YZJ2" id="DOW_YZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="55"></td>
                             <td>
                        <input class="jianhao" type="hidden" name="WFBYT_JHO2" id="WFBYT_JHO2" value="" truetype="hidden"></td>
                    <td>
                        <input type="hidden" name="WFBYT_SM2" id="WFBYT_SM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="56"></td>
                    <td>
                        <input type="hidden" name="WFBYT_JM2" id="WFBYT_JM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="57"></td>
                    <td>
                        <input type="hidden" name="WFBYT_YZJ2" id="WFBYT_YZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="58"></td>
                            
                        </tr>
                        
                       <tr>
                    <td colspan="2" rowspan="3">封闭阳台</td>
                    <td>
                        <input class="jianhao" type="hidden" name="FBYT_JHO1" id="FBYT_JHO1" value="" truetype="hidden"></td>
                    <td>
                        <input type="hidden" name="FBYT_SM1" id="FBYT_SM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="59"></td>
                    <td>
                        <input type="hidden" name="FBYT_JM1" id="FBYT_JM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="60"></td>
                    <td>
                        <input type="hidden" name="FBYT_YZJ1" id="FBYT_YZJ1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="61"></td>
                    <td>
                        <input class="jianhao" type="hidden" name="WFBYT_JHO3" id="WFBYT_JHO3" value="" truetype="hidden"></td>
                    <td>
                        <input type="hidden" name="WFBYT_SM3" id="WFBYT_SM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="62"></td>
                    <td>
                        <input type="hidden" name="WFBYT_JM3" id="WFBYT_JM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="63"></td>
                    <td>
                        <input type="hidden" name="WFBYT_YZJ3" id="WFBYT_YZJ3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="64"></td>
                           
                </tr>

               <tr>
                     <td>
                        <input class="jianhao" type="hidden" name="FBYT_JHO2" id="FBYT_JHO2" value="" truetype="hidden"></td>
                    <td>
                        <input type="hidden" name="FBYT_SM2" id="FBYT_SM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="65"></td>
                    <td>
                        <input type="hidden" name="FBYT_JM2" id="FBYT_JM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="66"></td>
                    <td>
                        <input type="hidden" name="FBYT_YZJ2" id="FBYT_YZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="67"></td>
                     <td> <input type="hidden" name="ZGGF_FJLX4" id="ZGGF_FJLX4" value="" truetype="hidden"></td>
                            <td> <input type="hidden" name="ZGGF_FJH4" id="ZGGF_FJH4" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FSM4" id="ZGGF_FSM4" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FJM4" id="ZGGF_FJM4" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FYZJ4" id="ZGGF_FYZJ4" value="" truetype="hidden"></td>
                </tr>
                <tr>
                     <td>
                        <input class="jianhao" type="hidden" name="FBYT_JHO3" id="FBYT_JHO3" value="" truetype="hidden"></td>
                    <td>
                        <input type="hidden" name="FBYT_SM3" id="FBYT_SM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="68"></td>
                    <td>
                        <input type="hidden" name="FBYT_JM3" id="FBYT_JM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="69"></td>
                    <td>
                        <input type="hidden" name="FBYT_YZJ3" id="FBYT_YZJ3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="70"></td>
                      <td><input type="hidden" name="ZGGF_FJLX1" id="ZGGF_FJLX1" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="ZGGF_FJH1" id="ZGGF_FJH1" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="ZGGF_FSM1" id="ZGGF_FSM1" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="ZGGF_FJM1" id="ZGGF_FJM1" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="ZGGF_FYZJ1" id="ZGGF_FYZJ1" value="" truetype="hidden"></td>
                </tr>
                        <tr>
                            <td colspan="2">高1.7至2.2米搁楼</td>
                            <td>
                        <input class="jianhao" type="hidden" name="GL_JHO1" id="GL_JHO1" value="" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="GL_SM1" id="GL_SM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="71"></td>
                            <td>
                                <input type="hidden" name="GL_JM1" id="GL_JM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="72"></td>
                            <td>
                                <input type="hidden" name="GL_YZJ1" id="GL_YZJ1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="73"></td>
                           
                             <td> <input type="hidden" name="ZGGF_FJLX3" id="ZGGF_FJLX3" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FJH3" id="ZGGF_FJH3" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FSM3" id="ZGGF_FSM3" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FJM3" id="ZGGF_FJM3" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FYZJ3" id="ZGGF_FYZJ3" value="" truetype="hidden"></td>
                        </tr>
                        <tr>
                            <td colspan="2"> <input type="hidden" name="ZGGF_FJLX2" id="ZGGF_FJLX2" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FJH2" id="ZGGF_FJH2" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FSM2" id="ZGGF_FSM2" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FJM2" id="ZGGF_FJM2" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FYZJ2" id="ZGGF_FYZJ2" value="" truetype="hidden"></td>
                            <td colspan="2">合计</td>
                            <td>
                                <input type="hidden" name="" value="" truetype="hidden"></td>
                            <td id="ZGGF_HJRIGHTSL1">
                                
                            </td>
                            <td id="ZGGF_HJRIGHTZJ2"></td>
                </tr>
                        <tr>
                            <td colspan="2">合计</td>
                            <td>
                                <input class="jianhao" type="hidden" name="" value="" truetype="hidden"></td>
                            <td id="ZGGF_HJLEFTSM1">55.86</td>
                            <td id="ZGGF_HJLEFTJM1">53.69</td>
                            <td id="ZGGF_HJLEFTZJ1">82.70</td>
                            <td colspan="2">核定月租金</td>
                            <td colspan="3">
                                ¥82.70 元</td>
                        </tr>
                        <tr>
                            <td colspan="11" style="text-align: center">资料员：曹秀芳
                                &nbsp;  &nbsp;  &nbsp;
                        经管所长：
                                &nbsp;  &nbsp;  &nbsp;经管科长：
                            </td>
                        </tr>
                    </tbody></table>
                </div>

                <div style="float: left; width: 46%; margin-left: 4%;margin-top:10px;">
                    <!-- 房屋构件设备点交记载 -->
                    <p class="titleStyle" style="text-align: center;font-size: 24px;margin-top: 0px;">房屋构件设备点交记载</p>
                    <table class="fwClass" cellspacing="" cellpadding="" style="width:100%;height: 538px;box-sizing:border-box;">
                        <tbody><tr>
                            <td>名称</td>
                            <td>数量</td>
                            <td>附注</td>
                            <td></td>
                            <td>名称</td>
                            <td>数量</td>
                            <td>附注</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td id="fjtdheight" colspan="7" style="vertical-align: top; box-sizing: border-box; height: 451px;">
                                <p style="margin: 60px 0 30px 0; text-align: center;"><span style="font-size: 20px; width: 50px; border-bottom: 3px double #333333;">附记</span></p>
                                
                            </td>
                        </tr>
                    </tbody></table>
                </div>
                <!--endprint1-->
            </div>
            <!--endprint2-->
        </form>
        <form id="hidform">
            <input type="hidden" id="czr" value="" truetype="hidden">
            <input type="hidden" id="jhrqm" value="" truetype="hidden">
            <input type="hidden" id="hidstream" name="hidstream" value="" truetype="hidden">
            <input type="hidden" id="hidpdfstream" name="hidpdfstream" value="" truetype="hidden">
        </form>
        <div style="text-align: center; clear: both;">
            <br>
            
            
        </div>
</div>