{extend name="layout" /}
{block name="title"}<title>租约审核</title>{/block}
{block name="content"}
  <link rel="stylesheet" href="/public/static/gf/css/iconfont.css?v={$version}">
  <link rel="stylesheet" href="/public/static/gf/css/viewer.min.css?v={$version}">
 <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><small class="am-text-sm">租约管理</small> > <small class="am-text-primary">租约申请</small>&nbsp;&nbsp;<span style="font-size:14px;">租约已打印<i style="font-style:normal;color:red;">{$ids}</i>份</span>&nbsp;&nbsp;<span style="font-size:16px;">共{$leaseLstObj->total()}条记录</span></div>
    </div>

    <div class="am-g">
      <div class="am-scrollable-horizontal">
          <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead>
              <tr>
                <th class="table-check"></th>
                <th class="table-id">#</th>
                <th class="table-type">房屋编号</th>
                <?php if(session('user_base_info.institution_level')!=3){ ;?>
                <th class="table-type">机构名称</th>
                <?php }; ?>
                <th class="table-author am-hide-sm-only">产别</th>
                <th class="table-set">房屋地址</th>
                <th class="table-date am-hide-sm-only">结构</th>
                <th class="table-set">房屋层</th>
                <th class="table-set">居住层</th>
                <th class="table-set">承租人</th>
                <th class="table-set">流程状态</th>
                <?php if(in_array(101,$useRoles)){ ;?>
                <th class="table-set">打印时间</th>
                <th class="table-set">打印次数</th>
                <?php }; ?>
                <th class="table-set" style="">操作</th>
              </tr>
          </thead>
          <tbody>
		  <!--查询-->
          <form id="queryForm" action="{:url('LeaseAudit/index')}" method="post">
		    <tr class="am-form-group am-form-inline">
              <td></td>
              <td></td>
              <td>
                <div class="am-g am-input-group am-input-group-sm">
                    <?php
                        if($leaseOption != array()){
                            $HouseID = $leaseOption['HouseID'];
                        }else{
                            $HouseID = '';
                        }
                     ?>
                  <input style="width:132px;" type="text" name="HouseID" class="am-form-field" value="{$HouseID}">
                </div>
              </td>
              <?php if(session('user_base_info.institution_level')!=3){ ;?>
              <td>
                  <div class="am-form-group  am-form search_input">
                      
                      <select name="TubulationID">
                          <option value="" style="display:none">请选择</option>
                          <?php if(session('user_base_info.institution_level')==1){;?>
                          <?php foreach($instLst as $k10 => $v10){ if($v10['level'] !=0 ){; ?>
                          <?php
                      if(isset($leaseOption['TubulationID'])){
                          if($leaseOption['TubulationID'] == $v10['id']){
                              $select ='selected';
                          }else{
                              $select ='';
                          }
                      }else{
                          $select ='';
                      }
                      ?>
                          <option value="<?php echo $v10['id']; ?>"
                                  {$select}><?php echo $v10['Institution']; ?></option>
                          <?php }}}elseif(session('user_base_info.institution_level')==2){; ?>
                          <?php foreach($instLst as $k12 => $v12){ ; ?>
                          <?php
                      if(isset($leaseOption['TubulationID'])){
                          if($leaseOption['TubulationID'] == $v12['id']){
                              $select ='selected';
                          }else{
                              $select ='';
                          }
                      }else{
                          $select ='';
                      }
                      ?>
                          <option value="<?php echo $v12['id']; ?>"
                                  {$select}><?php echo $v12['Institution']; ?></option>
                          <?php }} ; ?>
                      </select>
                  </div>
              </td>
              <?php } ; ?>

              <td>
                <div class="am-form-group  am-form search_input">
                    <select name="OwnerType">
                        <option value="" style="display:none">请选择</option>
                        <?php foreach($owerLst as $k3 =>$v3){;?>

                          <?php
                          if(isset($leaseOption['OwnerType'])){
                              if($leaseOption['OwnerType'] == $v3['id']){
                                  $select ='selected';
                              }else{
                                  $select ='';
                              }
                          }else{
                              $select ='';
                          }
                          ?>

                        <option value="<?php echo $v3['id']; ?>" {$select}>
                            <?php echo $v3['OwnerType']; ?>
                        </option>
                        <?php }; ?>
                    </select>
                  </div>
              </td>

              <td>
        				<div class="am-g am-input-group am-input-group-sm">
                  <?php
                        if($leaseOption != array()){
                            $BanAddress = $leaseOption['BanAddress'];
                        }else{
                            $BanAddress = '';
                        }
                     ?>
        				  <input style="width:122px;" type="text" name="BanAddress" class="am-form-field" value="{$BanAddress}">
        				</div>
        			</td>

             <td>
                <div class="am-input-group am-input-group-sm" style="width:60px;"></div>
              </td> 
              <td>
        			 <div class="am-input-group am-input-group-sm" style="width:60px;"></div>
        		  </td>
              <td>
                <div class="am-input-group am-input-group-sm" style="width:60px;">
                  
                </div>
              </td>
              <td>
                <div class="am-g am-input-group am-input-group-sm">
                <?php
                        if($leaseOption != array()){
                            $TenantName = $leaseOption['TenantName'];
                        }else{
                            $TenantName = '';
                        }
                     ?>
                  <input style="width:122px;" type="text" name="TenantName" class="am-form-field" value="{$TenantName}">
                </div>
              </td>
              <td>
                <div class="am-form-group  am-form search_input">
                  <select name="admin_is">
                        <option value="" style="display:none">请选择</option>
                        <option value='112' 
                          {if(isset($leaseOption['admin_is']))} 
                            {if($leaseOption['admin_is'] === '112')}
                            selected
                            {/if}
                          {else /}
                            {if(in_array('112',json_decode(session('user_base_info.role'))))}
                            selected 
                            {/if}
                          {/if}
                        >房管员</option>
                        <option value='116' 
                        {if(isset($leaseOption['admin_is']))} 
                            {if($leaseOption['admin_is'] === '116')}
                            selected
                            {/if}
                          {else /}
                            {if(in_array('116',json_decode(session('user_base_info.role'))))}
                            selected 
                            {/if}
                          {/if}
                        >资料员</option>
                        <option value='111' 
                        {if(isset($leaseOption['admin_is']))} 
                            {if($leaseOption['admin_is'] === '111')}
                            selected
                            {/if}
                          {else /}
                            {if(in_array('111',json_decode(session('user_base_info.role'))))}
                            selected 
                            {/if}
                          {/if}
                        >经管所长</option>
                        <option value='563' 
                        {if(isset($leaseOption['admin_is']))} 
                            {if($leaseOption['admin_is'] === '563')}
                            selected
                            {/if}
                          {else /}
                            {if(in_array('563',json_decode(session('user_base_info.role'))))}
                            selected 
                            {/if}
                          {/if}
                        >经管科</option>
                        <option value='101' 
                        {if(isset($leaseOption['admin_is']))} 
                            {if($leaseOption['admin_is'] === '101')}
                            selected
                            {/if}
                          {else /}
                            {if(in_array('101',json_decode(session('user_base_info.role'))))}
                            selected 
                            {/if}
                          {/if}
                        >经租会计</option>
                        <option value='1' 
                        {if(isset($leaseOption['admin_is']))} 
                            {if($leaseOption['admin_is'] === '1')}
                            selected
                            {/if}
                          {else /}
                            {if(in_array('1',json_decode(session('user_base_info.role'))))}
                            selected 
                            {/if}
                          {/if}
                        >全部</option>  
                  </select>
                </div>
              </td>
                
              <?php if(in_array(101,$useRoles)){ ;?>
              <td>
                <div class="am-form-group am-form search_input">
                  <select name="if_show">
                        <option value="" style="display:none">请选择</option>
                        <option value='1' {if(isset($leaseOption['if_show']) && ($leaseOption['if_show'] == 1))}selected{/if}>有</option>
                        <option value='2' {if(isset($leaseOption['if_show']) && ($leaseOption['if_show'] == 2))}selected{/if}>无</option>    
                    </select>
                </div>
              </td>
              <td>
                <div class="am-input-group am-input-group-sm" style="width:60px;"></div>
              </td>
              <?php }; ?>

              <td>
                <div class="am-btn-group am-btn-group-xs" style="width:136px;">
                  <button type="submit" class="am-btn am-btn-xs am-text-primary" id="queryBtn"><span class="DqueryIcon"></span>查询</button>
                  <a class="am-btn am-btn-xs am-text-primary ABtn" href="/ph/LeaseAudit/index.html"><span class="ResetIcon"></span>重置</a>
                </div>
              </td>
            </tr>
        </form>
		<!---查询-->
          <?php foreach($leaseLst as $k => $v){

            if(in_array($v['ProcessRoleID'],$useRoles)){

              $IfProcess = '';
            }else{

              $IfProcess = 'not-process';
            }

          ?>
            <tr class="check001">
                <td>
                  <span class="piaochecked">
                    <input class="checkId radioclass" type="radio" value="" />
                  </span>
                 </td>
                <td>{$k+1}</td>
                <td><?php echo $v['HouseID']; ?></td>
                <?php if(session('user_base_info.institution_level')!=3){ ;?>
                <td><?php echo $v['InstitutionID']; ?></td>
                <?php }; ?>
                <td class="am-hide-sm-only"><?php echo $v['OwnerType']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['BanAddress']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['StructureType']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['FloorNum']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['FloorID']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['TenantName']; ?></td>
                <td ><a href="#"><?php echo $v['Status']; ?></a></td>
                <?php if(in_array(101,$useRoles)){ ;?>
                <td class="am-hide-sm-only"><?php echo $v['PrintTime']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['PrintTimes']; ?></td>
                <?php }; ?>
                <td>
                    <div class="am-btn-group am-btn-group-xs">
                        <?php if(in_array(563,$threeMenu)){ ; ?>
                        <button class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only examine {$IfProcess}" value="<?php echo $v['ChangeOrderID']; ?>">
                          审核
                        </button>
                        <?php }; ?>
                        <?php if(in_array(559,$threeMenu) && ($IfProcess === '')){ ; ?>
                        <button class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only print1" value="<?php echo $v['ChangeOrderID']; ?>">
                          租约打印
                        </button>
                        <?php }; ?>
                        <?php if(in_array(561,$threeMenu) && ($IfProcess === '')){ ; ?>
                        <button class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only uploadPic" value="<?php echo $v['ChangeOrderID']; ?>">
                          上传签字图片
                        </button>
                        <?php }; ?>
                        <?php if(in_array(562,$threeMenu)){ ; ?>
                        <button class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only detail_btn" value="<?php echo $v['ChangeOrderID']; ?>">
                          明细
                        </button>
                        <?php }; ?>
                    </div>
                </td>
            </tr>
          <?php }; ?>
  
          </tbody>
        </table>
		<div class="am-cf">
          
          <div class="am-fr">
          {$leaseLstObj->render()}
          </div>
      </div>
      </div>
    </div>
  </div>

{/block}

{block name="print"}
  {include file="application/ph/view/lease_apply/detail.html" /}
  {include file="application/ph/view/lease_audit/print1.html" /}
  {include file="application/ph/view/lease_audit/print2.html" /}
  <div id="uploadPicDiv" style="display:none;">
      <div class="am-u-md-12 fileUpLoad">
          <div class="am-u-md-5">
              <p>租约签字图片：</p>
          </div>
          <div class="am-form-group am-form-file am-u-md-7">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="uploadPic" type="file" name="uploadPic" multiple>
          </div>
          <div id="uploadPicShow" class="am-u-md-12"></div>
      </div>
  </div>
{/block}

{block name="JsFile"}
<script type="text/javascript" src="/public/static/gf/js/viewer.min.js?v={$version}"></script>
<script type="text/javascript" src="/public/static/gf/viewJs/lease_audit.js?v={$version}"></script>
<script type="text/javascript" src="/public/static/gf/js/DFileUpload.js?v={$version}"></script>
{/block}