<style type="text/css">
    #print2{font-family:"SimSun"}
    .outerControl table{border-spacing:0;border-top:1px solid #000;border-right:1px solid #000;}
    .outerControl td,.outerControl th{height:24px;border-left:1px solid #000;border-bottom:1px solid #000;font-size:12px;}
</style>
<!--startprint-->
<div class="outerControl" id="print2" style="width:661px;margin-left:20px;display:none;">
        <form id="MyForm">
            <!--startprint2-->
            <!--startprint1-->
            <!-- 基本信息 -->
            <div style="margin-top:10px;">
                <div style="width: 100%; ">
                    <div>
                        <img id="picCode_2" src="" style="margin-left:25px;width:90px;height:90px;clear:both;text-align:left;">
                        <p style="text-align:center;margin-top:-60px;font-size:18px;">武汉市公有房屋住宅租约信息单</p>
                        <p style="text-align:right;margin-right:20px;">
                            租直NO:&nbsp;&nbsp;&nbsp;<span id="printer_2_NO"></span>
                        </p>
                    </div>
                    <table id="table1" border="1" cellspacing="" cellpadding="" style="box-sizing:border-box;width:100%;margin-top:-10px;">
                        <tbody><tr>
                            <td rowspan="2" style="">房屋坐落</td>
                            <td id="printer_2_Address" rowspan="2" colspan="2" style="width: 130px;">
                                栅栏口16号</td>
                            <td rowspan="2" style="">结构</td>
                            <td id="printer_2_Struct" rowspan="2" style="">
                                钢混
                            </td>
                            <td style="">房屋层</td>
                            <td id="printer_2_HouseFloor" style="">
                                </td>
                        </tr>
                        <tr>
                            <td>居住层</td>
                            <td id="printer_2_LiveFloor">
                                </td>
                        </tr>
                        <tr>
                            <td style="">承租人姓名</td>
                            <td id="printer_2_RentName" style="">
                                </td>
                            <td style="">身份证号</td>
                            <td id="printer_2_RentNumber" colspan="4" style="">
                                </td>
                        </tr>
                        <tr>
                            <td rowspan="2">承租人代表/监护人 姓名</td>
                            <td id="printer_2_RentName1" rowspan="2"></td>
                            <td>身份证号</td>
                            <td id="printer_2_RentNumber1" colspan="4"></td>
                        </tr>
                        <tr><td colspan="5">注：承租人代表/监护人无处置、转让、房改、征收等权利</td></tr>
                        <tr>
                            <td colspan="7" style=" font-size: 18px;">
                                <div style=" width: 100%; margin-top:20px;">
                    <!-- 评 租 情 况 记 载 -->
                    <p class="titleStyle" style="text-align:center;">评 租 情 况 记 载</p>
                    <table class="pzqk" cellspacing="" cellpadding="" style="width:100%;margin-top: 5px;height:538px;border-left-width:0px;border-right-width:0px;border-bottom-width:0px;">
                        <tbody><tr>
                            <th colspan="2" style="width: 85px;border-left:0px;">部位</th>
                            <th style="width: 40px;">间号</th>
                            <th style="width: 55px;">实有面积(m²)</th>
                            <th style="width: 55px;">计租面积(m²)</th>
                            <th style="width: 40px;">租金(元)</th>
                            <th colspan="2">项目</th>
                            <th>单价(元)</th>
                            <th style="width: 70px;">数量(m²)(件、个)</th>
                            <th style="width: 40px;border-right-width:0px;">租金(元)</th>
                        </tr>
                        <tr>
                            <td rowspan="4" colspan="2" style="border-left-width:0px;">卧室</td>
                            <td id="printer_2_Room1_data1">
                            
                                </td>
                            <td id="printer_2_Room1_data2">
                                
                                </td>
                            <td id="printer_2_Room1_data3">
                               </td>
                            <td id="printer_2_Room1_data4">
                               </td>
                            <td rowspan="4" style="width: 75px;">三户以上共用</td>
                            <td style="width: 78px;">厅(堂)</td>
                            <td>0.50/个</td>
                            <td id="printer_2_Room1_data5">
                                </td>
                            <td style="border-right-width:0px;" id="printer_2_Room1_data6">
                               </td>
                        </tr>
                        <tr>
                            <td id="printer_2_Room2_data1">
                                
                               </td>
                            <td id="printer_2_Room2_data2">
                                </td>
                            <td id="printer_2_Room2_data3">
                                </td>
                            <td id="printer_2_Room2_data4">
                               </td>
                            <td>厨房</td>
                            <td>0.50/个</td>
                            <td id="printer_2_Room2_data5">
                                </td>
                            <td style="border-right-width:0px;" id="printer_2_Room2_data6">
                                </td>
                        </tr>
                        <tr>
                            <td id="printer_2_Room3_data1">
                               </td>
                            <td id="printer_2_Room3_data2">
                                </td>
                            <td id="printer_2_Room3_data3">
                                </td>
                            <td id="printer_2_Room3_data4">
                                </td>
                            <td>卫生间</td>
                            <td>0.50/个</td>
                            <td id="printer_2_Room3_data5">
                                </td>
                            <td style="border-right-width:0px;" id="printer_2_Room3_data6">
                                </td>
                        </tr>
                        <tr>
                            <td id="printer_2_Room4_data1">
                                </td>
                            <td id="printer_2_Room4_data2">
                                </td>
                            <td id="printer_2_Room4_data3">
                                </td>
                            <td id="printer_2_Room4_data4">
                                </td>
                            <td>室内走道</td>
                            <td>0.50/个</td>
                            <td id="printer_2_Room4_data5">
                                </td>
                            <td style="border-right-width:0px;" id="printer_2_Room4_data6">
                                </td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="width: 80px;border-left-width:0px;">厅堂</td>
                            <td>独</td>
                            <td id="printer_2_Room5_data2">
                                </td>
                            <td id="printer_2_Room5_data3">
                                </td>
                            <td id="printer_2_Room5_data4">
                                </td>
                            <td id="printer_2_Room5_data5">
                                </td>
                            <td rowspan="2">高1至1.7米搁楼</td>
                            <td>5m²以下</td>
                            <td>0.50/个</td>
                            <td id="printer_2_Room5_data6">
                                </td>
                            <td style="border-right-width:0px;" id="printer_2_Room5_data7">
                                </td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td id="printer_2_Room6_data2">
                               </td>
                            <td id="printer_2_Room6_data3">
                                </td>
                            <td id="printer_2_Room6_data4">
                                </td>
                            <td id="printer_2_Room6_data5">
                                </td>
                            <td>5m²以上</td>
                            <td>1.00/个</td>
                            <td id="printer_2_Room6_data6">
                                </td>
                            <td style="border-right-width:0px;" id="printer_2_Room6_data7">
                                </td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="border-left-width:0px;">厨房</td>
                            <td>独</td>
                            <td id="printer_2_Room7_data2">
                                </td>
                            <td id="printer_2_Room7_data3">
                                </td>
                            <td id="printer_2_Room7_data4">
                                </td>
                            <td id="printer_2_Room7_data5">
                                </td>
                            <td colspan="2">二次供水</td>
                            <td>0.08/m²</td>
                            <td id="printer_2_Room7_data8">
                                </td>
                            <td style="border-right-width:0px;" id="printer_2_Room7_data9">
                                </td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td id="printer_2_Room8_data2">
                                </td>
                            <td id="printer_2_Room8_data3">
                                </td>
                            <td id="printer_2_Room8_data4">
                                </td>
                            <td id="printer_2_Room8_data5">
                                </td>
                           <td colspan="2"></td>
                            <td></td>
                            <td id="printer_2_Room8_data6">
                                </td>
                            <td style="border-right-width:0px;" id="printer_2_Room8_data7">
                                </td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="border-left-width:0px;">卫生间</td>
                            <td>独</td>
                            <td id="printer_2_Room9_data2">
                                </td>
                            <td id="printer_2_Room9_data3">
                                </td>
                            <td id="printer_2_Room9_data4">
                                </td>
                            <td id="printer_2_Room9_data5">
                                </td>
                            <td colspan="2">高1.7至2.2米搁楼</td>
                            <td id="printer_2_Room12_data7">
                            </td>
                            <td id="printer_2_Room12_data8">
                                </td>
                            <td style="border-right-width:0px;" id="printer_2_Room12_data9">
                                </td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td id="printer_2_Room10_data2">
                                </td>
                            <td id="printer_2_Room10_data3">
                                </td>
                            <td id="printer_2_Room10_data4">
                                </td>
                            <td id="printer_2_Room10_data5"></td>
                            <td colspan="2" id="printer_2_Room16_data1"></td>
                            <td id="printer_2_Room16_data3"></td>
                            <td id="printer_2_Room16_data4"></td>
                            <td style="border-right-width:0px;" id="printer_2_Room16_data5"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="border-left-width:0px;">室内走道</td>
                            <td>独</td>
                            <td id="printer_2_Room11_data2">
                                </td>
                            <td id="printer_2_Room11_data3">
                                </td>
                            <td id="printer_2_Room11_data4">
                                </td>
                            <td id="printer_2_Room11_data5">
                                </td>
                            <td colspan="2" id="printer_2_Room17_data1"></td>
                            <td id="printer_2_Room17_data3"></td>
                            <td id="printer_2_Room17_data4"></td>
                            <td style="border-right-width:0px;" id="printer_2_Room17_data5"></td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td id="printer_2_Room12_data2">
                                </td>
                            <td id="printer_2_Room12_data3">
                                </td>
                            <td id="printer_2_Room12_data4">
                                </td>
                            <td id="printer_2_Room12_data5">
                                </td>
                            <td colspan="2" id="printer_2_Room18_data1"></td>
                            <td id="printer_2_Room18_data3"></td>
                            <td id="printer_2_Room18_data4"></td>
                            <td style="border-right-width:0px;" id="printer_2_Room18_data5"></td>
                        </tr>
                       <tr>
                    <td colspan="2" rowspan="3" style="border-left-width:0px;">封闭阳台</td>
                    <td id="printer_2_Room13_data1">
                        </td>
                    <td id="printer_2_Room13_data2">
                        </td>
                    <td id="printer_2_Room13_data3">
                        </td>
                    <td id="printer_2_Room13_data4">
                        </td>
                    <td colspan="2" rowspan="3">无封闭阳台</td>
                    <td id="printer_2_Room13_data6">
                        </td>
                    <td id="printer_2_Room13_data7">
                        </td>
                    <td style="border-right-width:0px;" id="printer_2_Room13_data8">
                        </td>
                </tr>

               <tr>
                     <td id="printer_2_Room14_data1">
                        </td>
                    <td id="printer_2_Room14_data2">
                        </td>
                    <td id="printer_2_Room14_data3">
                        </td>
                    <td id="printer_2_Room14_data4">
                        </td>
                     <td id="printer_2_Room14_data6">
                        </td>
                    <td id="printer_2_Room14_data7">
                        </td>
                    <td style="border-right-width:0px;" id="printer_2_Room14_data8">
                        </td>
                </tr>
                <tr>
                     <td id="printer_2_Room15_data1">
                        </td>
                    <td id="printer_2_Room15_data2">
                        </td>
                    <td id="printer_2_Room15_data3">
                        </td>
                    <td id="printer_2_Room15_data4">
                        </td>
                     <td id="printer_2_Room15_data6">
                        </td>
                    <td id="printer_2_Room15_data7">
                        </td>
                    <td style="border-right-width:0px;" id="printer_2_Room15_data8">
                        </td>
                </tr>
                        <tr>
                            <td colspan="2" style="border-left-width:0px;" id="printer_2_Room19_data1"></td>
                            <td id="printer_2_Room19_data2"></td>
                            <td id="printer_2_Room19_data3"></td>
                            <td id="printer_2_Room19_data4"></td>
                            <td id="printer_2_Room19_data5"></td>
                            <td colspan="2">合计</td>
                            <td>
                                </td>
                            <td>
                                
                            </td>
                            <td id="printer_2_Room16_data8" style="border-right-width:0px;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="border-left-width:0px;">合计</td>
                            <td id="printer_2_Room20_data1">
                               </td>
                            <td id="printer_2_Room20_data2"></td>
                            <td id="printer_2_Room20_data3"></td>
                            <td id="printer_2_Room20_data4"></td>
                            <td colspan="2">核定月租金</td>
                            <td colspan="3" style="border-right-width:0px;" id="printer_2_Room20_data5">
                                </td>
                        </tr>
                        <tr>
                            <td colspan="11" style="text-align: center;border-left-width:0px;border-bottom-width:0px;border-right-width:0px;">资料员：<span id="printer_2_Room21_data1"></span>
                                &nbsp;  &nbsp;  &nbsp;
                                    经管所长：<span id="printer_2_Room21_data2"></span>
                                &nbsp;  &nbsp;  &nbsp;经管科长：<span id="printer_2_Room21_data3"></span>
                            </td>
                        </tr>
                    </tbody></table>
                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="7" style=" font-size: 18px;">
                                        <div style="float:left;margin-left: 5px; margin-top: 40px;">
                                    <span>承租人：（乙方）</span>
                                    <input type="hidden" truetype="hidden">
                                </div>
                                <div style=" float:left;margin-top: 10px;margin-left:10px;">
                                    <div style="width:160px;height:60px;"></div>
                                </div>
                                <div style="float: left; margin-top:40px;margin-left:20px;">
                                    租约签订日期&nbsp;&nbsp;<span id="printer_2_Year">2018</span> 年<span id="printer_2_Month">05</span> 月<span id="printer_2_Day">31</span> 日
                                </div>
                            </td>
                        </tr>
                    </tbody></table>
                </div>

            </div>
            <!--endprint2-->
        </form>
</div>
<!--endprint-->