<style type="text/css">
    .outerControl table{border-spacing:0;border-top:1px solid #ccc;border-right:1px solid #ccc;}
    .outerControl td,.outerControl th{height:24px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;font-size:12px;}
</style>
<div class="outerControl" id="print2" style="width:691px;margin-left:20px;display:none;">
        <form id="MyForm">
            <!--startprint2-->
            <!--startprint1-->
            <!-- 基本信息 -->
            <div style="margin-top:10px;">
                <div style="width: 100%; ">
                    <input type="hidden" id="ZGGF_LDBH" name="ZGGF_LDBH" truetype="hidden">
                    <input type="hidden" id="ZGGF_JGBM" name="ZGGF_JGBM" value="25010401005" truetype="hidden">
                    <input type="hidden" id="HU_ID" name="HU_ID" truetype="hidden">
                    <div>
                        <img src="/ZYGL/Showimg?url=5f6402e4d900496580e64774081dfe28qrcode.png" style="margin-left:25px;width:90px;height:90px;clear:both;text-align:left;">
                        <p style="text-align:center;margin-top:-60px;font-size:18px;">武汉市公有房屋住宅租约信息单</p>
                        <p style="text-align:right;margin-right:20px;">
                            租直NO:&nbsp;&nbsp;&nbsp;租直昌市01-201801247
                            <input type="hidden" name="ZY_NO" id="ZY_NO" value="租直昌市01-201801247" style="text-decoration: underline;height:24px;line-height:24px;" truetype="hidden">
                        </p>
                    </div>
                    <table id="table1" border="1" cellspacing="" cellpadding="" style="box-sizing:border-box;width:100%;margin-top:-10px;">
                        <tbody><tr>
                            <td rowspan="2" style="">房屋坐落</td>
                            <td rowspan="2" colspan="2" style="width: 130px;">
                                栅栏口16号</td>
                            <td rowspan="2" style="">结构</td>
                            <td rowspan="2" style="">
                                钢混
                                
                                <input type="hidden" name="ZGGF_JGLB" id="ZGGF_JGLB" value="钢混" truetype="hidden">
                            </td>
                            <td style="">房屋层</td>
                            <td style="">
                                8</td>
                        </tr>
                        <tr>
                            <td>居住层</td>
                            <td>
                                6</td>
                        </tr>
                        <tr>
                            <td style="">承租人姓名</td>
                            <td style="">
                                莊重</td>
                            <td style="">身份证号</td>
                            <td colspan="4" style="">
                                420106195303103213</td>
                        </tr>
                        <tr>
                            <td rowspan="2">承租人代表/监护人 姓名</td>
                            <td rowspan="2"></td>
                            <td>身份证号</td>
                            <td colspan="4"></td>
                        </tr>
                        <tr><td colspan="5">注：承租人代表/监护人无处置、转让、房改、征收等权利</td></tr>
                        <tr>
                            <td id="zztdheight11" colspan="7" style=" font-size: 18px;">
                                <div style=" width: 100%; margin-top:20px;">
                    <!-- 评 租 情 况 记 载 -->
                    <p class="titleStyle">评 租 情 况 记 载</p>
                    <table class="pzqk" cellspacing="" cellpadding="" style="width:100%;margin-top: 5px;height:538px;border-left-width:0px;border-right-width:0px;border-bottom-width:0px;">
                        <tbody><tr>
                            <th colspan="2" style="width: 85px;border-left:0px;">部位</th>
                            <th style="width: 40px;">间号</th>
                            <th style="width: 55px;">实有面积(m²)</th>
                            <th style="width: 55px;">计租面积(m²)</th>
                            <th style="width: 40px;">租金(元)</th>
                            <th colspan="2">项目</th>
                            <th>单价(元)</th>
                            <th style="width: 70px;">数量(m²)(件、个)</th>
                            <th style="width: 40px;border-right-width:0px;">租金(元)</th>
                        </tr>
                        <tr>
                            <td rowspan="4" colspan="2" style="border-left-width:0px;">卧室</td>
                            <td>
                                36
                                <input class="jianhao" type="hidden" name="WS_JHO1" id="WS_JHO1" value="36" truetype="hidden"></td>
                            <td>
                                11.02
                                <input type="hidden" name="WS_SM1" id="WS_SM1" value="11.02" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="1"></td>
                            <td>
                                11.02
                                <input type="hidden" name="WS_JM1" id="WS_JM1" value="11.02" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="2"></td>
                            <td>
                                16.53
                                <input type="hidden" name="WS_YZJ1" id="WS_YZJ1" value="16.53" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="3"></td>
                            <td rowspan="4" style="width: 75px;">三户以上共用</td>
                            <td style="width: 78px;">厅(堂)</td>
                            <td>0.50/个</td>
                            <td>
                                0
                                <input type="hidden" name="WSTT_SL" id="WSTT_SL" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="4"></td>
                            <td style="border-right-width:0px;">
                                0
                                <input type="hidden" name="WSTT_ZJ" id="WSTT_ZJ" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="5"></td>
                        </tr>
                        <tr>
                            <td>
                                
                                <input class="jianhao" type="hidden" name="WS_JHO2" id="WS_JHO2" truetype="hidden"></td>
                            <td>
                                0
                                <input type="hidden" name="WS_SM2" id="WS_SM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="6"></td>
                            <td>
                                0<input type="hidden" name="WS_JM2" id="WS_JM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="7"></td>
                            <td>
                                0
                                <input type="hidden" name="WS_YZJ2" id="WS_YZJ2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="8"></td>
                            <td>厨房</td>
                            <td>0.50/个</td>
                            <td>
                                0<input type="hidden" name="CF_SL" id="CF_SL" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="9"></td>
                            <td style="border-right-width:0px;">
                                0<input type="hidden" name="CF_ZJ" id="CF_ZJ" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="10"></td>
                        </tr>
                        <tr>
                            <td>
                                37<input class="jianhao" type="hidden" name="WS_JHO3" id="WS_JHO3" value="37" truetype="hidden"></td>
                            <td>
                                10.89<input type="hidden" name="WS_SM3" id="WS_SM3" value="10.89" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="11"></td>
                            <td>
                                10.89<input type="hidden" name="WS_JM3" id="WS_JM3" value="10.89" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="12"></td>
                            <td>
                                16.34<input type="hidden" name="WS_YZJ3" id="WS_YZJ3" value="16.34" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="13"></td>
                            <td>卫生间</td>
                            <td>0.50/个</td>
                            <td>
                                0<input type="hidden" name="WSJ_SL" id="WSJ_SL" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="14"></td>
                            <td style="border-right-width:0px;">
                                0<input type="hidden" name="WSJ_ZJ" id="WSJ_ZJ" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="15"></td>
                        </tr>
                        <tr>
                            <td>
                                <input class="jianhao" type="hidden" name="WS_JHO4" id="WS_JHO4" truetype="hidden"></td>
                            <td>
                                0<input type="hidden" name="WS_SM4" id="WS_SM4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="16"></td>
                            <td>
                                0<input type="hidden" name="WS_JM4" id="WS_JM4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="17"></td>
                            <td>
                                0<input type="hidden" name="WS_YZJ4" id="WS_YZJ4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="18"></td>
                            <td>室内走道</td>
                            <td>0.50/个</td>
                            <td>
                                0<input type="hidden" name="DOW_SL" id="DOW_SL" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="19"></td>
                            <td style="border-right-width:0px;">
                                0<input type="hidden" name="DOW_ZJ" id="DOW_ZJ" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="20"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="width: 80px;border-left-width:0px;">厅堂</td>
                            <td>独</td>
                            <td>
                                38<input class="jianhao" type="hidden" name="TIN_JHO1" id="TIN_JHO1" value="38" truetype="hidden"></td>
                            <td>
                                18.27<input type="hidden" name="TIN_SM1" id="TIN_SM1" value="18.27" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="21"></td>
                            <td>
                                18.27<input type="hidden" name="TIN_JM1" id="TIN_JM1" value="18.27" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="22"></td>
                            <td>
                                27.41<input type="hidden" name="TIN_YZJ1" id="TIN_YZJ1" value="27.41" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="23"></td>
                            <td rowspan="2">高1至1.7米搁楼</td>
                            <td>5m²以下</td>
                            <td>0.50/个</td>
                            <td>
                                0<input type="hidden" name="TTGL_SL1" id="TTGL_SL1" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="24"></td>
                            <td style="border-right-width:0px;">
                                0<input type="hidden" name="TTGL_ZJ1" id="TTGL_ZJ1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="25"></td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td>
                                <input class="jianhao" type="hidden" name="TIN_JHO2" id="TIN_JHO2" truetype="hidden"></td>
                            <td>
                                0<input type="hidden" name="TIN_SM2" id="TIN_SM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="26"></td>
                            <td>
                                0<input type="hidden" name="TIN_JM2" id="TIN_JM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="27"></td>
                            <td>
                                0<input type="hidden" name="TIN_YZJ2" id="TIN_YZJ2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="28"></td>
                            <td>5m²以上</td>
                            <td>1.00/个</td>
                            <td>
                                0<input type="hidden" name="TTGL_SL2" id="TTGL_SL2" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" truetype="hidden" yzid="29"></td>
                            <td style="border-right-width:0px;">
                                0<input type="hidden" name="TTGL_ZJ2" id="TTGL_ZJ2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" truetype="hidden" yzid="30"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="border-left-width:0px;">厨房</td>
                            <td>独</td>
                            <td>
                                39<input class="jianhao" type="hidden" name="CF_JHO1" id="CF_JHO1" value="39" truetype="hidden"></td>
                            <td>
                                2.90<input type="hidden" name="CF_SM1" id="CF_SM1" value="2.90" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="31"></td>
                            <td>
                                2.90<input type="hidden" name="CF_JM1" id="CF_JM1" value="2.90" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="32"></td>
                            <td>
                                4.15<input type="hidden" name="CF_YZJ1" id="CF_YZJ1" value="4.15" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="33"></td>
                            <td colspan="2">二次供水</td>
                            <td>0.08/m²</td>
                            <td>
                                0<input type="hidden" name="ECGS_SL" id="ECGS_SL" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" onblur="gethj2()" truetype="hidden" yzid="34"></td>
                            <td style="border-right-width:0px;">
                                0<input type="hidden" name="ECGS_ZJ" id="ECGS_ZJ" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj2()" truetype="hidden" yzid="35"></td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td>
                                <input class="jianhao" type="hidden" name="CF_JHO2" id="CF_JHO2" truetype="hidden"></td>
                            <td>
                                0<input type="hidden" name="CF_SM2" id="CF_SM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="36"></td>
                            <td>
                                0<input type="hidden" name="CF_JM2" id="CF_JM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="37"></td>
                            <td>
                                0<input type="hidden" name="CF_YZJ2" id="CF_YZJ2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="38"></td>
                           <td colspan="2"><input type="hidden" name="MP_NAME" id="MP_NAME" truetype="hidden"></td>
                            <td><input type="hidden" name="MP_DW" id="MP_DW" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="MP_SL" id="MP_SL" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj2()" truetype="hidden" yzid="39"></td>
                            <td style="border-right-width:0px;">
                                <input type="hidden" name="MP_ZJ" id="MP_ZJ" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj2()" truetype="hidden" yzid="40"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="border-left-width:0px;">卫生间</td>
                            <td>独</td>
                            <td>
                                40<input class="jianhao" type="hidden" name="WSJ_JHO1" id="WSJ_JHO1" value="40" truetype="hidden"></td>
                            <td>
                                2.35<input type="hidden" name="WSJ_SM1" id="WSJ_SM1" value="2.35" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="41"></td>
                            <td>
                                2.35<input type="hidden" name="WSJ_JM1" id="WSJ_JM1" value="2.35" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="42"></td>
                            <td>
                                3.53<input type="hidden" name="WSJ_YZJ1" id="WSJ_YZJ1" value="3.53" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="43"></td>
                            <td colspan="2">高1.7至2.2米搁楼</td>
                            <td>
                        0<input type="hidden" name="GL_SM1" id="GL_SM1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="44"></td>
                    <td>
                        0<input type="hidden" name="GL_JM1" id="GL_JM1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="45"></td>
                    <td style="border-right-width:0px;">
                        0<input type="hidden" name="GL_YZJ1" id="GL_YZJ1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="46"></td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td>
                                <input class="jianhao" type="hidden" name="WSJ_JHO2" id="WSJ_JHO2" truetype="hidden"></td>
                            <td>
                                0<input type="hidden" name="WSJ_SM2" id="WSJ_SM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="47"></td>
                            <td>
                                0<input type="hidden" name="WSJ_JM2" id="WSJ_JM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="48"></td>
                            <td>
                                0<input type="hidden" name="WSJ_YZJ2" id="WSJ_YZJ2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="49"></td>
                            <td colspan="2"><input type="hidden" name="ZGGF_FJLX2" id="ZGGF_FJLX2" truetype="hidden"></td>
                            <td>0<input type="hidden" name="ZGGF_FSM2" id="ZGGF_FSM2" value="0" truetype="hidden"></td>
                            <td>0<input type="hidden" name="ZGGF_FJM2" id="ZGGF_FJM2" value="0" truetype="hidden"></td>
                            <td style="border-right-width:0px;">0<input type="hidden" name="ZGGF_FYZJ2" id="ZGGF_FYZJ2" value="0" truetype="hidden"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="border-left-width:0px;">室内走道</td>
                            <td>独</td>
                            <td>
                                <input class="jianhao" type="hidden" name="DOW_JHO1" id="DOW_JHO1" truetype="hidden"></td>
                            <td>
                                0<input type="hidden" name="DOW_SM1" id="DOW_SM1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="50"></td>
                            <td>
                                0<input type="hidden" name="DOW_JM1" id="DOW_JM1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="51"></td>
                            <td>
                                0<input type="hidden" name="DOW_YZJ1" id="DOW_YZJ1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="52"></td>
                            <td colspan="2"><input type="hidden" name="ZGGF_FJLX3" id="ZGGF_FJLX3" truetype="hidden"></td>
                            <td>0<input type="hidden" name="ZGGF_FSM3" id="ZGGF_FSM3" value="0" truetype="hidden"></td>
                            <td>0<input type="hidden" name="ZGGF_FJM3" id="ZGGF_FJM3" value="0" truetype="hidden"></td>
                            <td style="border-right-width:0px;">0<input type="hidden" name="ZGGF_FYZJ3" id="ZGGF_FYZJ3" value="0" truetype="hidden"></td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td>
                                <input class="jianhao" type="hidden" name="DOW_JHO2" id="DOW_JHO2" truetype="hidden"></td>
                            <td>
                                0<input type="hidden" name="DOW_SM2" id="DOW_SM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="53"></td>
                            <td>
                                0<input type="hidden" name="DOW_JM2" id="DOW_JM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="54"></td>
                            <td>
                                0<input type="hidden" name="DOW_YZJ2" id="DOW_YZJ2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="55"></td>
                            <td colspan="2"> <input type="hidden" name="ZGGF_FJLX4" id="ZGGF_FJLX4" truetype="hidden"></td>
                            <td>0<input type="hidden" name="ZGGF_FSM4" id="ZGGF_FSM4" value="0" truetype="hidden"></td>
                            <td>0<input type="hidden" name="ZGGF_FJM4" id="ZGGF_FJM4" value="0" truetype="hidden"></td>
                            <td style="border-right-width:0px;">0<input type="hidden" name="ZGGF_FYZJ4" id="ZGGF_FYZJ4" value="0" truetype="hidden"></td>
                        </tr>
                       <tr>
                    <td colspan="2" rowspan="3" style="border-left-width:0px;">封闭阳台</td>
                    <td>
                        36-1<input class="jianhao" type="hidden" name="FBYT_JHO1" id="FBYT_JHO1" value="36-1" truetype="hidden"></td>
                    <td>
                        1.96<input type="hidden" name="FBYT_SM1" id="FBYT_SM1" value="1.96" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="56"></td>
                    <td>
                        1.96<input type="hidden" name="FBYT_JM1" id="FBYT_JM1" value="1.96" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="57"></td>
                    <td>
                        2.94<input type="hidden" name="FBYT_YZJ1" id="FBYT_YZJ1" value="2.94" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="58"></td>
                    <td colspan="2" rowspan="3">无封闭阳台</td>
                    <td>
                        0<input type="hidden" name="WFBYT_SM1" id="WFBYT_SM1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="59"></td>
                    <td>
                        0<input type="hidden" name="WFBYT_JM1" id="WFBYT_JM1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="60"></td>
                    <td style="border-right-width:0px;">
                        0<input type="hidden" name="WFBYT_YZJ1" id="WFBYT_YZJ1" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="61"></td>
                </tr>

               <tr>
                     <td>
                        <input class="jianhao" type="hidden" name="FBYT_JHO2" id="FBYT_JHO2" truetype="hidden"></td>
                    <td>
                        0<input type="hidden" name="FBYT_SM2" id="FBYT_SM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="62"></td>
                    <td>
                        0<input type="hidden" name="FBYT_JM2" id="FBYT_JM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="63"></td>
                    <td>
                        0<input type="hidden" name="FBYT_YZJ2" id="FBYT_YZJ2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="64"></td>
                     <td>
                        0<input type="hidden" name="WFBYT_SM2" id="WFBYT_SM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="65"></td>
                    <td>
                        0<input type="hidden" name="WFBYT_JM2" id="WFBYT_JM2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="66"></td>
                    <td style="border-right-width:0px;">
                        0<input type="hidden" name="WFBYT_YZJ2" id="WFBYT_YZJ2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="67"></td>
                </tr>
                <tr>
                     <td>
                        <input class="jianhao" type="hidden" name="FBYT_JHO3" id="FBYT_JHO3" truetype="hidden"></td>
                    <td>
                        0<input type="hidden" name="FBYT_SM3" id="FBYT_SM3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="68"></td>
                    <td>
                        0<input type="hidden" name="FBYT_JM3" id="FBYT_JM3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="69"></td>
                    <td>
                        0<input type="hidden" name="FBYT_YZJ3" id="FBYT_YZJ3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="70"></td>
                     <td>
                        0<input type="hidden" name="WFBYT_SM3" id="WFBYT_SM3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="71"></td>
                    <td>
                        0<input type="hidden" name="WFBYT_JM3" id="WFBYT_JM3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="72"></td>
                    <td style="border-right-width:0px;">
                        0<input type="hidden" name="WFBYT_YZJ3" id="WFBYT_YZJ3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="73"></td>
                </tr>
                        <tr>
                            <td colspan="2" style="border-left-width:0px;"><input type="hidden" name="ZGGF_FJLX1" id="ZGGF_FJLX1" truetype="hidden"></td>
                            <td>
                                <input type="hidden" name="ZGGF_FJH1" id="ZGGF_FJH1" truetype="hidden"></td>
                            <td>
                                0<input type="hidden" name="ZGGF_FSM1" id="ZGGF_FSM1" value="0" truetype="hidden"></td>
                            <td>
                                0<input type="hidden" name="ZGGF_FJM1" id="ZGGF_FJM1" value="0" truetype="hidden"></td>
                            <td>
                                0<input type="hidden" name="ZGGF_FYZJ1" id="ZGGF_FYZJ1" value="0" truetype="hidden"></td>
                            <td colspan="2">合计</td>
                            <td>
                                <input type="hidden" name="" value="" truetype="hidden"></td>
                            <td id="ZGGF_HJRIGHTSL1">
                                
                            </td>
                            <td id="ZGGF_HJRIGHTZJ2" style="border-right-width:0px;">0.00</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="border-left-width:0px;">合计</td>
                            <td>
                                <input class="jianhao" type="hidden" name="" value="" truetype="hidden"></td>
                            <td id="ZGGF_HJLEFTSM1">47.39</td>
                            <td id="ZGGF_HJLEFTJM1">47.39</td>
                            <td id="ZGGF_HJLEFTZJ1">70.90</td>
                            <td colspan="2">核定月租金</td>
                            <td colspan="3" style="border-right-width:0px;">
                                ¥70.90 元</td>
                        </tr>
                        <tr>
                            <td colspan="11" style="text-align: center;border-left-width:0px;border-bottom-width:0px;border-right-width:0px;">资料员：曹秀芳
                                &nbsp;  &nbsp;  &nbsp;
                        经管所长：时莉
                                &nbsp;  &nbsp;  &nbsp;经管科长：魏斌成
                            </td>
                        </tr>
                    </tbody></table>
                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td id="zztdheight" colspan="7" style=" font-size: 18px;">
                                        <div style="float:left;margin-left: 5px; margin-top: 40px;">
                                    <span>承租人：（乙方）</span>
                                    <input type="hidden" id="czr1" truetype="hidden">
                                </div>
                                <div id="signature" style=" float:left;margin-top: 10px;margin-left:10px;">
                                            <div style="width:160px;height:60px;"></div>

                                    </div>

                                    
                                <div style="float: left; margin-top:40px;margin-left:20px;">
                                    租约签订日期&nbsp;&nbsp;2018 年05 月31 日
                                </div>
                            </td>
                        </tr>
                    </tbody></table>
                </div>

            </div>
            <!--endprint2-->
        </form>
        <form id="hidform">
            <input type="hidden" id="czr" truetype="hidden">
            <input type="hidden" id="hidstream" name="hidstream" value="" truetype="hidden">
        </form>
        <div style="text-align: center; clear: both;">
            <br>
            <a id="printA" style="font-size: 20px; font-weight: bold;" onclick="printFun2();">打印</a>
        </div>
</div>