<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge,
    chrome=1" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="Description" content=""/>
    <meta name="keywords" content=""/>
    <title></title>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script src="/public/static/gf/js/jquery.min.js"></script> -->

    <style>
        header{margin-top:20px;margin-bottom:40px;font-size:24px;text-align:center;}
        table{width:100%;}
        table td{border:1px solid #666;height:20px;font-size:14px;}
        table tr{height:60px;}
    </style>
</head>
<body>
    <header>武汉市公有房屋住宅租约信息单</header>
    <p style="text-align:right;">租直NO:   租直昌区01-201878924</p>
    <table cellspacing="0" cellpadding="0" >
        <tr>
            <td width="20%">房屋坐落</td>
            <td>新桥街14#</td>
            <td>结构</td>
            <td>砖木三等</td>
        </tr>
        <tr>
            <td>房屋层</td>
            <td>1</td>
            <td>居住层</td>
            <td>1</td>
        </tr>
        <tr>
            <td>承租人姓名</td>
            <td>冬冬</td>
            <td>身份证号</td>
            <td>420802199111172178</td>
        </tr>
        <tr>
            <td>承租人代表/监护人 姓名</td>
            <td>冬冬</td>
            <td>身份证号</td>
            <td>420802199111172178</td>
        </tr>
        <tr>
            <td colspan="4" rowspan="2">
                承租人：（乙方）
租约签订日期  2018 年08 月18 日
            </td>
        </tr>
    </table>
</body>
</html>