<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge,
    chrome=1" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="Description" content=""/>
    <meta name="keywords" content=""/>
    <title>无效租约信息单</title>
    <style>
        header{margin-top:40px;margin-bottom:20px;font-size:20px;text-align:center;}
        table{width:100%;border-left:1px solid #666;border-top:1px solid #666;}
        table td{border-right:1px solid #666;border-bottom:1px solid #666;height:20px;font-size:14px;}
        table tr{height:40px;}
    </style>
</head>
<body>
    <header>武汉市公有房屋住宅租约防伪鉴定书</header>
    <table cellspacing="0" cellpadding="0" >
        <tr style="height:350px;text-align:center;">
            <td style="font-size:24px;">此租约鉴定无效</td>
        </tr>
        <tr>
            <td style="text-align:center;">鉴定单位：武汉市住房保障和房屋管理局</td>
        </tr>
    </table>
</body>
</html>