 {extend name="layout" /}
{block name="title"}<title>房屋信息</title>{/block}
{block name="content"}
<!-- content start -->
<script src="https://api.map.baidu.com/api?v=2.0&ak=2xlodrKVRyFNeopCajiMTfgIOr8dnUAe"></script>
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf">
            <small class="am-text-sm">房屋档案</small> >
            <small class="am-text-primary">房屋信息</small>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group-xs">
         {//         
                    <button type="button" id="addHouse" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-plus"></span>新增房屋</button>
                    <button type="button" id="deleteHouse" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-trash-o"></span> 删除房屋</button>
                    
         }
                    <?php if(in_array(49,$threeMenu)){ ; ?>
                    <button type="button" id="reviseHouse" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-edit"></span> 修改房屋
                    </button>
                    <?php }; ?>
                    <?php if(in_array(69,$threeMenu)){ ; ?>
                    <a href="{:url('HouseInfo/pdf',['HouseID'=>$houseidss])}" target="_blank" class="am-btn d-btn-1188F0">批量打印</a>
                    <?php }; ?>
                </div>
            </div>
        </div>
    </div>

    <div class="am-g">
        <div class="am-scrollable-horizontal">
            <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
                <thead>
                <tr>
                    <th class="table-check"></th>
                    <th class="table-id">#</th>
                    <th class="table-title">房屋编号</th>
                    <th class="table-type">楼栋编号</th>
                    <th class="table-type">楼栋地址</th>
                    <th class="table-author">租户姓名</th>
                    <?php if(session('user_base_info.institution_level')!=3){ ;?>
                    <th class="table-date">机构名称</th>
                    <?php }; ?>
                    <th class="table-set">产别</th>
                    <th class="table-set">使用性质</th>
                    <th class="table-set">是否暂停</th>
                    <th class="table-set">是否空租</th>
                    <th class="table-set">规定租金</th>
                    <th class="table-title">计算租金</th>
                    <th class="table-set">月租金</th>
                    <th class="table-set dong_none">单元号</th>
                    <th class="table-set dong_none">楼层号</th>
                    <th class="table-set">计租面积</th>
                    <th class="table-set dong_none">建筑面积</th>
                    <!-- <th class="table-set">年度欠租</th> -->
                    <th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <!--查询-->
                <form action="{:url('HouseInfo/index')}" method="post" id="queryForm" autocomplete="off" >
                    <tr class="am-form-group am-form-inline am-form">
                        <td></td>
                        <td></td>
                        <td>
                            <div class="am-input-group am-input-group-sm">
                                <?php

                                    $HouseID = isset($houseOption['HouseID'])?$houseOption['HouseID']:'';

                                ?>
                                <input style="width:130px;" name="HouseID" type="text" class="am-form-field" value="{$HouseID}">
                            </div>
                        </td>

                        <td>
                            <div class="am-input-group am-input-group-sm">
                                <?php
                                    $BanID = isset($houseOption['BanID'])?$houseOption['BanID']:'';
                                ?>
                                <input name="BanID" type="text" class="am-form-field" value="{$BanID}">
                            </div>
                        </td>
                        <td>
                            <div class="am-input-group am-input-group-sm">
                                <?php

                                    $BanAddress = isset($houseOption['BanAddress'])?$houseOption['BanAddress']:'';

                                 ?>
                                <input style="width:120px;" name="BanAddress" type="text" class="am-form-field" value="{$BanAddress}">
                            </div>
                        </td>
                        <td>
                            <div class="am-input-group am-input-group-sm">
                                <?php

                                    $TenantName = isset($houseOption['TenantName'])?$houseOption['TenantName']:'';

                                ?>
                                <input name="TenantName" type="text" class="am-form-field" value="{$TenantName}">
                            </div>
                        </td>

                        <?php if(session('user_base_info.institution_level')!=3){ ;?>
                        <td>
                            <div class="am-form-group search_input none-length">
                                
                                <select name="TubulationID">
                                    <option value="" style="display:none">请选择</option>
                                    <?php if(session('user_base_info.institution_level')==1){;?>
                                    <?php foreach($instLst as $k10 => $v10){ if($v10['level'] !=0 ){; ?>
                                    <?php
                                if(isset($houseOption['TubulationID'])){
                                    if($houseOption['TubulationID'] == $v10['id']){
                                        $select ='selected';
                                    }else{
                                        $select ='';
                                    }
                                }else{
                                    $select ='';
                                }
                                ?>
                                    <option value="<?php echo $v10['id']; ?>"
                                            {$select}><?php echo $v10['Institution']; ?></option>
                                    <?php }}}elseif(session('user_base_info.institution_level')==2){; ?>
                                    <?php foreach($instLst as $k12 => $v12){ ; ?>
                                    <?php
                                if(isset($houseOption['TubulationID'])){
                                    if($houseOption['TubulationID'] == $v12['id']){
                                        $select ='selected';
                                    }else{
                                        $select ='';
                                    }
                                }else{
                                    $select ='';
                                }
                                ?>
                                    <option value="<?php echo $v12['id']; ?>"
                                            {$select}><?php echo $v12['Institution']; ?></option>
                                    <?php }} ; ?>
                                </select>
                            </div>
                        </td>
                        <?php } ; ?>
                        <td>
                            <div class="am-form-group search_input">
                                <select name="OwnerType">
                                    <option value="" style="display:none">请选择</option>
                                    <?php foreach($owerLst as $k3 =>$v3){;?>

                                    <?php
                                if(isset($houseOption['OwnerType'])){
                                    if($houseOption['OwnerType'] == $v3['id']){
                                        $select ='selected';
                                    }else{
                                        $select ='';
                                    }
                                }else{
                                    $select ='';
                                }
                                ?>

                                    <option value="<?php echo $v3['id']; ?>"
                                            {$select}><?php echo $v3['OwnerType']; ?></option>
                                    <?php }; ?>
                                </select>
                            </div>
                        </td>

                    
                        <td>
                            <div class="am-form-group search_input">
                                <select name="UseNature">
                                    <option value="" style="display:none">请选择</option>
                                    <?php foreach($useNatureLst as $k0 =>$v0){;?>

                                    <?php
                                if(isset($houseOption['UseNature'])){
                                    if($houseOption['UseNature'] == $v0['id']){
                                        $select ='selected';
                                    }else{
                                        $select ='';
                                    }
                                }else{
                                    $select ='';
                                }
                                ?>

                                    <option value="<?php echo $v0['id']; ?>"
                                            {$select}><?php echo $v0['UseNature']; ?></option>
                                    <?php }; ?>
                                </select>
                            </div>
                        </td>
            <td>
                <div class="am-form-group search_input">
                    <select name="IfSuspend">
                        <option value="" style="display:none">请选择</option>
                        <?php
                        if(isset($houseOption['IfSuspend'])){
                            if($houseOption['IfSuspend'] == 1){
                                $selectDiff ='selected';
                                $selectDiffs ='';
                            }elseif($houseOption['IfSuspend'] === '0'){
                                $selectDiff ='';
                                $selectDiffs ='selected';
                            }else{
                                $selectDiff ='';
                                $selectDiffs ='';
                            }
                        }else{
                            $selectDiff ='';
                            $selectDiffs ='';
                        }
                        ?>

                        <option value="1" {$selectDiff}>是</option>
                        <option value="0" {$selectDiffs}>否</option>
                       
                    </select>
                </div></td>
                <td>
                <div class="am-form-group search_input">
                    <select name="IfEmpty">
                        <option value="" style="display:none">请选择</option>
                        <?php
                        if(isset($houseOption['IfEmpty'])){
                            if($houseOption['IfEmpty'] == 1){
                                $selectDiff ='selected';
                                $selectDiffs ='';
                            }elseif($houseOption['IfEmpty'] === '0'){
                                $selectDiff ='';
                                $selectDiffs ='selected';
                            }else{
                                $selectDiff ='';
                                $selectDiffs ='';
                            }
                        }else{
                            $selectDiff ='';
                            $selectDiffs ='';
                        }
                        ?>

                        <option value="1" {$selectDiff}>是</option>
                        <option value="0" {$selectDiffs}>否</option>
                       
                    </select>
                </div></td>
                        <td class="dong_none">
                            <?php

                                    $HousePrerent = isset($houseOption['HousePrerent'])?$houseOption['HousePrerent']:'';

                                ?>
                            <div style="width:120px;"><input style="width:50px;display:inline-block" name="HousePrerent" type="text" class="am-form-field" value="{$HousePrerent}"> {$HousePrerentSum}</div>
                        </td>
                        <td>
                            <div style="width:50px;">{$ApprovedRentSum}</div>
                        </td>
                        <td>
                            <div style="width:50px;"></div>
                        </td>
                        <td class="dong_none">
                            <div style="width:40px;"></div>
                        </td>
                        <td class="dong_none">
                            <div style="width:40px;"></div>
                        </td>
                        <td class="dong_none">
                            <div style="width:50px;">{$LeasedAreaSum}</div>
                        </td>
                        <td>
                            <div style="width:60px;">{$HouseAreaSum}</div>
                        </td>

                        

                        <td>
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="submit" class="am-btn am-btn-xs am-text-primary" id="queryBtn"><span
                                        class="DqueryIcon"></span>查询
                                </button>
                                <a id="clearHouseInfo" class="am-btn am-btn-xs am-text-primary ABtn"
                                   href="/ph/HouseInfo/index"><span class="ResetIcon"></span>重置</a>
                            </div>
                        </td>
                    </tr>
                </form>
                <!---查询-->

                <?php foreach($houseLst as $k1 => $v1){; ?>

                <tr class="check001" {if condition="$v1['IfSuspend'] === '是'"}style="color:#9b9b9b;"{/if}>
                    <td>
                        <span class="piaochecked">
                            <input class="checkId radioclass input" type="radio" name="choose"
                                   value="<?php echo $v1['HouseID']; ?>"/>
                        </span>
                    </td>
                    <td><?php echo ++$k1; ?></td>
                    <td><?php echo $v1['HouseID']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v1['BanID']; ?></td>
                    <td class="am-hide-sm-only">
                        <p style="height:18px;margin:10px 0 0;padding:0;line-height:18px;"><?php echo $v1['BanAddress']; ?></p>
                    </td>
                    <td class="am-hide-sm-only"><?php echo $v1['TenantID']; ?></td>
                    <?php if(session('user_base_info.institution_level')!=3){ ;?>
                    <td class="am-hide-sm-only"><?php echo $v1['InstitutionID']; ?></td>
                    <?php }; ?>
                    <td class="am-hide-sm-only"><?php echo $v1['OwnerType']; ?></td>
                    
                    <td class="am-hide-sm-only"><?php echo $v1['UseNature']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v1['IfSuspend']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v1['IfEmpty']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v1['HousePrerent']; ?></td>
                    <td class="am-hide-sm-only" {if condition="$v1['IfSuspend'] === '是'"}style="color:#9b9b9b;"{elseif condition="($v1['UseNature'] == '住宅') && $v1['HousePrerent'] != $v1['ApprovedRent']"/}style="color:red;" {/if}><?php echo $v1['ApprovedRent']; ?></td>
                    <td class="dong_none"><?php echo ($v1['HousePrerent'] + $v1['PumpCost'] + $v1['DiffRent']); ?></td>
                    <td class="dong_none"><?php echo $v1['UnitID']; ?></td>
                    <td class="dong_none"><?php echo $v1['FloorID']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v1['LeasedArea']; ?></td>
                    <td class="dong_none"><?php echo $v1['HouseArea']; ?></td>
                 
                    <td>
                        <div class="am-btn-group am-btn-group-xs"  style="width:124px;">
                            <?php if(in_array(55,$threeMenu)){ ; ?>
                            <button class="am-btn am-btn-default am-btn-xs am-text-primary details HouseDetailBtn"
                                    value="<?php echo $v1['HouseID']; ?>"> 明细
                            </button>
                            <?php }; ?>
                            <?php if(in_array(57,$threeMenu)){ ; ?>
                            <a href="{:url('TenantInfo/index',['TenantID'=>$v1['id'],])}" target="_blank" class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only ABtn">租户</a>
                            <?php }; ?>

                            <button class="am-btn am-btn-default am-btn-xs am-text-primary RentForm" value="<?php echo $v1['HouseID']; ?>"> 计租表
                            </button>
                        </div>
                    </td>
                </tr>

                <?php }; ?>

                </tbody>
            </table>
            <div class="am-cf">
                共{$houseLstObj->total()}条记录
                <div class="am-fr">

                    {$houseLstObj->render()}

                </div>
            </div>

        </div>
    </div>
</div>
<div id="deleteChoose" style="display:none; text-align: center; margin: 20px;">
      <button id="HouseChange" class="am-btn am-btn-secondary " value="10" name="houseDeleteType" style="background: #0086ff;border:none">房改</button>
      <button id="HouseRemove" class="am-btn am-btn-secondary" value="11" name="houseDeleteType" style="background: #0086ff;border:none">拆迁，已注销</button>
      <button id="DateTogther" class="am-btn am-btn-secondary" value="12"  name="houseDeleteType"style="background: #0086ff;border:none">数据合并</button>
      <button id="DateLose" class="am-btn am-btn-secondary" value="13"  name="houseDeleteType"style="background: #0086ff;border:none">数据作废</button>
  </div>
  <table class="am-table am-table-bordered am-table-radius PriceBoxNum" style="display:none">
        <tbody>

        <?php foreach($rentPoint as $k => $v){ ; ?>
        <tr class="cur">
            <td><input class="Boxes" type="checkbox" name="PriceBox" value="<?php echo $v['id']; ?>"></td>
            <td><?php echo $v['id']; ?></td>
            <td><?php echo $v['Item']; ?></td>
            <td class="PriceValue"><?php echo 100 * $v['Point']; ?></td>
        </tr>
        <?php }; ?>

        </tbody>
  </table>
<form id="PriceForm" style="display:none">
            
</form>


<!-- content end -->
{include file="application/ph/view/house_info/detail.html" /}
{include file="application/ph/view/house_info/form.html" /}
{include file="application/ph/view/house_info/modify.html" /}
{include file="application/ph/view/house_info/RentForm.html" /}
{include file="application/ph/view/house_info/RentFormM.html" /}
{include file="application/ph/view/house_info/beInDebt.html" /}
{/block}
{block name="JsFile"}

<script type="text/javascript" src="/public/static/gf/viewJs/house_form.js?v={$version}"></script>
{/block}