{extend name="layout" /}
{block name="title"}<title>租约记录</title>{/block}
{block name="content"}
 <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><small class="am-text-sm">租约管理</small> > <small class="am-text-primary">租约申请</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group-xs">
            <button type="button" class="am-btn d-btn-1188F0 am-radius addLease"><span class="am-icon-plus"></span>  租约申请</button>
          </div>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-scrollable-horizontal">
          <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead>
              <tr>
                <th class="table-check"></th>
    				<th class="table-id">#</th>
    				<th class="table-type">房屋编号</th>
    				<th class="table-type">机构名称</th>
    				<th class="table-author am-hide-sm-only">产别</th>
            		<th class="table-set">房屋地址</th>
    				<th class="table-date am-hide-sm-only">结构</th>
	                <th class="table-set">房屋层</th>
	                <th class="table-set">居住层</th>
	                <th class="table-set">承租人</th>
    				<th class="table-set">流程状态</th>
    				<th class="table-set" style="width:114px;">操作</th>
              	</tr>
          </thead>
          <tbody>
		  <!--查询-->
          <form action="{:url('UserApply/index')}" method="post">
		    <tr class="am-form-group am-form-inline">
              <td></td>
              <td></td>
              <td>
                <div class="am-input-group am-input-group-sm">

                  <input style="width:122px;" type="text" name="ChangeOrderID" class="am-form-field" value="">
                </div>
              </td>
              <td>
        				<div class="am-g am-input-group am-input-group-sm">

        				  <input style="width:122px;" type="text" name="HouseID" class="am-form-field" value="">
        				</div>
        			</td>
             <td>
                  <div class="am-form-group am-form" style="width:70px;">
                      <select name="OwnerType">
                          <option  value="" style="display:none">请选择</option>

                          <option value="" ></option>
                          
                      </select>
                  </div>
              </td> 

              	<td>
                  <div class="am-form-group am-form" style="width:100px;">
                      <select name="TubulationID">
                          <option  value="" style="display:none">请选择</option>
                          <option value=""></option>
                          <option value="" ></option>
                      </select>
                  </div>
        		</td>
       
	            <td>
	                <div class="am-form-group am-form" style="width:70px;">

	                    <select name="ChangeType" id="doc-select-5">
	                        <option  value="" style="display:none">请选择</option>
	 
	                        <option value=""> </option>
	                     
	                    </select>
	                </div>
	           	</td>
         
                <td>
        			<div class="am-input-group am-input-group-sm" style="width:60px;"></div>
        		</td>
               <td>
        			<div class="am-input-group am-input-group-sm" style="width:60px;"></div>
        		</td>
              <td>
                <div class="am-input-group am-input-group-sm" style="width:60px;"></div>
              </td>

              	<td>
        			<div class="am-input-group am-input-group-sm" style="width:130px;">
	                    <div class="am-u-sm-6" style="padding:0;">
	                          <input style="width:130px;" name="CreateTime" value="" type="text" class="am-form-field" data-am-datepicker value="">
	                    </div>
        			</div>
        		</td>
              <td>
                <div class="am-btn-group am-btn-group-xs" style="width:114px;">
                  <button type="submit" class="am-btn am-btn-xs am-text-primary" id="queryBtn"><span class="DqueryIcon"></span>查询</button>
                  <a class="am-btn am-btn-xs am-text-primary ABtn" href="/ph/UserApply/index.html"><span class="ResetIcon"></span>重置</a>
                </div>
              </td>
            </tr>
        </form>
		<!---查询-->

            <tr class="check001">
                <td>
                  <span class="piaochecked">
                    <input class="checkId radioclass" type="radio" value="" />
                  </span>
                 </td>
                <td>9527</td>
                <td>好滴哇</td>
                <td class="am-hide-sm-only">好滴哇</td>
                <td class="am-hide-sm-only">好滴哇</td>
                <td class="am-hide-sm-only">好滴哇</td>
                <td class="am-hide-sm-only">好滴哇</td>
                <td class="am-hide-sm-only">好滴哇</td>
                <td class="am-hide-sm-only">好滴哇</td>
                <td class="am-hide-sm-only">好滴哇</td>
                <td><a href="#">8855</a></td>
                <td>
                    <div class="am-btn-group am-btn-group-xs">
                        <button class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only BtnDel" value="">删除</button>
 
                    </div>
                </td>
            </tr>
  

          </tbody>
        </table>
		<div class="am-cf">
          共1000条记录
          <div class="am-fr">
             
          </div>
      </div>
      </div>
    </div>
  </div>
{/block}
{block name="JsFile"}
<script type="text/javascript" src="#"></script>
{/block}