<div id="AdjustDetail" class="am-form" style="display:none;margin-top:1.6rem;">

	<table class="am-table am-table-striped am-table-hover am-table-centered">
			<colgroup>
			    <col width="150">
			    <col width="200">
			    <col>
			</colgroup>
            <thead>
              <tr>
        			<th class="table-title">原始数据</th>
        			<th class="table-author am-hide-sm-only">现有数据</th>
        			<th class="table-date am-hide-sm-only">名称</th>
              </tr>
          </thead>
          <tbody id="tbo">
              <tr class="am-form-group am-form-inline am-form tableCopy" style="display:none">
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </tbody>
        </table>
  </div>
