<!-- 租金减免||break、空租、暂停计租||pause、陈欠核销||WriteOff、注销||cancel --> 
<form id="approveForm" style="margin-top:1.6rem;display:none;">
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-4">
      <label class="label_style" id="SerialNumber">房屋编号：</label>
    </div>
     <label class="p_style APhouseId"></label>
  </div>
  <div class="am-form-group am-u-md-6 LHide">
    <div class="am-u-md-4">
      <label class="label_style">楼栋编号：</label>
    </div>
     <label class="p_style APBanID"></label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">房屋地址：</label>
    </div>
     <label class="p_style APhouseAddress"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼层：</label>
    </div>
     <label class="p_style APFloorID"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ahide">
    <div class="am-u-md-6">
      <label class="label_style">承租人：</label>
    </div>
     <label class="p_style APtenantName"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ahide">
    <div class="am-u-md-6">
      <label class="label_style">联系电话：</label>
    </div>
     <label class="p_style APtenantTel"></label>
  </div>
    <div class="am-form-group am-u-md-4 Ahide">
    <div class="am-u-md-6">
      <label class="label_style">身份证号：</label>
    </div>
     <label class="p_style APtenantNumber"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-4">
      <label class="label_style">备案时间：</label>
    </div>
    <div class="am-u-md-8" style="padding-right: 0">
     <label class="p_style APcreateTime"></label>
   </div>
  </div>
  <div class="am-form-group am-u-md-4 Uhide">
    <div class="am-u-md-6">
      <label class="label_style">使用面积：</label>
    </div>
     <label class="p_style APhouseArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">产别：</label>
    </div>
     <label class="p_style AownerType"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ahide">
    <div class="am-u-md-6">
      <label class="label_style">计租面积：</label>
    </div>
     <label class="p_style APleasedArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">月租金：</label>
    </div>
     <label class="p_style HousePrerent"></label>
  </div>

<!--   <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">应收租金：</label>
    </div>
     <label class="p_style MuchMonth"></label>
  </div> -->
  <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">减免金额：</label>
    </div>
     <label class="p_style RemitRent"></label>
  </div>
  <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">减免类型：</label>
    </div>
     <label id="breakType" class="p_style"></label>
  </div>
  <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">减免时长：</label>
    </div>
     <label class="p_style MuchMonth"></label>
  </div>
  <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">证件号：</label>
    </div>
     <label id="IDNumber" class="p_style"></label>
  </div>

  <!--<div class="am-form-group am-u-md-12 pause">-->
    <!--<div class="am-u-md-2">-->
      <!--<label class="label_style">暂停类型：</label>-->
    <!--</div>-->
     <!--<label id="pauseType"></label>-->
  <!--</div>-->

  <div class="am-form-group am-u-md-12 WriteOff">
    <div class="am-u-md-2">
      <label class="label_style">核销起始时间：</label>
    </div>
     <label class="WriteOffStartTime">拆迁注销</label>
  </div>
  <div class="am-form-group am-u-md-12 WriteOff">
    <div class="am-u-md-2">
      <label class="label_style">核销结束时间：</label>
    </div>
     <label class="WriteOffEndTime">拆迁注销</label>
  </div>

  <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="layer-photos-demo" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="approveState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!--- 租金减免、空租、暂停计租、陈欠核销、注销结束 -->