<!-- 租金减免||break、空租、暂停计租||pause、陈欠核销||WriteOff、注销||cancel --> 
<form id="approveForm" style="margin-top:1.6rem;display:none;">
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-4">
      <label class="label_style" id="SerialNumber">房屋编号：</label>
    </div>
     <label class="p_style APhouseId"></label>
  </div>
  <div class="am-form-group am-u-md-6 LHide">
    <div class="am-u-md-4">
      <label class="label_style">楼栋编号：</label>
    </div>
     <label class="p_style APBanID"></label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">房屋地址：</label>
    </div>
     <label class="p_style APhouseAddress"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼层：</label>
    </div>
     <label class="p_style APFloorID"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ahide">
    <div class="am-u-md-6">
      <label class="label_style">承租人：</label>
    </div>
     <label class="p_style APtenantName"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ahide">
    <div class="am-u-md-6">
      <label class="label_style">联系电话：</label>
    </div>
     <label class="p_style APtenantTel"></label>
  </div>
    <div class="am-form-group am-u-md-4 Ahide">
    <div class="am-u-md-6">
      <label class="label_style">身份证号：</label>
    </div>
     <label class="p_style APtenantNumber"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-4">
      <label class="label_style">备案时间：</label>
    </div>
    <div class="am-u-md-8" style="padding-right: 0">
     <label class="p_style APcreateTime"></label>
   </div>
  </div>
  <div class="am-form-group am-u-md-4 Uhide">
    <div class="am-u-md-6">
      <label class="label_style">使用面积：</label>
    </div>
     <label class="p_style APhouseArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">产别：</label>
    </div>
     <label class="p_style AownerType"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ahide">
    <div class="am-u-md-6">
      <label class="label_style">计租面积：</label>
    </div>
     <label class="p_style APleasedArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">月租金：</label>
    </div>
     <label class="p_style HousePrerent"></label>
  </div>

<!--   <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">应收租金：</label>
    </div>
     <label class="p_style MuchMonth"></label>
  </div> -->
  <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">减免金额：</label>
    </div>
     <label class="p_style RemitRent"></label>
  </div>
  <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">减免类型：</label>
    </div>
     <label id="breakType" class="p_style"></label>
  </div>
  <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">减免时长：</label>
    </div>
     <label class="p_style MuchMonth"></label>
  </div>
  <div class="am-form-group am-u-md-12 breaks">
    <div class="am-u-md-2">
      <label class="label_style">证件号：</label>
    </div>
     <label id="IDNumber" class="p_style"></label>
  </div>

  <!--<div class="am-form-group am-u-md-12 pause">-->
    <!--<div class="am-u-md-2">-->
      <!--<label class="label_style">暂停类型：</label>-->
    <!--</div>-->
     <!--<label id="pauseType"></label>-->
  <!--</div>-->

  <div class="am-form-group am-u-md-12 WriteOff">
    <div class="am-u-md-2">
      <label class="label_style">核销起始时间：</label>
    </div>
     <label class="WriteOffStartTime">拆迁注销</label>
  </div>
  <div class="am-form-group am-u-md-12 WriteOff">
    <div class="am-u-md-2">
      <label class="label_style">核销结束时间：</label>
    </div>
     <label class="WriteOffEndTime">拆迁注销</label>
  </div>

  <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="layer-photos-demo" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="approveState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!--- 租金减免、空租、暂停计租、陈欠核销、注销结束 -->


<!-- 维修异动 -->
<form id="repairChange" class="am-form" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-md-6">
    <div class="am-u-md-3">
      <label class="label_style">楼栋编号：</label>
    </div>
    <label id="RCBanID"></label>
  </div>
  <div class="am-form-group am-u-md-6">
    <div class="am-u-md-4">
      <label class="label_style">房屋地址：</label>
    </div>
      <label id="RCBanAddress"></label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">异动原因：</label>
    </div>
      <label class="label_style" id="RCReason"></label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">维修类型：</label>
    </div>
    <label id="RCRepairType"></label>
  </div>

  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">异动前：</label>
    </div>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">使用性质：</label>
    </div>
     <label id="OldUseNature"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">产别：</label>
    </div>
     <label id="OldOwnerType"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">栋数：</label>
    </div>
     <label id="OldBanUnitNum"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">层次：</label>
    </div>
     <label id="OldBanFloorNum"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">结构：</label>
    </div>
     <label id="OldStructure"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">占地面积：</label>
    </div>
     <label id="OldCoveredArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">建筑面积：</label>
    </div>
     <label id="OldTotalArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">完损等级：</label>
    </div>
     <label id="OldDamageGrade"></label>
  </div>
 
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">异动后：</label>
    </div>
  </div>

  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">使用性质：</label>
    </div>
     <label id="UseNature"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">产别：</label>
    </div>
     <label id="OwnerType"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">栋数：</label>
    </div>
     <label id="BanUnitNum"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">层次：</label>
    </div>
     <label id="BanFloorNum"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">结构：</label>
    </div>
     <label id="Structure"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">占地面积：</label>
    </div>
     <label id="CoveredArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">建筑面积：</label>
    </div>
     <label id="TotalArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">完损等级：</label>
    </div>
     <label id="DamageGrade"></label>
  </div>

  <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="RepairPhotos" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="RepairState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!--- 维修异动结束 -->

<!--房屋调整-->
<form id="houseAdjust" class="am-form" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-md-12 Ehide">
    <div class="am-u-md-3">
      <label for="doc-vld-email-2" class="label_style">房屋编号：</label>
    </div>
      <label class="HouseID"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">楼栋编号：</label>
    </div>
     <label class="BanID"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">房屋地址：</label>
    </div>
     <label class="BanAddress"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">楼层：</label>
    </div>
     <label class="FloorID"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ehide">
    <div class="am-u-md-6">
      <label class="label_style">承租人：</label>
    </div>
     <label class="TenantName"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ehide">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">联系电话：</label>
    </div>
     <label class="TenantTel"></label>
  </div>
  
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">备案时间：</label>
    </div>
     <label class="CreateTime"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ehide">
    <div class="am-u-md-6">
      <label class="label_style">建筑面积：</label>
    </div>
     <label class="HouseArea"></label>
  </div>
  <div class="am-form-group am-u-md-4 Ehide">
    <div class="am-u-md-6">
      <label class="label_style">计租面积：</label>
    </div>
     <label class="LeasedArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">完损等级：</label>
    </div>
     <label class="DamageGrade"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">建筑结构：</label>
    </div>
     <label class="StructureType"></label>
  </div>
  <div class="am-form-group am-u-md-6 Ehide">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">身份证号：</label>
    </div>
     <label class="TenantID"></label>
  </div>
 <div class="am-form-group am-u-md-12 Dhide">
    <div class="am-u-md-2">
      <label>完损等级变更：</label>
    </div>
    <label class="DamageGradeChange">没找到数据</label>
  </div>

  <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="AdjustPhotos" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="AdjustState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!--房屋调整结束 -->
<!-- 房改开始 -->
<form id="HouseChange" style="margin-top:1.6rem;display:none;">
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">房屋编号：</label>
    </div>
     <label class="p_style CHouseId">010203040506</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼栋编号：</label>
    </div>
     <label class="p_style CBanID">010203040506</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">房屋地址：</label>
    </div>
     <label class="p_style CHouseAddress">我家达数千</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼层：</label>
    </div>
     <label class="p_style CFloor">010203040506</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">承租人：</label>
    </div>
     <label class="p_style CTenantName">冬冬</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">联系电话：</label>
    </div>
     <label class="p_style CTenantTel">010203040506</label>
  </div>
    <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">身份证号：</label>
    </div>
     <label class="p_style CTenantNumber">010203040506</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">建筑面积：</label>
    </div>
     <label class="p_style CArea">010203040506</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">计租面积：</label>
    </div>
     <label class="p_style CLeasedArea">010203040506</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">产别：</label>
    </div>
     <label class="p_style CType">自管产</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">使用性质：</label>
    </div>
     <label class="p_style CUseProp">住宅</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">房屋结构：</label>
    </div>
     <label class="p_style CHouseStructure">砖混一等</label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">建成年份：</label>
    </div>
     <label class="p_style CBuiltYear">9527</label>
  </div>

  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">产别：</label>
    </div>
     <label class="CType">自管产</label>
  </div>

  <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="ChangePhotos" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="ChangeState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!-- 房改结束 -->

<!-- 新发租开始(楼栋) -->
<div id="NLBan" class="am-form" style="display:none;margin-top:1.6rem;">

    <fieldset style="width:900px;">
    <div class="am-u-md-12" style="margin-bottom:20px;font-weight:bold;font-size:24px">楼栋信息</div>
    <div class="am-u-md-6">
    
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-email-2" class="label_style">楼栋编号：</label>
        <div class="am-u-md-8">
        <p class="detail_p_style" id="BanID">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-2" class="label_style">机构名称：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="TubulationID">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-email-2" class="label_style">产权证号：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="BanPropertyID">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-4" class="label_style">完损等级：</label>
        <div  class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="DamageGrade1">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">是否改造产：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="ReformIf">加载中</p>
        </div>
      </div>  

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">土地证号：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanLandID">加载中</p>
        </div>
      </div>      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">不动产证号：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanFreeholdID">加载中</p>
        </div>
      </div>  
        
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">总产数：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="TotalHouseHolds">加载中</p>
        </div>
      </div>  
<!--暂无相关信息-->
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">附属设施：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="SubsidiaryFacility">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">规定租金：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="PreRent">加载中</p>
        </div>
      </div>
      
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">楼栋地址：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="BanAddress">加载中</p>
        </div>
      </div>    
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">产权来源：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="PropertySource">加载中</p>
        </div>
      </div>        
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">楼栋产别：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="OwnerType"></p>
        </div>
      </div>
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">拆迁状态：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="RemoveStatus">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">文物保护单位：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="ProtectculturalIf">加载中</p>
        </div>
      </div>  
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">产权是否分割：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="CutIf">加载中</p>
        </div>
      </div>
      <div class="am-form-group am-u-md-12">
        <label for="imgReload" class="label_style">影像资料：</label>
      </div>
      <div class="am-form-group am-u-md-12">
          <img class="am-form-group am-u-md-12" id="BanImageIDS" src="" style="width:300px;height:150px;">
      </div>
      
    </div>
<!--左右分割-->   
    <div class="am-u-md-6">
      <div class="am-form-group am-u-md-12">

        <label for="doc-select-5" class="label_style">产别：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="OwnerTypex">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-email-2" class="label_style">建成年份：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="BanYear">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-7" class="label_style">使用性质：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="UseNaturex">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">结构类别：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="StructureTypex">加载中</p>
        </div>
      </div>
      <!--新加-->
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">单元数量：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanUnitNum">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">楼层数量：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanFloorNum">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">起始楼层：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanFloorStart">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">机构：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="TubulationID">加载中</p>
        </div>
      </div>  
    
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">楼栋维护费：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanRepairCost">加载中</p>
        </div>
      </div>  

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-name-2" class="label_style">企业建面：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style"  id="EnterpriseArea">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-email-2" class="label_style">机关建面：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style"  id="PartyArea">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-url-2" class="label_style">民用建面：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style"  id="CivilArea">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">合计建面：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="TotalArea">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">使用面积：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="BanUsearea">加载中</p>
        </div>
      </div>
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">历史优秀建筑：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="HistoryIf">加载中</p>
        </div>
      </div>      
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">经纬度：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="BanGpsXY">加载中</p>
        </div>
      </div>
      <div class="am-form-group am-u-md-12" id="allMap" style="border:1px solid red;height:280px;">

      </div>
    </div>
    <div class="am-u-md-12">
        <div class="am-u-md-12"><h2>房屋信息</h2></div>
        <ul class="am-u-md-12">
            <li class="am-u-md-3">房屋编号</li>
            <li class="am-u-md-3">租户</li>
            <li class="am-u-md-6">房屋状态</li>
        </ul>
        <ul>
          <li class="am-u-md-3">10400188880001</li>
          <li class="am-u-md-3">张三</li>
          <li class="am-u-md-3">未确认</li>
          <li class="am-u-md-3">明细</li>
        </ul>
    </div><!--房屋-->
    <div class="am-u-md-12">
       <div class="am-u-md-12"><h2>房间信息</h2></div>
        <ul class="am-u-md-12">
            <li class="am-u-md-3">房屋编号</li>
            <li class="am-u-md-3">房间编号</li>
            <li class="am-u-md-6">房间状态</li>
        </ul>
        <ul>
          <li class="am-u-md-3">10400188880001</li>
          <li class="am-u-md-3">张三</li>
          <li class="am-u-md-3">未确认</li>
          <li class="am-u-md-3">明细</li>
        </ul>
    </div>
      <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="AdjustPhotos" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="AdjustState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
    <div id="approveBan" class="am-u-md-12" style="padding-left:3rem;"></div>
    </fieldset>
  </div>
<!-- 新发租结束(楼栋) -->

<!-- 新发租开始(房屋) -->
<div id="NLHouse" class="am-form" style="display:none;margin-top:1.6rem;">

    <fieldset style="width:900px;">
    <div class="am-u-md-6">
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-email-2" class="label_style">房屋编号：</label>
        <div class="am-u-md-8">
        <p class="detail_p_style" id="NLHouseID">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-2" class="label_style">单元号</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="TubulationID">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-email-2" class="label_style">楼层号：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="BanPropertyID">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-4" class="label_style">产权证号：</label>
        <div  class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="DamageGrade">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">门牌号码：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="ReformIf">加载中</p>
        </div>
      </div>  

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">使用面积：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanLandID">加载中</p>
        </div>
      </div>      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">是否住改非：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanFreeholdID">加载中</p>
        </div>
      </div>  
        
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">计租面积：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="TotalHouseHolds">加载中</p>
        </div>
      </div>  
<!--暂无相关信息-->
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">规定租金：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="SubsidiaryFacility">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">应收租金：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="PreRent">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">减免租金：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="BanAddress">加载中</p>
        </div>
      </div>    
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-age-2" class="label_style">房屋影像：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="PropertySource">加载中</p>
        </div>
      </div>
    </div>
<!--左右分割-->   
    <div class="am-u-md-6">
      <div class="am-form-group am-u-md-12">

        <label for="doc-select-5" class="label_style">使用性质：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="OwnerType">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-email-2" class="label_style">泵费：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style" id="BanYear">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-7" class="label_style">维修费：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="UseNature">加载中</p>
        </div>
      </div>

      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">计算原价：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="StructureType">加载中</p>
        </div>
      </div>
      <!--新加-->
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">实际原价：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanUnitNum">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">租户姓名：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanFloorNum">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">欠租情况：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanFloorStart">加载中</p>
        </div>
      </div>
      
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">欠租原因：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="TubulationID">加载中</p>
        </div>
      </div>  
    
      <div class="am-form-group am-u-md-12">
        <label for="doc-select-8" class="label_style">户建面：</label>
        <div class="am-u-md-8" style="float:left;">
          <p class="detail_p_style" id="BanRepairCost">加载中</p>
        </div>
      </div>  

      <div class="am-form-group am-u-md-12">
        <label for="doc-vld-name-2" class="label_style">套内建面：</label>
        <div class="am-u-md-8">
          <p class="detail_p_style"  id="EnterpriseArea">加载中</p>
        </div>
      </div>
    </div>

    <div class="am-form-group am-u-md-12">
       <label class="label_style">房屋信息：</label>
    </div>
    <div class="am-form-group am-u-md-12">
       <div class="am-u-md-4">房屋编号</div>
       <div class="am-u-md-4">租户</div>
       <div class="am-u-md-4">明细</div>
    </div>
    <div class="am-form-group am-u-md-12">
       <div class="am-u-md-4">1230666</div>
       <div class="am-u-md-4">张珊</div>
       <div class="am-u-md-4">查看</div>
    </div>

    </fieldset>
  </div>
<!-- 新发租结束(房屋) -->

<!--管段调整开始-->
<form id="PipeAdjusted" style="margin-top:1.6rem;display:none;">
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style PipeAdjustedBan">楼栋编号：</label>
    </div>
     <label class="p_style PipeBanId"></label>
  </div>
  <div id="PipeAdjustBan">
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">房屋地址：</label>
    </div>
     <label class="p_style PipeHouseAddress"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">使用性质：</label>
    </div>
     <label class="p_style PipeUseNature"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">产别：</label>
    </div>
     <label class="p_style PipeType"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">栋数：</label>
    </div>
     <label class="p_style PipeUnitNumber"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">层次：</label>
    </div>
     <label class="p_style PipeFloorID"></label>
  </div>
    <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">结构：</label>
    </div>
     <label class="p_style PipeStructure"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">建筑面积：</label>
    </div>
     <label class="p_style PipeHouseArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">完损等级：</label>
    </div>
     <label class="p_style PipeDamageGrade"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">占地面积：</label>
    </div>
     <label class="p_style PipeCorverArea"></label>
  </div>
</div>
<div id="PipeAdjustHouse" style="display:none">
   <div class="am-form-group am-u-md-6">
    <div class="am-u-md-3">
      <label class="label_style">楼栋编号：</label>
    </div>
     <label id="PipeBanNumd"></label>
  </div>
  <div class="am-form-group am-u-md-6">
    <div class="am-u-md-3">
      <label for="doc-vld-email-2" class="label_style">房屋地址：</label>
    </div>
     <label id="PipeHouseAddressd"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">楼层：</label>
    </div>
     <label id="PipeLayerd"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">承租人：</label>
    </div>
     <label id="PipeRenterd"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label for="doc-vld-email-2" class="label_style">联系电话：</label>
    </div>
     <label id="PipePhoneNumd"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">身份证：</label>
    </div>
     <label id="PipeIDd"></label>
  </div>

  <div class="am-form-group am-u-md-8">
    <div class="am-u-md-3">
      <label for="doc-vld-email-2" class="label_style">备案时间：</label>
    </div>
     <label id="PipeTimed"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-8">
      <label class="label_style">建筑面积：</label>
    </div>
     <label id="PipeBulid"></label>
  </div>
  <div class="am-form-group am-u-md-4" style="float:left">
    <div class="am-u-md-7">
      <label class="label_style">计租面积：</label>
    </div>
    <label id="PipeRentArea"></label>
  </div> 
</div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">原管段：</label>
    </div>
     <label id="OldPipe"></label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">调整后管段：</label>
    </div>
     <label id="NewPipe"></label>
  </div>
  
  <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="PipePhotos" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="PipeState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!--管段调整结束-->

<!-- 追加调整开始 -->
<form id="AddAdjusted" style="margin-top:1.6rem;display:none;">
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">房屋编号：</label>
    </div>
     <label class="p_style AddHouseID"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼栋编号：</label>
    </div>
     <label class="p_style AddBanID"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">房屋地址：</label>
    </div>
     <label class="p_style AddBanAddress"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼层：</label>
    </div>
     <label class="p_style AddFloorID"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">承租人：</label>
    </div>
     <label class="p_style AddTenantName"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">联系电话：</label>
    </div>
     <label class="p_style AddTenantTel"></label>
  </div>
    <div class="am-form-group am-u-md-4">
    <div class="am-u-md-4">
      <label class="label_style">建筑面积：</label>
    </div>
     <label class="p_style AddHouseArea"></label>
  </div>
  <div class="am-form-group am-u-md-6">
    <div class="am-u-md-4">
      <label class="label_style">备案时间：</label>
    </div>
     <label class="p_style AddCreateTime"></label>
  </div>
  
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">计租面积：</label>
    </div>
     <label class="p_style AddLeasedArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">身份证号：</label>
    </div>
     <label class="p_style AddTenantNumber"></label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">追加起始时间：</label>
    </div>
     <label id="AddTime"></label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label class="label_style">追加金额：</label>
    </div>
     <label id="AddMoney"></label>
  </div>

  <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="AddPhotos" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="AddState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!-- 追加调整结束-->
<form id="RentAdjust" class="am-form" style="display:none;margin-top:20px;">
    <div class="am-form-group am-u-md-12">
    <div class="am-u-md-4">
      <label  class="label_style">房屋编号：</label><label id="AdjustHouseNum"></label>
    </div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label>楼栋编号：</label><label id="AdjustBanID"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>房屋地址：</label><label id="AdjustBanAddress"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>楼层：</label><label id="AdjustFloorID"></label>
    </div>
<!--     <div class="am-form-group am-u-sm-4">
      <label>房型：</label><label id="">5</label>
    </div> -->
    <div class="am-form-group am-u-sm-4">
      <label>承租人：</label><label id="AdjustTenantName"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>联系电话：</label><label id="AdjustTenantTel"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>身份证号：</label><label id="AdjustTenantNumber"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>备案时间：</label><label id="AdjustCreateTime"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>使用面积：</label><label id="AdjustHouseArea"></label>
    </div>
    
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>计租面积：</label><label id="AdjustLeasedArea"></label>
    </div>
    <div class="am-u-md-12">
      <div class="am-form-group am-u-sm-4 pd0">
      <label>产别：</label><label class="AdjustOwnType"></label>
      </div>
      <div class="am-form-group am-u-sm-8 mr0">
        <label>原租金：</label><label id="AdjustPrice"></label>
      </div>
      <div class="am-form-group am-u-sm-4 pd0">
        <label>产别：</label><label class="AdjustOwnTypeA"></label>
      </div>
      <div class="am-form-group am-u-sm-8">
        <label>原租金：</label><label id="AdjustPriceA"></label>
      </div>
    </div>
    <div class="am-u-md-12">
      <div class="am-form-group am-u-sm-4 pd0">
      <label>产别：</label><label class="AdjustOwnType"></label>
      </div>
      <div class="am-form-group am-u-sm-4 mr0" style="float:left">
        <label class="am-u-sm-3"  style="padding:0">原租金：</label><label id="AdjustNewPrice"></label>
      </div>
      </div>
      <div class="am-u-md-12">
      <div class="am-form-group am-u-sm-4 pd0">
        <label>产别：</label><label class="AdjustOwnTypeA"></label>
      </div>
       <div class="am-form-group am-u-sm-4 mr0" style="float:left">
        <label class="am-u-sm-3"  style="padding:0">原租金：</label><label id="AdjustNewPriceA"></label>
      </div>
    </div>
  </div><!--房屋编号-->
   <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="AddRentAdjust" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="AddRentState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!--租金调整 -->
<!--分户-->
  <form id="SplitHouse" class="am-form" style="display:none;margin-top:20px;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6"  style="font-weight:bold">
      分户原始房屋
    </div>
    </div>
    <div class="am-form-group am-u-md-12">
    <div class="am-u-md-12">
      <label  class="label_style">房屋编号：</label><label id="SplitHouseID"></label>
    </div>
  </div>
  <div class="am-form-group am-u-sm-12 mr0">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label>楼栋编号：</label><label id="SplitBanID"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>房屋地址：</label><label id="SplitBanAddress"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>楼层：</label><label id="SplitFloorID"></label>
    </div>
<!--     <div class="am-form-group am-u-sm-4">
      <label>房型：</label><label id="">5</label>
    </div> -->
    <div class="am-form-group am-u-sm-4">
      <label>承租人：</label><label id="SplitTenantName"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>联系电话：</label><label id="SplitTenantTel"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>身份证号：</label><label id="SplitTenantNumber"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>备案时间：</label><label id="SplitCreateTime"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>使用面积：</label><label id="SplitHouseArea"></label>
    </div>
    
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>计租面积：</label><label id="SplitLeasedArea"></label>
    </div> 
    <div class="am-form-group am-u-sm-12 am-u-end">
      <label class="fl">房间间号：</label>
      <ul class="SplitRoom">
        
      </ul>
    </div>
    
  </div><!--房屋编号-->
    <!--分户新增房屋-->
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6"  style="font-weight:bold">
      分户新增房屋
    </div>
    </div>
    <div class="am-form-group am-u-md-12">
    <div class="am-u-md-12">
      <label  class="label_style">房屋编号：</label><label id="SplitAddNum"></label>
    </div>
  </div>
  <div class="am-form-group am-u-sm-12 mr0">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label>楼栋编号：</label><label id="SplitAddID"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>房屋地址：</label><label id="SplitAddAddress"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>楼层：</label><label id="SplitAddFloor"></label>
    </div>
<!--     <div class="am-form-group am-u-sm-4">
      <label>房型：</label><label id="">5</label>
    </div> -->
    <div class="am-form-group am-u-sm-4">
      <label>承租人：</label><label id="SplitAddName"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>联系电话：</label><label id="SplitAddTel"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>身份证号：</label><label id="SplitAddNumber"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>备案时间：</label><label id="SplitAddTime"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>使用面积：</label><label id="SplitAddArea"></label>
    </div>
    
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>计租面积：</label><label id="SplitAddLeased"></label>
    </div>  
     <div class="am-form-group am-u-sm-12 am-u-end">
      <label class="fl">房间间号：</label>
      <ul class="SplitRoom2">
       
      </ul>
    </div>
  </div>
   <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="SplitFile" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="SplitFileState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!--分户结束-->
<!--并户-->
<form id="HouseHolds" class="am-form" style="display:none;margin-top:20px;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6"  style="font-weight:bold">
      并户保留房屋
    </div>
    </div>
    <div class="am-form-group am-u-md-12">
    <div class="am-u-md-12">
      <label  class="label_style">房屋编号：</label><label id="HoldsHouseNum"></label>
    </div>
  </div>
  <div class="am-form-group am-u-sm-12 mr0">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label>楼栋编号：</label><label id="HoldsBanID"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>房屋地址：</label><label id="HoldsBanAddress"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>楼层：</label><label id="HoldsFloorID"></label>
    </div>
<!--     <div class="am-form-group am-u-sm-4">
      <label>房型：</label><label id="">5</label>
    </div> -->
    <div class="am-form-group am-u-sm-4">
      <label>承租人：</label><label id="HoldsTenantName"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>联系电话：</label><label id="HoldsTenantTel"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>身份证号：</label><label id="HoldsTenantNumber"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>备案时间：</label><label id="HoldsCreateTime"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>使用面积：</label><label id="HoldsHouseArea"></label>
    </div>
    
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>计租面积：</label><label id="HoldsLeasedArea"></label>
    </div>  
    <div class="am-form-group am-u-sm-12 am-u-end">
      <label class="fl">房间间号：</label>
      <ul class="HoldRoom">
       
      </ul>
    </div>
  </div><!--房屋编号-->
    <!--并户注销房屋-->
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6"  style="font-weight:bold">
      并户注销房屋
    </div>
    </div>
    <div class="am-form-group am-u-md-12">
     <div class="am-u-md-12">
      <label  class="label_style">房屋编号：</label><label id="CancelNum"></label>
    </div>
  </div>
  <div class="am-form-group am-u-sm-12 mr0">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label>楼栋编号：</label><label id="CancelID"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>房屋地址：</label><label id="CancelAddress"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>楼层：</label><label id="CancelFloor"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>承租人：</label><label id="CancelName"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label>联系电话：</label><label id="CancelTel"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>身份证号：</label><label id="CancelNumber"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>备案时间：</label><label id="CancelTime"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>使用面积：</label><label id="CancelArea"></label>
    </div>
    
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label>计租面积：</label><label id="CancelLeased"></label>
    </div>  
    <div class="am-form-group am-u-sm-12 am-u-end">
      <label class="fl">房间间号：</label>
      <ul class="HoldRoom2">
       
      </ul>
    </div>
  </div>
   <div class="am-u-md-12" style="padding-left:0;">
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>查看附件：</label>
      </div>
      <div id="HouseHoldsFile" class="am-u-md-12"></div>
    </div>

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>
    <div id="HouseHoldsState" class="am-u-md-12" style="padding-left:3rem;"></div>
  </div>
</form>
<!--并户结束-->