<!-- 空租-->
<div id="emptyRent" class="am-form" style="display:none;margin-top:1.6rem;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
    <div class="am-u-sm-12">
        <div class="am-u-md-12">
          <label class="label_style">房屋编号：</label>
          <label class="label_content emptyRentHouseID"></label>
        </div>
    </div>
    <div class="am-u-sm-12">
        <div class="am-u-sm-4" style="padding-right: 0">
          <label class="label_style">楼栋编号：</label>
          <label class="label_content emptyRentBanID"></label>
        </div>
        <div class="am-u-sm-8">
          <label class="label_style">房屋地址：</label>
          <label class="label_content emptyRentAddress" style="width:476px;"></label>
        </div>
    </div>
    <div class="am-u-sm-12">
        <div class="am-u-sm-4">
          <label class="label_style"> 产别：</label>
          <label class="label_content emptyRentOwnertype"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">计租面积：</label>
          <label class="label_content emptyRentLeasedArea"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">使用面积：</label>
          <label class="label_content emptyRentHouseUsearea"></label>
        </div>

    </div>
    <div class="am-u-sm-12">
        <div class="am-u-sm-4">
          <label class="label_style">使用性质：</label>
          <label class="label_content emptyRentUseNature"></label>
        </div>
        
        <div class="am-u-sm-4">
          <label class="label_style">月租金：</label>
          <label class="label_content emptyRentHousePrerent"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">备案时间：</label>
          <label class="label_content emptyRentCreateTime"></label>
        </div>
    </div>
    <div class="am-u-sm-12">
        <div class="am-u-sm-12">
          <label class="label_style">异动事由：</label>
          <label class="label_content emptyRentReason"></label>
        </div>
    </div>

    <div class="am-form-group am-u-sm-12 empty_rent_cancel">
      <h2 class="label_title">租户信息：</h2>
    </div>
    <div class="am-u-sm-12 empty_rent_cancel">
        <div class="am-u-sm-4">
          <label class="label_style">租户ID：</label>
          <label class="label_content emptyRentTenantID"></label>
        </div>
    </div>
    <div class="am-u-sm-12 empty_rent_cancel">
        <div class="am-u-sm-4">
          <label class="label_style">租户姓名：</label>
          <label class="label_content emptyRentTenantName"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">身份证号：</label>
          <label class="label_content emptyRentTenantNumber"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">联系电话：</label>
          <label class="label_content emptyRentTenantTel"></label>
        </div>
    </div>



    <div class="am-u-md-12" style="padding-left:0;">
        <div class="am-form-group am-u-sm-12 status_2" style="display:none;">
            <div class="am-u-sm-12"><hr /></div>
            <h2 class="label_title">上传附近：</h2>
        </div>

        <div class="am-form-group am-u-sm-12 status_2" style="display:none;">
            <div class="am-form-group am-u-sm-3">
              <label>空租情况说明报告：</label>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                  <input id="descriptionReport" type="file" name="descriptionReport" multiple>
            </div>
            <div id="descriptionReportShow" class="am-u-md-12 img_content"></div>
        </div>
        <div class="am-form-group am-u-sm-12 status_2" style="display:none;">
            <div class="am-form-group am-u-sm-3">
              <label>个人退房申请：</label>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                  <input id="personalCheckApplication" type="file" name="personalCheckApplication" multiple>
            </div>
            <div id="personalCheckApplicationShow" class="am-u-md-12 img_content"></div>
        </div>
        <div class="am-form-group am-u-sm-12 status_2" style="display:none;">
            <div class="am-form-group am-u-sm-3">
              <label>单位退房申请：</label>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                  <input id="unitCheckApplication" type="file" name="unitCheckApplication" multiple>
            </div>
            <div id="unitCheckApplicationShow" class="am-u-md-12 img_content"></div>
        </div>
        <div class="am-form-group am-u-sm-12 status_2" style="display:none;">
            <div class="am-form-group am-u-sm-3">
              <label>租户租约：</label>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                  <input id="tenantLease" type="file" name="tenantLease" multiple>
            </div>
            <div id="tenantLeaseShow" class="am-u-md-12 img_content"></div>
        </div>
        <div class="am-form-group am-u-sm-12 status_2" style="display:none;">
            <div class="am-form-group am-u-sm-3">
              <label>租户身份证：</label>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                  <input id="tenantIDFile" type="file" name="tenantIDFile" multiple>
            </div>
            <div id="tenantIDFileShow" class="am-u-md-12 img_content"></div>
        </div>
        <div class="am-form-group am-u-sm-12 status_2" style="display:none;">
            <div class="am-form-group am-u-sm-3">
              <label>其他：</label>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                  <input id="emptyRentOther" type="file" name="emptyRentOther" multiple>
            </div>
            <div id="emptyRentOtherShow" class="am-u-md-12 img_content"></div>
        </div>
        <div class="am-u-sm-12"><hr /></div>
        <div class="am-form-group am-u-sm-12">
            <h2 class="label_title">查看附件：</h2>
        </div>
        <div class="am-form-group am-u-sm-12">
            <div id="emptyRentPhotos" class="am-u-md-12" style="margin-bottom:30px;"></div>
        </div>

        <div class="am-form-group am-u-sm-12">
            <h2 class="label_title">审批状态：</h2>
        </div>
        <div id="emptyRentState" class="am-u-md-12" style="padding-left:3rem;"></div>
    </div>
</div>