<!-- 租金减免明细-->
<div id="rentAdd" class="am-form" style="display:none;margin-top:1.6rem;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
    <div class="am-u-sm-12">
        <div class="am-u-md-12">
          <label class="label_style">房屋编号：</label>
          <label class="label_content rentAddHouseID"></label>
        </div>
    </div>
    <div class="am-u-sm-12">
        <div class="am-u-sm-4">
          <label class="label_style">楼栋编号：</label>
          <label class="label_content rentAddBanID"></label>
        </div>
        <div class="am-u-sm-8">
          <label class="label_style">房屋地址：</label>
          <label class="label_content rentAddAddress"></label>
        </div>
    </div>
    <div class="am-u-sm-12">
        <div class="am-u-sm-4">
          <label class="label_style">使用性质：</label>
          <label class="label_content rentAddUseNature"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">使用面积：</label>
          <label class="label_content rentAddHouseUseArea"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">计租面积：</label>
          <label class="label_content rentAddLeasedArea"></label>
        </div>
    </div>
    <div class="am-u-sm-12">
        <div class="am-u-sm-4">
          <label class="label_style">承租人：</label>
          <label class="label_content rentAddTenantName"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">身份证号：</label>
          <label class="label_content rentAddTenantNumber"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">联系电话：</label>
          <label class="label_content rentAddTenantTel"></label>
        </div>
    </div>

    <div class="am-u-sm-12">
        <div class="am-u-sm-8">
          <label class="label_style">产别：</label>
          <label class="label_content rentAddOwnerType"></label>
        </div>
    </div>


    <div class="am-form-group am-u-sm-12 rent_reduction">
      <h2 class="label_title">追加金额：</h2>
    </div>

    <div class="am-form-group am-u-sm-12">
        <div class="am-u-sm-4">
          <label class="label_style">以前年：</label>
          <label class="label_content rentAddYear"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">以前月：</label>
          <label class="label_content rentAddMonth"></label>
        </div>
        <div class="am-u-sm-4">
          <label class="label_style">异动事由：</label>
          <label class="label_content rentAddReason"></label>
        </div>
    </div>

    <div class="am-u-md-12" style="padding-left:0;">
        <div class="am-form-group am-u-sm-12">
            <h2 class="label_title">审批状态：</h2>
        </div>
        <div id="rentAddState" class="am-u-md-12" style="padding-left:3rem;"></div>
    </div>
</div>