<!-- 楼栋注销 S -->
<div id="rentcancel" class="am-form" style="display:none;margin-top:1.6rem;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
	<div class="am-u-sm-12">
	    <div class="am-form-group am-u-md-12">
	      <label class="label_style">楼栋编号：</label>
	      <input type="number" id="rentcancelQueryBan" readonly class="label_input" style="width: 158px;" placeholder="">
	    </div>
	</div>
	<div class="am-u-sm-12">
	    <div class="am-form-group am-u-sm-12">
	      <label class="label_style">楼栋地址：</label>
	      <label id="rentcancelAddress" class="label_p_style" style="width:470px;"></label>
	    </div>
	  </div>
      <div class="am-u-sm-12">
          <div class="am-form-group am-u-sm-12">
            <label class="label_style">异动事由：</label>
            <input id="rentcancelReason" readonly class="label_input" style="width:470px;">
          </div>    
       </div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基数异动：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <table class="am-table am-table-bordered  am-table-hover">
	  <thead>
		  <tr>
			<th>楼栋编号</th>
			<th>异动状态</th>
			<th class="cancels">规定租金</th>
			<th class="cancels">使用面积</th>
			<th class="cancels">建筑面积</th>
			<th class="cancels">房屋原价</th>
		  </tr>
	  </thead>
	  <tbody>
		<tr>
		  <td id="floor_number_rentcancel"></td>
		  <td>异动前</td>
		  <td class="cancel_before_1" id="floor_prescribed"><input type="hidden" name="floor_prescribed" value=""><label></label></td>
		  <td class="cancel_before_2" id="floor_areaofuse"><input type="hidden" name="floor_areaofuse" value=""><label></label></td>
		  <td class="cancel_before_3" id="floor_builtuparea"><input type="hidden" name="floor_builtuparea" value=""><label></label></td>
		  <td class="cancel_before_4" id="floor_original"><input type="hidden" name="floor_original" value=""><label></label></td>
		</tr>
		<tr>
		  <td></td>
		  <td>异动</td>
		  <td class="cancel_change_1"><input type="hidden" name="cancel_change_1" value=""><label></label></td>
		  <td class="cancel_change_2"><input type="hidden" name="cancel_change_2" value=""><label></label></td>
		  <td class="cancel_change_3"><input type="hidden" name="cancel_change_3" value=""><label></label></td>
		  <td class="cancel_change_4"><input type="hidden" name="cancel_change_4" value=""><label></label></td>
		</tr>
		<tr>
		  <td></td>
		  <td>异动后</td>
		  <td class="cancel_after_1" id="changes_floor_prescribed"><input type="hidden" name="changes_floor_prescribed" value=""><label></label></td>
		  <td class="cancel_after_2" id="changes_floor_areaofuse"><input type="hidden" name="changes_floor_areaofuse" value=""><label></label></td>
		  <td class="cancel_after_3" id="changes_floor_builtuparea"><input type="hidden" name="changes_floor_builtuparea" value=""><label></label></td>
		  <td class="cancel_after_4" id="changes_floor_original"><input type="hidden" name="changes_floor_original" value=""><label></label></td>
		</tr>
	  </tbody>
	</table>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">注销明细：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
	 <table class="am-table am-table-bordered  am-table-hover j-house-box">
	 	  <thead>
	 		  <tr>
	 		    <th>房屋编号</th>
	 		    <th>承租人</th>
	 		    <th>房屋原价</th>
	 		    <th>建筑面积</th>
	 		    <th>规定租金</th>
	 		    <th>计租面积</th>
	 		  </tr>
	 	  </thead>
	 	  <tbody>
			  
		  </tbody>
	 	</table>
  </div>
  <div class="am-u-md-12" style="padding-left:0;">
        <div class="am-u-sm-12"><hr /></div>
        <div class="am-form-group am-u-sm-12">
            <h2 class="label_title">查看附件：</h2>
        </div>
        <div class="am-form-group am-u-sm-12">
            <div id="rentcancelPhotos" class="am-u-md-12" style="margin-bottom:30px;"></div>
        </div>
  
        <div class="am-form-group am-u-sm-12">
            <h2 class="label_title">审批状态：</h2>
        </div>
        <div id="rentcancelState" class="am-u-md-12" style="padding-left:3rem;"></div>
    </div>
</div>
<!--- 楼栋注销 E -->