<form id="RenameForm" style="margin-top:1.6rem;display:none;">
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-2">
      <label for="doc-vld-email-1" class="label_style">房屋编号：</label>
    </div>
    <div class="am-u-md-4">
      <input type="text" name="" id="getInfo_1" placeholder="房屋编号" required/>
    </div>
    <div class="am-u-md-2 am-u-end">
      <a class="am-btn" id="queryAction">查询</a>
    </div>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-1" style="line-height:32px;">
      <input type="checkbox" name="" id="doc-vld-email-1" />
    </div>
    <label for="doc-vld-email-2">1、房屋编号</label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-1" style="line-height:32px;">
      <input type="checkbox" name="" id="doc-vld-email-2" />
    </div>
    <label for="doc-vld-email-3">2.承租人房屋使用权没有争议</label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-1" style="line-height:32px;">
      <input type="checkbox" name="" id="doc-vld-email-3" />
    </div>
    <label for="doc-vld-email-2">3.承租人不存在拖欠房屋租金</label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-1" style="line-height:32px;">
      <input type="checkbox" name="" id="doc-vld-email-4" />
    </div>
    <label for="doc-vld-email-2">4.承租人未擅自拆改房屋结构</label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-1" style="line-height:32px;">
      <input type="checkbox" name="" id="doc-vld-email-5" />
    </div>
    <label for="doc-vld-email-2">5.不是成套独用住房变为成套伙用住房</label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-1" style="line-height:32px;">
      <input type="checkbox" name="" id="doc-vld-email-6" />
      </div>
    <label for="doc-vld-email-2">6.承租人有本市城镇户籍</label>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-md-1" style="line-height:32px;">
      <input type="checkbox" name="" id="doc-vld-email-7" />
    </div>
    <label for="doc-vld-email-2">7.不属于国家和本市规定不得变更的其他情形</label>
  </div>
  <div class="am-form-group am-u-md-12">
    <label for="doc-vld-email-2" style="color:red;">变更前，请确认以上信息；否则无法申请使用权变更！</label>
  </div>
  <div class="am-form-group am-u-md-6">
    <h1 style="text-align:center;margin-bottom:0;margin-top:2rem;">当前信息</h1>
    <div class="am-form-group am-u-md-12">
       <label>租户ID:</label><label class="tenantID"></label>
    </div>
    <div class="am-form-group am-u-md-12">
       <label>租户姓名:</label><label class="tenantName"></label>
    </div>
    <div class="am-form-group am-u-md-12">
       <label>租户电话:</label><label class="tenantTel" id="oldTel1"></label>
    </div>
  </div>
  <div class="am-form-group am-u-md-6">
    <h1 style="text-align:center;margin-bottom:0;margin-top:2rem;">变更信息</h1>
    <div class="am-form-group am-u-md-12">
       <label>租户ID:</label><label class="tenantID"></label>
    </div>
    <div class="am-form-group am-u-md-12">
      <label for="doc-vld-email-2" class="label_style">租户姓名：</label>
      <div class="am-u-sm-7" style="padding:0;">
        <input id="newName" style="width:100%;" type="text" name="" required/>
      </div>
    </div>
    <div class="am-form-group am-u-md-12">
       <label>租户电话:</label><label class="tenantTel" id="newTel1"></label>
    </div>
  </div>
</form>