<!-- 新增租金减免、空租、暂停计租、陈欠核销、注销-->
<form id="derateApplyForm" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label id="houseLabel" class="label_style">房屋编号：</label>
      <input id="getInfo_1" class="label_input" required/>
      <button class="am-btn am-btn-primary am-btn-sm" id="DQueryData">查询</button>
    </div>
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label class="label_style">楼栋编号：</label>
      <label id="BanID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">房屋地址：</label>
      <label id="BanAddress" class="label_content label_p_style" style="width:476px;"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">楼层：</label>
      <label id="FloorID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 Hhide">
      <label class="label_style">承租人：</label>
      <label id="TenantName" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 Hhide">
      <label class="label_style">联系电话：</label>
      <label id="TenantTel" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 ">
      <label class="label_style">备案时间：</label>
      <label id="CreateTime" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 uHide">
      <label class="label_style">使用面积：</label>
      <label id="HouseArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 Hhide">
      <label class="label_style">身份证号：</label>
      <label id="TenantNumber" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 uShow" style="display: none">
      <label class="label_style">产别：</label>
      <label id="OwnerTypec" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 Hhide">
      <label class="label_style">计租面积：</label>
      <label id="LeasedArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 breaks">
      <label class="label_style"> 产别：</label>
      <label id="OwnTypeD" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end breaks">
      <label class="label_style">原金额：</label>
      <label id="oldPo" class="label_p_style"></label>
    </div>
  </div>

  <div class="am-form-group am-u-sm-12">
      <h2 class="label_title">填报信息：</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-u-sm-4 breaks">
        <label class="label_style">减免金额：</label>
        <input name="RemitRent" id="RemitRent" class="label_input" placeholder="减免金额"/>
    </div>
    <div class="am-u-sm-4 breaks">
        <label class="label_style">减免类型：</label>
        <select name="CutType" id="CutType" class="label_select" required>
            <option  value="" style="display:none">请选择</option>
            <?php foreach($cutTypeLst as $v1){;?>
            <option value="{$v1['id']}"><?php echo $v1['CutName']; ?></option>
            <?php }; ?>
        </select>
    </div>
    <div class="am-form-group am-u-sm-4 breaks">
        <label class="label_style">证件号：</label>
        <input name="IDnumber" class="label_input" id="IDnumber" />
    </div>
    <div class="am-form-group am-u-sm-12 breaks">
      <label class="label_style">有效期：</label>
      <select name="validity" id="validity" class="label_select">
          <option  value="" style="display:none">请选择</option>
          <option value="1">1个月</option>
          <option value="2">2个月</option>
          <option value="3">3个月</option>
          <option value="4">4个月</option>
          <option value="5">5个月</option>
          <option value="6">6个月</option>
          <option value="7">7个月</option>
          <option value="8">8个月</option>
          <option value="9">9个月</option>
          <option value="10">10个月</option>
          <option value="11">11个月</option>
          <option value="12">12个月</option>
      </select>
    </div>
    <div class="am-form-group am-u-sm-12 breaks">
        <label class="label_style">证件上传：</label>
          <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="ID" type="file" name="ID" multiple>
          </div>
          <div id="IDShow" class="am-u-md-12 img_content"></div>
    </div>
  </div>


   <div class="am-form-group am-u-sm-12 CutHide" style="display: none;">
    <div class="am-form-group am-u-sm-3">
     <label> 产别：<span  id="AOwnTypeD"></span></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <input type="number" name="ARemitRent" id="ARemitRent" class="am-u-sm-6" placeholder="减免金额"/>
    </div>
    <div class="am-form-group am-u-sm-5">
      <label class="am-u-sm-8">原金额：<span id="oldPt"></span></label>
    </div>
  </div>

  <div class="am-form-group am-u-sm-12 CancelRent">
      <label class="label_style">注销类型：</label>
      <select name="CancelType" id="CancelType" class="label_p_style">
        <option value="1">房屋出售</option>
        <option value="2">危改拆除</option>
        <option value="3">落私发还</option>
        <option value="4">自然灭失</option>
        <option value="5">房屋划转</option>
        <option value="6">其他</option>
      </select>
  </div>

  <div class="am-form-group am-u-sm-12">
      <h2 class="label_title">资料上传：</h2>
  </div>
  <div class="am-form-group am-u-sm-12 breaks">
    <div class="am-form-group am-u-sm-3">
      <label>租金核减审核表：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="AppForm" type="file" name="AppForm" multiple>
        </div>
        <div id="AppFormShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12 breaks">
    <div class="am-form-group am-u-sm-3">
      <label>资金核减申请书：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="AppBook" type="file" name="AppBook" multiple>
        </div>
        <div id="AppBookShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12 breaks">
    <div class="am-form-group am-u-sm-3">
      <label>户口簿：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="ReBooklet" type="file" name="ReBooklet" multiple>
        </div>
        <div id="ReBookletShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12 breaks">
    <div class="am-form-group am-u-sm-3">
      <label>住房租约：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="HouseLease" type="file" name="HouseLease" multiple>
        </div>
        <div id="HouseLeaseShow" class="am-u-md-12 img_content"></div>
  </div>

  <div class="am-form-group am-u-sm-12 EmptyRent">
    <div class="am-form-group am-u-sm-3">
      <label>空租报告：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="EmptyReport" type="file" name="EmptyReport" multiple>
        </div>
        <div id="EmptyReportShow" class="am-u-md-12 img_content"></div>
  </div>

  <div class="am-form-group am-u-sm-12 PauseRent">
    <div class="am-form-group am-u-sm-3">
      <label>暂停计租报告：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="SuspendReport" type="file" name="SuspendReport" multiple>
        </div>
        <div id="SuspendReportShow" class="am-u-md-12 img_content"></div>
  </div>

  <div class="am-form-group am-u-sm-12 CancelRent">
    <div class="am-form-group am-u-sm-3">
      <label>新增注销材料：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="CancelReport" type="file" name="CancelReport" multiple>
        </div>
        <div id="CancelReportShow" class="am-u-md-12 img_content"></div>
  </div>

  <div class="am-form-group am-u-sm-12 WriteOff">
    <div class="am-form-group am-u-sm-3">
      <label>核销起始时间：</label>
    </div>
    <div class="am-u-md-3 am-u-end">
      <input type="text" name="DateStart" data-am-datepicker="{format: 'yyyy-mm', viewMode: 'months', minViewMode: 'months'}" />
    </div>
  </div>

  <div class="am-form-group am-u-sm-12 WriteOff">
    <div class="am-form-group am-u-sm-3">
      <label>核销结束时间：</label>
    </div>
    <div class="am-u-md-3 am-u-end">
      <input type="text" name="DateEnd" data-am-datepicker="{format: 'yyyy-mm', viewMode: 'months', minViewMode: 'months'}" />
    </div>
  </div>
  <div class="am-form-group am-u-sm-12 WriteOff">
    <div class="am-form-group am-u-sm-3">
      <label>陈欠核销报告：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="WriteOffReport" type="file" name="WriteOffReport" multiple>
        </div>
        <div id="WriteOffShow" class="am-u-md-12 img_content"></div>
  </div>
</form>

<form id="pauseRent" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label id="houseLabel" class="label_style">房屋编号：</label>
      <a class="am-btn am-btn-primary am-btn-sm" id="pauseHouseQuery">查询</a>
    </div>
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label class="label_style">楼栋编号：</label>
      <label id="pauseBanID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">房屋地址：</label>
      <label id="pauseBanAddress" class="label_content label_p_style" style="width:476px;"></label>
    </div>
    <div class="am-form-group am-u-sm-4 ">
      <label class="label_style">楼栋产别：</label>
      <label id="pauseOwnerType" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">暂停租金：</label>
      <label id="pauseHousePrerent" class="label_content label_p_style"></label>
    </div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">房屋明细：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
      <table class="am-table am-table-striped am-table-hover am-table-centered am-table-compact overflow_tbody" style="border:1px solid #ccc;">
          <thead style="display:block;">
              <tr>
                  <td style="width:200px;">#</td>
                  <td style="width:200px;" class="am-hide-sm-only">房屋编号</td>
                  <td style="width:200px;" class="am-hide-sm-only">承租人</td>
                  <td style="width:350px;" class="am-hide-sm-only">月租金</td>
              </tr>
          </thead>
          <tbody id="pauseHouseDetail" style="height:200px;display:block;overflow-y:scroll;">


          </tbody>
      </table>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">资料上传：</h2>
  </div>
  <div class="am-form-group am-u-sm-12 PauseRent">
      <div class="am-form-group am-u-sm-3">
          <label>非基数异动核算凭单：</label>
      </div>
      <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="pauseMaterial" type="file" name="pauseMaterial" multiple>
      </div>
      <div id="pauseMaterialShow" class="am-u-md-12 img_content"></div>
  </div>
</form>

<!-- 维修异动 -->
<form id="repairChange" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-form-group am-u-md-12">
        <label class="label_style">楼栋编号：</label>
        <input type="text" name="BanID" id="houseID" class="label_input" placeholder="楼栋编号" required/>
        <button id="DRquery" class="am-btn am-btn-primary am-btn-sm">查询</button>
    </div>
    <div class="am-form-group am-u-md-12">
        <h2 class="label_title">异动前</h2>
    </div>
    <div class="am-form-group am-u-md-4">
      <label class="label_style">使用性质：</label>
      <label id='RUseNature' class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-8">
      <label class="label_style">房屋地址：</label>
      <label id="RCBanAddress" class="label_content label_p_style" style="width:474px;"></label>
    </div>
    <div class="am-form-group am-u-md-4">
      <label class="label_style">产别：</label>
      <label id="ROwnerType" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
      <label class="label_style">栋数：</label>
      <label id="RBanFloorNum" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
      <label class="label_style">层次：</label>
      <label id="RBanUnitNum" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
      <label class="label_style">结构：</label>
      <label id="RCStructureType" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
      <label class="label_style">占地面积：</label>
      <label id="RCoveredArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
      <label class="label_style">建筑面积：</label>
      <label id="RTotalArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
      <label class="label_style">完损等级：</label>
      <label id="RCDamageGrade" class="label_content label_p_style"></label>
    </div>
   
    <div class="am-form-group am-u-md-12">
      <h2 class="label_title">异动后</h2>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">使用性质：</label>
        <select name="useProp" class="label_select" required>
            <option  value="" style="display:none">请选择</option>
            <?php foreach($natureLst as $v0){;?>
            <option value="{$v0['id']}"><?php echo $v0['UseNature']; ?></option>
            <?php }; ?>
        </select>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">产别：</label>
        <select name="proCate" class="label_select" required>
            <option  value="" style="display:none">请选择</option>
            <?php foreach($owerLst as $v2){;?>
            <option value="{$v2['id']}"><?php echo $v2['OwnerType']; ?></option>
            <?php }; ?>
        </select>
    </div>
    <div class="am-form-group am-u-md-4">
      <label class="label_style">栋数：</label>
      <input type="text" name="NumOfBuild" class="label_input"  required/>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">层次：</label>
        <input name="level" class="label_input" type="number" />
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">结构：</label>
        <select name="BuildStructure" class="label_select" required>
            <option  value="" style="display:none">请选择</option>
            <?php foreach($structureLst as $v3){;?>
            <option value="{$v3['id']}"><?php echo $v3['StructureType']; ?></option>
            <?php }; ?>
        </select>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">占地面积：</label>
        <input type="text" name="CoversArea" class="label_input"  required/>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">建筑面积：</label>
        <input type="text" name="BuildArea" class="label_input"  required/>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">完损等级：</label>
        <select name="LossLevel" class="label_select" required>
            <option  value="" style="display:none">请选择</option>
            <?php foreach($damaLst as $v4){;?>
            <option value="{$v4['id']}"><?php echo $v4['DamageGrade']; ?></option>
            <?php }; ?>
        </select>
    </div>

    <div class="am-form-group am-u-md-12">
        <label class="label_style">异动原因：</label>
        <textarea name="changeReason" style="width:784px;border:1px solid #D6E2F6;"></textarea>
    </div>
    <div class="am-form-group am-u-md-12">
        <label class="label_style">维修类型：</label>
        <select name="repairType" class="label_select">
            <option  value="" style="display:none">请选择</option>
            <option  value="1" >翻修</option>
            <option  value="2" >重建</option>
        </select>
    </div>
  </div>

  <div class="am-form-group am-u-md-12">
    <h2 class="label_title">异动后</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-form-group am-u-sm-12">
      <div class="am-form-group am-u-sm-3">
        <label>房屋勘察表：</label>
      </div>
      <div class="am-form-group am-form-file am-u-md-5">
        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
        <input id="survey" type="file" name="survey" multiple>
      </div>
      <div id="surveyShow" class="am-u-md-12 img_content"></div>
    </div>
    <div class="am-form-group am-u-sm-12">
      <div class="am-form-group am-u-sm-3">
        <label>图卡：</label>
      </div>
      <div class="am-form-group am-form-file am-u-md-5">
        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
        <input id="pic" type="file" name="pic" multiple>
      </div>
      <div id="picShow" class="am-u-md-12 img_content"></div>
    </div>
  </div>
</form>
<!--- 维修异动结束 -->
<!--新增房屋调整-->
<form id="houseAdjust" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-form-group am-u-md-12">
        <label class="label_style Ahouse">房屋编号：</label>
        <input type="text" name="HouseID" id="AdjustHouseID" class="label_input" placeholder="楼栋编号" required/>
        <button id="DAquery" class="am-btn am-btn-primary am-btn-sm">查询</button>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">楼栋编号：</label>
        <label id="ABanID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-8">
        <label class="label_style">房屋地址：</label>
        <label id="ABanAddress" class="label_content label_p_style" style="width:476px;"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">楼层：</label>
        <label id="AFloorID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4 Ahide">
        <label class="label_style">承租人：</label>
        <label id="ATenantName" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4 Ahide">
        <label class="label_style">联系电话：</label>
        <label id="ATenantTel" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4 Ahide">
        <label class="label_style">身份证号：</label>
        <label id="ATenantNumber" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4 Ahide">
        <label class="label_style">使用面积：</label>
       <label id="ALeaseArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4 Ahide">
        <label class="label_style">建筑面积：</label>
       <label id="AHouseArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4 Ahide">
        <label class="label_style">计租面积：</label>
       <label id="ALeasedArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">完损等级：</label>
       <label id="ADamageGrade" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">建筑结构：</label>
       <label id="AStructureType" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4 am-u-end">
        <label class="label_style">备案时间：</label>
       <label id="ACreateTime" class="label_content label_p_style"></label>
    </div>
  </div>

  <div class="am-form-group am-u-md-12">
    <h2 class="label_title">填报信息</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-form-group am-u-md-4 am-u-end">
        <label>完损等级：</label>
          <select name="LevelChange" id="doc-select-4" class="label_select" required>
              <option  value="" style="display:none">请选择</option>
              <?php foreach($damaLst as $k2 =>$v2){; ?>
              <option value="{$v2['id']}"><?php echo $v2['DamageGrade']; ?></option>
              <?php }; ?>
          </select>
    </div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">提交材料：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3">
      <label>房屋勘察表：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="AdjustSurvey" type="file" name="AdjustSurvey" multiple>
    </div>
    <div id="AdjustSurveyShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3">
      <label>图卡：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="AdjustPic" type="file" name="AdjustPic" multiple>
    </div>
    <div id="AdjustPicShow" class="am-u-md-12 img_content"></div>
  </div>
</form>
<!-- 新增房屋调整结束 -->

<!-- 新增新发租开始 -->
<form id="NewLease" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-form-group am-u-md-12">
        <label id="NLIDName" class="label_style">房屋编号：</label>
        <input type="text" name="HouseID" id="NLHouseID" class="label_input" required/>
        <button id="NLAquery" class="am-btn am-btn-primary am-btn-sm NLShow">查询</button>
    </div>

    <div class="am-form-group am-u-md-12 addBuild">
      <div class="am-u-md-2">
        <label id="" class="label_style">房屋编号：</label>
      </div>
      <div class="am-u-md-3" style="margin-bottom:10px">
        <input type="text" name="buildID_1" id="NLHouseID_1" placeholder="房屋编号" required/>
      </div>
      <div><img src="/public/static/gf/icons/addh.png" id="addH" width="28px"></div>
      <div class="addB am-u-md-12" style="padding-left:0;"></div>
    </div>

    <div class="NLShow">
      <div class="am-form-group am-u-md-4">
          <label class="label_style">使用性质：</label>
          <label id="NLUseNature" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-md-8">
          <label for="doc-vld-email-2" class="label_style">房屋地址：</label>
          <label id="NLBanAddress" class="label_content label_p_style" style="width:474px;"></label>
      </div>

      <div class="am-form-group am-u-md-4">
          <label class="label_style">层数：</label>
          <label id="FloorIDo" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-md-4">
          <label class="label_style">层次：</label>
          <label id="NLFloorID" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-md-4">
          <label class="label_style">产别：</label>
          <label id="NLOwnerType" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-md-4">
          <label class="label_style">结构：</label>
          <label id="NLStructureType" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-md-4">
          <label class="label_style">建筑面积：</label>
          <label id="NLHouseArea" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-md-4">
          <label class="label_style">户数：</label>
          <label class="label_p_style"></label>
      </div>
      <div class="am-form-group am-u-md-4">
          <label class="label_style">完损等级：</label>
          <label id="NLDamageGrade" class="label_content label_p_style"></label>
      </div>

      <div class="am-form-group am-u-md-12">
          <h2 class="label_title">新发租：</h2>
      </div>

     <div class="am-form-group am-u-md-12">
          <label class="label_style">租户编号：</label>
          <input type="number" id="TenantInput" class="label_input" />
          <button id="DQTenant" class="am-btn am-btn-primary am-btn-sm NLShow">查询</button>
      </div>
      <div class="am-form-group am-u-md-4">
          <label class="label_style">住户姓名：</label>
          <label id="TenantNameO" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-md-4 am-u-end">
          <label class="label_style">联系方式：</label>
          <label id="TenantTelO" class="label_content label_p_style"></label>
      </div>
    </div>

  </div>


  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">提交材料：</h2>
  </div>
  <div class="expand" style="display:none">   
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-3">
        <label for="doc-vld-email-2" id="" class="label_style2">正常房间：</label>
      </div>
      <ul class="am-u-md-9 expand-ul nomalRoom text-blue" >
          
      </ul>
    </div>
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-3">
        <label for="doc-vld-email-2" id="" class="label_style2">修改房间：</label>
      </div>
      <ul class="am-u-md-9 expand-ul modifyRoom text-blue">
          
      </ul>
    </div>
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-3">
        <label for="doc-vld-email-2" class="label_style2">未确认房间：</label>
      </div>
      <ul class="am-u-md-9 expand-ul unconfirmedRoom text-blue">
          
      </ul>
    </div>
    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-3">
        <label for="doc-vld-email-2" id="" class="label_style2">删除房间：</label>
      </div>
      <ul class="am-u-md-9 expand-ul text-red deleteRoom">
         
      </ul>
    </div>
    <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3">
      <label>异动申请表：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="NLApplication2" type="file" name="NLApplication" multiple>
    </div>
    <div id="NLApplicationShow2" class="am-u-md-12 img_content"></div>
  </div>
    <div class="am-form-group am-u-md-12">
      <div class="am-form-group am-u-sm-12" style="font-weight:600;font-size:1.4rem;color:#898989">
       点击房间编号查看房屋明细
      </div>    
    </div>
</div> <!-- 扩建 -->  
  <div class="am-form-group am-u-sm-12 move">
    <div class="am-form-group am-u-sm-3">
      <label>异动申请表：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="NLApplication" type="file" name="NLApplication" multiple>
    </div>
    <div id="NLApplicationShow" class="am-u-md-12 img_content"></div>
  </div>

</form>
<!-- 新发租Form结束 -->

<!-- 新增管段调整开始 -->
<form id="Pipe" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
<div class="am-form-group am-u-md-12">
  <div class="am-form-group am-u-md-12">
      <label id="PipeName" class="label_style">楼栋编号：</label>
      <input type="text" name="PipeBanID" id="PipeBanID" class="label_input" placeholder="房屋编号" required/>
      <button id="PipeQuery" class="am-btn am-btn-primary am-btn-sm PipeShow">查询</button>
  </div>

<div id="PipeBan">
  <div class="am-form-group am-u-md-4">
      <label class="label_style">使用性质：</label>
     <label id="PipeUseNature" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-8">
      <label class="label_style">房屋地址：</label>
     <label id="PipeBanAddress" class="label_content label_p_style" style="width:474px;"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">产别：</label>
     <label id="PipeOwnerType" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">栋数：</label>
     <label id="PipeBuilding" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">层次：</label>
     <label id="PipeFloorID" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">结构：</label>
     <label id="PipeStructureType" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">建筑面积：</label>
     <label id="PipeHouseArea" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">完损等级：</label>
     <label id="PipeDamageGrade" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">占地面积：</label>
    <label id="PipeCorverArea" class="label_content label_p_style"></label>
  </div>
</div>

<div id="PipeHouse" style="display:none">
  <div class="am-form-group am-u-md-4">
      <label class="label_style">楼栋编号：</label>
     <label id="PipeBanNumd" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-8">
      <label class="label_style">房屋地址：</label>
     <label id="PipeHouseAddressd" class="label_content label_p_style" style="width:474px;"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">楼层：</label>
     <label id="PipeLayerd" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">承租人：</label>
     <label id="PipeRenterd" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">联系电话：</label>
     <label id="PipePhoneNumd" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">建筑面积：</label>
     <label id="PipeBulid" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
      <label class="label_style">计租面积：</label>
    <label id="PipeRentArea" class="label_content label_p_style"></label>
  </div>
</div>
 <div class="am-form-group am-u-md-4">
      <label class="label_style">备案时间：</label>
     <label id="PipeTimed" class="label_content label_p_style"></label>
  </div>

  <div class="am-form-group am-u-md-4">
    <label class="label_style">原管段：</label>
    <label id="PipeTubulationID" class="label_content label_p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4 am-u-end">
      <label class="label_style">身份证：</label>
     <label id="PipeIDd" class="label_content label_p_style"></label>
  </div>

</div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">填报信息：</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-form-group am-u-md-4">
          <label class="label_style">调整管段：</label>
          <select name="PipeAdjusted" id="PipeAdjusted" class="label_p_style" required>
              <option  value="" style="display:none">请选择</option>
              <?php foreach($allInstitutions as $k10 => $v10){ if($v10['level'] == 1){; ?>
              <optgroup label="<?php echo $v10['Institution'] ;?>">
                  <?php  foreach($allInstitutions as $k11 => $v11){  if($v11['pid'] == $v10['id']){; ?>
                  <option value="<?php echo $v11['id']; ?>" ><?php echo $v11['Institution']; ?></option>
                  <?php }}; ?>
              </optgroup>
              <?php }}; ?>
          </select>
    </div>
  </div>

  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">提交材料：</h2>
  </div>

  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3">
      <label>异动申请表：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="PipeApplication" type="file" name="PipeApplication" multiple>
    </div>
    <div id="PipeApplicationShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12 RentTipsBan">
      <div class="am-u-sm-12">将整栋楼从原管段调整到另一管段；</div>
  </div>
  <div class="am-form-group am-u-sm-12 RentTipsHouse" style="display:none">
      <div class="am-u-sm-12">将房屋从原管段调整到另一管段；</div>
  </div>
</form>
 
<!-- 新增管段调整结束-->

<!-- 新增追加调整开始 -->
<form id="Add" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基本信息：</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-form-group am-u-md-12">
        <label id="AddName" class="label_style">房屋编号：</label>
        <input type="text" name="AddHouseID" id="AddHouseID" class="label_input" placeholder="房屋编号" required />
        <button id="AddQuery" class="am-btn am-btn-primary am-btn-sm AddShow">查询</button>
    </div>

    <div class="am-form-group am-u-md-4">
        <label  class="label_style">楼栋编号：</label>
       <label id="AddBanID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-8">
        <label class="label_style">楼栋地址：</label>
       <label id="AddBanAddress" class="label_content label_p_style" style="width:474px;"></label>
    </div>

    <div class="am-form-group am-u-md-4">
        <label class="label_style">栋层：</label>
       <label id="AddFloorID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">承租人：</label>
       <label id="AddTenantName" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">建筑面积：</label>
       <label id="AddHouseArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">计租面积：</label>
      <label id="AddLeasedArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">联系电话：</label>
       <label id="AddTenantTel" class="label_content label_p_style"></label>
    </div>

    <div class="am-form-group am-u-md-4">
        <label class="label_style">身份证号：</label>
       <label id="AddTenantNumber" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4 am-u-end">
        <label class="label_style">备案时间：</label>
       <label id="AddCreateTime" class="label_content label_p_style"></label>
    </div>
  </div>

  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">填报信息：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-md-4">
        <label>追加时间：</label>
        <input type="text" name="AddTime" id="AddTime" class="label_input" data-am-datepicker required />
    </div>
    <div class="am-form-group am-u-md-4 am-u-end">
        <label>追加金额：</label>
        <input type="number" name="AddMoney" class="label_input" id="AddMoney" required />
    </div>
  </div>

  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">提交材料：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3">
      <label>追加租金报告：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="AddApplication" type="file" name="PipeApplication" multiple>
    </div>
    <div id="AddApplicationShow" class="am-u-md-12 img_content"></div>
  </div>

</form>
<!-- 新增追加调整结束-->
<!-- 租金调整 -->
<form id="RentAdjust" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基本信息：</h2>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
        <label  class="label_style">房屋编号：</label>
        <input type="text" name="" id="AdjustHouseNum" class="label_input" required/>
        <a class="am-btn am-btn-primary am-btn-sm" id="AdjustQuery">查询</a>
    </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼栋编号：</label>
        <label id="AdjustBanID" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-8">
        <label class="label_style">房屋地址：</label>
        <label id="AdjustBanAddress" class="label_content label_p_style" style="width:474px;"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼层：</label>
        <label id="AdjustFloorID" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">承租人：</label>
        <label id="AdjustTenantName" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">联系电话：</label>
        <label id="AdjustTenantTel" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">备案时间：</label>
        <label id="AdjustCreateTime" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">使用面积：</label>
        <label id="AdjustHouseArea" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">身份证号：</label>
        <label id="AdjustTenantNumber" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">计租面积：</label>
        <label id="AdjustLeasedArea" class="label_content label_p_style"></label>
      </div>
    </div><!--房屋编号-->


 <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">产别：</label>
        <label class="AdjustOwnType label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-8">
          <label class="label_style">原租金：</label>
          <label id="AdjustPrice" class="label_content label_p_style"></label>
      </div>
  </div>
 <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
          <label class="label_style">产别：</label>
          <label class="AdjustOwnTypeA label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-8">
          <label class="label_style">原租金：</label>
          <label id="AdjustPriceA" class="label_content label_p_style"></label>
      </div>
  </div>
  <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">产别：</label>
        <label class="AdjustOwnType label_p_style"></label>
      </div>
      <div class="am-u-sm-8">
          <label class="label_style">原租金：</label>
          <input type="text" class="label_input" name="AdjustPrice" />
      </div>
      </div>
  <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
          <label class="label_style">产别：</label>
          <label class="AdjustOwnTypeA label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-8">
          <label class="label_style">原租金：</label>
          <input type="text" class="label_input" name="AdjustPriceA"/>
      </div>
  </div>


  <div class="am-form-group am-u-sm-12">
      <h2 class="label_title">提交材料：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3 pd0">
      <label>租金调整报告：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="AdjustImage" type="file" name="NLApplication" multiple>
    </div>
  <div id="AdjustImaged" class="am-u-md-12 img_content"></div>
  </div>
</form>
<!-- 租金调整结束 -->
<!-- 新增分户 -->
  <form id="SplitHouse" style="display:none;margin-top:20px;">
    <div class="am-form-group am-u-sm-12">
        <h2 class="label_title">分户原始房屋：</h2>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-md-12">
        <label class="label_style">房屋编号：</label>
        <input type="text" id="SplitHouseNum" class="label_input" required/>
        <a class="am-btn am-btn-primary am-btn-sm" id="SplitQuery">查询</a>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼栋编号：</label>
        <label id="SplitBanID" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-8">
        <label class="label_style">房屋地址：</label>
        <label id="SplitBanAddress" class="label_content label_p_style" style="width:464px;"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼层：</label>
        <label id="SplitFloorID" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">承租人：</label>
        <label id="SplitTenantName" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">联系电话：</label>
        <label id="SplitTenantTel" class="label_content label_p_style"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">身份证号：</label>
        <label id="SplitTenantNumber" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">备案时间：</label>
        <label id="SplitCreateTime" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">使用面积：</label>
        <label id="SplitHouseArea" class="label_content label_p_style"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">计租面积：</label>
        <label id="SplitLeasedArea" class="label_content label_p_style"></label>
      </div>  
     
      <div class="am-u-md-12">选择需要分户的房间：</div>
        <ul class="am-u-md-12 SplitRoom mr10">
          
        </ul>
    </div>

    <!--房屋编号-->
    <!--分户新增房屋-->
    <div class="am-form-group am-u-sm-12">
        <h2 class="label_title">分户新增房屋:</h2>
    </div>
    <div class="am-u-sm-12">
        <div class="am-form-group am-u-md-12">
          <label class="label_style">房屋编号：</label>
          <input type="text" name="" id="SplitAddNum" class="label_input" required/>
          <a class="am-btn am-btn-primary am-btn-sm" id="SplitAddQuery">查询</a>
        </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼栋编号：</label>
        <label id="SplitAddID" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-8">
        <label class="label_style">房屋地址：</label>
        <label id="SplitAddAddress" class="label_content label_p_style" style="width:464px;"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼层：</label>
        <label id="SplitAddFloor" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">承租人：</label>
        <label id="SplitAddName" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">联系电话：</label>
        <label id="SplitAddTel" class="label_content label_p_style"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">身份证号：</label>
        <label id="SplitAddNumber" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">备案时间：</label>
        <label id="SplitAddTime" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">使用面积：</label>
        <label id="SplitAddArea" class="label_content label_p_style"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">计租面积：</label>
        <label id="SplitAddLeased" class="label_content label_p_style"></label>
      </div>
    </div>
  <div class="am-form-group am-u-sm-12">
      <h2 class="label_title">提交材料:</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3 pd0">
      <label>书面申请（双方）：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="SplitApplication" type="file" name="SplitApplication" multiple>
    </div>
    <div id="SplitApplicationShow" class="am-u-md-12 img_content"></div>
  </div>
   <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3 pd0">
      <label>户口簿：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="SplitRegister" type="file" name="SplitRegister" multiple>
    </div>
    <div id="SplitRegisterShow" class="am-u-md-12 img_content"></div>
  </div>
   <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3 pd0">
      <label>身份证（双方）：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="SplitCard" type="file" name="SplitCard" multiple>
    </div>
    <div id="SplitCardShow" class="am-u-md-12 img_content"></div>
  </div>
   <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3 pd0">
      <label>租赁合同：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="SplitRent" type="file" name="SplitRent" multiple>
    </div>
    <div id="SplitRentShow" class="am-u-md-12 img_content"></div>
  </div>
   <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-3 pd0">
      <label>共同居住人意见书（签字）：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="SplitAdvice" type="file" name="SplitAdvice" multiple>
    </div>
    <div id="SplitAdviceShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-u-md-12">注：异动审批通过后，次月生效</div>
  </div>
</form>
    <!--分户新增房屋结束-->
   
<!-- 新增并户 -->
  <form id="HouseHolds" style="display:none;margin-top:20px;">
    <div class="am-form-group am-u-sm-12">
        <h2 class="label_title">并户保留房屋：</h2>
    </div>

    <div class="am-u-md-12">
      <div class="am-form-group am-u-md-12">
          <label class="label_style">房屋编号：</label>
          <input type="text" id="HoldsHouseNum" class="label_input" required/>
          <a class="am-btn am-btn-primary am-btn-sm" id="HoldsQuery">查询</a>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼栋编号：</label>
        <label id="HoldsBanID" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-8">
        <label class="label_style">房屋地址：</label>
        <label id="HoldsBanAddress" class="label_content label_p_style" style="width:474px;"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼层：</label>
        <label id="HoldsFloorID" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">承租人：</label>
        <label id="HoldsTenantName" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">联系电话：</label>
        <label id="HoldsTenantTel" class="label_content label_p_style"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">身份证号：</label>
        <label id="HoldsTenantNumber" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">备案时间：</label>
        <label id="HoldsCreateTime" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">使用面积：</label>
        <label id="HoldsHouseArea" class="label_content label_p_style"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">计租面积：</label>
        <label id="HoldsLeasedArea" class="label_content label_p_style"></label>
      </div>  
    </div>
  <!--房屋编号-->
    <!--并户注销房屋-->
    <div class="am-form-group am-u-sm-12">
        <h2 class="label_title">并户注销房屋：</h2>
    </div>
    <div class="am-u-md-12">
        <div class="am-form-group am-u-md-12">
          <label  class="label_style">房屋编号：</label>
          <input type="text" id="CancelNum" class="label_input" required/>
          <a class="am-btn am-btn-primary am-btn-sm" id="CancelQuery">查询</a>
        </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4" style="padding-right: 0">
        <label class="label_style">楼栋编号：</label>
        <label id="CancelID" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-8">
        <label class="label_style">房屋地址：</label>
        <label id="CancelAddress" class="label_content label_p_style" style="width:474px;"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼层：</label>
        <label id="CancelFloor" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">承租人：</label>
        <label id="CancelName" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">联系电话：</label>
        <label id="CancelTel" class="label_content label_p_style"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">身份证号：</label>
        <label id="CancelNumber" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">备案时间：</label>
        <label id="CancelTime" class="label_content label_p_style"></label>
      </div>
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">使用面积：</label>
        <label id="CancelArea" class="label_content label_p_style"></label>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4 am-u-end">
        <label class="label_style">计租面积：</label>
        <label id="CancelLeased" class="label_content label_p_style"></label>
      </div>  
    </div>

    <div class="am-form-group am-u-sm-12">
        <h2 class="label_title">提交材料：</h2>
    </div>
    <div class="am-form-group am-u-md-12">
      <div class="am-form-group am-u-sm-12">
        <div class="am-form-group am-u-sm-3 pd0">
          <label>异动申请书：</label>
        </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="CancelApplication" type="file" name="CancelApplication" multiple>
        </div>
        <div id="CancelApplicationShow" class="am-u-md-12 img_content"></div>
      </div>
      <div class="am-u-md-12">注：异动审批通过后，次月生效</div>
    </div>
</form>
<!--新增并户结束-->
