<!-- rent_reduction/租金减免、pauseRent/暂停计租、cancel/注销-->

<form id="derateApplyForm" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label id="houseLabel" class="label_style">房屋编号：</label>
      <input type="number" id="getInfo_1" class="label_input" placeholder="双击选择房屋" />
      <a class="am-btn am-btn-primary am-btn-sm" id="DQueryData">查询</a>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label class="label_style">楼栋编号：</label>
      <label id="BanID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">楼栋地址：</label>
      <label id="BanAddress" class="label_content label_p_style" style="width:476px;"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style"> 产别：</label>
      <label id="OwnTypeD" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">使用性质：</label>
      <label id="useNature" class="label_content label_p_style"></label>
    </div>

    <div class="am-form-group am-u-sm-4 rent_reduction">
      <label class="label_style">计租表：</label>
      <a class="am-btn am-btn-primary am-btn-sm" id="rentMeterButton">查询</a>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">使用面积：</label>
      <label id="HouseUsearea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">计租面积：</label>
      <label id="LeasedArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label class="label_style">规定租金：</label>
      <label id="monthRent" class="label_p_style"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">承租人：</label>
      <label id="TenantName" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">身份证号：</label>
      <label id="TenantNumber" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">联系电话：</label>
      <label id="TenantTel" class="label_content label_p_style"></label>
    </div>
  </div>

  <div class="am-form-group am-u-sm-12 rent_reduction">
      <h2 class="label_title">填报信息：</h2>
  </div>
  <div class="am-form-group am-u-md-12 rent_reduction">
    <div class="am-u-sm-4">
        <label class="label_style">减免金额：</label>
        <input type="number" name="RemitRent" id="RemitRent" class="label_input" placeholder="减免金额"/>
    </div>
    <div class="am-u-sm-4">
        <label class="label_style">减免类型：</label>
        <select name="CutType" id="CutType" class="label_select">
            <option  value="" style="display:none">请选择</option>
            <?php foreach($cutTypeLst as $v1){;?>
            <option value="{$v1['id']}"><?php echo $v1['CutName']; ?></option>
            <?php }; ?>
        </select>
    </div>
    <div class="am-form-group am-u-sm-4">
        <label class="label_style">减免证号：</label>
        <input type="number" name="IDnumber" class="label_input" id="IDnumber" />
    </div>
    <!-- <div class="am-form-group am-u-sm-12">
      <label class="label_style">有效期：</label>
      <select name="validity" id="validity" class="label_select">
          <option  value="" style="display:none">请选择</option>
          <option value="1">1个月</option>
          <option value="2">2个月</option>
          <option value="3">3个月</option>
          <option value="4">4个月</option>
          <option value="5">5个月</option>
          <option value="6">6个月</option>
          <option value="7">7个月</option>
          <option value="8">8个月</option>
          <option value="9">9个月</option>
          <option value="10">10个月</option>
          <option value="11">11个月</option>
          <option value="12">12个月</option>
      </select>
    </div> -->
    <div class="am-form-group am-u-sm-12">
        <label class="label_style">低保证：</label>
          <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="basic" type="file" name="basic" multiple>
          </div>
          <div id="basicShow" class="am-u-md-12 img_content"></div>
    </div>
  </div>

  <div class="am-form-group am-u-sm-12 CutHide" style="display: none;">
    <div class="am-form-group am-u-sm-3">
     <label> 产别：<span  id="AOwnTypeD"></span></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <input type="number" name="ARemitRent" id="ARemitRent" class="am-u-sm-6" placeholder="减免金额"/>
    </div>
    <div class="am-form-group am-u-sm-5">
      <label class="am-u-sm-8">原金额：<span id="oldPt"></span></label>
    </div>
  </div>

  <div class="am-form-group am-u-sm-12">
      <h2 class="label_title">资料上传：</h2>
  </div>

  <div class="am-form-group am-u-sm-12 rent_reduction">
    <div class="am-form-group am-u-sm-3">
      <label>身份证：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="ID" type="file" name="ID" multiple>
        </div>
        <div id="IDShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12 rent_reduction">
    <div class="am-form-group am-u-sm-3">
      <label>房产证：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
            <i class="am-icon-cloud-upload"></i> 选择要上传的文件
            <input id="houseBook" type="file" name="houseBook" multiple>
        </div>
        <div id="houseBookShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12 rent_reduction">
    <div class="am-form-group am-u-sm-3">
      <label>户口本：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="household" type="file" name="household" multiple>
        </div>
        <div id="householdShow" class="am-u-md-12 img_content"></div>
  </div>

  <div class="am-form-group am-u-sm-12 rent_reduction">
    <div class="am-form-group am-u-sm-3">
      <label>年租房合同(协议)：</label>
    </div>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="annualRentalContract" type="file" name="annualRentalContract" multiple>
        </div>
        <div id="annualRentalContractShow" class="am-u-md-12 img_content"></div>
  </div>

  <div class="am-form-group am-u-sm-12 rent_reduction">
      <div class="am-form-group am-u-sm-3">
          <label>住房保障申请表：</label>
      </div>
      <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="houseSecurity" type="file" name="houseSecurity" multiple>
      </div>
      <div id="houseSecurityShow" class="am-u-md-12 img_content"></div>
  </div>
</form>

<!-- 暂停计租 -->
<form id="pauseRent" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label id="houseLabel" class="label_style">房屋查询：</label>
      <a class="am-btn am-btn-primary am-btn-sm" id="pauseHouseQuery">查询</a>
    </div>
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label class="label_style">楼栋编号：</label>
      <label id="pauseBanID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">楼栋地址：</label>
      <label id="pauseBanAddress" class="label_content label_p_style" style="width:476px;"></label>
    </div>
    <div class="am-form-group am-u-sm-4 ">
      <label class="label_style">楼栋产别：</label>
      <label id="pauseOwnerType" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">暂停租金：</label>
      <label id="pauseHousePrerent" class="label_content label_p_style"></label>
    </div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">房屋明细：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
      <table class="am-table am-table-striped am-table-hover am-table-centered am-table-compact overflow_tbody" style="border:1px solid #ccc;">
          <thead style="display:block;">
              <tr>
                  <td style="width:200px;">#</td>
                  <td style="width:200px;" class="am-hide-sm-only">房屋编号</td>
                  <td style="width:200px;" class="am-hide-sm-only">承租人</td>
                  <td style="width:200px;" class="am-hide-sm-only">产别</td>
                  <td style="width:350px;" class="am-hide-sm-only">规定租金</td>
              </tr>
          </thead>
          <tbody id="pauseHouseDetail" style="height:200px;display:block;overflow-y:scroll;">


          </tbody>
      </table>
  </div>
</form>
<!--- 暂停计租 -->

   
<!-- 注销 -->
<form id="cancel" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label class="label_style">房屋编号：</label>
      <input id="getcancel" class="label_input" placeholder="双击选择房屋" />
      <a class="am-btn am-btn-primary am-btn-sm" id="cancelQueryData">查询</a>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label class="label_style">使用性质：</label>
      <label id="cancelUseNature" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">完损等级：</label>
      <label id="cancelDamageGrade" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">产别：</label>
      <label id="cancelOwnerType" class="label_content label_p_style"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">使用面积：</label>
      <label id="cancelHouseUsearea" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">计租面积：</label>
      <label id="cancelLeasedArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">联系电话：</label>
       <label id="cancelTenantTel" class="label_content label_p_style"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">承租人：</label>
      <label id="cancelTenantName" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">身份证号：</label>
      <label id="cancelTenantNumber" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">注销类别：</label>
      <select name="cancelType" id="cancelType" class="label_select" required>
          <option value="">请选择</option>
          <option value="1">房屋出售</option>
          <option value="2">危改拆除</option>
          <option value="3">落私发还</option>
          <option value="4">拆迁</option>
          <option value="5">房屋划转</option>
          <option value="6">其他</option>
      </select>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">单元号：</label>
      <label id="cancelUnitID" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">层次：</label>
      <label id="cancelFloorID" class="label_content label_p_style"></label>
    </div>
  <div class="am-form-group am-u-sm-4">
    
    </div>
    
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">规定租金：</label>
       <label id="cancelHousePrerent" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">租差：</label>
      <label id="cancelDiffRents" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">泵费：</label>
      <label id="cancelPumpCosts" class="label_content label_p_style"></label>
    </div>
    
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">异动事由：</label>
       <input id="cancelReason" class="label_input" style="width:474px;" />
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">计租表：</label>
       <a class="am-btn am-btn-primary am-btn-sm" id="cancelRentMeter">查询</a>
    </div>
  </div>

<div id="addBanNumber">
  <div class="cancel_BanNumber">
    <div class="am-form-group am-u-sm-12">
        <hr />
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼栋编号：</label>
        <label class="label_p_style banID"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼栋地址：</label>
        <label class="label_p_style HouseAdress"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">注销租金：</label>
        <input type="number" class="label_input cancelPrent" />
		<i style="font-style: normal; color:red; vertical-align: middle;">*</i>
        <div style="font-size:12px;color:green;">包含租差、泵费</div>
      </div>
    </div>
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">建筑面积：</label>
        <input type="number" class="label_input houseArea" />
        <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">房屋原价：</label>
        <input type="number" class="label_input housePrice" />
		<i style="font-style: normal; color:red; vertical-align: middle;">*</i>
        <div style="font-size:12px;color:green;">包含租差、泵费</div>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">计租面积：</label>
        <input type="number" class="label_input cancelHouseUsearea" />
		<i style="font-style: normal; color:red; vertical-align: middle;">*</i>
      </div>
    </div>
  </div>
</div>

<div class="cancel_BanNumber" style="display:none;">
  <div class="am-form-group am-u-sm-12">
      <hr />
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">楼栋编号：</label>
      <label class="label_p_style banID"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">楼栋地址：</label>
      <label class="label_p_style HouseAdress"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">注销租金：</label>
      <input type="number" class="label_input cancelPrent" />
	  <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
      <div style="font-size:12px;color:green;">包含租差、泵费</div>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">建筑面积：</label>
      <input type="number" class="label_input houseArea" />
	  <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">房屋原价：</label>
      <input type="number" class="label_input housePrice" />
	  <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">计租面积：</label>
      <input type="number" class="label_input cancelHouseUsearea" />
	  <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
    </div>
  </div>
</div>

  <div class="am-form-group am-u-sm-12">
      <h2 class="label_title">资料上传：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label>武汉市直管公有住房出售收入专用票据：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="housingBill" type="file" name="housingBill" multiple>
    </div>
    <div id="housingBillShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label>武昌区房地局出售直管公有住房审批表：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="housingApprovalForm" type="file" name="housingApprovalForm" multiple>
    </div>
    <div id="housingApprovalFormShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label>其他：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="housingApprovalFormOther" type="file" name="housingApprovalFormOther" multiple>
    </div>
    <div id="housingApprovalFormOtherShow" class="am-u-md-12 img_content"></div>
  </div>
</form>


<!-- 规定租金调整 -->
<form id="RentAdjustment" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label class="label_style">房屋编号：</label>
      <input id="getRent" class="label_input" placeholder="双击选择房屋" />
      <a class="am-btn am-btn-primary am-btn-sm" id="RentQueryData">查询</a>
    </div>
  </div>

  <div class="am-form-group am-u-sm-12">
      <table class="am-table am-table-striped am-table-hover am-table-centered am-table-compact overflow_tbody" style="border:1px solid #ccc;">
          <thead style="display:block;">
              <tr>
                  <td style="width:100px;">#</td>
                  <td style="width:200px;" class="am-hide-sm-only">房屋编号</td>
                  <td style="width:200px;" class="am-hide-sm-only">房间间号</td>
                  <td style="width:200px;" class="am-hide-sm-only">调整前使用面积</td>
                  <td style="width:350px;" class="am-hide-sm-only">调整后使用面积</td>
              </tr>
          </thead>
          <tbody id="rentDetail" style="height:200px;display:block;overflow-y:scroll;">


          </tbody>
      </table>
  </div>


  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-12">
      <label class="label_style">异动事由：</label>
       <input id="RentReason" class="label_input" style="width:474px;" />
    </div>
  </div>


  <div class="am-form-group am-u-sm-12" style="margin-top:20px;">
      <hr />
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">租金信息：</h2>
  </div>
  <div id="addRent">
    <div class="Rent_BanNumber">


      <div class="am-u-sm-12">
        <div class="am-form-group am-u-sm-4">
          <label class="label_style" style="width:88px;">楼栋编号：</label>
          <label class="label_p_style banID"></label>
        </div>
        <div class="am-form-group am-u-sm-8">
          <label class="label_style" style="width:88px;">楼栋地址：</label>
          <label class="label_p_style HouseAdress"></label>
        </div>
      </div>

      <div class="am-u-sm-12">
        <div class="am-form-group am-u-sm-4">
          <label class="">调整前金额：</label>
          <input type="number" class="label_input addRentBefore" />
        </div>
        <div class="am-form-group am-u-sm-8">
          <label class="">调整后金额：</label>
          <input type="number" class="label_input addRentAfter" />
        </div>
      </div>

      <div class="am-form-group am-u-sm-12" style="margin-top:20px;">
          <hr />
      </div>
    </div>
  </div>

  <div class="Rent_BanNumber" style="display:none;">
    <div class="am-u-sm-12">
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼栋编号：</label>
        <label class="label_p_style banID"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">楼栋地址：</label>
        <label class="label_p_style HouseAdress"></label>
      </div>
      <div class="am-form-group am-u-sm-4">
        <label class="label_style">增加金额：</label>
        <input type="number" class="label_input addRentMoney" />
      </div>
    </div>
    <div class="am-form-group am-u-sm-12" style="margin-top:20px;">
        <hr />
    </div>
  </div>
</form>


<!-- 租金追加调整 -->
<form id="RentAdditional" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label class="label_style">房屋编号：</label>
      <input id="getRentAdd" class="label_input" placeholder="双击选择房屋" />
      <a class="am-btn am-btn-primary am-btn-sm" id="RentAddQueryData">查询</a>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label class="label_style">楼栋编号：</label>
      <label id="RentAddBanID" class="label_p_style"></label>
    </div>

    <div class="am-form-group am-u-sm-8">
      <label class="label_style">楼栋地址：</label>
      <label id="RentAddAddress" class="label_p_style" style="width:476px;"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label class="label_style">使用性质：</label>
      <label id="RentAddUseNature" class="label_content label_p_style"></label>
    </div>

    <div class="am-form-group am-u-sm-4">
      <label class="label_style">使用面积：</label>
      <label id="RentAddHouseUseArea" class="label_p_style"></label>
    </div>

    <div class="am-form-group am-u-sm-4">
      <label class="label_style">计租面积：</label>
      <label id="RentAddLeasedArea" class="label_content label_p_style"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">产别：</label>
       <label id="RentAddOwnerType" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">规定租金：</label>
       <label id="RentAddHousePrerent" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">完损等级：</label>
       <label id="RentAddDamageGrade" class="label_p_style"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">承租人：</label>
      <label id="RentAddTenantName" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">身份证号：</label>
      <label id="RentAddTenantNumber" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">联系电话：</label>
      <label id="RentAddTenantTel" class="label_content label_p_style"></label>
    </div>
  </div>

  <div class="am-form-group am-u-sm-12" style="margin-top:20px;">
      <hr />
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">追加金额：</h2>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">以前年：</label>
      <input type="number" class="label_input" id="RentAddYear" style="margin-right:10px;" />元
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">以前月：</label>
      <input type="number" class="label_input" id="RentAddMonth" style="margin-right:10px;" />元
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-12">
      <label class="label_style">异动事由：</label>
      <input class="label_input RentAddReason" style="width:476px;" />
    </div>
  </div>
  <div class="am-form-group am-u-sm-12">
      <h2 class="label_title">资料上传：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label>其他(票据)：</label>
    </div>
    <div class="am-form-group am-form-file am-u-md-5">
          <i class="am-icon-cloud-upload"></i> 选择要上传的文件
          <input id="otherBills" type="file" name="otherBills" multiple>
    </div>
    <div id="otherBillsShow" class="am-u-md-12 img_content"></div>
  </div>
</form>

<!-- 陈欠核销 -->
<form id="oldCancel" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label id="houseLabel" class="label_style">房屋编号：</label>
      <input type="number" id="oldCancelHouseID" class="label_input" placeholder="双击选择房屋" />
      <a class="am-btn am-btn-primary am-btn-sm" id="oldCancelQuery">查询</a>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4" style="padding-right:0">
      <label class="label_style">楼栋编号：</label>
      <label id="oldCancelBanID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">楼栋地址：</label>
      <label id="oldCancelBanAddress" class="label_content label_p_style" style="width:476px;"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style"> 产别：</label>
      <label id="oldCancelOwnTypeD" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">使用性质：</label>
      <label id="oldCanceluseNature" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4 am-u-end">
      <label class="label_style">规定租金：</label>
      <label id="oldCancelmonthRent" class="label_p_style"></label>
    </div>

  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">使用面积：</label>
      <label id="oldCancelHouseUsearea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">计租面积：</label>
      <label id="oldCancelLeasedArea" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">联系电话：</label>
      <label id="oldCancelTenantTel" class="label_content label_p_style"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">承租人：</label>
      <label id="oldCancelTenantName" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">身份证号：</label>
      <label id="oldCancelTenantNumber" class="label_content label_p_style"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">异动事由：</label>
      <input id="oldCancelReason" class="label_p_style" style="width:480px;" />
    </div>
  </div>

  <div class="am-form-group am-u-sm-12">
      <h2 class="label_title">核销金额：</h2>
  </div>
  <div class="am-form-group am-u-md-12">
    <div class="am-form-group am-u-sm-4">
        <label class="label_style">以前年：</label>
        <input type="number" class="label_input" id="oldCancelYearBefore" />
    </div>
    <div class="am-form-group am-u-sm-4">
        <label class="label_style">以前月：</label>
        <ul class="month_ul">
            
        </ul>
    </div>
    <div class="am-form-group am-u-sm-4">
        <label class="">以前月核销总金额：</label>
        <label class="cancel_money">0</label>元
    </div>
  </div>
  <div class="am-form-group am-u-md-12">
	<div class="am-form-group am-u-sm-4">
	    <label class="label_style">总金额：</label>
	    <label class="money_sum"></label>
	</div>
  </div>
</form>

<!-- 空租 -->
<form id="emptyRent" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label class="label_style">房屋编号：</label>
      <input type="number" id="emptyRentHouse" class="label_input" placeholder="双击选择房屋" />
      <a class="am-btn am-btn-primary am-btn-sm" id="emptyRentQuery">查询</a>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label class="label_style">楼栋编号：</label>
      <label id="emptyRentBanID" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">楼栋地址：</label>
      <label id="emptyRentBanAddress" class="label_p_style" style="width:476px;"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style"> 产别：</label>
      <label id="emptyRentOwnTypeD" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">计租面积：</label>
      <label id="emptyRentLeasedArea" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">使用面积：</label>
      <label id="emptyRentHouseUsearea" class="label_p_style"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">使用性质：</label>
      <label id="emptyRentUseNature" class="label_p_style"></label>
    </div>    
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">规定租金：</label>
      <label id="emptyRentmonthRent" class="label_p_style"></label>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">异动事由：</label>
      <input id="emptyRentReason" class="label_input" style="width:480px;">
    </div>    
  </div>

<!--   <div class="am-form-group am-u-sm-12 empty_rent_cancel">
      <h2 class="label_title">租户信息：</h2>
  </div>
  <div class="am-u-sm-12 empty_rent_cancel">
    <div class="am-form-group am-u-sm-12">
      <label class="label_style">租户ID：</label>
       <input type="number" id="emptyRentTenantID" class="label_input" placeholder="双击输入租户编号" />
      <a class="am-btn am-btn-primary am-btn-sm" id="emptyRentQueryTenantID">查询</a>
    </div>
  </div>
  <div class="am-u-sm-12 empty_rent_cancel">
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">租户姓名：</label>
      <label id="emptyRentTenantName" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">身份证号：</label>
      <label id="emptyRentTenantNumber" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">联系电话：</label>
      <label id="emptyRentTenantTel" class="label_p_style"></label>
    </div>
  </div> -->
</form>

<!-- 楼栋调整 -->
<form id="buildingAdjust" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label class="label_style">楼栋编号：</label>
      <input type="number" id="buildingAdjustBan" class="label_input" placeholder="双击选择房屋" />
      <a class="am-btn am-btn-primary am-btn-sm" id="buildingAdjustQuery">查询</a>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-12">
      <label class="label_style">楼栋地址：</label>
      <label id="buildingAdjustAddress" class="label_p_style" style="width:492px;"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style"> 产别：</label>
      <label id="buildingAdjustOwnerType" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-6">
      <label class="label_style"> 栋数：</label>
      <label id="buildingAdjustBanUnitNum" class="label_p_style"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">占地面积：</label>
      <label id="buildingAdjustCoveredArea" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">建筑面积：</label>
      <label id="buildingAdjustTotalArea" class="label_p_style"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">使用面积：</label>
      <label id="buildingAdjustBanUsearea" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">楼栋原价：</label>
      <label id="buildingAdjustTotalOprice" class="label_p_style"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">楼栋租金：</label>
      <label id="buildingAdjustBanPrerent" class="label_p_style"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-12">
      <label class="label_style">异动事由：</label>
      <input id="buildingAdjustReason" class="label_input" style="width:492px;">
    </div>    
  </div>

  <div class="am-form-group am-u-sm-12 empty_rent_cancel">
      <h2 class="label_title">房屋调整：</h2>
  </div>

  <div class="am-u-sm-12 empty_rent_cancel">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style" style="width:100px;">调整前完损等级：</label>
      <label id="beforeAdjustDamageGrade" class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-6">
      <label class="label_style" style="width:100px;">调整前结构类别：</label>
      <label id="beforeAdjustStructureType" class="label_p_style"></label>
    </div>
  </div>

  <div class="am-u-sm-12 empty_rent_cancel">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style" style="width:100px;">调整后完损等级：</label>
      <select id="afterAdjustDamageGrade" class="label_select">
        <?php foreach($damaLst as $k2 =>$v2){;?>
        <option value="<?php echo $v2['id']; ?>" ><?php echo $v2['DamageGrade']; ?></option>
        <?php }; ?>
      </select>
    </div>
    <div class="am-form-group am-u-sm-6">
      <label class="label_style" style="width:100px;">调整后结构类别：</label>
      <select id="afterAdjustStructureType" class="label_select">
        <?php foreach($struLst as $k4 =>$v4){;?>
        <option value="<?php echo $v4['id']; ?>" ><?php echo $v4['StructureType']; ?></option>
        <?php }; ?>
      </select>
    </div>
  </div>
	<div class="am-u-sm-12 empty_rent_cancel">
	  <div class="am-form-group am-u-sm-12">
	    <label class="label_style" style="width:100px;">调整后楼栋地址：</label>
	    <input type="text" id="afterAdjustadd" class="label_input" placeholder="输入调整后楼栋地址" style="width:483px;" />
	  </div>
	</div>
	<div class="am-form-group am-u-sm-12">
	    <h2 class="label_title">附件上传：</h2>
	</div>
	<div class="am-form-group am-u-sm-12">
	  <div class="am-form-group am-u-sm-4">
	    <label><i  style="color: red;">*</i>产权清册：</label>
	  </div>
	  <div class="am-form-group am-form-file am-u-md-5">
	        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
	        <input id="buildingProperty" type="file" name="buildingProperty" multiple>
	  </div>
	  <div id="buildingPropertyShow" class="am-u-md-12 img_content"></div>
	</div>
	<div class="am-form-group am-u-sm-12">
	  <div class="am-form-group am-u-sm-4">
	    <label>产权证及其他：</label>
	  </div>
	  <div class="am-form-group am-form-file am-u-md-5">
	        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
	        <input id="buildingTransfer" type="file" name="buildingTransfer" multiple>
	  </div>
	  <div id="buildingTransferShow" class="am-u-md-12 img_content"></div>
	</div>
</form>


<!-- 房屋调整 -->
<form id="houseAdjust" style="display:none;margin-top:20px;">

  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label class="label_style">房屋编号：</label>
      <input type="number" id="houseAdjustHouse" class="label_input" placeholder="双击选择房屋" />
      <a class="am-btn am-btn-primary am-btn-sm" id="houseAdjustQuery">查询</a>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-12">
      <label class="label_style">计租表：</label>
      <a class="am-btn am-btn-primary am-btn-sm" id="rentMaterQuery">查看</a>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-12">
      <label class="label_style">异动事由：</label>
      <input id="houseAdjustReason" class="label_input" style="width:492px;">
    </div>    
  </div>

  <div class="am-form-group am-u-sm-12">
      <h2 class="label_title">楼栋信息：</h2>
      <span style="font-size:12px;color:#666;">提示：中间输入框中填写增加或者减少的房屋金额。例如：房屋增加租金0.5，在输入框中填写调整金额是+0.5.反之是-0.5</span>
  </div>
  <div class="am-u-sm-12">
  <style>
  #houseAdjust tr,td,th{text-align:center;font-size:14px;padding:4px 20px;}
  #houseAdjust td input{width:80px;border:1px solid #D6E2F6;border-radius:4px;text-align:center;}
  </style>
    <table border="1" style="width:950px;border:1px solid #D6E2F6;text-align:center;">
      <tr>
          <th colspan="2" rowspan="2">楼栋编号</th>
          <th colspan="2" rowspan="2">楼栋地址</th>
          <th colspan="3">租金</th>
          <th colspan="3">计租面积</th>
      </tr>
      <tr>
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整金额</td>
        <td rowspan="1" colspan="1">调整后</td>
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整面积</td>
        <td rowspan="1" colspan="1">调整后</td>
      </tr>
      <tr>
        <td rowspan="4" colspan="2" class="HABanID"></td>
        <td rowspan="4" colspan="2" class="HAAddress"></td>
        <td rowspan="1" colspan="1" class="HABeforeRent"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HARent" /></td>
        <td rowspan="1" colspan="1"><input type="number" disabled class="HAAfterRent" /></td>
        <td rowspan="1" colspan="1" class="HABeforeLeasedArea"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HALeasedArea" /></td>
        <td rowspan="1" colspan="1"><input type="number" disabled class="HAAfterLeasedArea" /></td>
      </tr>
      <tr>
        <th colspan="3">建筑面积</th>
        <th colspan="3">楼栋原价</th>
      </tr>
      <tr>
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整面积</td>
        <td rowspan="1" colspan="1">调整后</td>
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整金额</td>
        <td rowspan="1" colspan="1">调整后</td>
      </tr>
      <tr>
        <td rowspan="1" colspan="1" class="HABeforeBanArea"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HABanArea" /></td>
        <td rowspan="1" colspan="1"><input type="number" disabled class="HAAfterBanArea" /></td>
        <td rowspan="1" colspan="1" class="HABeforePrice"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HAPrice" /></td>
        <td rowspan="1" colspan="1"><input type="number" disabled class="HAAfterPrice" /></td>
      </tr>

      <tr class="table_data_2">
        <td rowspan="6" colspan="2" class="HABanID"></td>
        <td rowspan="6" colspan="2" class="HAAddress"></td>
        <th colspan="3">租金</th>
        <th colspan="3">计租面积</th>
      </tr>
      <tr class="table_data_2">
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整金额</td>
        <td rowspan="1" colspan="1">调整后</td>
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整面积</td>
        <td rowspan="1" colspan="1">调整后</td>
      </tr>
      <tr class="table_data_2">
        <td rowspan="1" colspan="1" class="HABeforeRent"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HARent" /></td>
        <td rowspan="1" colspan="1"><input type="number" class="HAAfterRent" /></td>
        <td rowspan="1" colspan="1" class="HABeforeLeasedArea"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HALeasedArea" /></td>
        <td rowspan="1" colspan="1"><input type="number" class="HAAfterLeasedArea" /></td>
      </tr>
      <tr class="table_data_2">
        <th colspan="3">建筑面积</th>
        <th colspan="3">楼栋原价</th>
      </tr>
      <tr class="table_data_2">
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整面积</td>
        <td rowspan="1" colspan="1">调整后</td>
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整金额</td>
        <td rowspan="1" colspan="1">调整后</td>
      </tr>
      <tr class="table_data_2">
        <td rowspan="1" colspan="1" class="HABeforeBanArea"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HABanArea" /></td>
        <td rowspan="1" colspan="1"><input type="number" class="HAAfterBanArea" /></td>
        <td rowspan="1" colspan="1" class="HABeforePrice"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HAPrice" /></td>
        <td rowspan="1" colspan="1"><input type="number" class="HAAfterPrice" /></td>
      </tr>


      <tr class="table_data_3">
        <td rowspan="6" colspan="2" class="HABanID"></td>
        <td rowspan="6" colspan="2" class="HAAddress"></td>
        <th colspan="3">租金</th>
        <th colspan="3">计租面积</th>
      </tr>
      <tr class="table_data_3">
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整金额</td>
        <td rowspan="1" colspan="1">调整后</td>
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整面积</td>
        <td rowspan="1" colspan="1">调整后</td>
      </tr>
      <tr class="table_data_3">
        <td rowspan="1" colspan="1" class="HABeforeRent"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HARent" /></td>
        <td rowspan="1" colspan="1"><input type="number" class="HAAfterRent" /></td>
        <td rowspan="1" colspan="1" class="HABeforeLeasedArea"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HALeasedArea" /></td>
        <td rowspan="1" colspan="1"><input type="number" class="HAAfterLeasedArea" /></td>
      </tr>
      <tr class="table_data_3">
        <th colspan="3">建筑面积</th>
        <th colspan="3">楼栋原价</th>
      </tr>
      <tr class="table_data_3">
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整面积</td>
        <td rowspan="1" colspan="1">调整后</td>
        <td rowspan="1" colspan="1">调整前</td>
        <td rowspan="1" colspan="1">调整金额</td>
        <td rowspan="1" colspan="1">调整后</td>
      </tr>
      <tr class="table_data_3">
        <td rowspan="1" colspan="1" class="HABeforeBanArea"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HABanArea" /></td>
        <td rowspan="1" colspan="1"><input type="number" class="HAAfterBanArea" /></td>
        <td rowspan="1" colspan="1" class="HABeforePrice"></td>
        <td rowspan="1" colspan="1"><input type="number" value="0.00" class="HAPrice" /></td>
        <td rowspan="1" colspan="1"><input type="number" class="HAAfterPrice" /></td>
      </tr>
    </table>
  </div>
	<!-- 新增房屋调整 S -->
	<div class="am-form-group am-u-sm-12">
		<h2 class="label_title label_margin_top">资料上传：</h2>
	</div>
	<div class="am-form-group am-u-sm-12">
	  <div class="am-form-group am-u-sm-4">
	    <label>调整附件报告：</label>
	  </div>
	  <div class="am-form-group am-form-file am-u-md-5">
	        <i class="am-icon-cloud-upload"></i> 选择要上传的文件
	        <input id="housingReadjust" type="file" name="housingReadjust" multiple>
	  </div>
	  <div id="housingReadjustShow" class="am-u-md-12 img_content"></div>
	</div>
	<!-- 新增房屋调整 E -->
</form>

<!-- 新发租 -->
<form id="newRent" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">房屋编号：</label>
      <input type="number" id="newRentHouseID" class="label_input" placeholder="双击选择房屋" />
      <a class="am-btn am-btn-primary am-btn-sm" id="newRentQuery">查询</a>
    </div>
		 <div class="am-form-group am-u-sm-6">
		  <label class="label_style"> 发租类别：</label>
		  <select name="NewLeaseType" id="NewLeaseType" class="label_select" required>
		      <option value="">请选择</option>
		      <option value="1">接管</option>
		      <option value="2">危改环建</option>
		      <option value="3">新建</option>
		      <option value="4">合建</option>
		      <option value="5">加改扩</option>
		      <option value="6">其他</option>
		  </select>
		</div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style"> 租户ID：</label>
      <label class="label_p_style newRentTenentID"></label>
    </div>
    <div class="am-form-group am-u-sm-6">
      <label class="label_style"> 承租人：</label>
      <label class="label_p_style newRentTenent"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">身份证号：</label>
      <label class="label_p_style newRentNumber"></label>
    </div>
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">联系电话：</label>
      <label class="label_p_style newRentTel"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">单元号：</label>
      <label class="label_p_style newRentUnit"></label>
    </div>
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">层次：</label>
      <label class="label_p_style newRentFloor"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">建筑面积：</label>
      <label class="label_p_style newRentBanArea"></label>
    </div>
    <div class="am-form-group am-u-sm-6">
      <label class="label_style">房屋原价：</label>
      <label class="label_p_style newRentPrice"></label>
    </div>
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-sm-12">
      <label class="label_style">异动事由：</label>
      <input id="newRentReason" class="label_input" style="width:492px;">
    </div>    
  </div>

  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label class="label_style">楼栋信息：</label>
      <a class="am-btn am-btn-primary am-btn-sm" id="newRentBanInfo">明细</a>
    </div>
  </div>
  <div class="am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label class="label_style">计租表：</label>
      <a class="am-btn am-btn-primary am-btn-sm" id="newRentDetail">明细</a>
    </div>
  </div>
</form>

<!-- 租金调整（批量） -->
<form id="batchRent" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <div class="am-form-group am-u-md-12">
      <label class="label_style">房屋编号：</label>
      <a class="am-btn am-btn-primary am-btn-sm" id="batchRentQuery">查询</a>
    </div>
    <div class="am-form-group am-u-sm-4" style="padding-right: 0">
      <label class="label_style">楼栋编号：</label>
      <label id="batchBanID" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-8">
      <label class="label_style">楼栋地址：</label>
      <label id="batchBanAddress" class="label_content label_p_style" style="width:476px;"></label>
    </div>
    <div class="am-form-group am-u-sm-4 ">
      <label class="label_style">楼栋产别：</label>
      <label id="batchOwnerType" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">规定租金：</label>
      <label id="batchHousePrerent" class="label_content label_p_style"></label>
    </div>
    <div class="am-form-group am-u-sm-4">
      <label class="label_style">楼栋租金异动：</label>
      <label id="batchHouseMoney" class="label_content label_p_style"></label>
    </div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">房屋明细：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
      <table class="am-table am-table-striped am-table-hover am-table-centered am-table-compact overflow_tbody" style="border:1px solid #ccc;">
          <thead style="display:block;">
              <tr>
                  <td style="width:200px;">#</td>
                  <td style="width:200px;" class="am-hide-sm-only">房屋编号</td>
                  <td style="width:200px;" class="am-hide-sm-only">承租人</td>
                  <td style="width:200px;" class="am-hide-sm-only">规定租金</td>
                  <td style="width:200px;" class="am-hide-sm-only">计算租金</td>
                  <td style="width:200px;" class="am-hide-sm-only">租金异动</td>
              </tr>
          </thead>
          <tbody id="batchHouseDetail" style="height:200px;display:block;overflow-y:scroll;">

          </tbody>
      </table>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">异动事由：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
      
      <textarea id="batchReason" value="计算租金标准化。" style="width:100%;height:80px;padding:4px 10px;">计算租金标准化。</textarea>

  </div>
</form>
<!--- 租金调整（批量） -->

<!-- 楼栋注销 S -->
<form id="buildingcancel" style="display:none;margin-top:20px;">
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基础信息：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
	<div class="am-u-sm-12">
	    <div class="am-form-group am-u-md-12">
	      <label class="label_style">楼栋编号：</label>
	      <input type="number" id="buildingcancelQueryBan" class="label_input" placeholder="双击选择房屋">
	      <a class="am-btn am-btn-primary am-btn-sm" id="buildingcancelQuery">查询</a>
	    </div>
	</div>
	<div class="am-u-sm-12">
	    <div class="am-form-group am-u-sm-12">
	      <label class="label_style">楼栋地址：</label>
	      <label id="buildingcancelAddress" class="label_p_style" style="width:470px;"></label>
	    </div>
	  </div>
      <div class="am-u-sm-12">
          <div class="am-form-group am-u-sm-12">
            <label class="label_style">异动事由：</label>
            <input id="buildingcancelReason" class="label_input" style="width:470px;">
          </div>    
       </div>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">基数异动：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
    <table class="am-table am-table-bordered  am-table-hover">
	  <thead>
		  <tr>
			<th>楼栋编号</th>
			<th>异动状态</th>
			<th class="cancels">规定租金</th>
			<th class="cancels">使用面积</th>
			<th class="cancels">建筑面积</th>
			<th class="cancels">房屋原价</th>
		  </tr>
	  </thead>
	  <tbody>
		<tr>
		  <td id="floor_number"></td>
		  <td>异动前</td>
		  <td class="cancel_before_1" id="floor_prescribed"><input type="hidden" name="floor_prescribed" value=""><label></label></td>
		  <td class="cancel_before_2" id="floor_areaofuse"><input type="hidden" name="floor_areaofuse" value=""><label></label></td>
		  <td class="cancel_before_3" id="floor_builtuparea"><input type="hidden" name="floor_builtuparea" value=""><label></label></td>
		  <td class="cancel_before_4" id="floor_original"><input type="hidden" name="floor_original" value=""><label></label></td>
		</tr>
		<tr>
		  <td></td>
		  <td>异动</td>
		  <td class="cancel_change_1"><input type="hidden" name="cancel_change_1" value=""><label></label></td>
		  <td class="cancel_change_2"><input type="hidden" name="cancel_change_2" value=""><label></label></td>
		  <td class="cancel_change_3"><input type="hidden" name="cancel_change_3" value=""><label></label></td>
		  <td class="cancel_change_4"><input type="hidden" name="cancel_change_4" value=""><label></label></td>
		</tr>
		<tr>
		  <td></td>
		  <td>异动后</td>
		  <td class="cancel_after_1" id="changes_floor_prescribed"><input type="hidden" name="changes_floor_prescribed" value=""><label></label></td>
		  <td class="cancel_after_2" id="changes_floor_areaofuse"><input type="hidden" name="changes_floor_areaofuse" value=""><label></label></td>
		  <td class="cancel_after_3" id="changes_floor_builtuparea"><input type="hidden" name="changes_floor_builtuparea" value=""><label></label></td>
		  <td class="cancel_after_4" id="changes_floor_original"><input type="hidden" name="changes_floor_original" value=""><label></label></td>
		</tr>
	  </tbody>
	</table>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">注销明细：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
	 <table class="am-table am-table-bordered  am-table-hover j-house-box">
	 	  <thead>
	 		  <tr>
	 		    <th>房屋编号</th>
	 		    <th>承租人</th>
	 		    <th>房屋原价</th>
	 		    <th>建筑面积</th>
	 		    <th>规定租金</th>
	 		    <th>计租面积</th>
	 		  </tr>
	 	  </thead>
	 	  <tbody>
			  <tr><td colspan='6'><div class='j-no-content'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无数据！</div></td></tr>
		  </tbody>
	 	</table>
  </div>
  <div class="am-form-group am-u-sm-12">
    <h2 class="label_title">补充附件：</h2>
  </div>
  <div class="am-form-group am-u-sm-12">
  	<div class="am-form-group am-u-md-8">
  		<div class="am-u-md-12">
  		  <label class="label_style">注销报告：</label>
  		  <div class="am-form-group am-form-file am-u-md-8">
  			  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
  			  <input id="cancelUploadReport" type="file" name="cancelUploadReport" multiple>
  		  </div>
  		</div>
  	</div>
  	<div id="cancelUploadReportShow" class="am-u-md-12 img_content"></div>
  </div>
  <div class="am-form-group am-u-sm-12">
  	<div class="am-form-group am-u-md-8">
  		<div class="am-u-md-12">
  		  <label class="label_style">征收明细表：</label>
  		  <div class="am-form-group am-form-file am-u-md-8">
  			  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
  			  <input id="CollectionDetails" type="file" name="CollectionDetails" multiple>
  		  </div>
  		</div>
  	</div>
  	<div id="CollectionDetailsShow" class="am-u-md-12 img_content"></div>
  </div>
</form>
<!--- 楼栋注销 E -->