{extend name="layout" /}
{block name="title"}<title>异动申请</title>{/block}
{block name="content"}
<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><small class="am-text-sm">异动管理</small> >
            <small class="am-text-primary">异动申请</small>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <?php if(in_array(365,$threeMenu)){ ; ?>
                    <button type="button" id="addApply" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-plus"></span> 异动申请</button>
                    <?php }; ?>
                </div>
            </div>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
                <thead>
                <tr>
                    <th class="table-check"></th>
                    <th class="table-id">#</th>
                    <th class="table-title">流程名称</th>
                    <th class="table-author am-hide-sm-only">定制人</th>
                    <th class="table-set">定制时间</th>
                    <th class="table-set">流程大类</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($processLst as $k => $v){ ;?>
                <tr class="check001">
                    <td>
                        <span class="piaochecked">
                            <input class="checkId radioclass" type="radio" name="choose" value="<?php echo $v['id']; ?>"/>
                        </span>
                    </td>
                    <td><?php echo $v['id']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['ProcessName']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['CreateUserName']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['CreateTime']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['IfBaseChange']; ?></td>
                </tr>
                <?php }; ?>

                </tbody>
            </table>
            <div class="am-cf">
                共{$processLstObj->total()}条记录
                <div class="am-fr">
                    {$processLstObj->render()}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content end -->
  {include file="application/ph/view/change_apply/form.html" /}
  {include file="application/ph/view/change_apply/HouseChangeForm.html" /}
  {include file="application/ph/view/change_apply/detail.html" /}
  {include file="application/ph/view/change_apply/pause_choose_house.html" /}
  {include file="application/ph/view/house_info/RentForm.html" /}
  {include file="application/ph/view/ban_info/detail.html" /}
{/block}
{block name="JsFile"}
<script src="https://api.map.baidu.com/api?v=2.0&ak=2xlodrKVRyFNeopCajiMTfgIOr8dnUAe"></script>
<script type="text/javascript" src="/public/static/gf/js/DFileUpload.js"></script>
<script type="text/javascript" src="/public/static/gf/viewJs/change_apply.js"></script>
<script type="text/javascript" src="/public/static/gf/viewJs/ban_form.js"></script>
{/block}