<div class="am-u-sm-12" id="banLinkHouseForm" style="display:none;">
  <div class="am-tabs" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1" style="margin-right:0;">选择</a></li>
        <li><a href="#tab2" style="margin-right:0;">已选</a></li>
      </ul>
      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
          <div class="am-u-sm-8">
            <h2 class="label_title">查找楼栋编号：</h2>
          </div> 
          <div class="am-u-sm-4">
            <input class="label_input" id="banLinkInput" placeholder="输入地址查询" />
            <button class="am-btn am-btn-primary am-btn-sm" id="banLinkSearch">查询</button>
          </div>
          <div class="am-u-sm-12">
              <table class="am-table am-table-striped am-table-hover am-table-centered am-table-compact" style="border:1px solid #ccc;margin-bottom:0;">
                  <thead style="display:block;">
                      <tr>
                          <th style="width:150px;" class="table-id">楼栋编号</th>
                          <th style="width:150px;" class="table-title">完损等级</th>
                          <th style="width:150px;" class="table-author">结构类别</th>
                          <th style="width:150px;" class="table-set">产别</th>
                          <th style="width:150px;" class="table-set">使用性质</th>
                          <th style="width:350px;" class="table-set">楼栋地址</th>
                      </tr>
                  </thead>
                  <tbody id="pauseBanAdd" style="height:200px;display:block;overflow-y:scroll;">

                  </tbody>
              </table>
          </div>
          <div class="am-u-sm-12">
            <h2 class="label_title">选择暂停房屋：</h2>
          </div>
          <div class="am-u-sm-12">
                <table class="am-table am-table-striped am-table-hover am-table-centered am-table-compact overflow_tbody" style="border:1px solid #ccc;margin-bottom:0;">
                    <thead style="display:block;">
                        <tr>
                            <td style="width:150px;"><input type="checkbox" id="allChoose"></td>
                            <td style="width:150px;" class="am-hide-sm-only">房屋编号</td>
                            <td style="width:150px;" class="am-hide-sm-only">产别</td>
                            <td style="width:150px;" class="am-hide-sm-only">使用性质</td>
                            <td style="width:150px;" class="am-hide-sm-only">承租人</td>
                            <td style="width:350px;" class="am-hide-sm-only">月租金</td>
                        </tr>
                    </thead>
                    <tbody id="pauseHouseAdd" style="height:250px;display:block;overflow-y:scroll;">
                    </tbody>
                </table>
          </div>
        </div>
        <div class="am-tab-panel am-fade" id="tab2">
          <div class="am-u-sm-12">
            <h2 class="label_title">已选暂停房屋(tip:房屋产别不能有多个)：</h2>
          </div>
          <div class="am-u-sm-12">
                <table class="am-table am-table-striped am-table-hover am-table-centered am-table-compact overflow_tbody" style="border:1px solid #ccc;margin-bottom:0;">
                    <thead style="display:block;">
                        <tr>
                        <td style="width:150px;">操作</td>
                            <td style="width:150px;" class="am-hide-sm-only">房屋编号</td>
                            <td style="width:150px;" class="am-hide-sm-only">产别</td>
                            <td style="width:150px;" class="am-hide-sm-only">使用性质</td>
                            <td style="width:150px;" class="am-hide-sm-only">承租人</td>
                            <td style="width:350px;" class="am-hide-sm-only">月租金</td>
                        </tr>
                    </thead>
                    <tbody id="pauseHouseChoose" style="height:530px;display:block;overflow-y:scroll;">
                    </tbody>
                </table>
          </div>
        </div>
    </div>
  </div>
</div>