{extend name="layout" /}
{block name="title"}<title>楼栋信息</title>{/block}
{block name="content"}
  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf">
        <small class="am-text-sm">房屋档案</small> > 
        <small class="am-text-primary">楼栋信息</small>
      </div>
    </div>

      <div class="am-g">
          <div class="am-u-sm-12 am-u-md-6">
              <div class="am-btn-toolbar">
                  <div class="am-btn-group-xs">
                      <?php if(in_array(45,$threeMenu)){ ; ?>
                      <button type="button" id="addBan" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-plus"></span> 新增楼栋</button>
                      <?php }; ?>
                      <?php if(in_array(46,$threeMenu)){ ; ?>
                      <button type="button" id="reviseBan" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-edit"></span> 修改楼栋</button>
                      <?php }; ?>
                      <?php if(in_array(507,$threeMenu)){ ; ?>
                       <button type="button" id="deleteBan" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-trash-o"></span> 删除楼栋</button>
                      <?php }; ?>
                  </div>
              </div>
          </div>
      </div>

    <div class="am-g">
      <div class="am-scrollable-horizontal">
          <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead>
              <tr>
                <th class="table-check"></th>
        				<th class="table-id">#</th>
        				<th class="table-title table-th-length">楼栋编号</th>
                <th class="table-title table-th-length">原编号</th>
                <?php if(session('user_base_info.institution_level')!=3){ ;?>
        				<th class="table-th-length">机构名称</th>
                <?php }; ?>
        				<th class="table-author am-hide-sm-only table-th-length">产别</th>
        				<th class="table-date am-hide-sm-only">楼栋地址</th>
        				<th class="table-set dong_none">产权证号</th>
        				<th class="table-set dong_none">建成年份</th>
        				<th class="table-set">完损等级</th>
        				<th class="table-set">结构类别</th>
        				<th class="table-set">使用性质</th>
                <th class="table-set">合建面</th>
        				<th class="table-set">规定租金</th>
                <th class="table-set">使用面积</th>
                <th class="table-set">实际户数</th>
        				<th class="table-set" style="width:220px;">操作</th>
              </tr>
          </thead>
          <tbody>
		  <!--查询-->
      <form action="{:url('BanInfo/index')}" method="post" id="queryForm"  >
		    <tr class="am-form-group am-form-inline am-form">
              <td></td>
              <td></td>
              <td>
                <div class="am-input-group am-input-group-sm">
                    <?php
                        if($banOption != array()){
                            $BanID = $banOption['BanID'];
                        }else{
                            $BanID = '';
                        }
                     ?>
                  <input name="BanID" type="text" class="am-form-field" value="{$BanID}">
                </div>
          	  </td>
              <td>
                <div class="am-input-group am-input-group-sm">
                    <?php
                        if($banOption != array()){
                            $OldBanID = $banOption['OldBanID'];
                        }else{
                            $OldBanID = '';
                        }
                     ?>
                  <input name="OldBanID" type="text" class="am-form-field" value="{$OldBanID}">
                </div>
              </td>

              <?php if(session('user_base_info.institution_level')!=3){ ;?>
              <td>
                <div class="am-form-group search_input none-length">
                    
                    <select name="TubulationID">
                        <option  value="" style="display:none">请选择</option>
                        <?php if(session('user_base_info.institution_level')==1){;?>
                        <?php foreach($instLst as $k10 => $v10){ if($v10['level'] !=0 ){; ?>
                                <?php
                                if($banOption != array()){
                                    if($banOption['TubulationID'] == $v10['id']){
                                        $select ='selected';
                                    }else{
                                        $select ='';
                                    }
                                }else{
                                    $select ='';
                                }
                                ?>
                            <option value="<?php echo $v10['id']; ?>" {$select}><?php echo $v10['Institution']; ?></option>
                        <?php }}}elseif(session('user_base_info.institution_level')==2){; ?>
                        <?php foreach($instLst as $k12 => $v12){ ; ?>
                                <?php
                                if($banOption != array()){
                                    if($banOption['TubulationID'] == $v12['id']){
                                        $select ='selected';
                                    }else{
                                        $select ='';
                                    }
                                }else{
                                    $select ='';
                                }
                                ?>
                        <option value="<?php echo $v12['id']; ?>" {$select}><?php echo $v12['Institution']; ?></option>
                        <?php }} ; ?>
                    </select>
                </div>
          		</td>
              <?php } ; ?>
              <td>
                  <div class="am-form-group search_input">
                      <select name="OwnerType">
                          <option  value="" style="display:none">请选择</option>
                          <?php foreach($owerLst as $k3 =>$v3){;?>

                          <?php

                                if($banOption != array()){

                                    if($banOption['OwnerType'] == $v3['id']){

                                        $select ='selected';
                                    }else{

                                        $select ='';
                                    }
                                }else{

                                    $select ='';
                                }

                                ?>

                          <option value="<?php echo $v3['id']; ?>" {$select}><?php echo $v3['OwnerType']; ?></option>
                          <?php }; ?>
                      </select>
                  </div>
          		</td>

              <td>
                <div class="am-input-group am-input-group-sm">
                    <?php
                        if($banOption != array()){
                            $AreaFour = $banOption['AreaFour'];
                        }else{
                            $AreaFour = '';
                        }
                     ?>
                  <input style="width:150px;" name="AreaFour" type="text" class="am-form-field" value="{$AreaFour}">
                </div>
              </td>
              <td class="dong_none">
                <div class="am-input-group am-input-group-sm">
                    <?php
                        if($banOption != array()){
                            $BanPropertyID = $banOption['BanPropertyID'];
                        }else{
                            $BanPropertyID = '';
                        }
                     ?>
                  <input name="BanPropertyID" type="text" class="am-form-field" value="{$BanPropertyID}">
                </div>
              </td>
              <td class="dong_none">
                <div class="am-input-group am-input-group-sm" style="width:150px;">
                    <?php
                         if($banOption != array()){
                            $BanYear = $banOption['BanYear'];
                        }else{
                            $BanYear = '';
                        }
                     ?>
                    <input style="width:140px;" name="BanYear" value="{$BanYear}" type="text" class="am-form-field" data-am-datepicker="{format: 'yyyy ', viewMode: 'years', minViewMode: 'years'}" >
                </div>
              </td>
              <td>
                  <div class="am-form-group search_input">
                      <select name="DamageGrade">
                          <option  value="" style="display:none">请选择</option>

                          <?php foreach($damaLst as $k2 =>$v2){;?>

                            <?php

                            if($banOption != array()){

                                if($banOption['DamageGrade'] == $v2['id']){

                                    $select ='selected';
                                }else{

                                    $select ='';
                                }
                            }else{

                                $select ='';
                            }

                            ?>

                          <option value="<?php echo $v2['id']; ?>" {$select} ><?php echo $v2['DamageGrade']; ?></option>
                          <?php }; ?>
                      </select>
                  </div>
          		</td>
          			  <td>
                    <div class="am-form-group search_input">
                        <select name="StructureType">
                            <option  value="" style="display:none">请选择</option>
                            <?php foreach($struLst as $k4 =>$v4){;?>
                            <?php
                                if($banOption != array()){
                                    if($banOption['StructureType'] == $v4['id']){
                                        $select ='selected';
                                    }else{
                                        $select ='';
                                    }
                                }else{
                                    $select ='';
                                }
                                ?>
                            <option value="<?php echo $v4['id']; ?>" {$select} ><?php echo $v4['StructureType']; ?></option>
                            <?php }; ?>
                        </select>
                    </div>
                  </td>
          			  <td>
                    <div class="am-form-group search_input">
                        <select name="UseNature">
                            <option  value="" style="display:none">请选择</option>
                            <?php foreach($useNatureLst as $k5 =>$v5){ ;?>

                            <?php

                                if($banOption != array()){

                                    if($banOption['UseNature'] == $v5['id']){

                                        $select ='selected';
                                    }else{

                                        $select ='';
                                    }
                                }else{

                                    $select ='';
                                }

                                ?>

                            <option value="<?php echo $v5['id']; ?>" {$select}><?php echo $v5['UseNature'];?></option>
                            <?php }; ?>
                        </select>
                    </div>
                  </td>
                <td>
                    <div class="am-input-group am-input-group-sm">

                        <?php
                        if($banOption != array()){
                            $TotalArea = $banOption['TotalArea'];
                        }else{
                            $TotalArea = '';
                        }
                     ?>
                            <input name="TotalArea" type="text" class="am-form-field" value="{$TotalArea}">
                    </div>
                </td>
          		<td><div style="width:50px;"></div><div class="am-input-group am-input-group-sm">{$tatalBanPrerent}
                </div></td>
                <td><div style="width:50px;"></div><div class="am-input-group am-input-group-sm">{$totalUseArea}
                </div></td>
                <td><div style="width:50px;"></div></td>

              <td>
                <div class="am-btn-group am-btn-group-xs" style="width:114px;">
                  <button type="submit" class="am-btn am-btn-xs am-text-primary" id="queryBtn"><span class="DqueryIcon" ></span>查询</button>
                  <a id="clearBanInfo" class="am-btn am-btn-xs am-text-primary ABtn" href="/ph/BanInfo/index"><span class="ResetIcon"></span>重置</a>
                </div>
              </td>
            </tr>
          </form>
		<!---查询-->

          <?php foreach( $banLst as $k => $v){ ;?>
            <tr class="check001">
                <td >
                  <span class="piaochecked">
                    <input class="checkId radioclass" type="radio" name='choose' value="<?php echo $v['BanID']; ?>" />
                  </span>
                </td>
                <td><?php echo ++$k; ?></td>
                <td><?php echo $v['BanID']; ?></td>
                <td><?php echo $v['OldBanID']; ?></td>
                <?php if(session('user_base_info.institution_level')!=3){ ;?>
                <td class="am-hide-sm-only"><?php echo $v['TubulationID']; ?></td>
                <?php }; ?>
                <td class="am-hide-sm-only"><?php echo $v['OwnerType']; ?></td>
                <!-- <td class="am-hide-sm-only"><?php echo $v['IfSuspend']; ?></td> -->
                <td class="am-hide-sm-only">
                  <p style="height:18px;margin:10px 0 0;padding:0;line-height:18px;"><?php echo $v['AreaFour']; ?></p>
                </td>
                <td class="dong_none"><?php echo $v['BanPropertyID']; ?></td>
                <td class="dong_none"><?php echo $v['BanYear']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['DamageGrade']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['StructureType']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['UseNature']; ?></td>
                <td><?php echo $v['TotalArea']; ?></td>
                <td><?php echo $v['PreRent']; ?></td>
                <td><?php echo $v['BanUsearea']; ?></td>
                <td><?php echo $v['TotalHouseNum']; ?></td>
              <td>
                  <div class="am-btn-group am-btn-group-xs" style="width:114px;">
                      <?php if(in_array(54,$threeMenu)){ ; ?>
                      <button class="am-btn am-btn-default am-text-primary am-btn-xs details details_btn" value="<?php echo $v['BanID']; ?>"> 明细</button>
                      <?php }; ?>
                      <?php if(in_array(56,$threeMenu)){ ; ?>
                      <button class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only structureBtn" value="<?php echo $v['BanID']; ?>">结构</button>
                      <?php }; ?>
                      <?php if(in_array(61,$threeMenu)){ ; ?>
                      <a href="{:url('HouseInfo/index',['BanID'=>$v['BanID'],'flag'=>'jump'])}" target="_blank" class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only ABtn" > 房屋</a>
                      <?php }; ?>
                  </div>
              </td>
            </tr>
          <?php }; ?>

          </tbody>
        </table>
		<div class="am-cf">
		  共{$banLstObj->total()}条记录
		  <div class="am-fr">
              {$banLstObj->render()}
		  </div>
		</div>
      </div>
    </div>
  </div>
  <div id="deleteChoose" style="display:none; text-align: center; margin: 20px;">
      <button id="HouseChange" class="am-btn am-btn-secondary " value="10" name="banDeleteType" style="background: #0086ff;border:none">房改</button>
      <button id="HouseRemove" class="am-btn am-btn-secondary" value="11" name="banDeleteType" style="background: #0086ff;border:none">拆迁，已注销</button>
      <button id="DateTogther" class="am-btn am-btn-secondary" value="12"  name="banDeleteType"style="background: #0086ff;border:none">数据合并</button>
      <button id="DateLose" class="am-btn am-btn-secondary" value="13"  name="banDeleteType"style="background: #0086ff;border:none">数据作废</button>
  </div>
  {include file="application/ph/view/ban_info/form.html" /}
  {include file="application/ph/view/ban_info/modify.html" /}
  {include file="application/ph/view/ban_info/detail.html" /}
  {include file="application/ph/view/ban_info/ban_structure.html" /}
  <!-- content end -->

{/block}
{block name="JsFile"}
<script src="https://api.map.baidu.com/api?v=2.0&ak=2xlodrKVRyFNeopCajiMTfgIOr8dnUAe"></script>
<script type="text/javascript" src="/public/static/gf/js/validation.js"></script>
<script type="text/javascript" src="/public/static/gf/viewJs/confirm_ban_form.js"></script>
{/block}