<div id="UserAssign" class="am-form" style="display:none;margin-top:1.6rem;">

	  <fieldset style="width:400px;">
		<!--<legend>添加楼栋</legend>-->
		<div class="am-u-sm-6">
			<div class="am-form-group am-u-sm-12">
				<input type="checkbox" />
			  <label for="doc-vld-email-2">经租会计</label>
			</div>

			<div class="am-form-group am-u-sm-12">
				<input type="checkbox" />
			  <label for="doc-vld-email-2">区公司领导</label>
			</div>
		
			<div class="am-form-group am-u-sm-12">
				<input type="checkbox" />
			 	 <label for="doc-vld-email-2">资料员</label>
			</div>

			<div class="am-form-group am-u-sm-12">
				<input type="checkbox" />
			 	 <label for="doc-vld-email-2">数据清理员</label>
			</div>
		</div>
		
<!--左右分割-->		
		
		
		<div class="am-u-sm-6">
			<div class="am-form-group am-u-sm-12">
				<input type="checkbox" />
			 	 <label for="doc-vld-email-2">区公司</label>
			</div>

			<div class="am-form-group am-u-sm-12">
				<input type="checkbox" />
			 	 <label for="doc-vld-email-2">区公司领导</label>
			</div>

			<div class="am-form-group am-u-sm-12">
				<input type="checkbox" />
			 	 <label for="doc-vld-email-2">管理员</label>
			</div>

		</div>
	  </fieldset>
  </div>