<form action="{:url('TenantInfo/edit')}" method="post" id="OrgModifyForm" class="am-form" data-am-validator style="display:none;margin-top:1.6rem;">

	  <fieldset style="width:400px;">
		<!--<legend>添加楼栋</legend>-->
		<div class="am-u-sm-12">
			<div class="am-form-group am-u-sm-12">
				<label for="doc-vld-email-2" class="label_style">机构名称：</label>
				<div class="am-u-sm-8">
					<input type="text" name="Institution" id="Institution" placeholder="机构名称" required/>
				</div>
			</div>
			<input type="hidden" name="id" id="id" value="" />

			<div class="am-form-group am-u-md-12">
				<label for="doc-select-2" class="label_style">选择上级所属：</label>
				<div class="am-u-md-8" style="float:left;">
					<select name="pid" id="pid" required>

						<option  value="" style="display:none">请选择</option>

						<?php  foreach($highOrg as $k11 => $v11){  ; ?>

						<option value="<?php echo $v11['id']; ?>" ><?php echo $v11['Institution']; ?></option>

						<?php }; ?>

					</select>

				</div>
			</div>

			<div class="am-form-group am-u-sm-12">
			  <label for="doc-select-8" class="label_style">有效性：</label>
				<div class="am-u-sm-8">
					<label class="am-radio-inline">
						<input type="radio"  value="1" name="Status" checked="checked" required>有效
					</label>
					<label class="am-radio-inline">
						<input type="radio" value="0" name="Status"> 无效
					</label>
				</div>
			</div>	
		</div>
		
<!-- 		<div class="am-u-sm-12" style="text-align:center;margin-top:2rem;">
			<button class="am-btn am-btn-secondary btn_big" type="submit">提交</button>
		</div> -->
	  </fieldset>
</form>