<div id="banStructure" style="display:none;margin-top:1.6rem;">
	<table class="am-u-md-3 am-table-striped am-table-centered">
		<thead><tr><th>楼栋信息</th></tr></thead>
		<tbody>
			<tr ><td>楼栋编号：</td></tr>
			<tr ><td id="Ban"></td></tr>
			<tr ><td>楼栋地址：</td></tr>
			<tr><td id="BanAddre"></td></tr>
			<tr ><td>结构类别：</td></tr>
			<tr><td id="StructureTy"></td></tr>
			<tr ><td>完损等级：</td></tr>
			<tr><td id="DamageGra"></td></tr>
			<tr ><td>单元数：</td></tr>
			<tr><td id="BanUnitN"></td></tr>
			<tr ><td>总层数：</td></tr>
			<tr><td id="BanFloorN"></td></tr>
		</tbody>
	</table>
	<div class="am-u-md-6 am-scrollable-horizontal" style="width:490px;">
		<table class="am-u-md-3 am-table am-table-striped am-table-centered am-text-nowrap">
			<thead class="BuildUnit">
				
				
					<!--数据库获取-->

					<!--数据库获取-->
			</thead>
			<tbody class="BuildFloor">
				<!--数据库获取-->
				<tr>
					<td>1</td>
					<td>
						<span class="ban_span">1</span><span class="ban_span">2</span>
						<!-- <span class="ban_span am-text-secondary">1</span><span class="ban_span">2</span>
						<span class="ban_span am-text-secondary">1</span><span class="ban_span">2</span>
						<span class="ban_span am-text-secondary">1</span><span class="ban_span">2</span>
						<span class="ban_span am-text-secondary">1</span><span class="ban_span">2</span>
						<span class="ban_span am-text-secondary">1</span><span class="ban_span">2</span> -->
					</td>
				</tr>
					<!--数据库获取-->
			</tbody>
		</table>
	</div>
	<div class="am-u-md-3" id="StructHouse" style="display:none; padding: 0">
		<table class="am-u-md-12 am-table-striped am-table-centered">
			<thead><tr><th>房屋信息</th></tr></thead>
			<tbody>
				<tr ><td>机构名称：</td></tr>
				<tr ><td id="dongStruc"> </td></tr>
				<tr ><td>租户姓名：</td></tr>
				<tr><td id="dongName"> </td></tr>
				<tr ><td>楼层号：</td></tr>
				<tr><td id="dongFloor"></td></tr>
				<tr ><td>单元号：</td></tr>
				<tr><td id="dongUnit"></td></tr>
<!-- 				<tr ><td>单元数：</td></tr>
				<tr><td id="dongUnitNum">4</td></tr> -->
				<tr ><td>门牌号码：</td></tr>
				<tr><td id="dongDoor"></td></tr>
				<tr ><td>规定月租金：</td></tr>
				<tr><td id="dongRent"></td></tr>
				<tr ><td>原价：</td></tr>
				<tr><td id="dongPrice"></td></tr>
				<tr ><td>合计使用面积：</td></tr>
				<tr><td id="dongArea"></td></tr>
				<tr ><td>建筑面积：</td></tr>
				<tr><td id="dongBuilArea"></td></tr>
				<tr ><td>泵费：</td></tr>
				<tr><td id="dongCost"></td></tr>
				<tr ><td>房屋基数：</td></tr>
				<tr><td id="dongBase"></td></tr>
			</tbody>
		</table>
	</div>
</div>