
<form  id="banForm" class="am-form" data-am-validator style="display:none;margin-top:1.6rem;">

	  <fieldset id="InputForm" style="width:780px;">
		<!--<legend>添加楼栋</legend>-->
		<div class="am-u-md-12">
			<div class="am-form-group am-u-md-12">
				<label>楼栋地址：</label>
				<div class="inline_70">
					<select ><option>武昌区</option></select>
				</div>
				<div class="inline_70">
					<select name="AreaTwo" id="doc-select-4" required>
						<option  value="" style="display:none">请选择</option>
						<?php foreach($areaTwo as $k15 =>$v15){;?>
						<option value="{$v15['Code']}"><?php echo $v15['AreaTitle']; ?></option>
						<?php }; ?>
					</select>
				</div>
				<div class="inline_70">
					<select name="AreaThree" id="doc-select-4" required>
						<option  value="" style="display:none">请选择</option>
						<?php foreach($areaThree as $k16 =>$v16){;?>
						<option value="{$v16['Code']}"><?php echo $v16['AreaTitle']; ?></option>
						<?php }; ?>
					</select>
				</div>
				<input type="text" name="AreaFour" style="width:200px;display:inline-block;" />
			</div>
		</div>
		<div class="am-u-md-6">
<!-- 			<div class="am-form-group am-u-md-12">
			  <label  class="label_style">楼栋编号：</label>
			  <div class="am-u-md-8">
				<input type="number" name="BanID" id="DBanID" placeholder="楼栋编号" required/>
			  </div>
			</div> -->

			<!--<div class="am-form-group am-u-md-12">-->
			  <!--<label  class="label_style">楼栋编号：</label>-->
			  <!--<div class="am-u-md-8">-->
				<!--<label id="DBanID"></label>-->
			  <!--</div>-->
			<!--</div>-->
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-2" class="label_style">机构名称：</label>
			  <div class="am-u-md-8" style="float:left;">

				<select name="TubulationID" id="doc-select-2" required>
					<option  value="" style="display:none">请选择</option>

					<?php if(session('user_base_info.institution_level')==1){;?>

					<?php foreach($instLst as $k10 => $v10){ if($v10['level'] == 1){; ?>
					  <optgroup label="<?php echo $v10['Institution'] ;?>">
						  <?php  foreach($instLst as $k11 => $v11){  if($v11['pid'] == $v10['id']){; ?>
						  		<option value="<?php echo $v11['id']; ?>" ><?php echo $v11['Institution']; ?></option>
						  <?php }}; ?>
					  </optgroup>

					<?php }}}elseif(session('user_base_info.institution_level')==2){; ?>

						<?php foreach($instLst as $k12 => $v12){ ; ?>

					<option value="<?php echo $v12['id']; ?>" ><?php echo $v12['Institution']; ?></option>

					<?php }} ; ?>


				</select>


			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
				<label  class="label_style">产权证号：</label>
				<div class="am-u-md-8">
					<input type="number" name="BanPropertyID" placeholder="产权证号" required/>
				</div>
			</div>


			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-4" class="label_style">完损等级：</label>
			  <div  class="am-u-md-8" style="float:left;">
				<select name="DamageGrade" id="doc-select-4" required>
					<option  value="" style="display:none">请选择</option>
					<?php foreach($damaLst as $k2 =>$v2){;?>
					<option value="{$v2['id']}"><?php echo $v2['DamageGrade']; ?></option>
					<?php }; ?>
				</select>
			  </div>
			</div>
			
			<!--<div class="am-form-group am-u-md-12">-->
			  <!--<label for="doc-select-8" class="label_style">是否改造产：</label>-->
			  <!--<div class="am-u-md-8" style="float:left;">-->
				<!--<select name="StructureType" id="doc-select-8" >-->
						<!--<?php foreach($struLst as $k4 =>$v4){;?>-->
						<!--<option value="{$k4+1}"><?php echo $v4['StructureType']; ?></option>-->
						<!--<?php }; ?>-->
				<!--</select>-->
			  <!--</div>-->
			<!--</div>-->

			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">土地证号：</label>
				<div class="am-u-md-8">
					<input type="number" name="BanLandID" placeholder="土地证号" required/>
				</div>
			</div>			
			<div class="am-form-group am-u-md-12">
				<label  class="label_style">不动产证号：</label>
				<div class="am-u-md-8">
					<input type="number" name="BanFreeholdID"  placeholder="不动产证号" required/>
				</div>
			</div>	
				
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">总户数：</label>
				<div class="am-u-md-8">
					<input type="number" name="TotalHouseholds"  placeholder="总户数" required/>
				</div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">占地面积：</label>
				<div class="am-u-md-8">
					<input type="number" name="CoveredArea" placeholder="占地面积" required/>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">证载面积：</label>
				<div class="am-u-md-8">
					<input type="number" name="ActualArea" placeholder="证载面积" required/>
				</div>
			</div>
			<!--<div class="am-form-group am-u-md-12">-->
			  <!--<label for="doc-select-8" class="label_style">栋建面：</label>-->
				<!--<div class="am-u-md-8">-->
					<!--<input type="number" name="BanArea" placeholder="栋建面" required/>-->
				<!--</div>-->
			<!--</div>-->
		</div>
		
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">

			  <label for="doc-select-5" class="label_style">产别：</label>
			  <div class="am-u-md-8" style="float:left;">
				<select name="OwnerType" id="doc-select-5" required>
					<option  value="" style="display:none">请选择</option>
					<?php foreach($owerLst as $k3 =>$v3){;?>
					<option value="{$k3+1}"><?php echo $v3['OwnerType']; ?></option>
					<?php }; ?>
				</select>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
				<label  class="label_style">建成年份：</label>
				<!--<div class="am-u-md-8">-->
					<!--<input type="text" id="doc-vld-email-10" data-am-datepicker="{format: 'yyyy ', viewMode: 'years', minViewMode: 'years'}" placeholder="选择年份" data-am-datepicker readonly/>-->
				<!--</div>-->
				<div class="am-u-md-8" data-am-validator>
					<input type="text" name="BanYear" id="doc-vld-email-10" data-am-datepicker="{format: 'yyyy ', viewMode: 'years', minViewMode: 'years'}" placeholder="建成年份" />
				</div>
				<!--<input type="text" class="am-u-md-8" data-am-datepicker="{format: 'yyyy ', viewMode: 'years', minViewMode: 'years'}" placeholder="日历组件" data-am-datepicker readonly/>-->

			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-7" class="label_style">使用性质：</label>
			  <div class="am-u-md-8" style="float:left;">
				<select name="UseNature" id="doc-select-7" required>
					<option  value="" style="display:none">请选择</option>
					<?php foreach($useNatureLst as $k5 =>$v5){ ;?>
					<option value="<?php echo $v5['id']; ?>"><?php echo $v5['UseNature'];?></option>
					<?php }; ?>
				</select>
			  </div>
			</div>

			
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">结构类别：</label>
			  <div class="am-u-md-8" style="float:left;">
				<select name="StructureType" id="doc-select-8" required>
					<option  value="" style="display:none">请选择</option>
						<?php foreach($struLst as $k4 =>$v4){;?>
						<option value="<?php echo $v4['id']; ?>"><?php echo $v4['StructureType']; ?></option>
						<?php }; ?>
				</select>
			  </div>
			</div>
			<!--新加-->
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">单元数量：</label>
				<div class="am-u-md-8">
					<input type="number" name="BanUnitNum" placeholder="单元数量" required/>
				</div>
			</div>
			
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">楼层数量：</label>
				<div class="am-u-md-8">
					<input type="number" name="BanFloorNum" placeholder="总楼层数量" required/>
				</div>
			</div>
			
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">起始楼层：</label>
				<div class="am-u-md-8">
					<input type="number" name="BanFloorStart" placeholder="起始楼层数" required/>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" style="float:left;">是否历史优秀建筑：</label>
				<div class="am-u-md-6">
					<select name="HistoryIf" id="doc-select-5" required style="width:112%;">
						<!-- <option  value="" style="display:none">请选择</option> -->
						<option value="0">不是</option>
						<option value="1">省级</option>
						<option value="2">市级</option>
						<option value="3">区级</option>
					</select>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
				<label class="label_style">是否改造产： </label>
				<div class="am-u-md-8">
					<label class="am-radio-inline">
						<input type="radio"  value="1" name="ReformIf" required> 是
					</label>
					<label class="am-radio-inline">
						<input type="radio" value="0" name="ReformIf" checked="checked" > 否
					</label>
				</div>
			</div>
			
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" style="float:left;">是否文物保护单位：</label>
			  <div class="am-u-md-6">
					<label class="am-radio-inline">
						<input type="radio"  value="1" name="ProtectculturalIf" required> 是
					</label>
					<label class="am-radio-inline">
						<input type="radio" value="0" name="ProtectculturalIf" checked="checked" > 否
					</label>
				</div>
			</div>
			
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" style="float:left;">产权是否分割：</label>
			  <div class="am-u-md-6"">
					<label class="am-radio-inline">
						<input type="radio"  value="1" name="CutIf" required> 是
					</label>
					<label class="am-radio-inline">
						<input type="radio" value="0" name="CutIf" checked="checked" > 否
					</label>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
				<input type="checkbox" name="IfElevator" value="1" />
				<label>有电梯</label>
			</div>
			<div class="am-form-group am-u-md-12">
				<input type="checkbox" name="IfFirst" value="1" />
				<label>居住第一层有架空层或木地板住房</label>
			</div>
		</div>

		<hr class="am-u-md-11"/>



		
		<div class="am-u-md-6">
			<!--<div class="am-form-group am-u-md-12">-->
			  <!--<label for="" class="label_style">企业建面：</label>-->
			  <!--<div class="am-u-md-8">-->
				<!--<input type="number" name="EnterpriseArea" id="" minlength="1" placeholder="输入企业建面" required/>-->
			  <!--</div>-->
			<!--</div>-->

			<!--<div class="am-fo<br />rm-group am-u-md-12">-->
			  <!--<label  class="label_style">机关建面：</label>-->
			  <!--<div class="am-u-md-8">-->
				<!--<input type="number" name="PartyArea" placeholder="机关建面" required/>-->
			  <!--</div>-->
			<!--</div>-->

			<!--<div class="am-form-group am-u-md-12">-->
			  <!--<label for="" class="label_style">民用建面：</label>-->
			  <!--<div class="am-u-md-8">-->
				<!--<input type="number" name="CivilArea" id="" placeholder="民用建面" required/>-->
			  <!--</div>-->
			<!--</div>-->
			
<!-- 			<div class="am-form-group am-u-md-12">
			  <label for="" class="label_style">使用面积：</label>
			  <div class="am-u-md-8">
				<input type="number" class=""  name="BanUsearea" id="" placeholder="使用面积" required />
			  </div>
			</div> -->
			<!--<div class="am-form-group am-u-md-12">-->
			  <!--<label for="" class="label_style">规定租金：</label>-->
			  <!--<div class="am-u-md-8">-->
				<!--<input type="number" class="" name="PreRent" id="" placeholder="0.00" value="" required />-->
			  <!--</div>-->
			<!--</div>-->
			<!--<div class="am-form-group am-u-md-12">-->
			  <!--<label for="" class="label_style">计算租金：</label>-->
			  <!--<div class="am-u-md-8">-->
				<!--<input type="number" class="" name="CountRent" id="" placeholder="0.00" value="" required />-->
			  <!--</div>-->
			<!--</div>-->
			<input id="currentId" hidden value="">
			<div class="am-form-group am-u-md-12">
			  <label style="float:left;">土地证电子版：</label>
				<div class="am-form-group am-form-file am-u-md-8">
				  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
				  <input type="file" name="LandCertificate" id="LandCertificate" multiple>
				</div>
			</div>
			<img class="am-form-group am-u-md-12" id="LandShow" style="width:310px;height:150px;float:left;">

			<div class="am-form-group am-u-md-12">
			  <label style="float:left;">不动产电子版：</label>
				<div class="am-form-group am-form-file am-u-md-8">
				  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
				  <input type="file" name="RealEstate" id="RealEstate" multiple>
				</div>
			</div>
			<img class="am-form-group am-u-md-12" id="EstateShow" style="width:310px;height:150px;float:left;">

			<div class="am-form-group am-u-md-12">
			  <label class="label_style">影像资料：</label>
				<div class="am-form-group am-form-file am-u-md-8">
				  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
				  <input type="file" name="BanImageIDS" id="imageUp" multiple>
				</div>
			</div>
			<img class="am-form-group am-u-md-12" id="imgShow" style="width:310px;height:150px;float:left;">
		</div>

		<div class="am-u-md-6">
			<!-- <div class="am-form-group am-u-md-12">
				<label for="" class="label_style" >楼栋地址：</label>
				<div class="am-u-md-8">
					<input type="text" class="" name="BanAddress" id="BanAddress" placeholder="楼栋地址" required />
				</div>
			</div> 
			<div class="am-form-group am-u-md-12">
				<label for="" class="label_style" >楼栋地址：</label>
				<div class="am-u-md-8">
					<label id="BanAddress"></label>
				</div>
			</div>-->
			<div class="am-form-group am-u-md-12">
				<label for="" class="label_style" >经纬度：</label>
				<div class="am-u-md-8">
					<input type="text" class="" name="xy" id="getPosition" placeholder="楼栋地址" required />
				</div>
			</div>
			
			<div class="am-form-group am-u-md-12" id="FormMap" style=" overflow: hidden;width:280px;height:262px;margin-top: 36px;
    margin-left: 14px;border:1px solid #D9D9D9;float:left;"></div>
    <!--<div class="am-form-group am-u-md-12">
				<label for="" class="label_style" >经纬度：</label>
				<div class="am-u-md-8">
					<input type="text" class="" name="xy" id="jwd" placeholder="楼栋地址" required />
				</div>
			</div>
			
			<div class="am-form-group am-u-md-12" id="mapF" style=" overflow: hidden;width:280px;height:262px;margin-top: 36px;
    margin-left: 14px;border:1px solid #D9D9D9;float:left;"></div>-->
		</div>
		</div>
			

<!-- 		<hr class="am-u-md-11"/> -->

		<!--<div class="am-form-group am-u-md-12 padding_left">-->
			<!--<label for="" class="label_style" style="width:150px;">经纬度（地图接口）：</label>-->
			<!--<div class="am-u-md-5">-->
				<!--<input type="text" class=""  id="doc-vld-age-4" placeholder="规定租金" required />-->

			<!--</div>-->

			<!--<button style="padding-right:0.7rem" class="am-btn am-btn-default label_style" type="button">坐标拾取</button>-->

		<!--</div>-->

<!-- 		<div class="am-form-group am-u-md-12 padding_left">
			<label for="" class="label_style">产权来源：</label>
			<div class="am-u-md-9">
				<input type="text" class="" name="PropertySource" id="doc-vld-age-3" placeholder="产权来源" required />
			</div>
		</div> -->

	<!-- 	<hr class="am-u-md-11"/> -->
		
		<!--<div class="am-form-group am-u-md-12 padding_left">-->
		  <!--<label>拆迁状态： </label>-->
		  <!--<label class="am-radio-inline">-->
			<!--<input type="radio"  value="1" checked="checked" name="RemoveStatus" required> 未拆迁-->
		  <!--</label>-->
		  <!--<label class="am-radio-inline">-->
			<!--<input type="radio" value="2" name="RemoveStatus"> 已拆迁，未下基数-->
		  <!--</label>-->
		  <!--<label class="am-radio-inline">-->
			<!--<input type="radio" value="3" name="RemoveStatus">已拆迁，下基数-->
		  <!--</label>-->
		<!--</div>-->
	  </fieldset>
  </form>