<form id="addForm" style="margin-top:1.6rem;display:none;">
    <div class="am-form-group am-u-md-12">
        <h2 class="label_title">基本信息：</h2>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">房屋编号：</label>
        <label class="label_p_style houseId"></label>
    </div>
    <div class="am-form-group am-u-md-8">
        <label class="label_style">房屋地址：</label>
        <label class="label_p_style houseAddress" style="width:484px;"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">楼层：</label>
        <label class="label_p_style FloorID"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">使用面积：</label>
        <label class="label_p_style houseArea"></label>
    </div>
    <div class="am-form-group am-u-md-4">
        <label class="label_style">计租面积：</label>
        <label class="label_p_style leasedArea"></label>
    </div>

    <div class="am-form-group am-u-md-4">
        <label class="label_style">转让形式：</label>
        <label id="TypeName" class="label_p_style">更名</label>
    </div>
    <div class="am-form-group am-u-md-4" >
        <label class="label_style" >备案时间：</label>
        <label class="label_p_style createTime"></label>
    </div>
    <div class="am-form-group am-u-md-4" >
        <label class="label_style" >转让金额：</label>
        <label class="label_p_style TransferRent"></label>
    </div>

    <div class="am-form-group am-u-md-4">
        <label class="label_style">结构类别：</label>
        <label class="label_p_style">更名</label>
    </div>
    <div class="am-form-group am-u-md-4" >
        <label class="label_style">使用性质：</label>
        <label class="label_p_style"></label>
    </div>
    <div class="am-form-group am-u-md-4" >
        <label class="label_style">有偿转让原因：</label>
        <label class="label_p_style"></label>
    </div>


    <div class="am-u-md-12"><hr /></div>
    <div class="am-u-md-4">
      <label class="label_style">原租户：</label>
      <label class="label_p_style OldTenantName"></label>
    </div>
    <div class="am-u-md-4">
      <label class="label_style">身份证号：</label>
      <label class="label_p_style OldTenantNumber"></label>
    </div>
    <div class="am-u-md-4">
      <label class="label_style">联系电话：</label>
      <label class="label_p_style OldTenantTel"></label>
    </div>
    <div class="am-u-md-12"><hr /></div>
    <div class="am-u-md-4">
      <label class="label_style">现租户：</label>
      <label class="label_p_style NewTenantName"></label>
    </div>
    <div class="am-u-md-4">
      <label class="label_style">身份证号：</label>
      <label class="label_p_style NewTenantNumber"></label>
    </div>
    <div class="am-u-md-4">
      <label class="label_style">联系电话：</label>
      <label class="label_p_style NewTenantTel"></label>
    </div>
    <div class="am-u-md-12"><hr /></div>

  <div class="am-form-group am-u-md-12">
      <label class="label_title">产权户籍情况</label>
  </div>

  <div class="am-u-md-12">
    <div class="am-u-md-4" style="padding:10px 0 0">
      <label class="label_style" style="width:160px;">是否代、托、改造产：</label>
      <label class="am-radio-inline">
          <input type="radio" name="IfReform" value="1"> 是
      </label>
      <label class="am-radio-inline">
          <input type="radio" name="IfReform" value="0" checked> 否
      </label>
    </div>
    <div class="am-u-md-8" style="padding:10px 0 0">
      <label class="label_style" style="width:160px;">是否五年内新翻覆修房屋：</label>
      <label class="am-radio-inline">
          <input type="radio" name="IfRepair" value="1"> 是
      </label>
      <label class="am-radio-inline">
          <input type="radio" name="IfRepair" value="0" checked> 否
      </label>
    </div>
  </div>

  <div class="am-u-md-12">
    <div class="am-u-md-4" style="padding:10px 0 0">
      <label class="label_style" style="width:160px;">是否属门面营业用房：</label>
      <label class="am-radio-inline">
          <input type="radio" name="IfCollection" value="1"> 是
      </label>
      <label class="am-radio-inline">
          <input type="radio" name="IfCollection" value="0" checked> 否
      </label>
    </div>
    <div class="am-u-md-8" style="padding:10px 0 0">
      <label class="label_style" style="width:160px;">是否属于征收范围内房屋：</label>
      <label class="am-radio-inline">
          <input type="radio" name="IfFacade" value="1"> 是
      </label>
      <label class="am-radio-inline">
          <input type="radio" name="IfFacade" value="0" checked> 否
      </label>
    </div>
  </div>
  
    <div class="am-u-md-12 material_3_status_2">
        <div class="am-u-md-5">
            <p>直管公房有偿转让备案单：</p>
        </div>
        <div class="am-form-group am-form-file am-u-md-5">
            <i class="am-icon-cloud-upload"></i> 选择要上传的文件
            <input id="RecordSheet" type="file" name="RecordSheet" multiple>
        </div>
        <div id="RecordSheetShow" class="am-u-md-12"></div>
    </div>


    <div class="am-u-md-12 status_3">
        <div class="am-u-md-4" style="padding:10px 0 0;">
            <label class="label_style" style="width:160px;">是否属代、托、改造产：</label>
            <label class="label_style IfReform"></label>
        </div>
        <div class="am-u-md-8" style="padding:10px 0 0;">
            <label class="label_style" style="width:160px;">是否是五年内新翻覆修房屋：</label>
            <label class="label_style IfRepair"></label>
        </div>
    </div>
    <div class="am-u-md-12 status_3">
        <div class="am-u-md-4" style="padding:10px 0 0;">
            <label class="label_style" style="width:160px;">是否属门面营业用房：</label>
            <label class="label_style IfCollection"></label>
        </div>
        <div class="am-u-md-8" style="padding:10px 0 0;" id="addContent">
            <label class="label_style" style="width:160px;">是否属于征收范围内房屋：</label>
            <label class="label_style IfFacade"></label>
        </div>
    </div>


    <!-- 样式一 -->
    <div class="material_1" style="padding-left:0;">
        <div class="am-form-group am-u-md-12">
            <h2 class="label_title">提交材料：</h2>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>更改姓名后户口簿：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="ReBooklet" type="file" name="ReBooklet" multiple>
            </div>
            <div id="Dshow" class="am-u-md-12"></div>
            <!-- <div id="ReBooklet" class="fileUploadContent"></div> -->
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>更改姓名后居民身份证：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="ReIDCard" type="file" name="file2" multiple>
            </div>
            <div id="ReIDCardShow" class="am-u-md-12"></div>
            <!-- <div id="ReIDCard" class="fileUploadContent"></div> -->
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>国有公房(民用住宅)租赁合同：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="ReContract" type="file" name="file3" multiple>
            </div>
            <div id="ReContractShow" class="am-u-md-12"></div>
            <!-- <div id="ReContract" class="fileUploadContent"></div> -->
        </div>
    </div>
    <!-- 样式二 -->
    <div class="material_2" style="padding-left:0;">
        <div class="am-form-group am-u-md-12">
            <h2 class="label_title">提交材料：</h2>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>申请书：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnApplicationForm" type="file" name="CnApplicationForm" multiple>
            </div>
            <div id="CnApplicationFormShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>申请人户口簿：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnApBooklet" type="file" name="CnApBooklet" multiple>
            </div>
            <div id="CnApBookletShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>申请人身份证、图章：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnApIDCard" type="file" name="CnApIDCard" multiple>
            </div>
            <div id="CnApIDCardShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>国有公房（民用住宅）租赁合同：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnContract" type="file" name="CnContract" multiple>
            </div>
            <div id="CnContractShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>原承租人死亡的，提交死亡证明：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnDeathProve" type="file" name="CnDeathProve" multiple>
            </div>
            <div id="CnDeathProveShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>原承租人户籍迁出本市的，提交户籍注销证明：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnMigProve" type="file" name="CnMigProve" multiple>
            </div>
            <div id="CnMigProveShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>诉讼离婚的，提交人民法院判决书或者调解书：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnLitig" type="file" name="CnLitig" multiple>
            </div>
            <div id="CnLitigShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>协议离婚的，提交经民政部门备案的离婚协议书：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnAgreement" type="file" name="CnAgreement" multiple>
            </div>
            <div id="CnAgreementShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>离婚证：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnDivorce" type="file" name="CnDivorce" multiple>
            </div>
            <div id="CnDivorceShow" class="am-u-md-12"></div>
        </div>

        <div class="am-form-group am-u-md-12">
            <div class="am-u-md-6">
                <label>附件：</label>
            </div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>附件一：公有住房指定承租人协议书（需公证）：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnAttachmentOne" type="file" name="file2" multiple>
            </div>
            <div id="CnAttachmentOneShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>附件二：公有住房过户协议书：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnAttachmentTwo" type="file" name="CnAttachmentTwo" multiple>
            </div>
            <div id="CnAttachmentTwoShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>附件三：公有住房承租声明书：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnAttachmentThr" type="file" name="CnAttachmentThr" multiple>
            </div>
            <div id="CnAttachmentThrShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>附件四：公有住房承租保证书：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnAttachmentFour" type="file" name="CnAttachmentFour" multiple>
            </div>
            <div id="CnAttachmentFourShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>附件五：公有住房承租承诺书：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="CnAttachmentFive" type="file" name="CnAttachmentFive" multiple>
            </div>
            <div id="CnAttachmentFiveShow" class="am-u-md-12"></div>
        </div>
    </div>
    <!-- 样式三 -->
    <div class="material_3" style="padding-left:0;">
        <div class="am-form-group am-u-md-12">
            <h2 class="label_title">提交材料：</h2>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>住宅租约：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrApplicationForm" type="file" name="TrApplicationForm" multiple>
            </div>
            <div id="TrApplicationFormShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>原承租人户口：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrApBooklet" type="file" name="TrApBooklet" multiple>
            </div>
            <div id="TrApBookletShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>现承租人户口：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrApIDCard" type="file" name="TrApIDCard" multiple>
            </div>
            <div id="TrApIDCardShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>身份证：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrContract" type="file" name="TrContract" multiple>
            </div>
            <div id="TrContractShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>结婚证：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrAgreementOne" type="file" name="TrAgreementOne" multiple>
            </div>
            <div id="TrAgreementOneShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>共有子女的证明材料：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrAgreementTwo" type="file" name="TrAgreementTwo" multiple>
            </div>
            <div id="TrAgreementTwoShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>亲属关系证明材料</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrAgreementThr" type="file" name="TrAgreementThr" multiple>
            </div>
            <div id="TrAgreementThrShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>死亡证：</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrDeathProve" type="file" name="TrDeathProve" multiple>
            </div>
            <div id="TrDeathProveShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>离婚证</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrAttachmentOne" type="file" name="TrAttachmentOne" multiple>
            </div>
            <div id="TrAttachmentOneShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>离婚协议书</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrAttachmentTwo" type="file" name="TrAttachmentTwo" multiple>
            </div>
            <div id="TrAttachmentTwoShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>过户协议书</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrAttachmentThr" type="file" name="TrAttachmentThr" multiple>
            </div>
            <div id="TrAttachmentThrShow" class="am-u-md-12"></div>
        </div>
        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>武汉市直管公房使用权有偿转让、受让审批表</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrAttachmentFour" type="file" name="TrAttachmentFour" multiple>
            </div>
            <div id="TrAttachmentFourShow" class="am-u-md-12"></div>
        </div>

        <div class="am-u-md-12">
            <div class="am-u-md-5">
                <p>武汉市公有房屋使用权转让协议</p>
            </div>
            <div class="am-form-group am-form-file am-u-md-5">
                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                <input id="TrAttachmentFive" type="file" name="TrAttachmentFive" multiple>
            </div>
            <div id="TrAttachmentFiveShow" class="am-u-md-12"></div>
        </div>
    </div>

    <div class="am-form-group am-u-md-12 status_3">
        <h2 class="label_title">审批状态：</h2>
    </div>
    <div id="FormState" class="am-u-md-12 status_3">
               <!--  <span class="process_style process_style_active">房管员</span><span class="line_style">——></span>
                <span class="process_style">房调员</span><span>——></span>
                <span class="process_style">所长</span><span>——></span>
                <span class="process_style">总公司科长</span><span>——></span>
                <span class="process_style">经管副总</span> -->
    </div>
    <div class="am-form-group am-u-md-12 status_3">
        <!--<label>1.房管员［黄芳］于2017年6月13日提交了使用权变更申请；</label>-->
    </div>
</form>