<div id="SystemDetail" class="am-form" style="display:none;margin-top:1.6rem;">

	<table class="am-table am-table-striped am-table-hover table-main am-table-centered">
			<colgroup>
			    <col width="150">
			    <col width="200">
			    <col>
			</colgroup>
            <thead>
              <tr>
        			<th class="table-title">原始数据</th>
        			<th class="table-author am-hide-sm-only">现有数据</th>
        			<th class="table-date am-hide-sm-only">名称</th>
              </tr>
          </thead>
          <tbody id="tbo">
          </tbody>
        </table>
</div>