{extend name="layout" /}
{block name="title"}<title>使用权变更记录</title>{/block}
{block name="content"}
  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><small class="am-text-sm">使用权变更</small> > <small class="am-text-primary">使用权变更申请</small></div>
    </div>

<!--     <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button type="button" id="addBan" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增楼栋</button>
            <button type="button" id="reviseBan" class="am-btn am-btn-default"><span class="am-icon-save"></span> 修改楼栋</button>
            <button type="button" id="deleteBan" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除楼栋</button>
          </div>
        </div>
      </div>
    </div>
 -->
    <div class="am-g">
      <div class="am-scrollable-horizontal am-form">
          <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead>
              <tr>
                <th class="table-check"></th>
        				<th class="table-id">#</th>
        				<th class="table-title">变更编号</th>
        				<th class="table-type">房屋编号</th>
        				<th class="table-author am-hide-sm-only">变更类型</th>
        				<th class="table-date am-hide-sm-only">申请机构</th>
        				<th class="table-set">操作人</th>
        				<th class="table-set">申请时间</th>
        				<th class="table-set">审核状态</th>
        				<th class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>
        		  <!--查询-->
                  <form action="{:url('UserRecord/index')}" method="post">
                      <tr class="am-form-group am-form-inline">
                          <td></td>
                          <td></td>
                          <td>
                              <div class="am-input-group am-input-group-sm">
                                  <?php
                        if($changeOption != array()){
                            $ChangeOrderID = $changeOption['ChangeOrderID'];
                        }else{
                            $ChangeOrderID = '';
                        }
                     ?>
                                  <input type="text" name="ChangeOrderID" class="am-form-field" value="{$ChangeOrderID}">
                              </div>
                          </td>
                          <td>
                              <div class="am-input-group am-input-group-sm">
                                  <?php
                            if($changeOption != array()){
                                $HouseID = $changeOption['HouseID'];
                            }else{
                                $HouseID = '';
                            }
                         ?>
                                  <input type="text" name="HouseID" class="am-form-field" value="{$HouseID}">
                              </div>
                          </td>
                          <td>
                              <div class="am-form-group search_input">
                                  <select name="ChangeType" id="doc-select-5">
                                      <option  value="" style="display:none">请选择</option>
                                      <?php foreach($useChanges as $k3 =>$v3){;?>

                                      <?php

                                if($changeOption != array()){

                                    if($changeOption['ChangeType'] == $v3['id']){

                                        $select ='selected';
                                    }else{

                                        $select ='';
                                    }
                                }else{

                                    $select ='';
                                }

                                ?>

                                      <option value="<?php echo $v3['id']; ?>" {$select}><?php echo $v3['UseChangeTitle']; ?></option>
                                      <?php }; ?>
                                  </select>
                              </div>
                          </td>
                          <td>
                              <div class="am-form-group search_input">


                                  <?php if(session('user_base_info.institution_level')!=3){ ;?>
                                  <select name="TubulationID" id="doc-select-2">
                                      <option  value="" style="display:none">请选择</option>

                                      <?php if(session('user_base_info.institution_level')==1){;?>

                                      <?php foreach($instLst as $k10 => $v10){ if($v10['level'] !=0 ){; ?>

                                      <?php

                                if($changeOption != array()){

                                    if($changeOption['TubulationID'] == $v10['id']){

                                        $select ='selected';
                                    }else{

                                        $select ='';
                                    }
                                }else{

                                    $select ='';
                                }

                                ?>

                                      <option value="<?php echo $v10['id']; ?>" {$select}><?php echo $v10['Institution']; ?></option>

                                      <?php }}}elseif(session('user_base_info.institution_level')==2){; ?>

                                      <?php foreach($instLst as $k12 => $v12){ ; ?>

                                      <?php

                                if($changeOption != array()){

                                    if($changeOption['TubulationID'] == $v12['id']){

                                        $select ='selected';
                                    }else{

                                        $select ='';
                                    }
                                }else{

                                    $select ='';
                                }

                                ?>

                                      <option value="<?php echo $v12['id']; ?>" {$select}><?php echo $v12['Institution']; ?></option>

                                      <?php }}} ; ?>

                                  </select>
                              </div>
                          </td>
                          <td>
                            <div class="am-input-group am-input-group-sm">
                                  <?php
                        if($changeOption != array()){
                            $UserName = $changeOption['UserName'];
                        }else{
                            $UserName = '';
                        }
                     ?>
                                  <input type="text" name="UserName" class="am-form-field" value="{$UserName}">
                              </div>
                          </td>
                          <td>
                              <div class="am-input-group am-input-group-sm" style="width:210px;">
                                      <?php
                        if($changeOption != array()){
                            $DateStart = $changeOption['DateStart'];
                            $DateEnd = $changeOption['DateEnd'];
                        }else{
                            $DateStart = '';
                            $DateEnd = '';
                        }
                     ?>
                                  <div class="am-u-sm-6" style="padding:0;">
                                      <input style="width:100px;" name="DateStart" value="{$DateStart}" type="text" class="am-form-field" data-am-datepicker value="">
                                  </div>
                                  <div class="am-u-sm-6" style="padding:0;">
                                      <input style="width:100px;" name="DateEnd" value="{$DateEnd}" type="text" class="am-form-field" data-am-datepicker value="">
                                  </div>
                              </div>
                          </td>
                          <td><div style="min-width:110px;"></div></td>
                          <td>
                              <div class="am-btn-group am-btn-group-xs" style="width:114px;">
                                  <button type="submit" class="am-btn am-btn-xs am-text-primary" id="queryBtn"><span class="DqueryIcon"></span>查询</button>
                                  <a id="clearUserApplyInfo" class="am-btn am-btn-xs am-text-primary ABtn" href="/ph/UserRecord/index.html"><span class="ResetIcon"></span>重置</a>
                              </div>
                          </td>
                      </tr>
                  </form>
		<!---查询-->

                  <?php foreach($changeLst as $k1 => $v1){ ;?>
                  <tr class="check001">
                      <td>
                        <span class="piaochecked">
                          <input class="checkId radioclass" type="radio" value="<?php echo $v1['ChangeOrderID']; ?>" />
                        </span>
                      </td>
                      <td><?php echo ++$k1; ?></td>
                      <td><?php echo $v1['ChangeOrderID']; ?></td>
                      <td class="am-hide-sm-only"><?php echo $v1['HouseID']; ?></td>
                      <td class="am-hide-sm-only"><?php echo $v1['ChangeType']; ?></td>
                      <td class="am-hide-sm-only"><?php echo $v1['InstitutionID']; ?></td>
                      <td class="am-hide-sm-only"><?php echo $v1['UserNumber']; ?></td>
                      <td class="am-hide-sm-only"><?php echo $v1['CreateTime']; ?></td>
                      <td class="am-hide-sm-only"><?php echo $v1['Status']; ?></td>
                      <td>
                          <div class="am-btn-group am-btn-group-xs">
                              <button class="am-btn am-btn-default am-btn-xs am-text-primary am-hide-sm-only BtnChange" value="<?php echo $v1['ChangeOrderID']; ?>">明细</button>
                          </div>
                      </td>
                  </tr>
                  <?php }; ?>
          </tbody>
        </table>
  		<div class="am-cf">
              共{$changeLstObj->total()}条记录
  		  <div class="am-fr">
                {$changeLstObj->render()}
  		  </div>
  		</div>
      </div>
    </div>
  </div>
  <!-- content end -->
  {include file="application/ph/view/user_record/form.html" /}
{/block}
{block name="JsFile"}
<script src="/public/static/gf/js/require.js" data-main="/public/static/gf/viewJs/user_record.js"></script>
{/block}