<form id="details" class="am-form" style="display:none;margin-top:20px;">
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6">
			<label class="label_style">订单编号：</label>
			<label id="RentOrderID" class="label_p_style"></label>
		</div>
		<div class="am-form-group am-u-sm-6">
			<label class="label_style">机构名称：</label>
			<label id="InstitutionID" class="label_p_style"></label>
		</div>
	</div>
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6">
			<label class="label_style">租户姓名：</label>
			<label id="TenantName" class="label_p_style"></label>
		</div>
		<div class="am-form-group am-u-sm-6">
			<label class="label_style">房屋编号：</label>
			<label id="HouseID" class="label_p_style"></label>
		</div>
	</div>
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6">
			<label class="label_style">楼栋地址：</label>
			<label id="BanAddress" class="label_p_style"></label>
		</div>
		<div class="am-form-group am-u-sm-6">
			<label class="label_style">产别：</label>
			<label id="OwnerType" class="label_p_style"></label>
		</div>
	</div>
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6">
			<label class="label_style">使用性质：</label>
			<label id="UseNature" class="label_p_style"></label>
		</div>
		<div class="am-form-group am-u-sm-6">
			<label class="label_style">账单期：</label>
			<label id="OrderDate" class="label_p_style"></label>
		</div>
	</div>
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">楼层号：</label>
			<label id="FloorID" class="label_p_style"></label>
		</div>	
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">单元号：</label>
			<label id="UnitID" class="label_p_style"></label>
		</div>
	</div>
<!-- 		<div class="am-form-group am-u-sm-6 am-u-end">
			<label>门牌号：</label>
			<label id="DoorID"></label>
		</div>
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label>余额：</label>
			<label id="TenantBalance"></label>
		</div> -->

		<div class="am-form-group am-u-sm-12">
			<hr />
		</div>
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">规定租金：</label>
			<label id="HousePrerent" class="label_p_style"></label>
		</div>
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">租金减免：</label>
			<label id="CutRent" class="label_p_style"></label>
		</div>
	</div>
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">泵费：</label>
			<label id="PumpCost" class="label_p_style"></label>
		</div>
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">租差：</label>
			<label id="DiffRent" class="label_p_style"></label>
		</div>
	</div>
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">应缴租金：</label>
			<label id="ReceiveRent" class="label_p_style"></label>
		</div>
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">实缴金额：</label>
			<label id="PaidRent" class="label_p_style"></label>
		</div>
	</div>
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">欠缴租金：</label>
			<label id="UnpaidRent" class="label_p_style"></label>
		</div>
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label class="label_style">预充余额：</label>
			<label id="RechargeRent" class="label_p_style"></label>
		</div>
	</div>
</form>