<style type="text/css">
  .detail table{border-spacing:0;border-top:1px solid #ccc;border-right:1px solid #ccc;}
  .detail td,.detail th{height:24px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;font-size:12px;}
</style>
<div id="leaseDetail" class="detail" style="width:1080px;padding-left:20px;display:none;">
        <form id="MyDetail" width="1091px">
            <!--startprint2-->
            
            <!-- 基本信息 -->
            <div style="margin-top: 40px;">
                <div style="margin-top:46px;float: left; width: 46%; margin-left: 2%;height:611px;">
                    <!-- 约定事项 -->
                    <div class="textContent">
                        <table id="jbydtable" style="height:611px;box-sizing:border-box;border:1px solid #ccc;">
                            <tbody>
                            <tr>
                                <td style="border:0px;"><p style="margin: 10px 0 10px 0; text-align: center;"><span style="font-size: 24px; width: 100px; border-bottom: 3px double #333333;">约定事项</span></p></td>
                            </tr>
                            <tr>
                                <td style="border:0px;">1、承租人代表履行直管公房的看管义务、负责缴纳租金等事项。</td>
                            </tr>
                            <tr>
                                <td style="border:0px;" rowspan="3">2、监护人代未成年人、无民事行为能力或限制民事行为能力人的承租人履行直管公房的看管义务、负责缴纳租金等事项，待被监护人成年或具备完全民事行为能力时，办理承租人过户手续。</td>
                            </tr>
                            <tr></tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;" rowspan="2">3、出租人（下称甲方）和承租人（下称乙方）应遵守《武汉市房产管理条例》和租约约定的相关规定。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;letter-spacing:2px;" rowspan="2">4、对房屋的自然损坏或合同约定由甲方修缮的，甲方负责修复。不及时修复，致使房屋发生破坏性事故，造成乙方财产损失或者人身伤害的，甲方应当承担赔偿责任。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;" rowspan="2">5、乙方应当合理使用房屋及附属设施，不得擅自拆改，扩建或增添。确需变动的，必须征得甲方同意并签订书面合同。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;letter-spacing:2px;" rowspan="2">6、乙方不得在室内堆放易燃易爆物品，家庭用电负荷必须与房屋配备电表容量相匹配，如乙方使用不当造成房屋损坏或人身财产损失的，由乙方负责修复或赔偿。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;letter-spacing:2px;" rowspan="2">7、乙方应于本月底前交付当月租金，不得拖欠；逾期未交，房管所下达催缴通知单仍未缴纳的，乙方除应支付拖欠租金外，还应按月支付欠租总额3%的违约金。</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;">8、乙方有下列行为之一的，甲方有权终止合同，收回房屋：</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（1）将承租的房屋擅自转租的；</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（2）将承租的房屋转让、转借他人或擅自调换使用的；</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（3）将承租的房屋擅自拆改结构或改变用途的；</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（4）拖欠租金累计六个月以上的；</td>
                            </tr>
                            <tr>
                                <td style="border:0px;">（5）利用承租房屋进行违法活动。</td>
                            </tr>
                            <tr>
                                <td style="border:0px;" rowspan="2"></td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td style="border:0px;text-align:right;">武汉市住房保障和房屋管理局印制</td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>

                <div style="float: left; width: 46%; margin-left: 4%;height:611px;">
                    <p class="topHeader" style="text-align: right;">
                        租直NO:&nbsp;&nbsp;&nbsp;<span id="detailNO"></span>
                    </p>
                    <table id="table1" cellspacing="" cellpadding="" style="height:611px;box-sizing:border-box">
                        <tbody><tr>
                            <td rowspan="2" style="width: 80px;">房屋坐落</td>
                            <td id="detailAddress" rowspan="2" colspan="2" style="width: 130px;"></td>
                            <td rowspan="2" style="width: 20px;">结构</td>
                            <td id="detailStruct" rowspan="2" style="width: 30px;">
                                
                            </td>
                            <td style="width: 30px;">房屋层</td>
                            <td id="detailHouseFloor" style="width: 10px;">
                                
                            </td>
                        </tr>
                        <tr>
                            <td>居住层</td>
                            <td id="detailLiveFloor"></td>
                        </tr>
                        <tr>
                            <td style="height:48px;" rowspan="2">承租人姓名</td>
                            <td id="detailRentName" style="width: 150px;height:48px;" rowspan="2">

                            </td>
                            <td style="width: 30px;height:48px;">身份证号</td>
                            <td id="detailRentNumber" colspan="4" style="height:48px;">
                                </td>
                        </tr>
                        <tr>
                            
                            <td style="width: 30px;height:48px;">承租人电话</td>
                            <td id="detailRentTel" colspan="4" style="height:48px;">
                                </td>
                        </tr>
                        <tr>
                            <td rowspan="2">承租人代表/监护人 姓名</td>
                            <td id="detailRentName1" rowspan="2">
                                </td>
                              <td>身份证号</td>
                        <td id="detailRentNumber1" colspan="4">
                        
                        </td>
                            
                        </tr>
                        <tr><td colspan="5">注：承租人代表/监护人无处置、转让、房改、征收等权利</td></tr>
                        <tr>
                            <td id="zztdheight" colspan="7" style="height: 383px; font-size: 18px;">
                                <div style="float: left; margin-left: 20px; margin-top: 0px;">
                                    <span>出租人：（甲方）</span><br>

                                </div>
                                <div style="float: left; margin-left: 40px; margin-top: 0px;">
                                    <span>承租人：（乙方）</span><br>
                                    
                                    <input type="hidden" id="czr1" value="" truetype="hidden">
                                    <div id="signature" style="clear: both; margin-top: 10px;">
                                        <!-- divstart -->
                                                <div style="width:160px;height:60px;border:0px;"></div>

                                        <!-- divend -->
                                    </div>
                                </div>
                                <!-- divstart2 -->
                                <div id="div1" style="clear: both; float: left; margin: -30px 130px 30px 75px; width: 150px; height: 150px;">
                                             <img id="imghid" src="/Images/zhang08.png" style="width: 130px; height: 130px; margin-top: -20px; margin-left: -50px; float: left">

                                </div>
                                 
                                <img src="/" style="margin-left:25px;width:106px;height:106px;clear:both;float:left;">
                                <!-- divend2 -->
                                <div style="float: right; margin: -105px 35px 50px 50px;width:220px;">
                                    <span>承租人代表/监护人签章：</span>
                                    <div id="jhrdiv">
                                        <!-- divstart3 -->
                                                <div style="width:160px;height:60px;border:0px;"></div>

                                        <!-- divend3 -->
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                                <div style="float: right; margin: -50px 40px 10px 50px;">
                                    租约签订日期&nbsp;&nbsp;<span id="detailYear"></span> 年<span id="detailMonth"></span> 月<span id="detailDay"></span> 日
                                </div>
                            </td>
                        </tr>
                    </tbody></table>
                </div>

            </div>
            
            <!--startprint1-->
            <div style="clear: both; padding-top: 75px;">
                <div style="float: left; width: 46%; margin-left: 2%;margin-top:10px;">
                    <!-- 评 租 情 况 记 载 -->
                    <p class="titleStyle" style="text-align: center;font-size: 24px;margin-top: 0px;">评 租 情 况 记 载</p>
                    <table class="pzqk" cellspacing="" cellpadding="" style="margin-top: 5px;height:538px;">
                        <tbody><tr>
                            <th colspan="2" style="width: 85px;">部位</th>
                            <th style="width: 40px;">间号</th>
                            <th style="width: 55px;">实有面积(m²)</th>
                            <th style="width: 55px;">计租面积(m²)</th>
                            <th style="width: 40px;">租金(元)</th>
                            <th colspan="2">项目</th>
                            <th style="width: 60px;">单价(元)</th>
                            <th style="width: 70px;">数量(m²)(件、个)</th>
                            <th style="width: 40px;">租金(元)</th>
                        </tr>
                        <tr>
                            <td rowspan="4" colspan="2">卧室</td>
                            <td id="detailRoom1_data1">
                                
                            </td>
                            <td id="detailRoom1_data2">
                                
                            </td>
                            <td id="detailRoom1_data3">
                                
                            </td>
                            <td id="detailRoom1_data4">
                                
                            </td>
                            <td rowspan="4" style="width: 75px;">三户以上共用</td>
                            <td style="width: 78px;">厅(堂)</td>
                            <td>0.50/个</td>
                            <td id="detailRoom1_data5"></td>
                            <td id="detailRoom1_data6"></td>
                        </tr>
                        <tr>
                            <td id="detailRoom2_data1">
                                
                            </td>
                            <td id="detailRoom2_data2">
                                
                            </td>
                            <td id="detailRoom2_data3">
                                
                            </td>
                            <td id="detailRoom2_data4">
                                
                            </td>
                            <td>厨房</td>
                            <td>0.50/个</td>
                            <td id="detailRoom2_data5"></td>
                            <td id="detailRoom2_data6"></td>
                        </tr>
                        <tr>
                            <td id="detailRoom3_data1"></td>
                            <td id="detailRoom3_data2"></td>
                            <td id="detailRoom3_data3"></td>
                            <td id="detailRoom3_data4"></td>
                            <td>卫生间</td>
                            <td>0.50/个</td>
                            <td id="detailRoom3_data5">
                        
                            <td id="detailRoom3_data6">
      
                            </td>
                        </tr>
                        <tr>
                            <td id="detailRoom4_data1"></td>
                            <td id="detailRoom4_data2"></td>
                            <td id="detailRoom4_data3"></td>
                            <td id="detailRoom4_data4"></td>
                            <td>室内走道</td>
                            <td>0.50/个</td>
                            <td id="detailRoom4_data5">
               
                            <td id="detailRoom4_data6">
                                
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="width: 75px;">厅堂</td>
                            <td>独</td>
                            <td id="detailRoom5_data2">
                                
                            </td>
                            <td id="detailRoom5_data3">
                                </td>
                            <td id="detailRoom5_data4">
                                </td>
                            <td id="detailRoom5_data5">
                                </td>
                            <td rowspan="2">高1至1.7米搁楼</td>
                            <td>5m²以下</td>
                            <td>0.50/个</td>
                            <td id="detailRoom5_data6">
                                </td>
                            <td id="detailRoom5_data7">
                                </td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td id="detailRoom6_data2">
                                </td>
                            <td id="detailRoom6_data3">
                                </td>
                            <td id="detailRoom6_data4">
                                </td>
                            <td id="detailRoom6_data5">
                                </td>
                            <td>5m²以上</td>
                            <td>1.00/个</td>
                            <td id="detailRoom6_data6">
                               </td>
                            <td id="detailRoom6_data7">
                              </td>
                        </tr>
                        <tr>
                            <td rowspan="2">厨房</td>
                            <td>独</td>
                            <td id="detailRoom7_data2">
                                </td>
                            <td id="detailRoom7_data3">
                                </td>
                            <td id="detailRoom7_data4">
                                </td>
                            <td id="detailRoom7_data5">
                                </td>
                            <td colspan="2">二次供水<input type="hidden" name="ECGS_NAME" id="ECGS_NAME" value="二次供水" truetype="hidden"></td>
                            <td>0.08/m2<input type="hidden" name="ECGS_DW" id="ECGS_DW" value="0.08/m2" truetype="hidden"></td>
                            <td id="detailRoom7_data8">
                                </td>
                            <td id="detailRoom7_data9">
                                </td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td id="detailRoom8_data2">
                                </td>
                            <td id="detailRoom8_data3">
                                </td>
                            <td id="detailRoom8_data4">
                                </td>
                            <td id="detailRoom8_data5">
                                </td>
                            <td id="detailRoom8_data6" colspan="2"><input type="hidden" name="MP_NAME" id="MP_NAME" value="" truetype="hidden"></td>
                            <td id="detailRoom8_data7"></td>
                            <td id="detailRoom8_data8">
                                </td>
                            <td id="detailRoom8_data9">
                                </td>
                        </tr>
                        <tr>
                            <td rowspan="2">卫生间</td>
                            <td>独</td>
                            <td id="detailRoom9_data2">
                                </td>
                            <td id="detailRoom9_data3">
                                </td>
                            <td id="detailRoom9_data4">
                                </td>
                            <td id="detailRoom9_data5">
                                </td>
                            <td colspan="2"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td id="detailRoom10_data2">
                                </td>
                            <td id="detailRoom10_data3">
                                </td>
                            <td id="detailRoom10_data4">
                                </td>
                            <td id="detailRoom10_data5">
                                </td>
                            <td></td>
                            <td style="font-weight:bold;">间号</td>
                            <td style="font-weight:bold;">实有面积(m²)</td>
                            <td style="font-weight:bold;">计租面积(m²)</td>
                            <td style="font-weight:bold;">租金(元)</td>
                        </tr>
                        <tr>
                            <td rowspan="2">室内走道</td>
                            <td>独</td>
                            <td id="detailRoom11_data2">
                                </td>
                            <td id="detailRoom11_data3">
                                </td>
                            <td id="detailRoom11_data4">
                                </td>
                            <td id="detailRoom11_data5">
                                </td>
                            <td rowspan="3">无封闭阳台</td>
                           <td id="detailRoom13_data5">
                        47-1</td>
                            <td id="detailRoom13_data6">
                                </td>
                            <td id="detailRoom13_data7">
                                </td>
                            <td id="detailRoom13_data8">
                                </td>
                        </tr>
                        <tr>
                            <td>共</td>
                            <td id="detailRoom12_data2">
                               </td>
                            <td id="detailRoom12_data3">
                                </td>
                            <td id="detailRoom12_data4">
                                </td>
                            <td id="detailRoom12_data5">
                                <input type="hidden" name="DOW_YZJ2" id="DOW_YZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="55"></td>
                            <td id="detailRoom14_data5">
                        <input class="jianhao" type="hidden" name="WFBYT_JHO2" id="WFBYT_JHO2" value="" truetype="hidden"></td>
                    <td id="detailRoom14_data6">
                        <input type="hidden" name="WFBYT_SM2" id="WFBYT_SM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="56"></td>
                    <td id="detailRoom14_data7">
                        <input type="hidden" name="WFBYT_JM2" id="WFBYT_JM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="57"></td>
                    <td id="detailRoom14_data8">
                        <input type="hidden" name="WFBYT_YZJ2" id="WFBYT_YZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="58"></td>
                            
                        </tr>
                        
                       <tr>
                    <td colspan="2" rowspan="3">封闭阳台</td>
                    <td id="detailRoom13_data1">
                        <input class="jianhao" type="hidden" name="FBYT_JHO1" id="FBYT_JHO1" value="" truetype="hidden"></td>
                    <td id="detailRoom13_data2">
                        <input type="hidden" name="FBYT_SM1" id="FBYT_SM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="59"></td>
                    <td id="detailRoom13_data3">
                        <input type="hidden" name="FBYT_JM1" id="FBYT_JM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="60"></td>
                    <td id="detailRoom13_data4">
                        <input type="hidden" name="FBYT_YZJ1" id="FBYT_YZJ1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="61"></td>
                    <td id="detailRoom15_data5">
                        <input class="jianhao" type="hidden" name="WFBYT_JHO3" id="WFBYT_JHO3" value="" truetype="hidden"></td>
                    <td id="detailRoom15_data6">
                        <input type="hidden" name="WFBYT_SM3" id="WFBYT_SM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="62"></td>
                    <td id="detailRoom15_data7">
                        <input type="hidden" name="WFBYT_JM3" id="WFBYT_JM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="63"></td>
                    <td id="detailRoom15_data8">
                        <input type="hidden" name="WFBYT_YZJ3" id="WFBYT_YZJ3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="64"></td>
                </tr>

               <tr>
                     <td id="detailRoom14_data1">
                        <input class="jianhao" type="hidden" name="FBYT_JHO2" id="FBYT_JHO2" value="" truetype="hidden"></td>
                    <td id="detailRoom14_data2">
                        <input type="hidden" name="FBYT_SM2" id="FBYT_SM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="65"></td>
                    <td id="detailRoom14_data3">
                        <input type="hidden" name="FBYT_JM2" id="FBYT_JM2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="66"></td>
                    <td id="detailRoom14_data4">
                        <input type="hidden" name="FBYT_YZJ2" id="FBYT_YZJ2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="67"></td>
                     <td> <input type="hidden" name="ZGGF_FJLX4" id="ZGGF_FJLX4" value="" truetype="hidden"></td>
                            <td> <input type="hidden" name="ZGGF_FJH4" id="ZGGF_FJH4" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FSM4" id="ZGGF_FSM4" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FJM4" id="ZGGF_FJM4" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FYZJ4" id="ZGGF_FYZJ4" value="" truetype="hidden"></td>
                </tr>
                <tr>
                     <td id="detailRoom15_data1">
                        <input class="jianhao" type="hidden" name="FBYT_JHO3" id="FBYT_JHO3" value="" truetype="hidden"></td>
                    <td id="detailRoom15_data2">
                        <input type="hidden" name="FBYT_SM3" id="FBYT_SM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="68"></td>
                    <td id="detailRoom15_data3">
                        <input type="hidden" name="FBYT_JM3" id="FBYT_JM3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="69"></td>
                    <td id="detailRoom15_data4">
                        <input type="hidden" name="FBYT_YZJ3" id="FBYT_YZJ3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="70"></td>
                      <td><input type="hidden" name="ZGGF_FJLX1" id="ZGGF_FJLX1" value="" truetype="hidden"></td>
                        <td><input type="hidden" name="ZGGF_FJH1" id="ZGGF_FJH1" value="" truetype="hidden"></td>
                        <td><input type="hidden" name="ZGGF_FSM1" id="ZGGF_FSM1" value="" truetype="hidden"></td>
                        <td><input type="hidden" name="ZGGF_FJM1" id="ZGGF_FJM1" value="" truetype="hidden"></td>
                        <td><input type="hidden" name="ZGGF_FYZJ1" id="ZGGF_FYZJ1" value="" truetype="hidden"></td>
                </tr>
                        <tr>
                            <td colspan="2">高1.7至2.2米搁楼</td>
                            <td id="detailRoom12_data6">
                        <input class="jianhao" type="hidden" name="GL_JHO1" id="GL_JHO1" value="" truetype="hidden"></td>
                            <td id="detailRoom12_data7">
                                <input type="hidden" name="GL_SM1" id="GL_SM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="71"></td>
                            <td id="detailRoom12_data8">
                                <input type="hidden" name="GL_JM1" id="GL_JM1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="72"></td>
                            <td id="detailRoom12_data9">
                                <input type="hidden" name="GL_YZJ1" id="GL_YZJ1" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" truetype="hidden" yzid="73"></td>
                            <td> <input type="hidden" name="ZGGF_FJLX3" id="ZGGF_FJLX3" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FJH3" id="ZGGF_FJH3" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FSM3" id="ZGGF_FSM3" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FJM3" id="ZGGF_FJM3" value="" truetype="hidden"></td>
                            <td><input type="hidden" name="ZGGF_FYZJ3" id="ZGGF_FYZJ3" value="" truetype="hidden"></td>
                        </tr>
                        <tr>
                            <td colspan="2" id="detailRoom16_data1"> <input type="hidden" name="ZGGF_FJLX2" id="ZGGF_FJLX2" value="" truetype="hidden"></td>
                            <td id="detailRoom16_data2"><input type="hidden" name="ZGGF_FJH2" id="ZGGF_FJH2" value="" truetype="hidden"></td>
                            <td id="detailRoom16_data3"><input type="hidden" name="ZGGF_FSM2" id="ZGGF_FSM2" value="" truetype="hidden"></td>
                            <td id="detailRoom16_data4"><input type="hidden" name="ZGGF_FJM2" id="ZGGF_FJM2" value="" truetype="hidden"></td>
                            <td id="detailRoom16_data5"><input type="hidden" name="ZGGF_FYZJ2" id="ZGGF_FYZJ2" value="" truetype="hidden"></td>
                            <td colspan="2">合计</td>
                            <td id="detailRoom16_data6">
                                <input type="hidden" name="" value="" truetype="hidden"></td>
                            <td id="detailRoom16_data7">
                                
                            </td>
                            <td id="detailRoom16_data8"></td>
                        </tr>
                        <tr>
                            <td colspan="2">合计</td>
                            <td id="detailRoom20_data1">
                                <input class="jianhao" type="hidden" name="" value="" truetype="hidden"></td>
                            <td id="detailRoom20_data2"></td>
                            <td id="detailRoom20_data3"></td>
                            <td id="detailRoom20_data4"></td>
                            <td colspan="2">核定月租金</td>
                            <td id="detailRoom20_data5" colspan="3">
                                </td>
                        </tr>
                        <tr>
                            <td colspan="11" style="text-align: center">资料员：<span id="detailRoom21_data1"></span>
                                &nbsp;  &nbsp;  &nbsp;
                        经管所长：<span id="detailRoom21_data2"></span>
                                &nbsp;  &nbsp;  &nbsp;经管科长：<span id="detailRoom21_data3"></span>
                            </td>
                        </tr>
                    </tbody></table>
                </div>

                <div style="float: left; width: 46%; margin-left: 4%;margin-top:10px;">
                    <!-- 房屋构件设备点交记载 -->
                    <p class="titleStyle" style="text-align: center;font-size: 24px;margin-top: 0px;">房屋构件设备点交记载</p>
                    <table class="fwClass" cellspacing="" cellpadding="" style="width:100%;height: 538px;box-sizing:border-box;">
                        <tbody><tr>
                            <td>名称</td>
                            <td>数量</td>
                            <td>附注</td>
                            <td></td>
                            <td>名称</td>
                            <td>数量</td>
                            <td>附注</td>
                        </tr>
                        <tr>
                            <td id="detailDev1_data1"></td>
                            <td id="detailDev1_data2"></td>
                            <td id="detailDev1_data3"></td>
                            <td></td>
                            <td id="detailDev1_data4"></td>
                            <td id="detailDev1_data5"></td>
                            <td id="detailDev1_data6"></td>
                        </tr>
                        <tr>
                            <td id="detailDev2_data1"></td>
                            <td id="detailDev2_data2"></td>
                            <td id="detailDev2_data3"></td>
                            <td></td>
                            <td id="detailDev2_data4"></td>
                            <td id="detailDev2_data5"></td>
                            <td id="detailDev2_data6"></td>
                        </tr>
                        <tr>
                            <td id="detailDev3_data1"></td>
                            <td id="detailDev3_data2"></td>
                            <td id="detailDev3_data3"></td>
                            <td></td>
                            <td id="detailDev3_data4"></td>
                            <td id="detailDev3_data5"></td>
                            <td id="detailDev3_data6"></td>
                        </tr>
                        <tr>
                            <td id="detailDev4_data1"></td>
                            <td id="detailDev4_data2"></td>
                            <td id="detailDev4_data3"></td>
                            <td></td>
                            <td id="detailDev4_data4"></td>
                            <td id="detailDev4_data5"></td>
                            <td id="detailDev4_data6"></td>
                        </tr>
                        <tr>
                            <td id="detailDev5_data1"></td>
                            <td id="detailDev5_data2"></td>
                            <td id="detailDev5_data3"></td>
                            <td></td>
                            <td id="detailDev5_data4"></td>
                            <td id="detailDev5_data5"></td>
                            <td id="detailDev5_data6"></td>
                        </tr>
                        <tr>
                            <td id="fjtdheight" colspan="7" style="vertical-align: top; box-sizing: border-box; height: 451px;">
                                <p style="margin: 60px 0 30px 0; text-align: center;"><span style="font-size: 20px; width: 50px; border-bottom: 3px double #333333;">附记</span></p>
                                
                            </td>
                        </tr>
                    </tbody></table>
                </div>
                <!--endprint1-->
            </div>
            <!--endprint2-->
        </form>
    <div class="print1_hide">
        <div class="am-u-sm-12"><hr /></div>
        <div class="am-form-group am-u-sm-12">
            <h2 class="label_title">查看附件：</h2>
        </div>
        <div class="am-form-group am-u-sm-12">
            <div id="leaseApplyPhotos" class="am-u-md-12" style="margin-bottom:30px;"></div>
        </div>

        <div class="am-form-group am-u-sm-12">
            <h2 class="label_title">审批状态：</h2>
        </div>
        <div id="leaseApplyState" class="am-u-md-12" style="padding-left:3rem;"></div>
    </div>
</div>