<style type="text/css">
    input {
        border: none;
        height: 25px;
        outline: none;
        width: 120px;
        padding: 5px;
        font-size: 14px;
    }
    .outerControl .textContent {
        border: 1px solid #333333;
        padding: 0 74px 50px 74px;
        margin: 0px auto;
        margin-top: 50px;
    }
    .textinput {
        background-color: #ffffff;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
        color: #333333;
        width: 200px;
        height: 28px;
        line-height: 28px;
    }
    .outerControl table{width:100%;border-spacing:0;border-top:1px solid #ccc;border-right:1px solid #ccc;text-align: center;}
    .outerControl td,.outerControl th{height:24px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;font-size:12px;}
    .pzqk input{width:80px;}
    .fwClass input {
        width: 120px;
        height: 28px;
        line-height: 28px;
    }
    .remark{width:100%;height:250px;padding:5px;text-align:left;}
    .remark label{font-size:14px;font-weight:400;}
    .remark select,.remark input{width:150px;height:26px;margin-left:20px;border:1px solid #ccc;}
    .remark>input{width:300px;line-height:26px;}
    .remark p{font-size:14px;margin:10px auto;}
</style>
<div id="leaseAdd" class="outerControl" style="margin-left:125px;margin-top:20px;display:none;">
        <form id="MyForm" style="width:950px;">
            <!-- 基本信息 -->
            <div class="am-form-group am-u-md-12" style="padding-left:0;">
                <h2 class="label_title">租约申请：</h2>
            </div>
            <div class="am-u-md-8" style="margin-bottom:20px;">
                <label class="label_style">房屋编号：</label>
                <input type="text" class="label_input" id="leaseHouseInput" placeholder="房屋编号" required/>
                <a class="am-btn am-btn-primary am-btn-sm" id="leaseHouseQuery">查询</a>
            </div>
            <div class="am-u-md-4">
                租直NO:
                <input readonly type="text" id="applyNO" value="" class="validate[required] textinput" style="text-decoration: underline; font-family: 微软雅黑; font-size: 13px;" truetype="textinput" yzid="1">
            </div>
            <table border="1" cellspacing="" cellpadding="">
                <tbody>
                <tr>
                    <td rowspan="2">房屋坐落</td>
                    <td rowspan="2">
                        <textarea style="width: 200px; height: 50px; font-size: 13px; border: none; outline: none; font-family: 微软雅黑;" name="applyAddress" id="applyAddress" class="validate[required] textarea" truetype="textarea" yzid="2"></textarea></td>
                    <td rowspan="2" style="width: 40px;">结构</td>
                    <td rowspan="2">
                        <input readonly type="text" style="width: 150px; font-family: 微软雅黑; font-size: 13px;" name="applyStruct" id="applyStruct" value="" truetype="textinput" class="textinput">
                    </td>
                    <td style="width: 50px;">房屋层</td>
                    <td>
                        <input readonly type="text" style="width: 100px; font-family: 微软雅黑; font-size: 13px;" name="applyHouseFloor" id="applyHouseFloor" value="" truetype="textinput" class="textinput"></td>
                </tr>
                <tr>
                    <td>居住层</td>
                    <td>
                        <input readonly type="text" style="width: 100px; font-family: 微软雅黑; font-size: 13px;" name="applyLiveFloor" id="applyLiveFloor" value="" truetype="textinput" class="textinput"></td>
                </tr>
                <tr>
                    <td rowspan="2">承租人姓名</td>
                    <td rowspan="2">
                        <input readonly style="width: 150px; font-family: 微软雅黑; font-size: 13px;" type="text" name="applyRentName" id="applyRentName" value="" class="validate[required] textinput" truetype="textinput" yzid="3"></td>
                    <td colspan="2">身份证号</td>
                    <td colspan="4">
                        <input readonly style="width: 300px; font-family: 微软雅黑; font-size: 13px;" type="text" name="applyRentNumber" id="applyRentNumber" value="" maxlength="18" truetype="textinput" class="textinput"></td>
                </tr>
                <tr>
                     <td colspan="2">承租人电话</td>
                    <td colspan="4">
                        <input readonly style="width: 300px; font-family: 微软雅黑; font-size: 13px;" type="text" name="applyRentTel" id="applyRentTel" value="" maxlength="11" truetype="textinput" class="textinput"></td>
                </tr>
                <tr>
                    <td>承租人代表/监护人 姓名</td>
                    <td>
                        <input readonly style="width: 150px; font-family: 微软雅黑; font-size: 13px;" type="text" name="applyRentName1" id="applyRentName1" truetype="textinput" class="textinput"></td>
                    <td colspan="2">监护人身份证号</td>
                    <td colspan="4">
                        <input readonly style="width: 300px; font-family: 微软雅黑; font-size: 13px;" type="text" name="applyRentNumber1" id="applyRentNumber1" maxlength="18" truetype="textinput" class="textinput"></td>
                </tr>
                <tr>
                    <td colspan="6">注：承租人代表/监护人无处置、转让、房改、征收等权利</td>
                </tr>
                <tr>
                    <td colspan="8" style="height: 400px; font-size: 24px;">
                        <div style="float: left; margin: 0 130px 50px 75px;">
                            <span>出租人：（甲方）</span><br>
                            <span style="color:red;font-size:14px;">区公司审核后在此盖章</span>
                            
                        </div>
                        <div style="float: right; margin: 0 75px 50px 50px;">
                            <span>承租人：（乙方）</span><br>
                          
                            <span style="color:red;font-size:14px;">打印证件时在此签字</span>
                           
                        </div>
                        <div style="clear: both;"></div>
                        
                        <div style="float: right; margin: 0 75px 50px 50px;">
                            <span>承租人代表/监护人签章：</span><br>
                            <input style="height: 30px; width: 200px;" type="" name="applyRepresent" value="">
                        </div>
                        <div style="clear: both;"></div>
                        <div style="float: right; margin: 0 75px 50px 50px;">
                            租约签订日期
                            <input style="width: 50px;" name="applyYear" id="applyYear" value="2018" class="validate[required]" yzid="4">
                            年
                            <input style="width: 30px;" name="applyMonth" id="applyMonth" value="08" class="validate[required]" yzid="5">
                            月
                            <input style="width: 30px;" name="applyDay" id="applyDay" value="16" class="validate[required]" yzid="6">
                            日
                        </div>
                    </td>
                </tr>
            </tbody></table>
            <!-- 评 租 情 况 记 载 -->
            <hr style="margin-top:30px;" />
            <div class="am-form-group am-u-md-12" style="padding-left:0;">
                <h2 class="label_title">评租情况记载：</h2>
            </div>
            <table class="pzqk" border="1" cellspacing="" cellpadding="">
                <tbody><tr>
                    <th colspan="2">部位</th>
                    <th>间号</th>
                    <th>实有面积（m²）</th>
                    <th>计租面积（m²）</th>
                    <th>租金（元）</th>
                    <th colspan="2">项目</th>
                    <th>单价（元）</th>
                    <th>数量（m²）（件、个）</th>
                    <th>租金（元）</th>
                </tr>
                <tr>
                    <td rowspan="4" colspan="2">卧室</td>
                    <td>
                        <input readonly class="jianhao textinput" type="text" name="applyRoom1_data1" id="applyRoom1_data1" value="" truetype="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly type="" name="applyRoom1_data2" id="applyRoom1_data2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="7"></td>
                    <td>
                        <input readonly type="" name="applyRoom1_data3" id="applyRoom1_data3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="8"></td>
                    <td>
                        <input readonly type="" name="applyRoom1_data4" id="applyRoom1_data4" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="9"></td>
                    <td rowspan="4">三户以上共用</td>
                    <td>厅（堂）</td>
                    <td>0.50/个</td>
                    <td>
                        <input readonly type="" name="applyRoom1_data5" id="applyRoom1_data5" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" yzid="10"></td>
                    <td>
                        <input readonly type="" name="applyRoom1_data6" id="applyRoom1_data6" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" yzid="11"></td>
                </tr>
                <tr>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom2_data1" id="applyRoom2_data1" value=""></td>
                    <td>
                        <input readonly type="" name="applyRoom2_data2" id="applyRoom2_data2" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="12"></td>
                    <td>
                        <input readonly type="" name="applyRoom2_data3" id="applyRoom2_data3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="13"></td>
                    <td>
                        <input readonly type="" name="applyRoom2_data4" id="applyRoom2_data4" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="14"></td>
                    <td>厨房</td>
                    <td>0.50/个</td>
                    <td>
                        <input readonly type="" name="applyRoom2_data5" id="applyRoom2_data5" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" yzid="15"></td>
                    <td>
                        <input readonly type="" name="applyRoom2_data6" id="applyRoom2_data6" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" yzid="16"></td>
                </tr>
                <tr>
                    <td>
                        <input readonly class="jianhao textinput" type="text" name="applyRoom3_data1" id="applyRoom3_data1" truetype="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly type="" name="applyRoom3_data2" id="applyRoom3_data2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="17"></td>
                    <td>
                        <input readonly type="" name="applyRoom3_data3" id="applyRoom3_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="18"></td>
                    <td>
                        <input readonly type="" name="applyRoom3_data4" id="applyRoom3_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="19"></td>
                    <td>卫生间</td>
                    <td>0.50/个</td>
                    <td>
                        <input readonly type="" name="applyRoom3_data5" id="applyRoom3_data5" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" yzid="20"></td>
                    <td>
                        <input readonly type="" name="applyRoom3_data6" id="applyRoom3_data6" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" yzid="21"></td>
                </tr>
                <tr>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom4_data1" id="applyRoom4_data1"></td>
                    <td>
                        <input readonly type="" name="applyRoom4_data2" id="applyRoom4_data2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="22"></td>
                    <td>
                        <input readonly type="" name="applyRoom4_data3" id="applyRoom4_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="23"></td>
                    <td>
                        <input readonly type="" name="applyRoom4_data4" id="applyRoom4_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="24"></td>
                    <td>室内走道</td>
                    <td>0.50/个</td>
                    <td>
                        <input readonly type="" name="applyRoom4_data5" id="applyRoom4_data5" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" yzid="25"></td>
                    <td>
                        <input readonly type="" name="applyRoom4_data6" id="applyRoom4_data6" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" yzid="26"></td>
                </tr>
                <tr>
                    <td rowspan="2">厅堂</td>
                    <td><input readonly type="text" name="applyRoom5_data1" value="独" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom5_data2" id="applyRoom5_data2"></td>
                    <td>
                        <input readonly type="" name="applyRoom5_data3" id="applyRoom5_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="27"></td>
                    <td>
                        <input readonly type="" name="applyRoom5_data4" id="applyRoom5_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="28"></td>
                    <td>
                        <input readonly type="" name="applyRoom5_data5" id="applyRoom5_data5" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="29"></td>
                    <td rowspan="2">高1至1.7米搁楼</td>
                    <td>5m²以下</td>
                    <td>0.50/个</td>
                    <td>
                        <input readonly type="" name="applyRoom5_data6" id="applyRoom5_data6" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" yzid="30"></td>
                    <td>
                        <input readonly type="" name="applyRoom5_data7" id="applyRoom5_data7" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" yzid="31"></td>
                </tr>
                <tr>
                    <td><input readonly type="text" name="applyRoom6_data1" value="共" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom6_data2" id="applyRoom6_data2"></td>
                    <td>
                        <input readonly type="" name="applyRoom6_data3" id="applyRoom6_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="32"></td>
                    <td>
                        <input readonly type="" name="applyRoom6_data4" id="applyRoom6_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="33"></td>
                    <td>
                        <input readonly type="" name="applyRoom6_data5" id="applyRoom6_data5" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="34"></td>
                    <td>5m²以上</td>
                    <td>1.00/个</td>
                    <td>
                        <input readonly type="" name="applyRoom6_data6" id="applyRoom6_data6" value="0" class="validate[custom[onlyNumber]]" inputmode="positiveDecimal" yzid="35"></td>
                    <td>
                        <input readonly type="" name="applyRoom6_data7" id="applyRoom6_data7" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1();gethj2()" yzid="36"></td>
                </tr>
                <tr>
                    <td rowspan="2">厨房</td>
                    <td><input readonly type="text" name="applyRoom7_data1" value="独" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom7_data2" id="applyRoom7_data2" value=""></td>
                    <td>
                        <input readonly type="" name="applyRoom7_data3" id="applyRoom7_data3" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="37"></td>
                    <td>
                        <input readonly type="" name="applyRoom7_data4" id="applyRoom7_data4" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="38"></td>
                    <td>
                        <input readonly type="" name="applyRoom7_data5" id="applyRoom7_data5" value="" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="39"></td>
                     <td colspan="2">二次供水
<!--                         <input readonly type="text" name="applyRoom7_data6" id="applyRoom7_data6" value="二次供水" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"> -->
                    </td>
                    <td>0.08/m2
<!--                         <input readonly type="text" name="applyRoom7_data7" id="applyRoom7_data7" value="0.08/m2" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"> -->
                    </td>
                    <td>
                        <input readonly type="" name="applyRoom7_data8" id="applyRoom7_data8" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" yzid="40"></td>
                    <td>
                        <input readonly type="" name="applyRoom7_data9" id="applyRoom7_data9" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" yzid="41"></td>
                </tr>
                <tr>
                    <td><input readonly type="text" name="applyRoom8_data1" value="共" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom8_data2" id="applyRoom8_data2"></td>
                    <td>
                        <input readonly type="" name="applyRoom8_data3" id="applyRoom8_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="42"></td>
                    <td>
                        <input readonly type="" name="applyRoom8_data4" id="applyRoom8_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="43"></td>
                    <td>
                        <input readonly type="" name="applyRoom8_data5" id="applyRoom8_data5" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="44"></td>
                    <td colspan="2">
                        <input type="text" name="applyRoom8_data6" id="applyRoom8_data6" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td><input type="text" name="applyRoom8_data7" id="applyRoom8_data7" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="" name="applyRoom8_data8" id="applyRoom8_data8" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj2()" yzid="45"></td>
                    <td>
                        <input type="" name="applyRoom8_data9" id="applyRoom8_data9" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj2()" yzid="46"></td>
                    
                </tr>
                <tr>
                    <td rowspan="2">卫生间</td>
                    <td><input readonly type="text" name="applyRoom9_data1" value="独" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom9_data2" id="applyRoom9_data2"></td>
                    <td>
                        <input readonly type="" name="applyRoom9_data3" id="applyRoom9_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="47"></td>
                    <td>
                        <input readonly type="" name="applyRoom9_data4" id="applyRoom9_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="48"></td>
                    <td>
                        <input readonly type="" name="applyRoom9_data5" id="applyRoom9_data5" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="49"></td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input readonly type="text" name="applyRoom10_data1" value="共" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom10_data2" id="applyRoom10_data2"></td>
                    <td>
                        <input readonly type="" name="applyRoom10_data3" id="applyRoom10_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="50"></td>
                    <td>
                        <input readonly type="" name="applyRoom10_data4" id="applyRoom10_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="51"></td>
                    <td>
                        <input readonly type="" name="applyRoom10_data5" id="applyRoom10_data5" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="52"></td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">室内走道</td>
                    <td><input readonly type="text" name="applyRoom11_data1" value="独" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom11_data2" id="applyRoom11_data2"></td>
                    <td>
                        <input readonly type="" name="applyRoom11_data3" id="applyRoom11_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="53"></td>
                    <td>
                        <input readonly type="" name="applyRoom11_data4" id="applyRoom11_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="54"></td>
                    <td>
                        <input readonly type="" name="applyRoom11_data5" id="applyRoom11_data5" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="55"></td>
                    <td></td>
                    <td style="font-weight:bold;">间号</td>
                    <td style="font-weight:bold;">实有面积（m²）</td>
                    <td style="font-weight:bold;">计租面积（m²）</td>
                    <td style="font-weight:bold;">租金（元）</td>
                </tr>
                <tr>
                    <td><input readonly type="text" name="applyRoom12_data1" value="共" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom12_data2" id="applyRoom12_data2"></td>
                    <td>
                        <input readonly type="" name="applyRoom12_data3" id="applyRoom12_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="56"></td>
                    <td>
                        <input readonly type="" name="applyRoom12_data4" id="applyRoom12_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="57"></td>
                    <td>
                        <input readonly type="" name="applyRoom12_data5" id="applyRoom12_data5" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="58"></td>
                    <td>高1.7至2.2米搁楼</td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom12_data6" id="applyRoom12_data6"></td>
                    <td>
                        <input readonly type="" name="applyRoom12_data7" id="applyRoom12_data7" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" yzid="59"></td>
                    <td>
                        <input readonly type="" name="applyRoom12_data8" id="applyRoom12_data8" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" yzid="60"></td>
                    <td>
                        <input readonly type="" name="applyRoom12_data9" id="applyRoom12_data9" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" yzid="61"></td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="3">封闭阳台</td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom13_data1" id="applyRoom13_data1"></td>
                    <td>
                        <input readonly type="" name="applyRoom13_data2" id="applyRoom13_data2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="62"></td>
                    <td>
                        <input readonly type="" name="applyRoom13_data3" id="applyRoom13_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="63"></td>
                    <td>
                        <input readonly type="" name="applyRoom13_data4" id="applyRoom13_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="64"></td>
                    <td rowspan="3">无封闭阳台</td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom13_data5" id="applyRoom13_data5"></td>
                    <td>
                        <input readonly type="" name="applyRoom13_data6" id="applyRoom13_data6" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="65"></td>
                    <td>
                        <input readonly type="" name="applyRoom13_data7" id="applyRoom13_data7" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="66"></td>
                    <td>
                        <input readonly type="" name="applyRoom13_data8" id="applyRoom13_data8" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="67"></td>
                </tr>

               <tr>
                     <td>
                        <input readonly class="jianhao" type="" name="applyRoom14_data1" id="applyRoom14_data1"></td>
                    <td>
                        <input readonly type="" name="applyRoom14_data2" id="applyRoom14_data2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="68"></td>
                    <td>
                        <input readonly type="" name="applyRoom14_data3" id="applyRoom14_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="69"></td>
                    <td>
                        <input readonly type="" name="applyRoom14_data4" id="applyRoom14_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="70"></td>
                   <td>
                        <input readonly class="jianhao" type="" name="applyRoom14_data5" id="applyRoom14_data5"></td>  
                   <td>
                        <input readonly type="" name="applyRoom14_data6" id="applyRoom14_data6" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="71"></td>
                    <td>
                        <input readonly type="" name="applyRoom14_data7" id="applyRoom14_data7" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="72"></td>
                    <td>
                        <input readonly type="" name="applyRoom14_data8" id="applyRoom14_data8" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="73"></td>
                </tr>
                <tr>
                     <td>
                        <input readonly class="jianhao" type="" name="applyRoom15_data1" id="applyRoom15_data1"></td>
                    <td>
                        <input readonly type="" name="applyRoom15_data2" id="applyRoom15_data2" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="74"></td>
                    <td>
                        <input readonly type="" name="applyRoom15_data3" id="applyRoom15_data3" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="75"></td>
                    <td>
                        <input readonly type="" name="applyRoom15_data4" id="applyRoom15_data4" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="76"></td>
                    <td>
                        <input readonly class="jianhao" type="" name="applyRoom15_data5" id="applyRoom15_data5"></td> 
                    <td>
                        <input readonly type="" name="applyRoom15_data6" id="applyRoom15_data6" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="77"></td>
                    <td>
                        <input readonly type="" name="applyRoom15_data7" id="applyRoom15_data7" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="78"></td>
                    <td>
                        <input readonly type="" name="applyRoom15_data8" id="applyRoom15_data8" value="0" class="validate[custom[onlyNumberWide]]" inputmode="positiveDecimal" onblur="gethj1()" yzid="79"></td>
                </tr>
                
                 <tr>
                    <td colspan="2"> 
                        <input type="text" name="applyRoom16_data1" id="applyRoom16_data1" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom16_data2" id="applyRoom16_data2" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom16_data3" id="applyRoom16_data3" value="0" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom16_data4" id="applyRoom16_data4" value="0" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom16_data5" id="applyRoom16_data5" value="0" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td colspan="2" rowspan="4">合计</td>
                    <td rowspan="4">
                        <input readonly type="" name="applyRoom16_data6" id="applyRoom16_data6" value="" readonly="true">
                    </td>
                    <td rowspan="4">
                        <input readonly type="" name="applyRoom16_data7" id="applyRoom16_data7" value="" readonly="true">
                    </td>
                    <td rowspan="4">
                        <input type="" name="applyRoom16_data8" id="applyRoom16_data8" value="">
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> 
                        <input type="text" name="applyRoom17_data1" id="applyRoom17_data1" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom17_data2" id="applyRoom17_data2" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom17_data3" id="applyRoom17_data3" value="0" onblur="gethj1()" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom17_data4" id="applyRoom17_data4" value="0" onblur="gethj1()" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom17_data5" id="applyRoom17_data5" value="0" onblur="gethj1()" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" name="applyRoom18_data1" id="applyRoom18_data1" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom18_data2" id="applyRoom18_data2" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom18_data3" id="applyRoom18_data3" value="0" onblur="gethj1()" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom18_data4" id="applyRoom18_data4" value="0" onblur="gethj1()" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom18_data5" id="applyRoom18_data5" value="0" onblur="gethj1()" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" name="applyRoom19_data1" id="applyRoom19_data1" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom19_data2" id="applyRoom19_data2" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom19_data3" id="applyRoom19_data3" value="0" onblur="gethj1()" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom19_data4" id="applyRoom19_data4" value="0" onblur="gethj1()" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                    <td>
                        <input type="text" name="applyRoom19_data5" id="applyRoom19_data5" value="0" onblur="gethj1()" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">合计</td>
                    <td>
                        <input readonly class="jianhao" name="applyRoom20_data1" id="applyRoom20_data1"></td>
                    <td>
                        <input readonly type="" name="applyRoom20_data2" id="applyRoom20_data2" value="" readonly="true"></td>
                    <td>
                        <input readonly type="" name="applyRoom20_data3" id="applyRoom20_data3" value="" readonly="true"></td>
                    <td>
                        <input readonly type="" name="applyRoom20_data4" id="applyRoom20_data4" value="" readonly="true"></td>
                    <td colspan="2">核定月租金</td>
                    <td colspan="3">
                        ¥<input readonly style="width: 150px; font-family: 微软雅黑; font-size: 13px;" type="text" name="applyRoom20_data5" id="applyRoom20_data5" value="" class="validate[custom[onlyNumberWide]] textinput" onblur="gethdyzj()" truetype="textinput" yzid="80">元</td>
                </tr>
                <tr>
                    <td colspan="11">资料员：<input readonly style="width: 120px; margin-right: 30px;" type="" name="applyRoom21_data1" id="applyRoom21_data1">
                        &nbsp;  &nbsp;  &nbsp;
                        经管所长：<input readonly style="width: 120px; margin-right: 30px;" type="" name="applyRoom21_data2" id="applyRoom21_data2">
                        &nbsp;  &nbsp;  &nbsp;
                        经管科长：<input readonly style="width: 120px; margin-right: 30px;" type="" name="applyRoom21_data3" id="applyRoom21_data3" value="">
                    </td>
                </tr>
            </tbody></table>
            <!-- 房屋构件设备点交记载 -->
            <hr style="margin-top:30px;" />
            <div class="am-form-group am-u-md-12" style="padding-left:0;">
                <h2 class="label_title">房屋构件设备点交记载：</h2>
            </div>
            <table class="fwClass" border="1" cellspacing="" cellpadding="">
                <tbody><tr>
                    <td>名称</td>
                    <td>数量</td>
                    <td>附注</td>
                    <td></td>
                    <td>名称</td>
                    <td>数量</td>
                    <td>附注</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="applyDev1_data1" id="applyDev1_data1" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev1_data2" id="applyDev1_data2" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="81" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev1_data3" id="applyDev1_data3" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td></td>
                    <td>
                        <input type="text" name="applyDev1_data4" id="applyDev1_data4" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev1_data5" id="applyDev1_data5" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="82" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev1_data6" id="applyDev1_data6" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="applyDev2_data1" id="applyDev2_data1" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev2_data2" id="applyDev2_data2" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="83" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev2_data3" id="applyDev2_data3" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td></td>
                    <td>
                        <input type="text" name="applyDev2_data4" id="applyDev2_data4" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev2_data5" id="applyDev2_data5" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="84" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev2_data6" id="applyDev2_data6" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="applyDev3_data1" id="applyDev3_data1" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev3_data2" id="applyDev3_data2" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="85" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev3_data3" id="applyDev3_data3" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td></td>
                    <td>
                        <input type="text" name="applyDev3_data4" id="applyDev3_data4" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev3_data5" id="applyDev3_data5" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="86" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev3_data6" id="applyDev3_data6" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="applyDev4_data1" id="applyDev4_data1" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev4_data2" id="applyDev4_data2" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="87" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev4_data3" id="applyDev4_data3" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td></td>
                    <td>
                        <input type="text" name="applyDev4_data4" id="applyDev4_data4" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev4_data5" id="applyDev4_data5" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="88" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev4_data6" id="applyDev4_data6" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="applyDev5_data1" id="applyDev5_data1" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev5_data2" id="applyDev5_data2" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="89" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev5_data3" id="applyDev5_data3" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td></td>
                    <td>
                        <input type="text" name="applyDev5_data4" id="applyDev5_data4" value="" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev5_data5" id="applyDev5_data5" value="0" class="validate[custom[onlyNumber]] textinput" truetype="textinput" yzid="90" style="font-family: 微软雅黑; font-size: 13px;"></td>
                    <td>
                        <input type="text" name="applyDev5_data6" id="applyDev5_data6" value="" truetype="textinput" class="textinput" style="font-family: 微软雅黑; font-size: 13px;"></td>
                </tr>
                <tr>
                    <td colspan="7">
                        <p style="margin: 60px 0 30px 0;"><span style="font-size: 20px; width: 50px; border-bottom: 3px double #333333;">附记</span></p>
                        <div class="remark">
                            <label>
                                <span class="applyYear"></span>年<span class="applyMonth"></span>月<span class="applyDay"></span>日</label>
                            <select>
                                <option>请选择</option>
                                <option value="1">老证换新证</option>
                                <option value="2">遗失补发</option>
                                <option value="3">亲属转让</option>
                                <option value="4">正常过户</option>
                                <option value="5">新发租</option>
                                <option value="6">其他</option>
                            </select>
                            <input style="display:none;" placeholder="备注" class="input_remark" />
                          
                            <input type="hidden" class="applyText_other" name="applyText_other" />
                            <input type="hidden" class="applyText_other" name="Recorde" />
                        </div>
                        <!-- <textarea name="applyText_other" style="width:100%;height:250px;border:none;">

                        </textarea> -->
                    </td>
                </tr>
            </tbody></table>
            <!-- 约定事项 -->
            <hr style="margin-top:30px;" />
            <div class="am-form-group am-u-md-12" style="padding-left:0;">
                <h2 class="label_title">约定事项：</h2>
            </div>
            <div class="textContent">
                <p style="margin: 60px 0 30px 0; text-align: center;"><span style="font-size: 24px; width: 50px; border-bottom: 3px double #333333;">约定事项</span></p>
                <p>1、承租人代表履行直管公房的看管义务、负责缴纳租金等事项。</p>
                <p>2、监护人代未成年人、无民事行为能力或限制民事行为能力人的承租人履行直管公房的看管义务、负责缴纳租金等事项，待被监护人成年或具备完全民事行为能力时，办理承租人过户手续。</p>
                <p>3、出租人（下称甲方）和承租人（下称乙方）应遵守《武汉市房产管理条例》和租约约定的相关规定。</p>
                <p>4、对房屋的自然损坏或合同约定由甲方修缮的，甲方负责修复。不及时修复，致使房屋发生破坏性事故，造成乙方财产损失或者人身伤害的，甲方应当承担赔偿责任。</p>
                <p>5、乙方应当合理使用房屋及附属设施，不得擅自拆改，扩建或增添。确需变动的，必须征得甲方同意并签订书面合同。</p>
                <p>6、乙方不得在室内堆放易燃易爆物品，家庭用电负荷必须与房屋配备电表容量相匹配，如乙方使用不当造成房屋损坏或人身财产损失的，由乙方负责修复或赔偿。</p>
                <p>7、乙方应于本月月底前交付当月租金，不得拖欠；逾期未交，房管所下达催缴通知单仍未缴纳的，乙方除应支付拖欠租金外，还应按月支付欠租总额3%的违约金。</p>
                <p>8、乙方有下列行为之一的，甲方有权终止合同，收回房屋：</p>
                <p>（1）将承租的房屋擅自转租的；</p>
                <p>（2）将承租的房屋转让、转借他人或擅自调换使用的；</p>
                <p>（3）将承租的房屋擅自拆改结构或改变用途的；</p>
                <p>（4）拖欠租金累计六个月以上的；</p>
                <p>（5）利用承租房屋进行违法活动。</p>
                <p></p>
                <p style="text-align: right; margin-top: 40px;">武汉市住房保障和房屋管理局印制</p>
            </div>
            <p style="text-align: center;">
<!--                 <input readonly type="hidden" id="ZY_ID" name="ZY_ID" value="4ff0beadb0704926a1be7c544fbb020e" truetype="hidden">
                <input readonly type="hidden" id="ZGGF_FILE" name="ZGGF_FILE" truetype="hidden">
                <input readonly type="hidden" id="ZGGF_HZYY" name="ZGGF_HZYY" truetype="hidden">
                <input readonly type="hidden" id="czr1" truetype="hidden">
                <input readonly type="hidden" id="czr" name="czr" truetype="hidden">
                <input readonly type="hidden" id="gdzjxt" name="gdzjxt" truetype="hidden">
                <input readonly type="hidden" id="hidstream" name="hidstream" value="" truetype="hidden">
                <input readonly type="hidden" id="gdzjhj1" name="gdzjhj1" truetype="hidden" value="21.53">
                <input readonly type="hidden" id="gdzjhj2" name="gdzjhj2" truetype="hidden" value="0">
                <input readonly type="hidden" id="ZGGF_BY2" name="ZGGF_BY2" truetype="hidden">
                <input readonly type="hidden" id="ZGGF_BY3" name="ZGGF_BY3" truetype="hidden"> -->
            </p>

        </form>
            
            <div class="am-form-group am-u-md-12">
                <h2 class="label_title">附件上传：</h2>
            </div>
            <div class="am-u-md-12 fileUpLoad">
                <div class="am-u-md-4">
                    <p>计租表：</p>
                </div>
                <div class="am-form-group am-form-file am-u-md-8">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                    <input readonly id="leaseApplication1" type="file" name="leaseApplication1" multiple>
                </div>
                <div id="leaseApplication1_Show" class="am-u-md-12"></div>
            </div>
            <div class="am-u-md-12 fileUpLoad">
                <div class="am-u-md-4">
                    <p>住宅租约：</p>
                </div>
                <div class="am-form-group am-form-file am-u-md-8">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                    <input readonly id="leaseApplication2" type="file" name="leaseApplication2" multiple>
                </div>
                <div id="leaseApplication2_Show" class="am-u-md-12"></div>
            </div>
            <div class="am-u-md-12 fileUpLoad">
                <div class="am-u-md-4">
                    <p>身份证：</p>
                </div>
                <div class="am-form-group am-form-file am-u-md-8">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                    <input readonly id="leaseApplication3" type="file" name="leaseApplication3" multiple>
                </div>
                <div id="leaseApplication3_Show" class="am-u-md-12"></div>
            </div>
            <div class="am-u-md-12">
                <label class="label_style">换租原因：</label>
                <input type="text" class="label_input applyReason" name="applyReason" value="老证换新证" required/>
            </div>
</div>