{extend name="layout" /}
{block name="title"}<title>楼栋信息</title>{/block}
{block name="content"}
  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增楼栋</button>
            <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 修改楼栋</button>
            <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除楼栋</button>
          </div>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
          <select data-am-selected="{btnSize: 'sm'}">
            <option value="option1">所有类别</option>
            <option value="option2">IT业界</option>
            <option value="option3">数码产品</option>
            <option value="option3">笔记本电脑</option>
            <option value="option3">平板电脑</option>
            <option value="option3">只能手机</option>
            <option value="option3">超极本</option>
          </select>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"><input type="checkbox" /></th>
				<th class="table-id">#</th>
				<th class="table-title">楼栋编号</th>
				<th class="table-type">机构名称</th>
				<th class="table-author am-hide-sm-only">产别</th>
				<th class="table-date am-hide-sm-only">楼栋</th>
				<th class="table-set">产权证号</th>
				<th class="table-set">建成年份</th>
				<th class="table-set">完损等级</th>
				<th class="table-set">结构类别</th>
				<th class="table-set">使用性质</th>
				<!--<th class="table-set">建筑面积</th>
				<th class="table-set">原价</th>-->
				<th class="table-set">规定租金</th>
				<th class="table-set" style="width:220px;">操作</th>
              </tr>
          </thead>
          <tbody>
		  <!--查询-->
		    <tr class="am-form-group am-form-inline">
              <td><input type="checkbox" /></td>
              <td></td>
              <td>
				<div class="am-input-group am-input-group-sm">
				  <input type="text" class="am-form-field">
				</div>
			  </td>
              <td>
				<div class="am-input-group am-input-group-sm">
				  <input type="text" class="am-form-field">
				</div>
			  </td>
              <td>
				<div class="am-input-group am-input-group-sm">
				  <input type="text" class="am-form-field">
				</div>
			  </td>
              <td>
				<div class="am-input-group am-input-group-sm">
				  <input type="text" class="am-form-field">
				</div>
			  </td>
              <td>
				<div class="am-input-group am-input-group-sm">
				  <input type="text" class="am-form-field">
				</div>
			  </td>
              <td>
				<div class="am-input-group am-input-group-sm">
				  <input type="text" class="am-form-field">
				</div>
			  </td>
              <td>
				<div class="am-input-group am-input-group-sm">
				  <input type="text" class="am-form-field">
				</div>
			  </td>
			  <td></td>
			  <td></td>
			  <td></td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr>
		<!---查询-->
            <tr>
              <td><input type="checkbox" /></td>
              <td>1</td>
              <td><a href="#">Business management</a></td>
              <td>default</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">72</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>2</td>
              <td><a href="#">Business management</a></td>
              <td>default</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">65</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td>3</td>
              <td><a href="#">Business management</a></td>
              <td>default</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">50</td>
              <td>
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                    <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
		<div class="am-cf">
		  共3条记录
		  <div class="am-fr">
			<ul class="am-pagination">
			  <li class="am-disabled"><a href="#">«</a></li>
			  <li class="am-active"><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">»</a></li>
			</ul>
		  </div>
		</div>
          <hr />
          <p>注：.....</p>
        </form>
      </div>

    </div>
  </div>
  
  <form action="" class="am-form" data-am-validator >
	  <fieldset style="width:900px;">
		<legend>添加楼栋</legend>
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-name-2" class="am-u-md-4">机构名称：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-name-2" minlength="1" placeholder="输入机构名称" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-email-2" class="am-u-md-4">楼栋编号：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-email-2" placeholder="楼栋编号" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-url-2" class="am-u-md-4">产权证号：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-url-2" placeholder="产权证号" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-age-2" class="am-u-md-4">完损等级：</label>
			  <div class="am-u-md-8">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="完损等级" required />
			  </div>
			</div>
		</div>
		
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-name-2" class="am-u-md-4">产别：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-name-2" minlength="1" placeholder="产别" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-email-2" class="am-u-md-4">建成年份：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-email-2" placeholder="建成年份" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-url-2" class="am-u-md-4">使用性质：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-url-2" placeholder="使用性质" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-age-2" class="am-u-md-4">结构类别：</label>
			  <div class="am-u-md-8">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="结构类别" required />
			  </div>
			</div>
		</div>
		
		<hr class="am-u-md-12"/>
		
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-name-2" class="am-u-md-4">企业建面：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-name-2" minlength="1" placeholder="输入企业建面" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-email-2" class="am-u-md-4">机关建面：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-email-2" placeholder="机关建面" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-url-2" class="am-u-md-4">民用建面：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-url-2" placeholder="民用建面" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-age-2" class="am-u-md-4">合计建面：</label>
			  <div class="am-u-md-8">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="合计建面" required />
			  </div>
			</div>
			
			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-age-2" class="am-u-md-4">使用面积：</label>
			  <div class="am-u-md-8">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="使用面积" required />
			  </div>
			</div>
		</div>
		
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-name-2" class="am-u-md-4">企业原价：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-name-2" minlength="1" placeholder="输入企业原价" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-email-2" class="am-u-md-4">机关原价：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-email-2" placeholder="机关原价" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-url-2" class="am-u-md-4">民用原价：</label>
			  <div class="am-u-md-8">
				<input type="text" id="doc-vld-url-2" placeholder="民用原价" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-age-2" class="am-u-md-4">合计原价：</label>
			  <div class="am-u-md-8">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="合计原价" required />
			  </div>
			</div>
			
			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-age-2" class="am-u-md-4">规定租金：</label>
			  <div class="am-u-md-8">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="规定租金" required />
			  </div>
			</div>
		</div>
		
		<hr class="am-u-md-12"/>
		<div class="am-form-group am-u-md-12">
			<label for="doc-vld-age-2" class="am-u-md-3">经纬度（地图接口）：</label>
			<div class="am-u-md-4">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="规定租金" required />
			</div>
			<button class="am-btn am-btn-default am-u-md-2" type="button">坐标拾取</button>
		</div>

		<div class="am-form-group am-u-md-12">
			<label for="doc-vld-age-2" class="am-u-md-3">楼栋地址：</label>
			<div class="am-u-md-9">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="楼栋地址" required />
			</div>
		</div>
		<div class="am-form-group am-u-md-12">
			<label for="doc-vld-age-2" class="am-u-md-3">产权来源：</label>
			<div class="am-u-md-9">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="产权来源" required />
			</div>
		</div>
		<hr class="am-u-md-12"/>
		<div class="am-form-group am-u-md-12">
		  <label>楼栋状态： </label>
		  <label class="am-radio-inline">
			<input type="radio"  value="" name="BuilingInfo" required> 独栋
		  </label>
		  <label class="am-radio-inline">
			<input type="radio" name="BuilingInfo"> 混合体
		  </label>
		  <label class="am-radio-inline">
			<input type="radio" name="BuilingInfo"> 2栋
		  </label>
		</div>
		<div class="am-form-group">
			<div class="am-form-group am-u-md-4">
				<label for="doc-vld-age-2" class="am-u-md-5">企栋：</label>
				<div class="am-u-md-7">
					<input type="text" class=""  id="doc-vld-age-2" placeholder="企栋" required />
				</div>
			</div>
			<div class="am-form-group am-u-md-4">
				<label for="doc-vld-age-2" class="am-u-md-5">机栋：</label>
				<div class="am-u-md-7">
					<input type="text" class=""  id="doc-vld-age-2" placeholder="机栋" required />
				</div>
			</div>
			<div class="am-form-group am-u-md-4">
				<label for="doc-vld-age-2" class="am-u-md-5">民栋：</label>
				<div class="am-u-md-7">
					<input type="text" class=""  id="doc-vld-age-2" placeholder="民栋" required />
				</div>
			</div>
		</div>
		<hr class="am-u-md-12"/>
		
		<div class="am-form-group am-u-md-12">
		  <label>拆迁状态： </label>
		  <label class="am-radio-inline">
			<input type="radio"  value="" name="DemoStatus" required> 未拆迁
		  </label>
		  <label class="am-radio-inline">
			<input type="radio" name="DemoStatus"> 已拆迁，下基数
		  </label>
		  <label class="am-radio-inline">
			<input type="radio" name="DemoStatus">已拆迁，未下基数
		  </label>
		</div>
		<hr class="am-u-md-12"/>
		<div class="am-form-group am-u-md-6">
			<label for="doc-vld-age-2" class="am-u-md-5">2010年前：</label>
			<div class="am-u-md-7">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="" required />
			</div>
			<label for="doc-vld-age-2" class="am-u-md-5">2010~2015：</label>
			<div class="am-u-md-7">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="" required />
			</div>
			<label for="doc-vld-age-2" class="am-u-md-5">2016年：</label>
			<div class="am-u-md-7">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="" required />
			</div>
			<label for="doc-vld-age-2" class="am-u-md-5">2017年：</label>
			<div class="am-u-md-7">
				<input type="text" class=""  id="doc-vld-age-2" placeholder="" required />
			</div>
		</div>

		<div class="am-form-group am-u-md-6">
		  <label for="doc-vld-ta-2">评论：</label>
		  <textarea style="height:115px;" id="doc-vld-ta-2" minlength="10" maxlength="100"></textarea>
		</div>

		<button class="am-btn am-btn-secondary" type="submit">提交</button>
	  </fieldset>
  </form>
  
  <!-- content end -->
{/block}


