<div id="TenantDetail" class="am-form" style="display:none;margin-top:1.6rem;">

	  <fieldset>
		<!--<legend>添加楼栋</legend>-->
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
			  <label for="doc-vld-email-2" class="label_style">租户编号：</label>
			  <div class="am-u-md-8">
				<p class="detail_p_style" id="TenantID"></p>
			  </div>
			</div>

			<!--<div class="am-form-group am-u-md-12">-->
				<!--<label for="doc-vld-email-2" class="label_style">房屋编号：</label>-->
				<!--<div class="am-u-md-8">-->
					<!--<p class="detail_p_style" id="HouseID">加载中</p>-->
				<!--</div>-->
			<!--</div>-->
		
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-2" class="label_style">联系电话：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="TenantTel"></p>
					
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-4" class="label_style">年龄：</label>
			  <div  class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="TenantAge"></p>
			  </div>
			</div>
			
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">微信号：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="TenantWeChat"></p>
			  </div>
			</div>	
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">身份证：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="TenantNumber"></p>
			  </div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">银行卡号：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="BankID"></p>
			  </div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">登记人：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="CreateUserID"></p>
			  </div>
			</div>	
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-8" class="label_style">更新时间：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="UpdateTime"></p>
			  </div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-7" class="label_style">欠租情况：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="ArrearRent"></p>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
                <label class="label_style" style="width:72px;">身份证正面：</label>
            </div>
            <img class="am-form-group am-u-md-12" id="IDCardFaceDetail" style="width:312px;height:150px;float:left;">
		</div>
		
<!--左右分割-->		
		
		
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
				<label for="doc-vld-email-2" class="label_style">租户姓名：</label>
				<div class="am-u-md-8">
					<p class="detail_p_style" id="TenantName"></p>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-5" class="label_style">性别：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="TenantSex"></p>
			  </div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-5" class="label_style">余额：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="TenantBalance"></p>
			  </div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-5" class="label_style">QQ号：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="TenantQQ"></p>
			  </div>
			</div>

			<div class="am-form-group am-u-md-12">
				<label for="doc-vld-email-2" class="label_style">银行机构：</label>
				<div class="am-u-md-8">
					<p class="detail_p_style" id="BankName"></p>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
				<label for="doc-vld-email-2" class="label_style">诚信值：</label>
				<div class="am-u-md-8">
					<p class="detail_p_style" id="TenantValue"></p>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-7" class="label_style">登记机构：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="InstitutionName"></p>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label for="doc-select-7" class="label_style">登记时间：</label>
			  <div class="am-u-md-8" style="float:left;">
					<p class="detail_p_style" id="CreateTime"></p>
			  </div>
			</div>
			
			<div class="am-form-group am-u-md-12">
                <label class="label_style" style="width:72px;">身份证反面：</label>
            </div>
            <img class="am-form-group am-u-md-12" id="IDCardReverseDetail" style="width:312px;height:150px;float:left;">


		</div>
	  </fieldset>
  </div>