<link rel="stylesheet" href="/public/static/gf/css/amazeui.datetimepicker.css"/>

<form id="tenantModifyForm" class="am-form" data-am-validator style="display:none;margin-top:1.6rem;">

	  <fieldset id="InputForm" style="width:780px;">
		<!--<legend>添加楼栋</legend>-->
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">租户编号：</label>
			  <div class="am-u-md-8">
				<input type="number" name="TenantID" onfocus=this.blur(); id="TenantI" placeholder=""/>
			  </div>
			</div>
			<div class="am-form-group am-u-md-12">
				<label class="label_style">联系电话：</label>
				<div class="am-u-md-8">
					<input type="number" name="TenantTel" id="TenantTe" placeholder=""/>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">年龄：</label>
				<div class="am-u-md-8">
					<input type="number" name="TenantAge" id="TenantAg" placeholder=""/>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">微信号：</label>
				<div class="am-u-md-8">
					<input type="text" name="TenantWeChat" id="TenantWeCha" placeholder=""/>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">身份证：</label>
				<div class="am-u-md-8">
					<input type="text" name="TenantNumber" id="TenantNumbe" placeholder=""/>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">银行卡号：</label>
				<div class="am-u-md-8">
					<input type="number" name="BankID" id="BanI" placeholder=""/>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">欠租金额：</label>
				<div class="am-u-md-8">
					<input type="number" name="ArrearRent" id="ArrearRen" value="0.00"/>
				</div>
			</div>

			<div class="am-form-group am-u-md-12">
                <label for="imgUpM" class="label_style" style="width:72px;">身份证正面：</label>
                <div class="am-form-group am-form-file am-u-md-8">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                    <input type="file" name="IDCardFace" id="imgUpM" multiple>
                </div>
            </div>
            <img class="am-form-group am-u-md-12" id="IDCardFaceM" style="width:312px;height:150px;float:left;">

		</div>
		
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">租户姓名：</label>
				<div class="am-u-md-8">
					<input type="text" name="TenantName" id="TenantNam" placeholder="租户姓名" required/>
				</div>
				<i style="font-style: normal; color:red; vertical-align: middle;">*</i>
			</div>
			<div class="am-form-group am-u-md-12">
				<label class="label_style">余额：</label>
				<div class="am-u-md-8" data-am-validator>
					<input type="number" name="TenantBalance" id="TenantBalanc" value="0.00" required/>
				</div>
				<i style="font-style: normal; color:red; vertical-align: middle;">*</i>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">性别：</label>
				<div class="am-u-md-8">
					<label class="am-radio-inline">
						<input type="radio"  value="1" name="TenantSex" checked="checked" required> 男
					</label>
					<label class="am-radio-inline">
						<input type="radio" value="0" name="TenantSex"> 女
					</label>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">QQ号：</label>
				<div class="am-u-md-8">
					<input type="number" name="TenantQQ" id="TenantQ" placeholder=""/>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">银行机构：</label>
				<div class="am-u-md-8">
					<input type="text" name="BankName" id="BanNam" placeholder=""/>
				</div>
			</div>
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">诚信值：</label>
				<div class="am-u-md-8">
					<input type="text" name="TenantValue" id="TenantValu" placeholder=""/>
				</div>
			</div>

			<div class="am-form-group am-u-md-12">
                <label for="imgDownM" class="label_style" style="width:72px;">身份证反面：</label>
                <div class="am-form-group am-form-file am-u-md-8">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                    <input type="file" name="IDCardReverseM" id="imgDownM" multiple>
                </div>
            </div>
            <img class="am-form-group am-u-md-12" id="IDCardReverseM" style="width:312px;height:150px;float:left;">

		</div>
	  </fieldset>
</form>

<script src="/public/static/gf/js/amazeui.datetimepicker.min.js"></script>