<form id="rechargeForm" class="am-form" style="display:none;margin-top:20px;">
<!-- 	<div class="am-form-group am-u-sm-12">
		<h2 style="margin:20px 0 0 0;">房屋信息</h2>
	</div> -->
	<div class="am-form-group am-u-sm-12">
		<div class="am-form-group am-u-sm-6">
			<div class="am-u-md-4 l_change">房屋ID：</div><input class="am-u-md-8 houseID"  id="houseID" />
		</div>
		<div class="am-form-group am-u-sm-6" style="height:30px;">
			<div class="am-u-md-4 l_change">租户姓名：</div><div class="am-u-md-8" id="name"></div>
		</div>
		<div class="am-form-group am-u-sm-6">
			<div class="am-u-md-4 l_change">联系电话：</div><div class="am-u-md-8"  id="phoneNumber"></div>
		</div>
		<div class="am-form-group am-u-sm-6">
			<div class="am-u-md-4 l_change">当前余额：</div><div class="am-u-md-8"  id="currentMoney"></div>
		</div>
		<div class="am-form-group am-u-sm-6" style="float:left;">
			<div class="am-u-md-4 l_change">充值金额：</div><input class="am-u-md-8"  id="inputMoney" />
		</div>
		<div class="am-form-group am-u-sm-6">
			<div class="am-u-md-4 l_change">月租金：</div><div class="am-u-md-8"  id="HousePrerent"></div>
		</div>
	</div>
</form>

<form id="rechargeSure" class="am-form" style="display:none;margin-top:20px;">
<!-- 	<div class="am-form-group am-u-sm-12">
		<h2 style="margin:20px 0 0 0;">房屋信息</h2>
	</div> -->
	<div class="am-form-group am-u-sm-12">
		<div class="am-form-group am-u-sm-12">
			<div class="am-u-md-4 l_change">房屋ID：</div><div class="am-u-md-8"  id="rentIDT"></div>
		</div>
		<div class="am-form-group am-u-sm-12">
			<div class="am-u-md-4 l_change">租户姓名：</div><div class="am-u-md-8"  id="rentName"></div>
		</div>
		<div class="am-form-group am-u-sm-12">
			<div class="am-u-md-4 l_change">月租金：</div><div class="am-u-md-8"  id="rentHouseMoney"></div>
		</div>
		<div class="am-form-group am-u-sm-12">
			<div class="am-u-md-4 l_change">充值金额：</div><div class="am-u-md-8"  id="rentMoney"></div>
		</div>
	</div>
</form>
