<div id="BeInDebt" class="am-form" style="display:none;margin-top:1.6rem;">
<style>
	.table_input{width:70px;height:30px;}
</style>
	  <fieldset >
		<!--<legend>添加楼栋</legend>-->
		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">楼栋编号：</label>
			  <div class="am-u-md-8">
				<p class="detail_p_style" id="BeBanID"></p>
			  </div>
			</div>
		</div>

		<div class="am-u-md-6">
			<div class="am-form-group am-u-md-12">
			  <label class="label_style">租户姓名：</label>
			  <div class="am-u-md-8">
				<p class="detail_p_style" id="BeTenantName"></p>
			  </div>
			</div>
		</div>
		<div class="am-u-md-12">
			<div class="am-form-group am-u-md-12">
				<label class="label_style" style="width:100px;">以前年份欠款：</label>
				<div class="am-u-md-4">
					<input type="text" name="HouseID" id="beDebt"  required/>
				</div>
				<div class="am-u-md-2 am-u-end">元</div>
			</div>
		</div>
		<div class="am-u-md-12">
			<div class="am-form-group am-u-md-12">
				<label class="label_style">以前月份：</label>
			</div>
		</div>
		<div class="am-u-md-12">
			<table class="am-table am-table-bordered am-table-radius am-table-striped">
		      	<thead>
				  <tr>
				    <th></th>
				    <th>一月</th>
				    <th>二月</th>
				    <th>三月</th>
				    <th>四月</th>
				    <th>五月</th>
				    <th>六月</th>
				    <th>七月</th>
				    <th>八月</th>
				    <th>九月</th>
				    <th>十月</th>
				    <th>十一月</th>
				    <th>十二月</th>
				  </tr>
				</thead>
				<tbody>
				  <tr class="debt">
				    <td>欠款</td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				  </tr>
				  <tr class="monthly_collection">
				    <td>月份实收</td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				  </tr>
				  <tr class="year_collection">
				    <td>年度实收</td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				    <td><input class="table_input" /></td>
				  </tr>
				</tbody>
			</table>
		</div>
  </fieldset>
  </div>
