<link rel="stylesheet" href="/public/static/gf/css/amazeui.datetimepicker.css"/>
<form action="{:url('HouseInfo/add')}" method="post" id="houseForm" class="am-form" data-am-validator
      style="display:none;margin-top:1.6rem;">
    <fieldset id="InputForm">
        <!--<legend>添加楼栋</legend>-->
        <div class="am-u-md-6">

            <div class="am-form-group am-u-md-12">
                <label class="label_style">楼栋编号：</label>
                <div class="am-u-md-8">
                    <input type="text" name="BanID" id="DBanID" placeholder="" required/>
                </div>
                <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
            </div>

            <div class="am-form-group am-u-md-12">
                <label class="label_style">单元号：</label>
                <div class="am-u-md-8">
                    <input type="text" name="UnitID" placeholder="" required/>
                </div>
                <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
            </div>

            <div class="am-form-group am-u-md-12">
                <label class="label_style">楼层号：</label>
                <div class="am-u-md-8">
                    <input type="text" name="FloorID" placeholder="" required/>
                </div>
                <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
            </div>

            <div class="am-form-group am-u-md-12">
                <label class="label_style">门牌号码：</label>
                <div class="am-u-md-8">
                    <input type="text" name="DoorID" id="doc-vld-email-3" placeholder=""/>
                </div>
            </div>

            <div class="am-form-group am-u-md-12">
                <label for="OldOprice" class="label_style">房屋原价：</label>
                <div class="am-u-md-8">
                    <input type="text" name="OldOprice" id="OldOprice" placeholder="" required/>
                </div>
            </div>

<!--             <div class="am-form-group am-u-md-12">
                <label for="OldOprice" class="label_style">租差：</label>
                <div class="am-u-md-8">
                    <input type="text" name="DiffRent" id="DiffRent" placeholder="" required/>
                </div>
                <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
            </div>

            <div class="am-form-group am-u-md-12">
                <label for="OldOprice" class="label_style">协议租金：</label>
                <div class="am-u-md-8">
                    <input type="text" name="ProtocolRent" id="ProtocolRent" placeholder="" required/>
                </div>
                <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
            </div> -->
        </div>
        <div class="am-u-md-6">
            <div class="am-form-group am-u-md-12">
                <label for="doc-select-7" class="label_style">使用性质：</label>
                <div class="am-u-md-8" style="float:left;">
                    <select name="UseNature" required>
                        <option value="" style="display:none">请选择</option>
                        <?php foreach($useNatureLst as $k5 =>$v5){ ;?>
                        <option value="<?php echo $v5['id']; ?>"><?php echo $v5['UseNature'];?></option>
                        <?php }; ?>
                    </select>
                </div>
                <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
            </div>
            <div class="am-form-group am-u-md-12">
                <label class="label_style">建筑面积：</label>
                <div class="am-u-md-8">
                    <input type="text" name="HouseArea" id="HouseArea" placeholder="" required/>
                </div>
                <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
            </div>
            <div class="am-form-group am-u-md-12">
                <label for="ComprisingArea" class="label_style">套内建面：</label>
                <div class="am-u-md-8">
                    <input type="text" name="ComprisingArea" id="ComprisingArea" placeholder=""/>
                </div>
            </div>
            <div class="am-form-group am-u-md-12">
                <label class="label_style">租户ID：</label>
                <div class="am-u-md-8">
                    <input type="text" name="TenantID" id="aTenantID" placeholder="" required/>
                </div>
                <i style="font-style: normal; color:red; vertical-align: middle;">*</i>
            </div>
            <div class="am-form-group am-u-md-12">
                <label class="label_style">住改非：</label>
                <div class="am-u-md-8">
                    <label class="am-radio-inline">
                        <input type="radio" value="1" name="NonliveIf" required> 是
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" value="0" name="NonliveIf" checked="checked"> 否
                    </label>
                </div>
            </div>

<!--             <div class="am-form-group am-u-md-12">
                <label class="label_style">是否房改：</label>
                <div class="am-u-md-8">
                    <label class="am-radio-inline">
                        <input type="radio" value="1" name="HouseChangeStatus" required> 是
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" value="0" name="HouseChangeStatus" checked="checked"> 否
                    </label>
                </div>
            </div>

            <div class="am-form-group am-u-md-12">
                <label class="label_style">是否自遗：</label>
                <div class="am-u-md-8">
                    <label class="am-radio-inline">
                        <input type="radio" value="1" name="IfLeft" required> 是
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" value="0" name="IfLeft" checked="checked"> 否
                    </label>
                </div>
            </div>

            <div class="am-form-group am-u-md-12">
                <label class="label_style">暂停计租：</label>
                <div class="am-u-md-8">
                    <label class="am-radio-inline">
                        <input type="radio" value="1" name="IfSuspend" required> 是
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" value="0" name="IfSuspend" checked="checked"> 否
                    </label>
                </div>
            </div> -->

            <div class="am-form-group am-u-md-12">
                <label for="imgUp" class="label_style">影像资料：</label>
                <div class="am-form-group am-form-file am-u-md-8">
                    <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                    <input type="file" name="HouseImageIDS" id="imgUp" multiple>
                </div>
            </div>
            <img class="am-form-group am-u-md-12" id="imgShow" style="width:312px;height:150px;float:left;">
            <div class="am-form-group am-u-md-12">

    </fieldset>
</form>
<script src="/public/static/gf/js/amazeui.datetimepicker.min.js"></script>