<form id="approveFormCancel" style="margin-top:1.6rem;display:none;">
 
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼栋地址：</label>
    </div>
     <label class="p_style APhouseAddress"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼层：</label>
    </div>
     <label class="p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">承租人：</label>
    </div>
     <label class="p_style APtenantName"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">联系电话：</label>
    </div>
     <label class="p_style APtenantTel"></label>
  </div>
    <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">身份证号：</label>
    </div>
     <label class="p_style APtenantNumber"></label>
 </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">备案时间：</label>
    </div>
     <label class="p_style APcreateTime"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">使用面积：</label>
    </div>
     <label class="p_style APhouseArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">计租面积：</label>
    </div>
     <label class="p_style APleasedArea"></label>
  </div>

  <div class="am-form-group am-u-md-12" id="breakType">
    <div class="am-u-md-2">
      <label class="label_style">减免类型：</label>
    </div>
     <label id="breakTyped"></label>
  </div>

  <div class="am-form-group am-u-md-12" id="IDNumber">
    <div class="am-u-md-2">
      <label class="label_style">证件号：</label>
    </div>
     <label id="IDNumberd"></label>
  </div>

  <div class="am-form-group am-u-md-12" id="validity">
    <div class="am-u-md-2">
      <label class="label_style">证件有效期：</label>
    </div>
     <label id="validityd"></label>
  </div>

  

 

  <div class="am-u-md-12" style="padding-left:0;">

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>减免报告：</label>
      </div>
      <div id="layer-photos-demo-cancel" class="am-u-md-12">

      </div>
    </div>


    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>

    <div id="approveStateCancel" class="am-u-md-12" style="padding-left:3rem;"></div>

    <div class="am-form-group am-u-sm-12">
      <label class="label_style">取消减免报告：</label>
        <div class="am-form-group am-form-file am-u-md-5">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件
              <input id="cancelapprove" type="file" name="cancelapprove" multiple>
        </div>
        <div id="cancelapproveShow" class="am-u-md-12 img_content"></div>
      </div>


    </div>

</div>
</form>