<style>
	body{font-size: 1.4rem;}
</style>
<form id="changeCutYearProcess" style="margin-top:1.6rem;display:none;">
  <div class="am-u-md-12" style="padding-left:0;">
  	<div class="am-form-group am-u-md-12">
  		<div class="am-u-md-6">
  		  <label>基础信息：</label>
  		</div>
  	</div>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼栋地址：</label>
    </div>
     <label class="p_style APhouseAddress"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">楼层：</label>
    </div>
     <label class="p_style"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">承租人：</label>
    </div>
     <label class="p_style APtenantName"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">联系电话：</label>
    </div>
     <label class="p_style APtenantTel"></label>
  </div>
    <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">身份证号：</label>
    </div>
     <label class="p_style APtenantNumber"></label>
 </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">备案时间：</label>
    </div>
     <label class="p_style APcreateTime"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">使用面积：</label>
    </div>
     <label class="p_style APhouseArea"></label>
  </div>
  <div class="am-form-group am-u-md-4">
    <div class="am-u-md-6">
      <label class="label_style">计租面积：</label>
    </div>
     <label class="p_style APleasedArea"></label>
  </div>

  <div class="am-form-group am-u-md-4" id="breakType">
    <div class="am-u-md-6">
      <label class="label_style">减免类型：</label>
    </div>
    <label class="p_style" id="breakTyped4">&nbsp;</label>
  </div>

  <div class="am-form-group am-u-md-4" id="IDNumber">
    <div class="am-u-md-6">
      <label class="label_style">证件号：</label>
    </div>
     <label class="p_style" id="IDNumberd4">&nbsp;</label>
  </div>

  <div class="am-form-group am-u-md-4" id="validity">
    <div class="am-u-md-6">
      <label class="label_style">证件有效期：</label>
    </div>
     <label  class="p_style" id="validityd4">&nbsp;</label>
  </div>

  

 

  <div class="am-u-md-12" style="padding-left:0;">

    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>减免报告：</label>
      </div>
      <div id="layer-photos-demo-reviews" class="am-u-md-12">

      </div>
    </div>


    <div class="am-form-group am-u-md-12">
      <div class="am-u-md-6">
        <label>审批状态：</label>
      </div>
    </div>

    <div id="approveStatereviews" class="am-u-md-12" style="padding-left:3rem;"></div>
    <div class="am-u-md-12" style="padding-left:0;">
      	<div class="am-form-group am-u-md-12">
    		<div style="border-top: #ccc 1px solid; padding-bottom: 10px;  margin-left: 16px;"></div>
      		<div class="am-u-md-6">
      		  <label>年审信息：</label>
      		</div>
      	</div>
    </div>
	<div class="am-form-group am-u-sm-12">
		<div class="am-u-md-4" style="margin:20px auto 30px;">
		    <label class="label_style">减免类型：</label>
		    <input class="label_input" readonly id="transferClasss" require />
		</div>
		<div class="am-u-md-4 transfer_money" style="padding-left:0;margin:20px auto 30px;">
		    <label class="label_style">减免金额：</label>
		    <input class="label_input" readonly id="transferMoneys" require />
		</div>
		<div class="am-u-md-4 transfer_reason" style="padding-left:0;margin:20px auto 30px;">
		    <label>减免证号：</label>
		    <input class="label_input" readonly id="transferReasons" />
		</div>
	</div>
<!-- 	<div class="am-u-md-12" style="padding-left:0;">
	  	<div class="am-form-group am-u-md-12">
			<div style="border-top: #ccc 1px solid; padding-bottom: 10px;  margin-left: 16px;"></div>
	  		<div class="am-u-md-6">
	  		  <label>年审信息：</label>
	  		</div>
	  	</div>
	</div> -->
	
	<div class="am-form-group am-u-md-12">
	  <div class="am-u-md-6">
	    <label>年审信息：</label>
	  </div>
	  <div id="layer-photos-demo-annual" class="am-u-md-12">
	
	  </div>
	</div>

    <!-- <div class="am-form-group am-u-sm-12">
		<div class="am-form-group am-u-md-8">
			<div class="am-u-md-12">
			  <label class="label_style">身份证：</label>
			</div>
		</div>
		<div id="TrApIDCardShow" class="am-u-md-12 j_img_content">
		  <ul>
			  <li>
				  <img src="../../../../favicon.ico" />
			  </li>
			  <li>
			  	<img src="../../../../favicon.ico" />
			  </li>
		  </ul>
		</div>
    </div> -->
	<!-- <div class="am-form-group am-u-sm-12">
		<div class="am-form-group am-u-md-8">
			<div class="am-u-md-12">
			  <label class="label_style">户口本：</label>
			</div>
		</div>
		<div id="householdShow" class="am-u-md-12 j_img_content">
			<ul>
			  <li>
				  <img src="../../../../favicon.ico" />
			  </li>
			</ul>
		</div>
	</div> -->
   <!-- <div class="am-form-group am-u-sm-12">
    	<div class="am-form-group am-u-md-8">
    		<div class="am-u-md-12">
    		  <label class="label_style">租约：</label>
    		</div>
    	</div>
    	<div id="tenantLeaseShow" class="am-u-md-12 j_img_content">
			<ul>
			  <li>
				  <img src="../../../../favicon.ico" />
			  </li>
			</ul>
		</div>
    </div> -->
   <!-- <div class="am-form-group am-u-sm-12">
    	<div class="am-form-group am-u-md-8">
    		<div class="am-u-md-12">
    		  <label class="label_style">低保证：</label>
    		</div>
    	</div>
    	<div id="basicShow" class="am-u-md-12 j_img_content">
			<ul>
			  <li>
				  <img src="../../../../favicon.ico" />
			  </li>
			</ul>
		</div>
    </div> -->
    </div>

</div>
</form>