{extend name="layout" /}
{block name="title"}<title>租金计算</title>{/block}
{block name="content"}
<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><small class="am-text-sm">租金管理</small> /
            <small class="am-text-primary">计算租金</small>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group-xs">
                    <?php if(in_array(249,$threeMenu)){ ; ?>
                    <button type="button" id="rentAllocation" class="am-btn d-btn-1188F0 am-radius">
                        <span class="am-icon-tag"></span> 更新租金配置
                    </button>
                    <?php }; ?>
                    <?php if(in_array(250,$threeMenu)){ ; ?>
                    <button type="button" id="rentCount" class="am-btn d-btn-1188F0 am-radius">
                        <span class="am-icon-tags"></span> 计算滞纳金
                    </button>
                    <?php }; ?>
                    <?php if(in_array(251,$threeMenu)){ ; ?>
                    <button type="button" id="generateRent" class="am-btn d-btn-1188F0 am-radius">
                        <span class="am-icon-tasks"></span> 生成本月租金
                    </button>
                    <?php }; ?>
                </div>
            </div>
        </div>
    </div>

    <div class="am-g">
        <div class="am-scrollable-horizontal">
            <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
                <thead>
                <tr>
                    <th class="table-check"></th>
                    <th class="table-title">#</th>
                    <th class="table-date am-hide-sm-only">房屋编号</th>
                    <?php if(session('user_base_info.institution_level')!=3){ ;?>
                    <th class="table-set">机构名称</th>
                    <?php }; ?>
                    <th class="table-set">产别</th>
                    <th class="table-set">使用性质</th>
                    <th class="table-set">租户姓名</th>
                    <th class="table-set">楼栋地址</th>
                    <th class="table-set">租差</th>
                    <th class="table-set">泵费</th>
                    <th class="table-set">减免租金</th>
                    <th class="table-set">规定租金</th>
                    <th class="table-set">应收租金</th>
                    <th class="table-set">历史欠租</th>
                    <th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                <!--查询-->
                <form action="{:url('RentCount/index')}" method="post" id="queryForm">
                    <tr class="am-form-group am-form-inline am-form">
                        <td></td>
                        <td></td>
                        <td>
                            <div class="am-input-group am-input-group-sm">
                                <?php
                                    if($rentOption != array()){
                                        $HouseID = $rentOption['HouseID'];
                                    }else{
                                        $HouseID = '';
                                    }
                                 ?>
                                <input style="width:132px;" name="HouseID" type="text" class="am-form-field" value="{$HouseID}">
                            </div>
                        </td>
                        <?php if(session('user_base_info.institution_level')!=3){ ;?>
                        <td>
                            <div class="am-form-group search_input" style="width:100px;">

                                <select name="TubulationID" id="doc-select-2">
                                    <option value="" style="display:none">请选择</option>

                                    <?php if(session('user_base_info.institution_level')==1){;?>

                                    <?php foreach($instLst as $k10 => $v10){ if($v10['level'] !=0 ){; ?>

                                    <?php

                                if($rentOption != array()){

                                    if($rentOption['TubulationID'] == $v10['id']){

                                        $select ='selected';
                                    }else{

                                        $select ='';
                                    }
                                }else{

                                    $select ='';
                                }

                                ?>

                                    <option value="<?php echo $v10['id']; ?>"
                                            {$select}><?php echo $v10['Institution']; ?></option>

                                    <?php }}}elseif(session('user_base_info.institution_level')==2){; ?>

                                    <?php foreach($instLst as $k12 => $v12){ ; ?>

                                    <?php

                                if($rentOption != array()){

                                    if($rentOption['TubulationID'] == $v12['id']){

                                        $select ='selected';
                                    }else{

                                        $select ='';
                                    }
                                }else{

                                    $select ='';
                                }

                                ?>

                                    <option value="<?php echo $v12['id']; ?>"
                                            {$select}><?php echo $v12['Institution']; ?></option>

                                    <?php }} ; ?>

                                </select>
                            </div>
                        </td>
                        <?php } ; ?>

                        <td>
                            <div class="am-form-group search_input">
                                <select name="OwnerType" id="doc-select-5">
                                    <option  value="" style="display:none">请选择</option>
                                    <?php foreach($owerLst as $k3 =>$v3){;?>

                                    <?php

                                if($rentOption != array()){

                                    if($rentOption['OwnerType'] == $v3['id']){

                                        $select ='selected';
                                    }else{

                                        $select ='';
                                    }
                                }else{

                                    $select ='';
                                }

                                ?>

                                    <option value="<?php echo $v3['id']; ?>" {$select}><?php echo $v3['OwnerType']; ?></option>
                                    <?php }; ?>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="am-form-group search_input">
                                <select name="UseNature" id="doc-select-7">
                                    <option  value="" style="display:none">请选择</option>
                                    <?php foreach($useNatureLst as $k5 =>$v5){ ;?>

                                    <?php

                                if($rentOption != array()){

                                    if($rentOption['UseNature'] == $v5['id']){

                                        $select ='selected';
                                    }else{

                                        $select ='';
                                    }
                                }else{

                                    $select ='';
                                }

                                ?>

                                    <option value="<?php echo $v5['id']; ?>" {$select}><?php echo $v5['UseNature'];?></option>
                                    <?php }; ?>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="am-input-group am-input-group-sm">
                                <?php
                        if($rentOption != array()){
                            $TenantName = $rentOption['TenantName'];
                        }else{
                            $TenantName = '';
                        }
                     ?>
                                <input name="TenantName" type="text" class="am-form-field" value="{$TenantName}">
                            </div>
                        </td>

                        <td>
                            <div class="am-input-group am-input-group-sm">
                                <?php
                        if($rentOption != array()){
                            $BanAddress = $rentOption['BanAddress'];
                        }else{
                            $BanAddress = '';
                        }
                     ?>
                                <input style="width:132px;" name="BanAddress" type="text" class="am-form-field" value="{$BanAddress}">
                            </div>
                        </td>

                        <td>
                <div class="am-form-group search_input">
                    <select name="DiffRent">
                        <option value="" style="display:none">请选择</option>
                       

                        <?php
                        if(isset($rentOption['DiffRent'])){
                            if($rentOption['DiffRent'] == 1){
                                $selectDiff ='selected';
                                $selectDiffs ='';
                            }elseif($rentOption['DiffRent'] === '0'){
                                $selectDiff ='';
                                $selectDiffs ='selected';
                            }else{
                                $selectDiff ='';
                                $selectDiffs ='';
                            }
                        }else{
                            $selectDiff ='';
                            $selectDiffs ='';
                        }
                        ?>

                        <option value="1" {$selectDiff}>有</option>
                        <option value="0" {$selectDiffs}>无</option>
                       
                    </select>
                </div></td>
                <td>
                <div class="am-form-group search_input">
                    <select name="PumpCost">
                        <option value="" style="display:none">请选择</option>
                       

                        <?php
                        if(isset($rentOption['PumpCost'])){
                            if($rentOption['PumpCost'] == 1){
                                $selectPump ='selected';
                                $selectPumps ='';
                            }elseif($rentOption['PumpCost'] === '0'){
                                $selectPump ='';
                                $selectPumps ='selected';
                            }else{
                                $selectPump ='';
                                $selectPumps ='';
                            }
                        }else{
                            $selectPump ='';
                            $selectPumps ='';
                        }
                        ?>

                        <option value="1" {$selectPump}>有</option>
                        <option value="0" {$selectPumps}>无</option>
                       
                    </select>
                </div></td>
                <td>
                <div class="am-form-group search_input">
                    <select  style="width:70px;" name="CutRent">
                        <option value="" style="display:none">请选择</option>
                       

                        <?php
                        if(isset($rentOption['CutRent'])){
                            if($rentOption['CutRent'] == 1){
                                $selectCut ='selected';
                                $selectCuts ='';
                            }elseif($rentOption['CutRent'] === '0'){
                                $selectCut ='';
                                $selectCuts ='selected';
                            }else{
                                $selectCut ='';
                                $selectCuts ='';
                            }
                        }else{
                            $selectCut ='';
                            $selectCuts ='';
                        }
                        ?>

                        <option value="1" {$selectCut}>有</option>
                        <option value="0" {$selectCuts}>无</option>
                       
                    </select>
                    {$cutRentTotal}
                </div></td>
                        <td>
                            <div style="width:50px;"></div>
                        </td>
                        <td>
                            <div style="width:70px;"></div>
                            {$receiveRentTotal}
                        </td>
                        
                        <td>
                            <div style="width:50px;"></div>
                        </td>
                        <td>
                            <div class="am-btn-group am-btn-group-xs" style="min-width:110px;">
                                <button type="submit" class="am-btn am-btn-xs am-text-primary" id="queryBtn"><span
                                        class="DqueryIcon"></span>查询
                                </button>
                                <a class="am-btn am-btn-xs am-text-primary ABtn" href="/ph/RentCount/index.html"><span class="ResetIcon"></span>重置</a>
                            </div>
                        </td>
                    </tr>
                </form>
                <!---查询-->


                <?php foreach($rentLst as $k => $v){ ;?>
                <tr class="check001">
                    <td>
                	<span class="piaochecked">
                			<input class="checkId radioclass" type="radio" name='choose' value=""/>
                	</span>

                    </td>
                    <td><?php echo ++$k; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['HouseID']; ?></td>
                    <?php if(session('user_base_info.institution_level')!=3){ ;?>
                    <td class="am-hide-sm-only"><?php echo $v['InstitutionID']; ?></td>
                    <?php }; ?>
                    <td class="am-hide-sm-only"><?php echo $v['OwnerType']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['UseNature']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['TenantName']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['BanAddress']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['DiffRent']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['PumpCost']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['CutRent']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['HousePrerent']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v['ReceiveRent']; ?></td>  
                    <td class="am-hide-sm-only"><?php echo $v['HistoryUnpaidRent']; ?></td>
                    <td>
                        <div class="am-btn-toolbar">
                            <?php if(in_array(250,$threeMenu)){ ; ?>
                            <button class="am-btn am-btn-default am-btn-xs am-text-primary details rentApply" value="">租差申请
                            </button>
                            <?php }; ?>

                        </div>
                    </td>
                </tr>
                <?php }; ?>

                </tbody>
            </table>
            <div class="am-cf">
                共{$rentLstObj->total()}条记录
                <div class="am-fr">
                    {$rentLstObj->render()}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- content end -->
{include file="application/ph/view/rent_count/RentAllocation.html" /}
{include file="application/ph/view/rent_count/RentApply.html" /}
{/block}
{block name="JsFile"}
<script type="text/javascript" src="/public/static/gf/viewJs/rent_count.js?v={:config('version_sign')}"></script>
{/block}