<form id="rentApply" class="am-form" style="display:none;margin-top:20px;">
	<div class="am-u-sm-12">
		<div class="am-form-group am-u-sm-6">
			<label>租差日期：</label><label>2017/05/21</label>
		</div>
	</div>
	<div class="am-form-group am-u-sm-12">
		<h2 style="margin:20px 0 0 0;">房屋信息</h2>
	</div>
	<div class="am-form-group am-u-sm-12">
		<div class="am-form-group am-u-sm-6">
			<label>房屋编号：</label><label>0102030405</label>
		</div>
		<div class="am-form-group am-u-sm-6">
			<label>单元号：</label><label>1</label>
		</div>
		<div class="am-form-group am-u-sm-6">
			<label>居住层：</label><label>2</label>
		</div>
		<div class="am-form-group am-u-sm-6">
			<label>房间号：</label><label>5</label>
		</div>
		<div class="am-form-group am-u-sm-6">
			<label>租户姓名：</label><label>黄芳</label>
		</div>
		<div class="am-form-group am-u-sm-6">
			<label>使用性质：</label><label>民用</label>
		</div>
		<div class="am-form-group am-u-sm-6 am-u-end">
			<label>规定租金：</label><label>50</label>
		</div>
	</div>
	<div class="am-form-group am-u-sm-12">
		<h2 style="margin:20px 0 0 0;">租差申请</h2>
	</div>
	<div class="am-form-group am-u-sm-12">
		<div class="am-form-group am-u-sm-12">
			<label>调整后金额：</label><input />
		</div>
		<div class="am-form-group am-u-sm-12">
			<label>租差事由：</label><textarea style="height:100px;"></textarea>
		</div>
	</div>
</form>