<!-- ban_structure_type -->
<div id="conf-modify-id1" hidden="hidden" class="am-g">
<!-- 	序号:<span id="ban_structure_id"></span><br/>
	项目:<input id="structure_type" type="text" value="" name="structure_type"/><br/>
	现行标准:<input type="text" name="oldPoint" id="oldPoint"/><br/>
	调整标准:<input type="text" name="newPoint" id="newPoint"/> -->
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2">序号：</label>
		<label class="am-u-sm-7 p0" id="ban_structure_id"></label>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2" >项目：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="structure_type" id="structure_type" placeholder="项目" required />
		</div>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2" >现行标准：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="oldPoint" id="oldPoint"   placeholder="现行标准" required/>
		</div>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2">调整标准：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="newPoint" id="newPoint" placeholder="调整标准" required/>
		</div>
	</div>
</div>
<!-- room_type_point -->
<div id="conf-modify-id2" hidden="hidden" class="am-g">
<!-- 	序号:<span id="room_type_point_id"></span><br/>
	项目:<input id="room_type_name" type="text" value="" name="room_type_name"/><br/>
	面积折减率:<input type="text" name="point" id="point">
 -->
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2" >序号：</label>
		<label class="am-u-sm-7 p0" id="room_type_point_id"></label>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2" >项目：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="room_type_name" id="room_type_name"  placeholder="项目" required/>
		</div>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2" >面积折减率：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="point" id="point"  placeholder="现行标准" required/>
		</div>
	</div>
</div>
<!-- 住房租金基价折减表 -->
<div id="conf-modify-id3" hidden="hidden" class="am-g">
<!-- 	序号:<span id="rent_cut_point_id"></span><br/>
	项目:<input id="item" type="text" value="" name="item"/><br/>
	折减率:<input type="text" name="rent_cut_point_point" id="rent_cut_point_point"> -->

	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2" >序号：</label>
		<label class="am-u-sm-7 p0" id="rent_cut_point_id"></label>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2" >项目：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="item" id="item"  placeholder="项目" required/>
		</div>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2">面积折减率：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="rent_cut_point_point" id="rent_cut_point_point" placeholder="现行标准" required/>
		</div>
	</div>
</div>
<!-- 楼栋层次调节率 -->
<div id="conf-modify-id4" hidden="hidden" class="am-g">
	
</div>
<!-- 各项加计租金 -->
<div id="conf-modify-id5" hidden="hidden" class="am-g">
<!-- 	序号:<span id="room_item_point_id"></span><br/>
	项目:<input id="room_item_point_item" type="text" value="" name="room_item_point_item"/><br/>
	单位:<input type="text" name="ceil" id="ceil"/><br/>
	单价:<input type="text" name="unit_price" id="unit_price"/> -->
	<div class="am-form-group am-u-sm-12">
		<label class="am-u-sm-4 label_style p0" for="doc-vld-email-2" >序号：</label>
		<label class="am-u-sm-7 p0" id="room_item_point_id"></label>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label for="doc-vld-email-2" class="am-u-sm-4 label_style p0">项目：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="room_item_point_item"  id="room_item_point_item" placeholder="项目" required/>
		</div>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label for="doc-vld-email-2" class="am-u-sm-4 label_style p0">单位：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="ceil" id="ceil"  placeholder="单位" required/>
		</div>
	</div>
	<div class="am-form-group am-u-sm-12">
		<label for="doc-vld-email-2" class="am-u-sm-4 label_style p0">单价：</label>
		<div class="am-u-sm-7 p0">
			<input type="text" name="unit_price"  id="unit_price" placeholder="单价" required/>
		</div>
	</div>
</div>

<div id="filed_content" hidden="hidden">
	<td width="20%">居住层次/楼房层数</td><td>四</td><td>五</td><td>六</td><td>七</td><td>八</td><td>九层及以上顶层</td>
</div>

<div id="tb_content" hidden="hidden">
	<tr>
		<td>一</td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
	</tr>
	<tr>
		<td>二</td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
	</tr>
	<tr>
		<td>三</td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
	</tr>
	<tr>
		<td>四</td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
	</tr>
	<tr>
		<td>五</td>
		<td></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
	</tr>
	<tr>
		<td>六</td>
		<td></td>
		<td></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
	</tr>
	<tr>
		<td>七</td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
	</tr>
	<tr>
		<td>八</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="text" name=""></td>
		<td><input type="text" name=""></td>
	</tr>
	<tr>
		<td>九层及以上顶层</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td><input type="text" name=""></td>
	</tr>
</div>
