<div style="display:inline-block;width:30%" class="DQueryType fontSize_12">按房屋价值</div>
<div style="display:inline-block;width:30%" class="time fontSize_12"></div>
<div style="display:inline-block;width:30%" class="fontSize_12">单位：建筑面积：平方米 规定租金：元</div>
<table class="am-table am-table-bordered am-table-centered" id="PropertyForm">
        <!-- 完损等级分 -->
        <tbody class="one" style="display:none;">
            <tr>
                <th rowspan="3" colspan="2" class="am-text-middle">结构类别</th>
                <th rowspan="1" colspan="3" class="am-text-middle">合计</th>
                <th rowspan="1" colspan="3" class="am-text-middle">完好房</th>
                <th rowspan="1" colspan="3" class="am-text-middle">基本完好房</th>
                <th rowspan="1" colspan="3" class="am-text-middle">一般损坏房</th>
                <th rowspan="1" colspan="3" class="am-text-middle">严重损坏房</th>
                <th rowspan="1" colspan="3" class="am-text-middle">危险房</th>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="1" >其中：</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="1" >其中：</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="1" >其中：</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="1" >其中：</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="1" >其中：</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="1" >其中：</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >1</td>
                <td rowspan="1" colspan="1" >2</td>
                <td rowspan="1" colspan="1" >3</td>
                <td rowspan="1" colspan="1" >4</td>
                <td rowspan="1" colspan="1" >5</td>
                <td rowspan="1" colspan="1" >6</td>
                <td rowspan="1" colspan="1" >7</td>
                <td rowspan="1" colspan="1" >8</td>
                <td rowspan="1" colspan="1" >9</td>
                <td rowspan="1" colspan="1" >10</td>
                <td rowspan="1" colspan="1" >11</td>
                <td rowspan="1" colspan="1" >12</td>
                <td rowspan="1" colspan="1" >13</td>
                <td rowspan="1" colspan="1" >14</td>
                <td rowspan="1" colspan="1" >15</td>
                <td rowspan="1" colspan="1" >16</td>
                <td rowspan="1" colspan="1" >17</td>
                <td rowspan="1" colspan="1" >18</td>
            </tr>
            <tr class="Wsdj" style="display:none">
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
            </tr>
            
        </tbody>
<!-- 使用性质分 -->
        <tbody class="two" style="display:none;">
            <tr>
                <th rowspan="3" colspan="2" class="am-text-middle">结构类别</th>
                <th rowspan="1" colspan="5" class="am-text-middle">合计</th>
                <th rowspan="1" colspan="5" class="am-text-middle">(一)工商企业、事业(自收自支差额补贴)用房</th>
                <th rowspan="1" colspan="7" class="am-text-middle">(二)民用住宅</th>
                <th rowspan="1" colspan="5" class="am-text-middle">(三)机关、事业预算内用房</th>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >规定租金（元）</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >规定租金（元）</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >使用面积（㎡）</td>
                <td rowspan="1" colspan="2" >规定租金（元）</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >规定租金（元）</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >1</td>
                <td rowspan="1" colspan="2" >2</td>
                <td rowspan="1" colspan="2" >3</td>
                <td rowspan="1" colspan="1" >4</td>
                <td rowspan="1" colspan="2" >5</td>
                <td rowspan="1" colspan="2" >6</td>
                <td rowspan="1" colspan="1" >7</td>
                <td rowspan="1" colspan="2" >8</td>
                <td rowspan="1" colspan="2" >9</td>
                <td rowspan="1" colspan="2" >10</td>
                <td rowspan="1" colspan="1" >11</td>
                <td rowspan="1" colspan="2" >12</td>
                <td rowspan="1" colspan="2" >13</td>
            </tr>
            <tr class="Syxz" style="display:none">
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
            </tr>
            
        </tbody>
        <!-- 按机构分 -->
        <tbody class="three" style="display:none;">
            <tr>
                <th rowspan="2" colspan="2" class="am-text-middle">机构</th>
                <th rowspan="1" colspan="8" class="am-text-middle">合计</th>
                <th rowspan="1" colspan="10" class="am-text-middle">(一)民用住宅</th>
                <th rowspan="1" colspan="8" class="am-text-middle">(二)工商企业、事业(自收自支差额补贴)用房</th>
                <th rowspan="1" colspan="8" class="am-text-middle">(三)机关、事业预算内用房</th>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">栋数</td>
                <td rowspan="1" colspan="1">户数</td>
                <td rowspan="1" colspan="2">建筑面积（㎡）</td>
                <td rowspan="1" colspan="2">建面占比（㎡）</td>
                <td rowspan="1" colspan="2">规定租金（元）</td>
                <td rowspan="1" colspan="1">栋数</td>
                <td rowspan="1" colspan="1">户数</td>
                <td rowspan="1" colspan="2">建筑面积（㎡）</td>
                <td rowspan="1" colspan="2">建面占比（㎡）</td>
                <td rowspan="1" colspan="2">使用面积（㎡）</td>
                <td rowspan="1" colspan="2">规定租金（元）</td>
                <td rowspan="1" colspan="1">栋数</td>
                <td rowspan="1" colspan="1">户数</td>
                <td rowspan="1" colspan="2">建筑面积（㎡）</td>
                <td rowspan="1" colspan="2">建面占比（㎡）</td>
                <td rowspan="1" colspan="2">规定租金（元）</td>
                <td rowspan="1" colspan="1">栋数</td>
                <td rowspan="1" colspan="1">户数</td>
                <td rowspan="1" colspan="2">建筑面积（㎡）</td>
                <td rowspan="1" colspan="2">建面占比（㎡）</td>
                <td rowspan="1" colspan="2">规定租金（元）</td>
            </tr>
            
            <tr class="gig" style="display:none">
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="2"></td>
            </tr>
            
        </tbody>
<!-- 建成年份分 -->
        <tbody class="four" style="display:none;">
             <tr>
                <th rowspan="3" colspan="2" class="am-text-middle">建设年代</th>
                <th rowspan="1" colspan="6" class="am-text-middle">合计</th>
                <th rowspan="1" colspan="6" class="am-text-middle">完好房</th>
                <th rowspan="1" colspan="6" class="am-text-middle">基本完好房</th>
                <th rowspan="1" colspan="6" class="am-text-middle">一般损坏房</th>
                <th rowspan="1" colspan="6" class="am-text-middle">严重损坏房</th>
                <th rowspan="1" colspan="6" class="am-text-middle">危险房</th>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >户数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >建面占比（㎡）</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >户数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >建面占比（㎡）</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >户数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >建面占比（㎡）</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >户数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >建面占比（㎡）</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >户数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >建面占比（㎡）</td>
                <td rowspan="1" colspan="1" >栋数</td>
                <td rowspan="1" colspan="1" >户数</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="2" >建面占比（㎡）</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >1</td>
                <td rowspan="1" colspan="1" >2</td>
                <td rowspan="1" colspan="2" >3</td>
                <td rowspan="1" colspan="2" >4</td>
                <td rowspan="1" colspan="1" >5</td>
                <td rowspan="1" colspan="1" >6</td>
                <td rowspan="1" colspan="2" >7</td>
                <td rowspan="1" colspan="2" >8</td>
                <td rowspan="1" colspan="1" >9</td>
                <td rowspan="1" colspan="1" >10</td>
                <td rowspan="1" colspan="2" >11</td>
                <td rowspan="1" colspan="2" >12</td>
                <td rowspan="1" colspan="1" >13</td>
                <td rowspan="1" colspan="1" >14</td>
                <td rowspan="1" colspan="2" >15</td>
                <td rowspan="1" colspan="2" >16</td>
                <td rowspan="1" colspan="1" >17</td>
                <td rowspan="1" colspan="1" >18</td>
                <td rowspan="1" colspan="2" >19</td>
                <td rowspan="1" colspan="2" >20</td>
                <td rowspan="1" colspan="1" >21</td>
                <td rowspan="1" colspan="1" >22</td>
                <td rowspan="1" colspan="2" >23</td>
                <td rowspan="1" colspan="2" >24</td>
            </tr>
            <tr class="jsnd" style="display:none">
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
                <td rowspan="1" colspan="2" ></td>
            </tr>
            
        </tbody>
        <!-- 按价值分 -->
        <tbody class="five">
            <tr>
                <th rowspan="3" colspan="2" class="am-text-middle">结构类别</th>
                <th rowspan="1" colspan="5" class="am-text-middle">合计</th>
                <th rowspan="1" colspan="5" class="am-text-middle">(一)工商企业、事业(自收自支差额补贴)用房</th>
                <th rowspan="1" colspan="7" class="am-text-middle">(二)民用住宅</th>
                <th rowspan="1" colspan="5" class="am-text-middle">(三)机关、事业预算内用房</th>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >栋</td>
                <td rowspan="1" colspan="2" >建筑面积</td>
                <td rowspan="1" colspan="2" >房屋原价</td>
                <td rowspan="1" colspan="1" >栋</td>
                <td rowspan="1" colspan="2" >建筑面积</td>
                <td rowspan="1" colspan="2" >房屋原价</td>
                <td rowspan="1" colspan="1" >栋</td>
                <td rowspan="1" colspan="2" >建筑面积</td>
                <td rowspan="1" colspan="2" >使用面积</td>
                <td rowspan="1" colspan="2" >房屋原价</td>
                <td rowspan="1" colspan="1" >栋</td>
                <td rowspan="1" colspan="2" >建筑面积</td>
                <td rowspan="1" colspan="2" >房屋原价</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >1</td>
                <td rowspan="1" colspan="2" >2</td>
                <td rowspan="1" colspan="2" >3</td>
                <td rowspan="1" colspan="1" >4</td>
                <td rowspan="1" colspan="2" >5</td>
                <td rowspan="1" colspan="2" >6</td>
                <td rowspan="1" colspan="1" >7</td>
                <td rowspan="1" colspan="2" >8</td>
                <td rowspan="1" colspan="2" >9</td>
                <td rowspan="1" colspan="2" >10</td>
                <td rowspan="1" colspan="1" >11</td>
                <td rowspan="1" colspan="2" >12</td>
                <td rowspan="1" colspan="2" >13</td>
            </tr>
             <tr class="fwjz" style="display:none">
                 <td rowspan="1" colspan="2" ></td>
                 <td rowspan="1" colspan="1" ></td>
                 <td rowspan="1" colspan="2" ></td>
                 <td rowspan="1" colspan="2" ></td>
                 <td rowspan="1" colspan="1" ></td>
                 <td rowspan="1" colspan="2" ></td>
                 <td rowspan="1" colspan="2" ></td>
                 <td rowspan="1" colspan="1" ></td>
                 <td rowspan="1" colspan="2" ></td>
                 <td rowspan="1" colspan="2" ></td>
                 <td rowspan="1" colspan="2" ></td>
                 <td rowspan="1" colspan="1" ></td>
                 <td rowspan="1" colspan="2" ></td>
                 <td rowspan="1" colspan="2" ></td>
            </tr>

            <?php if($result){foreach($result as $k10 => $v10){; ?>
            <tr class="phpHide">
                <td rowspan="1" colspan="2" ><?php echo $v10[0]; ?></td>
                <td rowspan="1" colspan="1" ><?php echo $v10[1]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $v10[2]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $v10[3]; ?></td>
                <td rowspan="1" colspan="1" ><?php echo $v10[4]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $v10[5]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $v10[6]; ?></td>
                <td rowspan="1" colspan="1" ><?php echo $v10[7]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $v10[8]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $v10[9]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $v10[10]; ?></td>
                <td rowspan="1" colspan="1" ><?php echo $v10[11]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $v10[12]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $v10[13]; ?></td>
            </tr>
            <?php }}; ?>

        </tbody>
</table>
<div style="display:inline-block;width:100%" class="fontSize_12">
    补充资料：
</div>
<div style="display:inline-block;width:100%" class="fontSize_12">
    <div style="display:inline-block;width:30%">工商企业：<span id="below_one"><?php echo isset($below[2])?$below[2]:0; ?></span>户</div>
    <div style="display:inline-block;width:30%">党政机关：<span id="below_two"><?php echo isset($below[3])?$below[3]:0; ?></span>户</div>
    <div style="display:inline-block;width:30%">民用住宅：<span id="below_thr"><?php echo isset($below[1])?$below[1]:0; ?></span>户</div>
</div>
<div style="display:inline-block;width:100%" class="fontSize_12">
    <div style="display:inline-block;width:30%">填写单位：<span id="below_com">区房产公司</span></div>
    <div style="display:inline-block;width:30%">制表人：<?php echo session('user_base_info.name'); ?></div>
    <div style="display:inline-block;width:30%">填报日期：<span class="time"></span></div>
</div>