<div id="conf-modify" hidden="hidden" class="am-g">
	<div class="am-form-group am-u-sm-12 text-center" style="margin-top:10px;">
		<div class="am-u-md-3 l_change">
			编号:
		</div>
		<div class="am-u-md-9" id="modify-id">
			
		</div>
	</div>
	<div class="am-form-group am-u-sm-12 text-center">
		<div class="am-u-md-3 l_change">
			配置内容:
		</div>
		<div class="am-u-md-9 ">
			<input id="modify-content" type="text" value="" name="modify-content" />
		</div>
	</div>
	
	
</div>

<div id="conf-modify-add" hidden="hidden" class="am-g">
	<div class="am-u-md-12" style="margin-top: 20px;">
		<div class="am-u-md-3 l_change">
			配置内容:
		</div>
		<div class="am-u-md-9">
			<input id="modify-content-add" type="text" value="" name="modify-content-add"/>
		</div>
	</div>
	
	
</div>