<?php if($data){; ?>
<div style="display:inline-block;width:30%" class="DQueryType fontSize_12">产别：{$owner}</div>
<div style="display:inline-block;width:30%" class="DQueryType fontSize_12">填报单位：{$inst}</div>
<div style="display:inline-block;width:30%" class="time fontSize_12">填报时间：{$year}年</div>
<table class="am-table am-table-bordered am-table-centered" id="PropertyForm">
        <thead>
            <tr>
                <th rowspan="4" colspan="2" class="am-text-middle">产权基本情况</th>
                <th rowspan="1" colspan="3" class="am-text-middle">房屋总计</th>
                <th rowspan="1" colspan="9" class="am-text-middle">其中：</th>
            </tr>
            <tr>
                <td rowspan="2" colspan="1" >栋</td>
                <td rowspan="2" colspan="2" >建筑面积</td>
                <td rowspan="1" colspan="3" >代管房屋</td>
                <td rowspan="1" colspan="3" >托管房屋</td>
                <td rowspan="1" colspan="3" >与私房、区直共有房屋</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >栋</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="1" >栋</td>
                <td rowspan="1" colspan="2" >建筑面积（㎡）</td>
                <td rowspan="1" colspan="1" >栋</td>
                <td rowspan="1" colspan="2" >建筑面积</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" ><?php echo $data[0][0]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $data[0][1]; ?></td>
                <td rowspan="1" colspan="1" ><?php echo $data[0][2]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $data[0][3]; ?></td>
                <td rowspan="1" colspan="1" ><?php echo $data[0][4]; ?></td>
                <td rowspan="1" colspan="2" ><?php echo $data[0][5]; ?></td>
                <td rowspan="1" colspan="1" ></td>
                <td rowspan="1" colspan="2" ></td>
            </tr>
            <tr>
                <td rowspan="4" colspan="2" class="am-text-middle">本期房屋增减</td>
                <td rowspan="1" colspan="3" class="am-text-middle">年房屋增加<span style="padding: 0 5px"><?php echo $data[1][0]; ?></span>栋，建筑面积<span style="padding: 0 5px"></span><?php echo $data[1][1]; ?>㎡</td>
                <td rowspan="1" colspan="9" class="am-text-middle">年度房减少<span style="padding: 0 5px"><?php echo $data[1][2]; ?></span>栋，建筑面积<span style="padding: 0 5px"></span><?php echo $data[1][3]; ?>㎡</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >接管</td>
                <td rowspan="1" colspan="1" ><?php echo $data[2][0]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[2][1]; ?></td>
                <td rowspan="1" colspan="1" >合建</td>
                <td rowspan="1" colspan="1" ><?php echo $data[2][2]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[2][3]; ?></td>
                <td rowspan="1" colspan="1" >公房出售</td>
                <td rowspan="1" colspan="1" ><?php echo $data[2][4]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[2][5]; ?></td>
                <td rowspan="1" colspan="1" >拆迁</td>
                <td rowspan="1" colspan="1" ><?php echo $data[2][6]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[2][7]; ?></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >危改还建</td>
                <td rowspan="1" colspan="1" ><?php echo $data[3][0]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[3][1]; ?></td>
                <td rowspan="1" colspan="1" >加改扩</td>
                <td rowspan="1" colspan="1" ><?php echo $data[3][2]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[3][3]; ?></td>
                <td rowspan="1" colspan="1" >危改拆除</td>
                <td rowspan="1" colspan="1" ><?php echo $data[3][4]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[3][5]; ?></td>
                <td rowspan="1" colspan="1" >房屋划转</td>
                <td rowspan="1" colspan="1" ><?php echo $data[3][6]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[3][7]; ?></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" >新建</td>
                <td rowspan="1" colspan="1" ><?php echo $data[4][0]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[4][1]; ?></td>
                <td rowspan="1" colspan="1" >其他</td>
                <td rowspan="1" colspan="1" ><?php echo $data[4][2]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[4][3]; ?></td>
                <td rowspan="1" colspan="1" >落私发还</td>
                <td rowspan="1" colspan="1" ><?php echo $data[4][4]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[4][5]; ?></td>
                <td rowspan="1" colspan="1" >其他</td>
                <td rowspan="1" colspan="1" ><?php echo $data[4][6]; ?>栋</td>
                <td rowspan="1" colspan="1" ><?php echo $data[4][7]; ?></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3" class="am-text-middle">已登记房屋</td>
                <td rowspan="1" colspan="2" class="am-text-middle"><?php echo $data[5][0]; ?>栋</td>
                <td rowspan="1" colspan="4" class="am-text-middle">建筑面积<span style="padding: 0 5px"></span><?php echo $data[5][1]; ?>㎡</td>
                <td rowspan="1" colspan="5" class="am-text-middle">备注：<span style="padding: 0 5px"></span></td>
            </tr>

            </thead>

</table>
<?php }else{
    echo '<h2 align="center">暂无数据</h2>';
} ?>