<style>
    .td_input{
        width:50px;
        border:none;
        border-bottom:1px solid #ccc;
        outline:none;
    }
</style>
<div style="display:inline-block;width:30%" class="DQueryType fontSize_12">产别：<?php if($ownerType < 10){echo $owerArr[$ownerType];}elseif($ownerType == 10){echo '市代托';}elseif($ownerType == 11){echo '全部';} ?></div>
<div style="display:inline-block;width:30%" class="DQueryType fontSize_12">填报单位：{$insArr[$institutionid]}</div>
<div style="display:inline-block;width:30%" class="time fontSize_12">填报时间：{$month}</div>

<form id="postDataForm">
    <?php if($result){ ; ?>
<table class="am-table am-table-bordered am-table-centered" id="PropertyForm">
        <tbody>
            <tr>
                <th rowspan="2" colspan="3" class="am-text-middle">租金月报</th>
                <th rowspan="2" colspan="1" class="am-text-middle">合计</th>
                <th rowspan="1" colspan="3" class="am-text-middle">(一)工商企事业用房</th>
                <th rowspan="1" colspan="3" class="am-text-middle once_hide">其中(一)</th>
                <th rowspan="1" colspan="3" class="am-text-middle once_hide">其中(二)</th>
                <th rowspan="1" colspan="3" class="am-text-middle">(二)党政群机关用房</th>
                <th rowspan="1" colspan="3" class="am-text-middle">(三)民用住宅用房</th>
            </tr>
            <tr>
                <td rowspan="1" colspan="1">本月份</td>
                <td rowspan="1" colspan="1">以前月份</td>
                <td rowspan="1" colspan="1">以前年度</td>
                <td rowspan="1" colspan="1" class="once_hide">本月份</td>
                <td rowspan="1" colspan="1" class="once_hide">以前月份</td>
                <td rowspan="1" colspan="1" class="once_hide">以前年度</td>
                <td rowspan="1" colspan="1" class="once_hide">本月份</td>
                <td rowspan="1" colspan="1" class="once_hide">以前月份</td>
                <td rowspan="1" colspan="1" class="once_hide">以前年度</td>
                <td rowspan="1" colspan="1">本月份</td>
                <td rowspan="1" colspan="1">以前月份</td>
                <td rowspan="1" colspan="1">以前年度</td>
                <td rowspan="1" colspan="1">本月份</td>
                <td rowspan="1" colspan="1">以前月份</td>
                <td rowspan="1" colspan="1">以前年度</td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3">上期结转</td>
                <td rowspan="1" colspan="1"><?php echo $result[0][0]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[0][1]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[0][2]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[0][3]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[0][4]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[0][5]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[0][6]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[0][7]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[0][8]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[0][9]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[0][10]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[0][11]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[0][12]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[0][13]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[0][14]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[0][15]; ?></td>
            </tr>
            <tr>
                <td rowspan="7" colspan="1"  class="am-text-middle">基数增减</td>
                <td rowspan="1" colspan="2">计</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementDOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementDTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementDThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementDFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementDFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementDSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementDSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementDEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementDNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementDTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">新发租</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementNewLeaseOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementNewLeaseTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementNewLeaseThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementNewLeaseFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementNewLeaseFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementNewLeaseSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementNewLeaseSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementNewLeaseEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementNewLeaseNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementNewLeaseTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">调整</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementRentReviewOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementRentReviewTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementRentReviewThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementRentReviewFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementRentReviewFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementRentReviewSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementRentReviewSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementRentReviewEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementRentReviewNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementRentReviewTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">注销</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementLogoutThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementLogoutFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementLogoutFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementLogoutSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">租差</td>
                <td rowspan="1" colspan="1"><?php echo $result[5][2]['DiffRents']+$result[5][1]['DiffRents']+$result[5][3]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[5][2]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementLogoutThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementLogoutFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementLogoutFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementLogoutSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"><?php echo $result[5][3]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"><?php echo $result[5][1]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementLogoutTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">公房出售</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementSaleOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementSaleTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementSaleThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementSaleFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementSaleFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementSaleSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementSaleSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementSaleEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementSaleNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementSaleTen" class="td_input" /></td>
            </tr>
            
            <tr>
                <td rowspan="1" colspan="2">管段调整</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementPipeReviewOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementPipeReviewTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementPipeReviewThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementPipeReviewFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementPipeReviewFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="baseIncrementPipeReviewSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementPipeReviewSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementPipeReviewEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementPipeReviewNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="baseIncrementPipeReviewTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3">规定租金</td>
                <td rowspan="1" colspan="1"><?php echo $result[7][0]+$result[5][2]['DiffRents']+$result[5][1]['DiffRents']+$result[5][3]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[7][1]+$result[5][2]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[7][2]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[7][3]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[7][4]+0.4*$result[5][2]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[7][5]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[7][6]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[7][7]+0.6*$result[5][2]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[7][8]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[7][9]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[7][10]+$result[5][3]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[7][11]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[7][12]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[7][13]+$result[5][1]['DiffRents']; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[7][14]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[7][15]; ?></td>
            </tr>
            <tr>
                <td rowspan="8" colspan="1"  class="am-text-middle">非基数增减</td>
                <td rowspan="1" colspan="2">计</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseTotalOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseTotalTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseTotalThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseTotalFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseTotalFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseTotalSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseTotalSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseTotalEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseTotalNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseTotalTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">减免</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseReduceOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseReduceTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide" class="once_hide"><input name="noBaseReduceThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide" class="once_hide"><input name="noBaseReduceFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide" class="once_hide"><input name="noBaseReduceFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide" class="once_hide"><input name="noBaseReduceSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseReduceSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseReduceEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseReduceNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseReduceTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">空租</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseFreeRentOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseFreeRentTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseFreeRentThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseFreeRentFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseFreeRentFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseFreeRentSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseFreeRentSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseFreeRentEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseFreeRentNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseFreeRentTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">暂停计租</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">文化室</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">政策折减</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseStopRentSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseStopRentTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2">陈欠核销</td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseCancelOne" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseCancelTwo" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseCancelThr" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseCancelFour" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseCancelFive" class="td_input" /></td>
                <td rowspan="1" colspan="1" class="once_hide"><input name="noBaseCancelSix" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseCancelSeven" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseCancelEight" class="td_input" /></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"><input name="noBaseCancelNine" class="td_input" /></td>
                <td rowspan="1" colspan="1"><input name="noBaseCancelTen" class="td_input" /></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="2"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1" class="once_hide"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
                <td rowspan="1" colspan="1"></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3">应收租金</td>
                <td rowspan="1" colspan="1"><?php echo $result[13][0]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[13][1]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[13][2]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[13][3]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[13][4]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[13][5]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[13][6]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[13][7]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[13][8]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[13][9]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[13][10]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[13][11]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[13][12]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[13][13]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[13][14]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[13][15]; ?></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3">实收租金</td>
                <td rowspan="1" colspan="1"><?php echo $result[14][0]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[14][1]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[14][2]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[14][3]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[14][4]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[14][5]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[14][6]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[14][7]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[14][8]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[14][9]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[14][10]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[14][11]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[14][12]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[14][13]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[14][14]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[14][15]; ?></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3">实收累计</td>
                <td rowspan="1" colspan="1"><?php echo $result[15][0]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[15][1]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[15][2]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[15][3]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[15][4]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[15][5]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[15][6]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[15][7]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[15][8]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[15][9]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[15][10]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[15][11]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[15][12]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[15][13]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[15][14]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[15][15]; ?></td>
            </tr>
            <tr>
                <td rowspan="1" colspan="3">结欠租金</td>
                <td rowspan="1" colspan="1"><?php echo $result[16][0]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[16][1]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[16][2]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[16][3]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[16][4]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[16][5]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[16][6]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[16][7]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[16][8]; ?></td>
                <td rowspan="1" colspan="1" class="once_hide"><?php echo $result[16][9]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[16][10]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[16][11]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[16][12]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[16][13]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[16][14]; ?></td>
                <td rowspan="1" colspan="1"><?php echo $result[16][15]; ?></td>
            </tr>
        </tbody>
</table>
    <?php }; ?>
</form>
<!-- <div style="display:inline-block;width:100%" class="fontSize_12">
    <div style="display:inline-block;width:8%">说明：</div>
    <div style="display:inline-block;width:25%">上项空栏：按使用性质填报的应填写：</div>
    <div style="display:inline-block;width:20%">（一）企事业用房租金收入，</div>
    <div style="display:inline-block;width:20%">（二）党政群机关用房租金收入，</div>
    <div style="display:inline-block;width:20%">（三）民用住宅租金收入，</div>
</div>
<div style="display:inline-block;width:100%" class="fontSize_12">
    <div style="display:inline-block;width:8%">补充资料：</div>
    <div style="display:inline-block;width:25%">本月份实有户数：企事业
        <span style="display:inline-block;width:20%">8</span>户，
    </div>
    <div style="display:inline-block;width:15%">机关
        <span style="display:inline-block;width:40%">8</span>户，
    </div>
    <div style="display:inline-block;width:15%">民用
        <span style="display:inline-block;width:40%">8</span>户，
    </div>
</div>
<div style="display:inline-block;width:100%" class="fontSize_12">
    <div style="display:inline-block;width:8%"></div>
    <div style="display:inline-block;width:30%">单位负责人：<span id="below_com">区房产公司</span></div>
    <div style="display:inline-block;width:30%">制表人：</div>
    <div style="display:inline-block;width:30%">报出日期：<span class="time"></span></div>
</div> -->