{extend name="layout" /}
{block name="title"}<title>文件管理</title>{/block}
{block name="css"}
<!-- <link rel="stylesheet" href="/public/static/gf/css/lightbox.min.css"> -->
<link rel="stylesheet" type="text/css" href="/public/static/gf/css/uploadfile.css">
{/block}
{block name="content"}
<!-- content start -->
<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><small class="am-text-sm">系统管理</small> > <small class="am-text-primary">文件管理</small></div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group-xs">
                    <button type="button" id="addAttachment" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-plus"></span> 文件上传</button>
                    <button type="button" id="deletefile" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-trash-o"></span> 文件删除</button>
                </div>
            </div>
        </div>
    </div>

    <div class="am-g">
        <div class="am-scrollable-horizontal">
            <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
                <thead>
                <tr>
                    <th class="table-check"></th>
                    <th class="table-id">#</th>
                    <th class="table-title">文件名称</th>
                    <th class="table-author am-hide-sm-only">是否置顶</th>
                    <th class="table-set">上传时间</th>
                    <th class="table-set">上传者</th>
                </tr>
                </thead>
                <tbody>

              <?php foreach($attachmentLst as $k0 => $v0){ ; ?>
                <tr class="check001">
                    <td class="am-hide-sm-only">
                        <span class="piaochecked">
                            <input class="checkId radioclass" type="radio" name="choose" value="<?php echo $v0['id']; ?>" />
                        </span>
                    </td>
                    <td class="am-hide-sm-only"><?php echo ++$k0; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v0['Title']; ?></td>
                    <td class="am-hide-sm-only">
                        <button type="button" value="<?php echo $v0['id']; ?>" class="am-btn am-btn-primary am-btn-xs doc-single-toggle <?php echo $v0['IsTop']?'':'am-active'; ?> am-round" data-am-button><?php echo $v0['IsTop']?'已置顶':'未置顶'; ?></button>
                    </td>
                    <td class="am-hide-sm-only"><?php echo $v0['CreateTime']; ?></td>
                    <td class="am-hide-sm-only"><?php echo $v0['UploadUser']; ?></td>
                </tr>
              <?php }; ?>

                </tbody>
            </table>
            <div class="am-cf">
                共{$attachmentLstObj->total()}条记录
                <div class="am-fr">
                    {$attachmentLstObj->render()}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content end -->
{include file="application/ph/view/attachment/form.html" /}
{/block}
{block name="JsFile"}
<!-- <script type="text/javascript" src="/public/static/gf/js/DFileUpload.js"></script> -->
<script type="text/javascript" src="/public/static/gf/js/jquery-form.js"></script>
<script type="text/javascript" src="/public/static/gf/viewJs/attachment.js"></script>
<script type="text/javascript" src="/public/static/gf/viewJs/uploadfile.js"></script>
<script>
$(function() {
    var $toggleButton = $('.doc-single-toggle');
    $toggleButton.on('click', function() {
        var _this = $(this);
        if($(this).hasClass('am-active')){
            var status = '已置顶';
            var IsTop = 1;
        }else{
            var status = '未置顶';
            var IsTop = 0;
        }
        $(this).text(status);
        var id = $(this).val();
        console.log(id);
        $.ajax({
            type: 'post',
            url: '/ph/Attachment/edit',
            data: 'IsTop='+IsTop+'&id='+id,
            dataType: "json",
            success: function(res){
                layer.msg(res.msg);
                if(res.retcode != 2000){
                    console.log(res.retcode);
                    _this.addClass('am-active');
                    _this.text('未置顶');
                }
            }
        });
    });
})
</script>
<!-- <script type="text/javascript" src="/public/static/gf/js/lightbox-plus-jquery.min.js"></script> -->
{/block}