<!-- <div id="dialog" hidden="hidden" style="margin-left: 30px;margin-top: 30px">
	<div>
	    <span>标题: <input id="title" type="text" name="title"></span><br/>
	    <script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
	</div>
</div> -->


<div id="dialog" style="display: none;margin: 20px;">
	<!-- <span>标题: <input id="title" type="text" name="title"></span><br/><br/> -->
	<div class="am-form-group am-u-md-12">
	    <label for="doc-select-8" style="float:left;">标题：</label>
		<div class="am-u-md-8">
			<input type="text" name="title" id="title" placeholder="" required/>
		</div>
	</div>
	<div class="am-form-group am-u-md-12">
		<label for="doc-select-8" style="float:left;">状态：</label>
		<div class="am-u-md-8">
			<label class="am-radio-inline">
				<input type="radio"  value="1" name="IsTop" class="radio" required> 置顶
			</label>
			<label class="am-radio-inline">
				<input type="radio" value="0" name="IsTop" class="radio" checked="checked" > 普通
			</label>
		</div>
	</div>
	<div class="am-form-group am-u-md-12">
	  <label for="doc-select-8" style="float:left;">可见：</label>
	  <div class="am-u-md-8">
		<select name="InstitutionID" id="institution" style="width:180px">
			<option  value="" style="display:none">请选择</option>
			<option value="4">全部</option>
			<option value="2">紫阳所</option>
			<option value="3">粮道所</option>
		</select>
	  </div>
	</div>
	<textarea id="editor" name="content" style="width:850px;height:570px;"></textarea>
</div>