{extend name="layout" /}
{block name="title"}<title>公告管理</title>{/block}
{block name="content"}
<!-- content start -->
<script type="text/javascript" charset="utf-8" src="/extend/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/extend/ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="/extend/ueditor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript" src="/extend/kindeditor/kindeditor-all.js"></script>
<script type="text/javascript" src="/extend/kindeditor/lang/zh-CN.js"></script>

<div class="admin-content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><small class="am-text-sm">系统管理</small> > <small class="am-text-primary">公告</small></div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group-xs">
                    <button type="button" id="publish_notice" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-plus"></span> 发布公告</button>
                    <button type="button" id="modify_notice" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-edit"></span> 修改公告</button>
                    <button type="button" id="delete_notice" class="am-btn d-btn-1188F0 am-radius"><span class="am-icon-trash"></span> 删除公告</button>
                </div>
            </div>
        </div>
    </div>

<div class="am-g">
    <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead>
            <tr>
                <th class="table-check"></th>
                <th class="table-id">#</th>
                <th class="table-title">标题</th>
                <th class="table-title">发布时间</th>
                <th class="table-title">可见范围</th>
                <th class="table-title">是否置顶</th>
                <th class="table-author am-hide-sm-only">发布人</th>
            </tr>
            </thead>
            <tbody>

          <?php $k = 1; foreach($notice_list_data as $info){ ; ?>
            <tr class="check001">
                <td class="am-hide-sm-only">
                <span class="piaochecked">
                    <input class="checkId radioclass" type="radio" name="choose" value="{$info['id']}" />
                </span>
                    
                </td>
                <td class="am-hide-sm-only">{$k++}</td>
                <td class="am-hide-sm-only"><a class="notice_info" href="javascript:void(0)">{$info['Title']}</a></td>
                <td class="am-hide-sm-only" width="15%">{$info['CreateTime']}</td>
                <td class="am-hide-sm-only" width="10%">
                    {switch name="$info['Institution']"}
                        {case value="4"}全部{/case}
                        {case value="2"}紫阳所{/case}
                        {case value="3"}粮道所{/case}
                        {default /}全部
                    {/switch}
                </td>
                <td class="am-hide-sm-only">
                        <button type="button" value="<?php echo $info['id']; ?>" class="am-btn am-btn-primary am-btn-xs doc-single-toggle <?php echo $info['IsTop']?'':'am-active'; ?> am-round" data-am-button><?php echo $info['IsTop']?'已置顶':'未置顶'; ?></button>
                    </td>
                <td class="am-hide-sm-only" width="10%">{$info['Name']}</td>
            </tr>
          <?php }; ?>

            </tbody>
        </table>
        <div class="am-cf">
            共{$notice_list_obj->total()}条记录
            <div class="am-fr">
                 {$notice_list_obj->render()}
            </div>
        </div>
    </div>
</div>
</div>













{include file="application/ph/view/notice/dialog.html" /}
{include file="application/ph/view/notice/modify.html" /}
{include file="application/ph/view/notice/notice_info.html" /}

{/block}
{block name="JsFile"}
<script type="text/javascript" src="/public/static/gf/viewJs/notice.js"></script>
<script>
$(function() {
    var $toggleButton = $('.doc-single-toggle');
    $toggleButton.on('click', function() {
        var _this = $(this);
        if($(this).hasClass('am-active')){
            var status = '已置顶';
            var IsTop = 1;
        }else{
            var status = '未置顶';
            var IsTop = 0;
        }
        $(this).text(status);
        var id = $(this).val();
        $.ajax({
            type: 'post',
            url: '/ph/Notice/modify',
            data: 'IsTop='+IsTop+'&id='+id,
            dataType: "json",
            success: function(res){
                layer.msg(res.msg);
                if(res.retcode != 2000){
                    console.log(res.retcode);
                    _this.addClass('am-active');
                    _this.text('未置顶');
                }
                //location.reload();
            }
        });
    });
})
</script>
{/block}