<!-- <div id="modify_dialog" hidden="hidden" style="margin-left: 30px;margin-top: 30px">
	<div>
	    <span>标题: <input id="modify_title" type="text" name="modify_title"></span><br/>
	    <script id="modify_editor" type="text/plain" style="width:1024px;height:500px;"></script>
	</div>
</div> -->

<div id="modify_dialog" style="display: none;margin: 20px;">
	<span>标题: <input id="modify_title" type="text" name="modify_title"></span><br/><br/>
	<textarea id="modify_editor" name="content" style="width:850px;height:570px;">sadasda</textarea>
</div>