{extend name="layout" /}
{block name="title"}<title>租金扣缴</title>{/block}
{block name="content"}
  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><small class="am-text-sm">租金管理</small> > <small class="am-text-primary">租金扣缴</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group-xs">
            <?php if(in_array(257,$threeMenu)){ ; ?>
            <button type="button" id="withHolding" class="am-btn d-btn-1188F0"><span class="am-icon-cog"></span> 批量撤销扣缴</button>
            <?php }; ?>
          </div>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-scrollable-horizontal">
          <table class="am-table am-table-striped am-table-hover table-main am-table-centered">
            <thead id="dong">
              <tr>
                <th class="table-check"></th>
                <th class="table-title">#</th>
                <th class="table-author am-hide-sm-only">订单编号</th>
                <th class="table-date am-hide-sm-only">账单期</th>
                <th class="table-set">房屋编号</th>
                <th class="table-set">机构名称</th>
                <th class="table-set">产别</th>
                <th class="table-set">租户姓名</th>
                <th class="table-set">楼栋地址</th>
                <th class="table-set">扣缴日期</th>
                <th class="table-set">单元号</th>
                <th class="table-set">楼层号</th>
                <th class="table-set">门牌号</th>
                <th class="table-set">应缴租金</th>
                <th class="table-set">滞纳租金</th>
                <th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
		  <!--查询-->
      <form  action="{:url('RentDebit/index')}" method="post" id="queryForm">
		    <tr class="am-form-group am-form-inline am-form">
              <td></td>
              <td></td>
              <td>
                  <div class="am-input-group am-input-group-sm">
                      <?php
                        if($rentOption != array()){
                            $RentOrderID = $rentOption['RentOrderID'];
                        }else{
                            $RentOrderID = '';
                        }
                     ?>
                      <input style="width:152px;" name="RentOrderID" type="text" class="am-form-field" value="{$RentOrderID}">
                  </div>
              </td>

                <td>
                    <div class="am-input-group am-input-group-sm" style="width:150px;">
                            <?php
                        if($rentOption != array()){
                            $DateStart = $rentOption['DateStart'];
                            $DateEnd = $rentOption['DateEnd'];
                        }else{
                            $DateStart = '';
                            $DateEnd = '';
                        }
                     ?>
                      <input style="width:70px;" type="text" name="DateStart" class="am-form-field" type="text" data-am-datepicker="{format: 'yyyy-mm', viewMode: 'years',minViewMode: 'months'}" value="{$DateStart}" placeholder="" data-am-datepicker readonly/>
                      <input style="width:70px;" type="text" name="DateEnd" class="am-form-field" type="text" data-am-datepicker="{format: 'yyyy-mm', viewMode: 'years',minViewMode: 'months'}" value="{$DateEnd}" placeholder="" data-am-datepicker readonly/>
                    </div>
                </td>

              <td>
                  <div class="am-input-group am-input-group-sm">
                      <?php
                        if($rentOption != array()){
                            $HouseID = $rentOption['HouseID'];
                        }else{
                            $HouseID = '';
                        }
                     ?>
                      <input name="HouseID" type="text" class="am-form-field" value="{$HouseID}">
                  </div>
              </td>
              <td>
                  <div class="am-form-group search_input">
                      <?php if(session('user_base_info.institution_level')!=3){ ;?>
                      <select name="TubulationID" id="doc-select-2">
                          <option  value="" style="display:none">请选择</option>
                          <?php if(session('user_base_info.institution_level')==1){;?>
                          <?php foreach($instLst as $k10 => $v10){ if($v10['level'] !=0 ){; ?>
                          <?php
                                if($rentOption != array()){
                                    if($rentOption['TubulationID'] == $v10['id']){
                                        $select ='selected';
                                    }else{
                                        $select ='';
                                    }
                                }else{
                                    $select ='';
                                }
                                ?>
                          <option value="<?php echo $v10['id']; ?>" {$select}><?php echo $v10['Institution']; ?></option>
                          <?php }}}elseif(session('user_base_info.institution_level')==2){; ?>
                          <?php foreach($instLst as $k12 => $v12){ ; ?>
                          <?php
                                if($rentOption != array()){
                                    if($rentOption['TubulationID'] == $v12['id']){
                                        $select ='selected';
                                    }else{
                                        $select ='';
                                    }
                                }else{
                                    $select ='';
                                }
                                ?>
                          <option value="<?php echo $v12['id']; ?>" {$select}><?php echo $v12['Institution']; ?></option>
                          <?php }}} ; ?>
                      </select>
                  </div>
              </td>
              <td>
                  <div class="am-form-group search_input">
                      <select name="OwnerType" id="doc-select-5">
                          <option  value="" style="display:none">请选择</option>
                          <?php foreach($owerLst as $k3 =>$v3){;?>
                          <?php
                              if($rentOption != array()){
                                  if($rentOption['OwnerType'] == $v3['id']){
                                      $select ='selected';
                                  }else{
                                      $select ='';
                                  }
                              }else{
                                  $select ='';
                              }
                              ?>
                          <option value="<?php echo $v3['id']; ?>" {$select}><?php echo $v3['OwnerType']; ?></option>
                          <?php }; ?>
                      </select>
                  </div>
              </td>
              <td>
                  <div class="am-input-group am-input-group-sm">
                      <?php
                        if($rentOption != array()){
                            $TenantName = $rentOption['TenantName'];
                        }else{
                            $TenantName = '';
                        }
                     ?>
                      <input name="TenantName" type="text" class="am-form-field" value="{$TenantName}">
                  </div>
              </td>
              <td>
                  <div class="am-input-group am-input-group-sm">
                      <?php
                        if($rentOption != array()){
                            $BanAddress = $rentOption['BanAddress'];
                        }else{
                            $BanAddress = '';
                        }
                     ?>
                      <input style="width:150px;" name="BanAddress" type="text" class="am-form-field" value="{$BanAddress}">
                  </div>
              </td>
                <td>
                    <div class="am-input-group am-input-group-sm" style="width:210px;">
                            <?php
                        if($rentOption != array()){
                            $UnpaidDateStart = $rentOption['UnpaidDateStart'];
                            $UnpaidDateEnd = $rentOption['UnpaidDateEnd'];
                        }else{
                            $UnpaidDateStart = '';
                            $UnpaidDateEnd = '';
                        }
                     ?>
                        <div class="am-u-sm-6" style="padding:0;">
                          <input style="width:100px;" name="UnpaidDateStart" value="{$UnpaidDateStart}" type="text" class="am-form-field" data-am-datepicker />
                        </div>
                        <div class="am-u-sm-6" style="padding:0;">
                            <input style="width:100px;" name="UnpaidDateEnd" value="{$UnpaidDateEnd}" type="text" class="am-form-field" data-am-datepicker />
                        </div>
                    </div>
                </td>
                <td><div style="width:50px;"></div></td>
                <td><div style="width:50px;"></div></td>
                <td><div style="width:70px;"></div></td>
                <td><div style="width:50px;"></div></td>
                <td><div style="width:50px;"></div></td>
              <td>
                <div class="am-btn-group am-btn-group-xs" style="width:110px;">
                  <button type="submit" class="am-btn am-btn-primary am-btn-xs details details_btn" id="queryBtn"><span class="DqueryIcon"></span>查询</button>
                  <a class="am-btn am-btn-xs am-text-primary ABtn" href="/ph/RentDebit/index.html"><span class="ResetIcon"></span>重置</a>
                </div>
              </td>
            </tr>
      </form>
		<!---查询-->

           <style type="text/css">
                    input[type='checkbox'] {
                        display: none;
                    }

                    .btn_checked {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        position: relative;
                        background: url(/public/static/gf/icons/inputradio.png) no-repeat;
                        background-position: -32px 0px;
                        vertical-align: middle;
                        /*-webkit-transition: background 0.5s linear;*/
                    }

                    input[type='checkbox']:checked + label {
                        background-position: 0 0px;
                    }
                </style>
          <?php foreach($rentLst as $k => $v){ ;?>
            <tr class="check002 thead_width">
                <td class="aId2">
                  <input class="checkId" type="checkbox" name='choose' value="<?php echo $v['RentOrderID']; ?>"/>
                  <label class="btn_checked"></label>
                </td>
                <td><?php echo ++$k; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['RentOrderID']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['OrderDate']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['HouseID']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['InstitutionID']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['OwnerType']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['TenantName']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['BanAddress']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['PaidableTime']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['UnitID']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['FloorID']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['DoorID']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['ReceiveRent']; ?></td>
                <td class="am-hide-sm-only"><?php echo $v['LateRent']; ?></td>
                <td>
                    <div class="am-btn-group am-btn-group-xs" >
                      <?php if(in_array(258,$threeMenu)){ ; ?>
                      <button class="am-btn am-btn-default am-btn-xs am-text-secondary details" value="<?php echo $v['RentOrderID']; ?>">明细</button>
                      <?php }; ?>
                      <?php if(in_array(259,$threeMenu)){ ; ?>
                      <button class="am-btn am-btn-default am-btn-xs am-text-secondary cancel" value="<?php echo $v['RentOrderID']; ?>">撤销</button>
                      <?php }; ?>
                    </div>
                </td>
            </tr>
        <?php }; ?>

          </tbody>
        </table>
		<div class="am-cf">
		  共{$rentLstObj->total()}条记录
		  <div class="am-fr">
              {$rentLstObj->render()}
		  </div>
		</div>
      </div>
    </div>
  </div>

  <!-- content end -->
  {include file="application/ph/view/rent_debit/detail.html" /}
{/block}
{block name="JsFile"}
<script type="text/javascript" src="/public/static/gf/viewJs/rent_debit.js"></script>
{/block}