<form id="RoleModifyForm" class="am-form" data-am-validator style="display:none;margin-top:1.6rem;">

	  <fieldset>
		<!--<legend>添加楼栋</legend>-->
		<div class="am-u-sm-12">
			<div class="am-form-group am-u-sm-12">
			  <label for="doc-vld-email-2" class="label_style">角色编号：</label>
			  <div class="am-u-sm-8">
				<input type="text" name="id" onfocus=this.blur() id="id" placeholder="角色编号" required/>
			  </div>
			</div>

			<div class="am-form-group am-u-sm-12">
				<label for="doc-vld-email-2" class="label_style">角色名称：</label>
				<div class="am-u-sm-8">
					<input type="text" name="RoleName" id="RoleName" placeholder="角色名称" required/>
				</div>
			</div>

			<div class="am-form-group am-u-sm-12">
			  <label for="doc-select-8" class="label_style">是否为岗位</label>
				<div class="am-u-sm-8">
					<label class="am-radio-inline">
						<input type="radio"  value="1" name="Ifstation" checked="checked" required>是
					</label>
					<label class="am-radio-inline">
						<input type="radio" value="0" name="Ifstation"> 否
					</label>
				</div>
			</div>				

			<div class="am-form-group am-u-sm-12">
			  <label for="doc-select-8" class="label_style">有效性：</label>
				<div class="am-u-sm-8">
					<label class="am-radio-inline">
						<input type="radio"  value="1" name="Status" checked="checked" required>有效
					</label>
					<label class="am-radio-inline">
						<input type="radio" value="0" name="Status"> 无效
					</label>
				</div>
			</div>	
		</div>
		
<!-- 		<div class="am-u-sm-12" style="text-align:center;margin-top:2rem;">
			<button class="am-btn am-btn-secondary btn_big" type="submit">提交</button>
		</div> -->
	  </fieldset>
</form>